<div class="page-content-wrapper">
    <div class="page-content mrgn-lft0">
        <h3 class="hr text-info">New Patient</h3>
        <div class="portlet-body">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1_1" data-toggle="tab" aria-expanded="true"> Important </a>
                </li>
                <li class="">
                    <a href="#tab_1_2" data-toggle="tab" aria-expanded="false"> Demographics </a>
                </li>
                <li class="">
                    <a href="#tab_1_3" data-toggle="tab" aria-expanded="false"> Insurances </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="tab_1_1">
                    <div class="row">
                        <div class="col-md-6 bdr-btm">
                            <h3 class="hr green-txt">Important Information</h3>
                            <form action="#" id="form_sample_1" class="form-horizontal" novalidate>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Primary Doctor</label>
                                    <div class="col-md-8">
                                        <select class="form-control" name="select" >
                                            <option value="">Select...</option>
                                            <option *ngFor="let doc of doctors" [value]="doc.id">
                                                {{doc.userName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Group
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" name="select">
                                            <option value="">Select...</option>
                                            <option value="Category 1"></option>
                                            <option value="Category 2"></option>
                                            <option value="Category 3"></option>
                                            <option value="Category 4"></option>
                                        </select></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Title
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" name="select">
                                            <option value="">Select...</option>
                                            <option value="Category 1"></option>
                                            <option value="Category 2"></option>
                                            <option value="Category 3"></option>
                                            <option value="Category 4"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">First Name
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Middle Name
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Last Name
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Foregin Name
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-left mrgn-top24">
                                <img class="img-responsive" src="/public/images/patient-photo.jpg"/>
                                <div class="">
                                    <p>Patient Photo</p>
                                    <input type="file" id="exampleInputFile1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 bdr-btm mrgn-top14">
                            <form action="#" id="form_sample_1" class="form-horizontal" novalidate>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Home Phone
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Cell Phone
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Disable SMS/Txt
                                    </label>
                                    <div class="col-md-8">
                                        <label class="mt-checkbox mt-checkbox-outline bootstrap-touchspin">
                                            <input type="checkbox"> Disable all SMS/Txt Messages for this user
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label txt-size">Office Phone</label>
                                    <div class="col-md-8">
                                        <div class="col-md-8 no-padding  frm-stng">
                                            <input type="text" name="name" data-required="1" value=""
                                                   placeholder="Office Phone" class="form-control">
                                        </div>
                                        <div class="col-md-4 no-padding">
                                            <input type="text" name="name" data-required="1" value="" placeholder="Ext."
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Email
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Preferred Communication
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" name="select">
                                            <option value="">Select...</option>
                                            <option value="Category 1"></option>
                                            <option value="Category 2"></option>
                                            <option value="Category 3"></option>
                                            <option value="Category 4"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Reminder Language
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" name="select">
                                            <option value="">Select...</option>
                                            <option value="Category 1">English</option>
                                            <option value="Category 2">Arabic</option>
                                            <option value="Category 3">Urdu</option>
                                            <option value="Category 4">Arabic</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Status
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" name="select">
                                            <option value="">Select...</option>
                                            <option value="Category 1">Active</option>
                                            <option value="Category 2">Active</option>
                                            <option value="Category 3">Active</option>
                                            <option value="Category 4">Active</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="mrgn-top14 col-md-12">
                            <button data-repeater-create="" class="btn blue"> Save</button>
                            <button data-repeater-create="" class="btn btn-default"> Save and add another</button>
                            <button data-repeater-create="" class="btn btn-default"> Save and continue editing</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab_1_2">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="green-txt">Demographics</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 bdr-btm">
                            <form action="#" id="form_sample_1" class="form-horizontal" novalidate>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Patient SSN
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Patient Date of Birth</label>
                                    <div class="col-md-8">
                                        <input class="form-control form-control-inline input-medium date-picker"
                                               size="16" type="text" value="">
                                        <span class="help-inline"> e.g 8/8/1979 </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Patient Sex
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" name="select">
                                            <option value="">Select...</option>
                                            <option value="Category 1">Male</option>
                                            <option value="Category 2">Female</option>
                                            <option value="Category 3">Male</option>
                                            <option value="Category 4">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Race
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" name="select_multi" multiple="">
                                            <option value="Category 1">American Indian or Alaska Native</option>
                                            <option value="Category 2">Asian</option>
                                            <option value="Category 3">Black or African American</option>
                                            <option value="Category 4">Native Hawaiian or Other Pacific Islam</option>
                                            <option value="Category 5">White</option>
                                            <option value="Category 5">Other Race</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Preferred Language
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" name="select">
                                            <option value="">Select...</option>
                                            <option value="Category 1">English</option>
                                            <option value="Category 2">Urdu</option>
                                            <option value="Category 3">Arabic</option>
                                            <option value="Category 4">English</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Country
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" name="select">
                                            <option value="">Select...</option>
                                            <option value="Category 1">United States</option>
                                            <option value="Category 2">United States</option>
                                            <option value="Category 3">United States</option>
                                            <option value="Category 4">United States</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Street Address
                                    </label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" rows="3" placeholder=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Zip Code
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">City
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">State
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" name="select">
                                            <option value="">--Select a State--</option>
                                            <option value="Category 1">United States</option>
                                            <option value="Category 2">United States</option>
                                            <option value="Category 3">United States</option>
                                            <option value="Category 4">United States</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Formatted Address
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Patient Marital Status
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" name="select">
                                            <option value="">Select ...</option>
                                            <option value="Category 1">States</option>
                                            <option value="Category 2">States</option>
                                            <option value="Category 3">States</option>
                                            <option value="Category 4">States</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Emergency Contact Name
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Emergency Contact Phone
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Emergency Contact Relation
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mrgn-top14">
                            <h3 class="green-txt hr">Miscellaneous</h3>
                            <div class="form-group">
                                <label class="control-label col-md-4">Signature On File
                                </label>
                                <div class="col-md-8">
                                    <select class="form-control" name="select">
                                        <option value="">Select ...</option>
                                        <option value="Category 1">States</option>
                                        <option value="Category 2">States</option>
                                        <option value="Category 3">States</option>
                                        <option value="Category 4">States</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <div class="hr mrgn-top14">
                        <button data-repeater-create="" class="btn blue"> Save</button>
                        <button data-repeater-create="" class="btn btn-default"> Save and add another</button>
                        <button data-repeater-create="" class="btn btn-default"> Save and continue editing</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab_1_3">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="green-txt">Primary Insurance</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 bdr-btm">
                            <form action="#" id="form_sample_1" class="form-horizontal" novalidate>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Insurance Company
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Insurance ID Number
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Insurance Group Number
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Insurance Plan Name
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Insurance Plan Type
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Card Issued Date</label>
                                    <div class="col-md-8">
                                        <input class="form-control form-control-inline input-medium date-picker"
                                               size="16" type="text" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Card expiry Date</label>
                                    <div class="col-md-8">
                                        <input class="form-control form-control-inline input-medium date-picker"
                                               size="16" type="text" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Primary Insurance Notes
                                    </label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" rows="3" placeholder=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Insurance Photo Front
                                    </label>
                                    <div class="col-md-8">
                                        <input type="file" id="exampleInputFile1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Insurance Photo Back
                                    </label>
                                    <div class="col-md-8">
                                        <input type="file" id="exampleInputFile1">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="hr">
                            <div class="col-md-12">
                                <div class="hr mrgn-top14">
                                    <button data-repeater-create="" class="btn blue"> Save</button>
                                    <button data-repeater-create="" class="btn btn-default"> Save and add another
                                    </button>
                                    <button data-repeater-create="" class="btn btn-default"> Save and continue editing
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>