<!--<menu-component></menu-component>-->
<div class="page-content-wrapper">
    <div class="page-content">
        <h3 class="hr text-info">Update Patient</h3>
        <div class="portlet-body">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1_1" data-toggle="tab" aria-expanded="true"> Important </a>
                </li>
                <li class="">
                    <a href="#tab_1_2" data-toggle="tab" aria-expanded="false"> Demographics </a>
                </li>
                <li class="">
                    <a href="#tab_1_3" data-toggle="tab" aria-expanded="false"> Insurances </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="tab_1_1">
                    <div class="row">
                        <div class="col-md-6 bdr-btm">
                            <h3 class="hr green-txt">Important Information</h3>
                            <form id="patientForm" class="form-horizontal" #patientForm="ngForm">
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Primary Doctor</label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <!--<select id="icdVersions" [(ngModel)]="patient.selectedDoctor"
                                                #selectedDoctor="ngModel" name="selectedDoctor"
                                                class="form-control">
                                            <option [ngValue]="-1" selected>-&#45;&#45;Select-&#45;&#45;</option>
                                            <option *ngFor="let doc of doctors" [value]="doc.id">
                                                {{doc.firstName}} {{doc.lastName}}
                                            </option>
                                        </select>-->
                                        <p-dropdown placeholder="Select Doctor" [autoWidth]="false"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}" name="selectedDoctor"
                                                    [(ngModel)]="patient.selectedDoctor" [options]="doctors"
                                                    [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Title</label>
                                    <div class="col-md-8 pdng-lr-5">
                                       <!-- <select class="form-control"
                                                name="titlePrefix"
                                                #titlePrefix="ngModel"
                                                [(ngModel)]="patient.titlePrefix">
                                            <option value="-1" selected>-&#45;&#45;Select-&#45;&#45;</option>
                                            <option value="Mr">Mr</option>
                                            <option value="Mrs">Mrs</option>
                                            <option value="Miss">Miss</option>
                                            <option value="Ms">Ms</option>
                                            <option value="Sir">Sir</option>
                                            <option value="Dr">Dr</option>
                                        </select>-->
                                        <p-dropdown placeholder="Select Title" [autoWidth]="false"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}" name="titlePrefix"
                                                    [(ngModel)]="patient.titlePrefix" [options]="titleList"
                                                    [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">First Name
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 select pdng-lr-5 profile-frm">
                                        <input type="text"
                                               class="form-control" [(ngModel)]="patient.firstName"
                                               placeholder="Enter first name" name="firstName"
                                               pattern="^[a-zA-Z 0-9_-]{1,60}$"
                                               #firstName="ngModel">
                                    </div>
                                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                         class="alert alert-danger">
                                        First name required,min 1 , max 60 characters long
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Middle Name
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="text" class="form-control"
                                               [(ngModel)]="patient.middleName"
                                               placeholder="Enter  middle Name" name="middleName"
                                               pattern="^[a-zA-Z 0-9_-]{1,60}$"
                                               #middleName="ngModel">
                                        <div *ngIf="middleName.invalid && (middleName.dirty || middleName.touched)"
                                             class="alert alert-danger">
                                            middle name required,min 1 , max 60 characters long
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Last Name
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="text" class="form-control"
                                               [(ngModel)]="patient.lastName"
                                               placeholder="Enter last Name" name="lastName"
                                               pattern="^[a-zA-Z 0-9_-]{1,60}$"
                                               #lastName="ngModel">
                                        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                                             class="alert alert-danger">
                                            last name required,min 1 , max 60 characters long
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Local Name
                                    </label>
                                    <div class="col-md-8  profile-frm pdng-lr-5">
                                        <input type="text" class="form-control"
                                               [(ngModel)]="patient.foreignName" id="foreignName"
                                               placeholder="Enter Local Name" name="foreignName"
                                               pattern="^[a-zA-Z 0-9_-]{1,60}$"
                                               #foreignName="ngModel">
                                        <div *ngIf="foreignName.invalid && (foreignName.dirty || foreignName.touched)"
                                             class="alert alert-danger">
                                            Local name required,min 1 , max 60 characters long
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Group</label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <p-dropdown placeholder="Select Patient Group" [autoWidth]="false"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}" name="patientGroupId"
                                                    [(ngModel)]="patient.patientGroupId" [options]="patientGroupListModified"
                                                    [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-left mrgn-top24">
                                <!--<cl-image>-->
                                <img class="img-responsive" style="width: 120px; height: 120px;" src="/public/images/patient-photo.jpg"
                                     *ngIf="patient.profileImgURL === null || patient.profileImgURL === ''"/>
                                <img class="" style="width: 190px; height: 190px;" [src]="patient.profileImgURL"
                                         *ngIf="patient.profileImgURL != null">
                                <!--</cl-image>-->
                                <div class="">
                                    <input class="file" type="file" id="profileImgURL" name="profileImgURL"
                                           (change)="uploadImgOnChange($event)">
                                </div>
                                <div class="imgUploadTopMargin" *ngIf="showProfilePicUploadBtn == true">
                                    <button class="btn btn-default btn-outline"
                                            (click)="uploadProfileImg()">
                                        <i class=" icon-arrow-up"></i>Upload
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form id="contactForm" class="form-horizontal" #contactForm="ngForm">
                            <div class="col-md-6 bdr-btm mrgn-top14">
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Home Phone
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="number" class="form-control"
                                               [(ngModel)]="patient.homePhone"
                                               placeholder="Enter home Phone" name="homePhone"
                                               #homePhone="ngModel">
                                        <div *ngIf="homePhone.invalid && (homePhone.dirty || homePhone.touched)"
                                             class="alert alert-danger">
                                            please provide valid number
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Cell Phone
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="number" class="form-control"
                                               [(ngModel)]="patient.cellPhone"
                                               placeholder="Enter cell Phone"
                                               name="cellPhone"
                                               #cellPhone="ngModel">
                                        <div *ngIf="cellPhone.invalid && (cellPhone.dirty || cellPhone.touched)"
                                             class="alert alert-danger">
                                            please provide valid number
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="form-group">
                                    <label class="control-label col-md-4">Disable SMS/Txt
                                    </label>
                                    <div class="col-md-8">
                                        <label class="control-label">
                                            <input type="checkbox" name="disableSMSTxt"
                                                   #disableSMSTxt="ngModel"
                                                   [(ngModel)]="patient.disableSMSTxt">
                                            Disable all SMS/Txt Messages for this user
                                        </label>
                                    </div>
                                </div>-->
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Disable SMS/Txt</label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <label class="mt-checkbox-outline">
                                            <mat-checkbox name="disableSMSTxt" [(ngModel)]="patient.disableSMSTxt" color="primary"> </mat-checkbox>
                                            <span>Disable all SMS/Txt Messages for this user</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Office Phone</label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="number" class="form-control"
                                               [(ngModel)]="patient.officePhone"
                                               placeholder="Enter office Phone"
                                               name="officePhone"
                                               #officePhone="ngModel">
                                        <div *ngIf="officePhone.invalid && (officePhone.dirty || officePhone.touched)"
                                             class="alert alert-danger">
                                            please provide valid number
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Email
                                        <!--<span class="required" aria-required="true"> * </span>-->
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="email" name="email" readonly
                                               [(ngModel)]="patient.email" #email="ngModel"
                                               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                               class="form-control">
                                        <div *ngIf="email.invalid && (email.dirty || officeExtension.touched)"
                                             class="alert alert-danger">
                                            please provide valid email
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Preferred Communication</label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <p-dropdown placeholder="Select prefered communication method" [autoWidth]="false"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}" name="preferredCommunication"
                                                    [(ngModel)]="patient.preferredCommunication" [options]="pCommunication"
                                                    [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <!--<h3 class="green-txt hr">status User</h3>-->
                                        <!--<div class="form-group">
                                            <label class="control-label col-md-4">Status</label>
                                            <div class="col-md-8 col-xs-6">
                                                <label class="mt-checkbox mt-checkbox-outline chckbox">
                                                    <input type="checkbox"
                                                           class="form-control"
                                                           #statusUser="ngModel"
                                                           name="statusUser"
                                                           [(ngModel)]="patient.status"><span></span></label>
                                            </div>
                                        </div>-->
                                        <div class="form-group profile-frm">
                                            <label class="control-label col-md-4 pdng-lr-5">Status</label>
                                            <div class="col-md-8 pdng-lr-5">
                                                <label class="mt-checkbox-outline">
                                                    <mat-checkbox name="status" [(ngModel)]="patient.status" color="primary"> </mat-checkbox>
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab_1_2">
                    <form id="demographicForm" class="form-horizontal" #demographicForm="ngForm">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="green-txt">Demographics</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Date of Birth</label>
                                    <div class="col-md-8 select pdng-lr-5">
                                        <!--<input type="date" class="form-control form-control-inline input-medium"
                                               [(ngModel)]="patient.dob"
                                               (ngModelChange)="patient.dob = $event"
                                               name="dob" #dob="ngModel">-->
                                        <angular2-date-picker name="dob" id="dob" [settings]="settings"
                                                              [(ngModel)]="patient.dob" [ngModelOptions]="{standalone:true}">
                                        </angular2-date-picker>
                                    </div>
                                    <!--<span *ngIf="dob.invalid && dob.touched"
                                          class="col-md-9 select pdng-lr-5 text-danger">
                                        Please enter valid from Date.
                                    </span>-->
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Gender</label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <!--<select class="form-control" name="gender"
                                                #gender="ngModel"
                                                [(ngModel)]="patient.gender">
                                            <option value="MALE">Male</option>
                                            <option value="FEMALE">Female</option>
                                        </select>-->
                                        <p-dropdown placeholder="Select Gender" [autoWidth]="false"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}" name="gender"
                                                    [(ngModel)]="patient.gender" [options]="genders"
                                                    [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Country
                                    </label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <!--<select class="form-control" name="country"
                                                #country="ngModel"
                                                [(ngModel)]="patient.country">
                                            <option value="SAUDI ARAB">Saudi Arab</option>
                                            <option value="DUBAI">United States</option>
                                            <option value="DUBAI">Dubai</option>
                                            <option value="PAKISTAN">Pakistan</option>
                                            <option value="CHINA">China</option>
                                        </select>-->

                                        <!--<p-dropdown  placeholder="{{patient.country}}" [autoWidth]="false"
                                                     [(ngModel)]="patient.country" [style]="{'text-align': 'left' ,'width':'100%'}"
                                                     (onChange)="getStatesByCountryId($event.value)"
                                                     [options]="countryListModified"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                        </p-dropdown>-->

                                        <p-dropdown placeholder="{{selectedCountry}}" [autoWidth]="false"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}" name="selectedCountry"
                                                    [(ngModel)]="patient.countryId" [options]="countryListModified"
                                                    (onChange)="getStatesByCountryId($event.value)"
                                                    [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Street Address
                                    </label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <textarea class="form-control" rows="3"
                                                  placeholder=" Street Address"
                                                  name="streetAddress"
                                                  #streetAddress="ngModel"
                                                  [(ngModel)]="patient.streetAddress">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">State
                                    </label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <!--<select class="form-control" name="state"
                                                #state="ngModel"
                                                [(ngModel)]="patient.state">
                                            <option value="SAUDI ARAB" selected>Saudi Arab</option>
                                            <option value="DUBAI">United States</option>
                                            <option value="DUBAI">Dubai</option>
                                            <option value="PAKISTAN">Pakistan</option>
                                            <option value="CHINA">China</option>
                                        </select>-->
                                        <p-dropdown placeholder="{{selectedState}}" [autoWidth]="false"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}" name="state"
                                                    [(ngModel)]="patient.stateId" [options]="statesListModified"
                                                    (onChange)="getCitiesByStateId($event.value)"
                                                    [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">City
                                    </label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <!--<input type="text" class="form-control"
                                               [(ngModel)]="patient.city"
                                               name="city"
                                               #city="ngModel">
                                        <div *ngIf="city.invalid && (city.dirty || city.touched)"
                                             class="alert alert-danger">
                                            please provide city
                                        </div>-->
                                        <p-dropdown placeholder="{{selectedCity}}" [autoWidth]="false"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}" name="city"
                                                    [(ngModel)]="patient.cityId" [options]="citiesListModified"
                                                    (onChange)="selectPatientCity($event.value)"
                                                    [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Marital Status
                                    </label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <p-dropdown placeholder="Select Marital Status" [autoWidth]="false"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}" name="martialStatus"
                                                    [(ngModel)]="patient.marital" [options]="martialStatus"
                                                    [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                        </p-dropdown>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <!-- TODO: ZAIN's Job -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="green-txt">In case of Emergency</h3>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Contact Name</label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="text" class="form-control"
                                               [(ngModel)]="patient.emergencyContactName"
                                               name="emergencyContactName"
                                               #emergencyContactName="ngModel">
                                        <div *ngIf="emergencyContactName.invalid && (emergencyContactName.dirty || emergencyContactName.touched)"
                                             class="alert alert-danger">
                                            Please provide valid contact name
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Phone Number</label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="number" class="form-control"
                                               [(ngModel)]="patient.emergencyContactPhone"
                                               name="emergencyContactPhone"
                                               #emergencyContactPhone="ngModel">
                                        <div *ngIf="emergencyContactPhone.invalid && (emergencyContactPhone.dirty || emergencyContactPhone.touched)"
                                             class="alert alert-danger">
                                            Please provide valid number
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Relation with Patient</label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <p-dropdown placeholder="Select Relation of contact with patient" [autoWidth]="false"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}" name="emergencyContactRelation"
                                                    [(ngModel)]="patient.emergencyContactRelation" [options]="emergencyContactRelations"
                                                    [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="tab_1_3">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="green-txt">Primary Insurance</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <form id="insuranceForm" class="form-horizontal" #insuranceForm="ngForm">
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Insurance Company
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="text" class="form-control"
                                               #company="ngModel"
                                               name="company" [(ngModel)]="patient.company">
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">ID Number
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="text" class="form-control" name="insuranceIdNumber"
                                               #insuranceIdNumber="ngModel"
                                               [(ngModel)]="patient.insuranceIdNumber"></div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Group Number
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="text" name="groupNumber"
                                               #groupNumber="ngModel"
                                               [(ngModel)]="patient.groupNumber" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Plan Name
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="text" class="form-control" name="planName"
                                               #planName="ngModel"
                                               [(ngModel)]="patient.planName"></div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Plan Type
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="text" [(ngModel)]="patient.planType" name="planType"
                                               #planType="ngModel"
                                               class="form-control"></div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Card Issued Date
                                    </label>
                                    <div class="col-md-8 select pdng-lr-5">
                                        <!--<input type="date" class="form-control form-control-inline input-medium"
                                               (ngModelChange)="patient.cardIssuedDate = $event"
                                               #cardIssuedDate="ngModel"
                                               [(ngModel)]="patient.cardIssuedDate" name="cardIssuedDate">-->
                                        <angular2-date-picker name="cardIssuedDate" id="cardIssuedDate" [settings]="settings"
                                                              [(ngModel)]="patient.cardIssuedDate" [ngModelOptions]="{standalone:true}">
                                        </angular2-date-picker>
                                    </div>
                                    <!--<span *ngIf="cardIssuedDate.invalid && cardIssuedDate.touched"
                                          class="col-md-9 select pdng-lr-5 text-danger">
                                        Please enter valid from Date.
                                    </span>-->
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Card expiry Date
                                    </label>
                                    <div class="col-md-8 select pdng-lr-5">
                                        <!--<input type="date" class="form-control form-control-inline input-medium"
                                               (ngModelChange)="patient.cardExpiryDate = $event"
                                               #cardExpiryDate="ngModel"
                                               [(ngModel)]="patient.cardExpiryDate" name="cardExpiryDate">-->
                                        <angular2-date-picker name="cardExpiryDate" id="cardExpiryDate" [settings]="settings"
                                                              [(ngModel)]="patient.cardExpiryDate" [ngModelOptions]="{standalone:true}">
                                        </angular2-date-picker>
                                    </div>
                                  <!--  <span *ngIf="cardExpiryDate.invalid && cardExpiryDate.touched"
                                          class="col-md-9 select pdng-lr-5 text-danger">
                                        Please enter valid from Date.
                                    </span>-->
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Insurance Notes
                                    </label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <textarea class="form-control" rows="3" placeholder=""
                                                  name="primaryInsuranceNotes"
                                                  #primaryInsuranceNotes="ngModel"
                                                  [(ngModel)]="patient.primaryInsuranceNotes"></textarea>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Photo Front
                                    </label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <!--<input type="file" [(ngModel)]="patient.photoFrontURL" name="photoFrontURL">-->
                                        <div class="pull-left">
                                            <img class="img-responsive" style="width: 120px; height: 120px;" src="/public/images/patient-photo.jpg"
                                                 *ngIf="patient.photoFrontURL === null || patient.photoFrontURL === ''"/>
                                            <img class="" style="width: 120px; height: 140px;" src="{{patient.photoFrontURL}}"
                                                 *ngIf="patient.photoFrontURL != null">
                                            <div class="mrgn-top8">
                                                <input class="file" type="file" id="photoFrontURL" name="photoFrontURL"
                                                       (change)="uploadImgOnChange($event)">
                                            </div>
                                            <div class="imgUploadTopMargin mrgn-top8" *ngIf="showFrontPicUploadBtn">
                                                <button class="btn btn-default btn-outline"
                                                        (click)="uploadFrontImg()">
                                                    <i class=" icon-arrow-up"></i> Upload
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Photo Back
                                    </label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <!--<input type="file" [(ngModel)]="patient.photoBackURL" name="photoBackURL">-->

                                        <div class="pull-left">
                                            <img class="img-responsive" style="width: 120px; height: 120px;" src="/public/images/patient-photo.jpg"
                                                 *ngIf="patient.photoBackURL === null || patient.photoBackURL === ''"/>
                                            <img class="" style="width: 120px; height: 120px;" src="{{patient.photoBackURL}}"
                                                 *ngIf="patient.photoBackURL != null">
                                            <div class="mrgn-top8">
                                                <input class="file" type="file" id="photoBackURL" name="photoBackURL"
                                                       (change)="uploadImgOnChange($event)">
                                            </div>
                                            <div class="imgUploadTopMargin mrgn-top8" *ngIf="showBackPicUploadBtn">
                                                <button class="btn btn-default btn-outline"
                                                        (click)="uploadBackImg()">
                                                    <i class=" icon-arrow-up"></i> Upload
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="hr">
                    <div class="col-md-12">
                        <div class="hr mrgn-top14">
                            <button data-repeater-create="" class="btn blue"
                                    (click)="updatePatient(insuranceForm,demographicForm,patientForm,contactForm)">Update
                            </button>
                            <a routerLink="/dashboard/patient/manage" class="nav-link">
                                <button type="button" class="btn  default"> Cancel</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div *ngIf="show" class="loader">
            Uploading ...
            <img src="/public/images/processing.gif" width="80px" height="90px"/>
        </div>
    </div>
</div>