<menu-component></menu-component>
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Manage Patients
                        <div class="pull-right">
                            <a routerLink="/dashboard/patient/add">
                                <button class="btn mt-sweetalert btn green-meadow">
                                    <i class="fa fa-plus"></i> Add
                                </button>
                            </a>
                            <button class="btn mt-sweetalert btn blue"
                                    data-confirm-button-class="btn-success"
                                    (click)="refreshPatient()"> Refresh
                            </button>
                            <span><button class="btn btn-default btn-outline"> <i
                                    class=" icon-clock"></i> Print </button></span>
                        </div>
                    </h4>
                </div>
                <div class="">

                    <div class=" patient-profile hr portlet padding-10 light bordered view-pro">
                        <div class="col-md-4">
                            <div class="form-group font-siz11">
                                <input type="text" class="form-control"
                                       placeholder="Patient User Name"
                                       [(ngModel)]="searchString"
                                       (keydown.enter)="searchPatient(0)">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <button type="button" name="searchUserName"
                                        class="btn blue"
                                        (click)="searchPatient(0)">Search
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="table-scrollable">
                        <table class="table table-striped table-hover table-checkable dataTable no-footer"
                               id="datatable_ajax" role="grid">
                            <thead>
                            <tr role="row" class="off-wite-bg">
                                <th width="35%" class="c-text-left padding"> Patient Name</th>
                                <th width="15%">Email</th>
                                <th width="8%">Gender</th>
                                <th width="8%">Cell No.</th>
                                <th width="16%"> Action</th>
                            </tr>
                            <tr role="row" *ngFor="let patient of data; let i = index;" class="filter">
                                <td class="c-text-left padding font-green-dark"><strong>{{patient.firstName}} {{patient.middleName}} {{patient.lastName}}</strong></td>
                                <td class="c-text-left">{{patient.email}}</td>
                                <td class="c-text-left">{{patient.gender}}</td>
                                <td class="c-text-left">{{patient.cellPhone}}</td>
                                <td class="sorting_disabled" rowspan="1" colspan="1">
                                    {{patient.statusUser === true ? 'Active' : 'InActive'}}
                                </td>
                                <td class="sorting_disabled">
                                    <a routerLink="/dashboard/patient/edit/{{patient.id}}">
                                        <button class="btn btn-default btn-outline btn-sm">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </a>
                                    <button class="btn btn-default btn-outline btn-sm"
                                            (click)="deletePatient(patient.id)">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="dataTables_paginate paging_bootstrap_full_number pull-right" id="sample_1_2_paginate">
                    <ul class="pagination" style="visibility: visible;">
                        <li class="prev" *ngIf="pages.length >= 2 && currPage > 0">
                            <a (click)="getPageWisePatients(0);" title="First">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li class="prev" *ngIf="prePage">
                            <a (click)="getPageWisePatients(currPage - 1)" title="Previous">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li [ngClass]="{active: page === currPage}"
                            *ngFor="let page of pages">
                            <a (click)="getPageWisePatients(page)">{{page + 1}}</a>
                        </li>
                        <li class="next" *ngIf="nextPage">
                            <a (click)="getPageWisePatients(currPage + 1)" title="Next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="next" *ngIf="pages.length >= 2 && currPage < pages[pages.length - 1]">
                            <a (click)="getPageWisePatients(pages.length - 1)" title="Last">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <p></p>
            </div>
        </div>
    </div>

</div>