<div class="page-content-wrapper">
    <div class="page-content" style="margin-left: 0px !important;">
        <!--<div class="portlet-body">-->

        <div class="row">
            <div class="col-md-12 mrgn-btm10">
                <h4 class="text-info">
                    <b>Patient Receipts</b>
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group hr">
                    <label class="col-md-3 control-label">Patient Name:</label>
                    <div class="col-md-9">
                       <p-dropdown [(ngModel)]="selectedPatientId"
                                   [autoWidth]="false"
                                   [style]="{'text-align': 'left' ,'width':'100%'}"
                                   required
                                   [filter]="true"
                                   id="patientName"
                                   placeholder="Select Customer"
                                   name="patientName"
                                   [options]="patientList"
                                   (onChange) = "getPatientIvoices(selectedPatientId)"
                                   #patientName="ngModel">
                       </p-dropdown>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group hr">
                    <label class="control-label col-md-3">Date: </label>
                        <div class="col-md-9 select">
                            <angular2-date-picker
                                    name="date"
                                    id="date"
                                    [settings]="settings"
                                    [(ngModel)]="bulkReceitRequest.date"
                                    [ngModelOptions]="{standalone:true}">
                            </angular2-date-picker>
                        </div>
                </div>
                <div class="form-group hr">
                    <label class="control-label col-md-3">Payment Method:<span class="required" aria-required="true"> * </span> </label>
                    <div class="col-md-9">
                        <p-dropdown [options]="paymentTypeList" [(ngModel)]="selectedPaymentType" optionLabel="paymentTitle" (onChange) = "getSelectedPaymentType(selectedPaymentType)" [filter]="true"></p-dropdown>
                    </div>
                </div>
                <div class="form-group hr">
                    <label class="control-label col-md-3">Payment Amount:
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-9 profile-frm">
                        <input type="number" name="name" data-required="1" class="form-control text-right" [(ngModel)]="appliedAmountTottal" disabled> </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="hr">
                    <div class="col-md-7">
                        <p class="text-right">Receipt Transaction ID:</p>
                    </div>
                    <div class="col-md-5 text-right no-padding-rgt"> <b>{{bulkReceitRequest.paymentId}}</b></div>
                </div>
                <div class="hr">
                    <div class="col-md-7">
                        <p class="text-right">Due Invoices Balance:</p>
                    </div>
                    <div class="col-md-5 text-right no-padding-rgt"><strong> </strong><b>{{dueAmountOnAllInvc | number :'.2-2'}}</b></div>
                </div>
                <div class="hr">
                    <div class="col-md-7">
                        <p class="text-right bold">Advance Balance:
                            <input type="checkbox"
                               [(ngModel)]="bulkReceitRequest.useAdvance"
                               ng-reflect-name="chk-3"
                               ng-reflect-model="false"
                               id="chk-3"
                               class="ng-valid ng-dirty ng-touched">
                            <span></span></p>
                    </div>
                    <div class="col-md-5 text-right no-padding-rgt"><strong> </strong><b>{{cusAdvanceBalance | number :'.2-2'}}</b></div>
                </div>
                <div class="text-center">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="off-wite-bg">
                        <h4 class="bold padding-10">Details</h4>
                    </div>
                    <div class="table-scrollable border-non">
                    <table class="table table-striped table-hover table-checkable dataTable no-footer" id="datatable_ajax" aria-describedby="datatable_ajax_info" role="grid">
                        <thead class="ui-table-thead">
                        <tr role="row" class="off-wite-bg">
                            <th width="5%" class="sorting_disabled" rowspan="1" colspan="1"> </th>
                            <th width="8%" class="sorting_disabled" rowspan="1" colspan="1">Invoice ID</th>
                            <th width="7%" class="sorting_disabled text-right" rowspan="1" colspan="1">Invoice Amount</th>
                            <th width="5%" class="sorting_disabled text-right" rowspan="1" colspan="1">Refund Amount</th>
                            <th width="7%" class="sorting_disabled text-right" rowspan="1" colspan="1">Paid Amount</th>
                            <th width="7%" class="sorting_disabled text-right" rowspan="1" colspan="1">Discount Amount</th>
                            <th width="7%" class="sorting_disabled text-right" rowspan="1" colspan="1">Advance Amount </th>
                            <th width="7%" class="sorting_disabled text-right" rowspan="1" colspan="1">Applied Amount</th>
                            <th width="7%" class="sorting_disabled text-right" rowspan="1" colspan="1">Due Balance</th>
                        </tr>
                        </thead>
                        <tbody class="ui-table-tbody">
                        <tr role="row" class="filter" *ngFor="let invc of patientInvoiceList;  let idx = index">
                            <td rowspan="1" colspan="1">
                                <input type="checkbox" id="chk-3"  class="ng-valid ng-dirty ng-touched"
                                       [(ngModel)]="invc.selected"
                                       ng-reflect-name="chk-3"
                                       ng-reflect-model="false"
                                       (change)="getSelectedIndex(idx)" >
                            </td>
                            <td rowspan="1" colspan="1">   {{invc.invoiceId}}   </td>
                            <td rowspan="1" colspan="1" class="text-align-right profile-frm">
                                <input type="number" class="form-control text-align-right" name="totalInvoiceAmount" [(ngModel)]="invc.totalInvoiceAmount" [step]="0.01" readonly>
                                </td>
                            <td class="sorting_disabled profile-frm" rowspan="1" colspan="1">
                                <input type="number" class="form-control text-align-right" name="refunAmount" [(ngModel)]="invc.refundAmount" [step]="0.01" readonly>
                               </td>
                            <td class="sorting_disabled profile-frm" rowspan="1" colspan="1">
                                <input type="number" class="form-control text-align-right" name="paidAmount" [(ngModel)]="invc.paidAmount" [step]="0.01" readonly>
                                </td>
                            <td class="sorting_disabled profile-frm" rowspan="1" colspan="1">
                                <input type="number" class="form-control text-align-right" name="discountOnPayment" (change)="getTotalOfAllInvice()" [(ngModel)]="invc.discountOnPayment" [step]="0.01">
                                </td>
                            <td class="sorting_disabled profile-frm" rowspan="1" colspan="1">
                                <input type="number" class="form-control text-align-right" name="advanceBalance" (change)="getTotalOfAllInvice()" [(ngModel)]="invc.advanceBalance" [step]="0.01" [(readonly)]="!invc.useAdvancedBal">
                                </td>
                            <td class="sorting_disabled profile-frm" rowspan="1" colspan="1">
                                <input type="number" class="form-control text-align-right" name="appliedAmount" (change)="getTotalOfAllInvice()" [(ngModel)]="invc.appliedAmount" [step]="0.01">
                                </td>
                            <td class="sorting_disabled profile-frm" rowspan="1" colspan="1">
                                <input type="number" class="form-control text-align-right" name="dueAmount" [(ngModel)]="invc.dueAmount" [step]="0.01" readonly>
                                </td>
                        </tr>
                        <tr role="row" class="filter" >
                            <td rowspan="1" colspan="1">                                                       </td>
                            <td rowspan="1" colspan="1">                                                       </td>
                            <td rowspan="1" colspan="1" class="text-align-right">   {{invoicesAmountTotal | number :'.2-2'}}    </td>
                            <td class="sorting_disabled text-align-right" rowspan="1" colspan="1">   {{refundAmountTotal | number :'.2-2'}}        </td>
                            <td class="sorting_disabled text-align-right" rowspan="1" colspan="1">   {{paidAmountTotal | number :'.2-2'}}        </td>
                            <td class="sorting_disabled text-align-right" rowspan="1" colspan="1">   {{discountTotalOnPayment | number :'.2-2'}} </td>
                            <td class="sorting_disabled text-align-right" rowspan="1" colspan="1">   {{useAdvanceTotal | number :'.2-2'}}        </td>
                            <td class="sorting_disabled text-align-right" rowspan="1" colspan="1">   {{appliedAmountTottal | number :'.2-2'}}    </td>
                            <td class="sorting_disabled text-align-right" rowspan="1" colspan="1">   {{dueAmountTotal  | number :'.2-2'}}         </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mrgn-top8">

            </div>

            <div class="col-md-4 pull-right mrgn-top8">
                <div class="off-wite-bg padding-10 sub-total">
                   
                    <ul>
                       <!-- <li>
                            <span> Amount Due:</span>
                            <span>{{dueAmountOnSelectedInvc | number :'.2-2'}}</span>
                        </li>-->
                        <li>
                            <span>Applied Amount:</span>
                            <span>{{appliedAmountOnSelectedInvc | number :'.2-2'}}</span>
                        </li>
                        <li>
                            <span>Advance Amount:</span>
                            <span>{{advancedAmountOnSelectedInvc | number :'.2-2'}}</span>
                        </li>
                        <li>
                            <span>Discount Amount:</span>
                            <span>{{discountAmountOnSelectedInvc | number :'.2-2'}}</span>
                        </li>

                    </ul>

                </div>
            </div>
            <div class="col-md-12 mrgn-top14">
                <div class="pull-right">
                    <span>
                        <button class="btn primary blue" (click)="savePayment()"> Save </button>
                    </span>
                    <button class="btn default" (click)="backPage()"> Back </button>

                </div>
            </div>
        </div>    
           
        <!--</div>-->
    </div>
</div>