<patient-history-menu></patient-history-menu>
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class=" patient-profile hr portlet padding-10 light bordered view-pro">
                    <div class="portlet-title">
                        <div class="col-md-1 col-sm-2 col-xs-12 no-padding">
                            <div class="profile-userpic"><img src="/public/images/patient.jpg" alt="patient.jpg" class="img-responsive"/></div>
                        </div>
                        <div class="col-md-10 col-sm-8 col-xs-12">
                            <div class="hr">
                                <h1 class="page-title no-margin"> Dan Dan</h1>
                                <small class="small-txt">( Male | 42 years old | April 18, 1973)</small>
                            </div>
                            <div class="hr padding-b-10">
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Phone:</td>
                                            <td class="font-red">Missing</td>
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Address:</td>
                                            <td class="font-red">No address on file</td>
                                        </tr>
                                    </table>

                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Email:</td>
                                            <td class="font-red">Missing</td>
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Future Appt:</td>
                                            <td class="font-red">Mon. Jul. 27, 2015</td>
                                        </tr>
                                    </table>

                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Added:</td>
                                            <td>Nov. 24, 2015</td>
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Last Appt:</td>
                                            <td>Mon. Jul. 27, 2015</td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-2 col-xs-12 text-right"> <span class="pull-right color-grey">DADA0000002 </span> <span class="text-center"><img alt="barcode" title="barcode" class="img-responsive" src="/public/images/barcode.png"> </span> </div>
                    </div>
                    <div class="hr no-margin">
                        <div class="hr">
                            <div class="portlet-title">
                                <div class="caption"> <i class="icon-bar-chart font-dark hide"></i> <span class="caption-subject text-info bold">Primery Doctor:</span> <span class="caption-helper">Muhammad Imran</span> </div>
                            </div>
                        </div>
                        <div class="hr no-margin">
                            <button class="btn btn-default btn-outline btn-sm" onclick="window.location.href='print_demographics.html'"> Fax Demographics  </button>
                            <span><button class="btn btn-default btn-outline btn-sm" onclick="window.location.href='print_demographics.html'"> <i class=" icon-printer"></i> Print Demographics </button></span>
                            <div class=" pull-right"><button class="btn btn-default btn-outline btn-sm pull-right"> <i class=" icon-clock"></i> Shedule New Appointment </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Active Medication Orders<div class="pull-right">
                        <span><button class="btn mt-sweetalert btn green-meadow pdngall3" data-title="Sweet Alerts with Icons" data-message="Success Icon" data-type="success" data-allow-outside-click="true" data-confirm-button-class="btn-success"><i class="fa fa-plus"></i> Add Medication </button></span>
                        <span><button class="btn btn-default btn-outline btn-sm"> <i class=" icon-clock"></i> Print List </button></span>
                    </div></h4>
                </div>
                <div class="table-scrollable tbl-brdr-radus">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="hedng-bck-clr tbl-pdng">
                            <th> Medication </th>
                            <th> Dispense </th>
                            <th> Refills </th>
                            <th> Order Status </th>
                            <th> Date </th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tbl-pdng">
                            <td>No active medications</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="btn btn-default btn-outline btn-sm"> <i class="fa fa-info"></i></button>		 										 <button class="btn btn-default btn-outline btn-sm"> <i class="fa fa-pencil"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"> <i class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                        <tr class="tbl-pdng off-wite-bg">
                            <td>No active medications</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="btn btn-default btn-outline btn-sm"> <i class="fa fa-info"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"> <i class="fa fa-pencil"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"> <i class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <a (click)="goToUserDashBoard();" class="nav-link">
                <button type="button" class="btn  btn-default"> Cancel</button>
            </a>
        </div>
    </div>
</div>