<patient-history-menu></patient-history-menu>
<div class="page-content-wrapper">
    <div class="page-content">

        <!-- common dive profile -->
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class=" patient-profile hr portlet padding-10 light bordered view-pro">
                    <div class="portlet-title">
                        <div class="col-md-1 col-sm-2 col-xs-12 no-padding">
                            <div class="profile-userpic">
                                <img src="/public/images/patient-photo.jpg" class="img-responsive" *ngIf="patient.profileImgURL === null || patient.profileImgURL === ''"/>
                                <img src="{{patient.profileImgURL}}" class="img-responsive" *ngIf="patient.profileImgURL != null "/>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-8 col-xs-12">
                            <div class="hr">
                                <h1 class="page-title no-margin"> {{patient.firstName }} {{""}}{{patient.lastName}}</h1>
                                <small class="small-txt">( {{patient.gender}} | {{patient.dob | date:"MM-dd-yyyy"}})</small>
                            </div>
                            <div class="hr padding-b-10">
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Cell Phone:</td>
                                            <td class="txt-left font-red">{{patient.cellPhone}}</td>
                                            <!--<td class="font-red">Missing</td>-->
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Address:</td>
                                            <td class="text-left font-red">{{patient.formattedAddress}}</td>
                                            <!--<td class="font-red">No address on file</td>-->
                                        </tr>
                                    </table>

                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Email:</td>
                                            <td class="text-left font-red">{{patient.email}}</td>
                                            <!-- <td class="font-red">Missing</td>-->
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Gender:</td>
                                            <td class="text-left font-red">{{patient.gender}}</td>
                                            <!-- <td class="font-red">Missing</td>-->
                                        </tr>
                                        <!--<tr>
                                            <td class="txt-rigt">Appt:</td>
                                            <td class="font-red">Mon. Jul. 27, 2015</td>
                                        </tr>-->
                                    </table>

                                </div>

                            </div>
                        </div>
                        <!--  <div class="col-md-1 col-sm-2 col-xs-12 text-right"> <span class="pull-right color-grey">{{patient.patientId}} </span> <span class="text-center"><img alt="barcode" title="barcode" class="img-responsive" src="/public/images/barcode.png"> </span> </div>-->
                    </div>
                    <div class="hr no-margin">
                        <div class="hr">
                            <div *ngIf="patient.primaryDoctorFirstName"  class="portlet-title">
                                <div class="caption"><i class="icon-bar-chart font-dark hide"></i> <span
                                        class="caption-subject text-info bold">Primary Doctor:</span> <span
                                        class="caption-helper">{{patient.primaryDoctorFirstName+ ' ' + patient.primaryDoctorLastName}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="hr no-margin">
                             <button class="btn btn-default btn-outline btn-sm" onclick="window.location.href='print_demographics.html'"> <i class=" icon-printer"></i> Print Demographics </button>
                             <button class="btn btn-default btn-outline btn-sm pull-right"> <i class=" icon-clock"></i> Shedule New Appointment </button>
                         </div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- common dive profile -->
        
        <div class="row mrgn-top10">
            <div class="col-md-12 col-xs-12">
                <div class="hr no-margin">
                    <h4 class="text-info">Allergies
                        <div class="pull-right">
                        <span>
                            <a href="#responsiveAllergy" data-toggle="modal" (click)="addAllergy()">
                                <button class="btn primary blue pdngall3"
                                        data-title="Sweet Alerts with Icons"
                                        data-message="Success Icon" data-type="success"
                                        data-allow-outside-click="true"
                                        data-confirm-button-class="btn-success">
                                    <i class="fa fa-plus"></i> Add
                                </button>
                            </a>
                        </span>
                            <!--<span><button class="btn btn-default btn-outline btn-sm"> <i class=" icon-clock"></i> Print List </button></span>-->
                        </div>
                    </h4>
                </div>
                <div class="table-scrollable table-brd-non">
                    <p-table #dt [columns]="cols" [value]="allergyData"  [rows]="10"  [paginator]="true" >
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Allergy/Reaction/Notes"
                                       (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            </div>
                        </ng-template>
                        <!--<div style="text-align: right">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="50" placeholder="Allergy/Reaction/Notes"
                                   (input)="dt.filterGlobal($event.target.value, 'contains')"
                                   style="width:auto">
                        </div>-->
                        <ng-template sortable="true" pTemplate="header" let-columns>
                            <tr>
                                <th sortable="true" *ngFor="let col of columns" [pSortableColumn]="col.field" style='width:-webkit-fill-available;'>
                                    {{col.header}}
                                    <p-sortIcon *ngIf="col.field != 'origin' && col.field != 'status'"
                                                [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                </th>
                            </tr>
                            <!--<tr>
                                <th *ngFor="let col of columns" [ngSwitch]="col.field">

                                    <input *ngSwitchCase="'name'" pInputText type="text" style="width: 100%"
                                           (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

                                    <input *ngSwitchCase="'reaction'" pInputText type="text" style="width: 100%"
                                           (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

                                    &lt;!&ndash;<input *ngSwitchCase="'status'" pInputText type="text" style="width: 100%"
                                           (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">&ndash;&gt;

                                   &lt;!&ndash; <input *ngSwitchCase="'note'" pInputText type="text" style="width: 100%"
                                           (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">&ndash;&gt;

                                    &lt;!&ndash;<input *ngSwitchCase="'updatedOn'" pInputText type="text" style="width: 100%"
                                           (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">&ndash;&gt;
                                           </th>
                            </tr>-->
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-allergyData>
                            <tr>
                                <td field="name"><strong>{{allergyData.name}}</strong></td>
                                <td field="reaction">{{allergyData.reaction}}</td>
                                <td field="status">{{allergyData.status}}</td>
                                <td field="note">{{allergyData.note}}</td>
                                <td field="updatedOn">{{allergyData.updatedOn}}</td>
                                <td>
                                    <a href="#responsiveAllergy" data-toggle="modal" (click)="editAllergy(allergyData.id)" class="font-blue"> <i class="fa fa-pencil"></i> </a>
                                    <button class="text-danger" (click)="deleteAllergy(allergyData.id)"> <i class="fa fa-remove"></i> </button>
                                </td>
                            </tr>
                        </ng-template>

                    </p-table>



                    <!--<table class="table table-hover table-light">
                        <thead>
                        <tr class="hedng-bck-clr tbl-pdng">
                            <th> Allergy</th>
                            <th> Reaction</th>
                            <th> Status</th>
                            <th> Notes</th>
                            <th>updated</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tbl-pdng" *ngFor="let allergy of allergyData" class="filter">
                            <td>{{allergy.name}}</td>
                            <td>{{allergy.reaction}}</td>
                            <td>{{allergy.status}}</td>
                            <td>{{allergy.note}}</td>
                            <td>{{allergy.updatedOn}}</td>
                            <td>
                                <a href="#responsiveAllergy" data-toggle="modal"
                                   (click)="editAllergy(allergy.id)">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <button
                                        (click)="deleteAllergy(allergy.id)">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>-->
                </div>
            </div>
        </div>
        <div class="clearfix"></div>


      <!--  <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="dataTables_paginate paging_bootstrap_full_number pull-right" id="sample_1_2_paginate">
                    <ul class="pagination" style="visibility: visible;">
                        <li class="prev" *ngIf="pages.length >= 2 && currPage > 0">
                            <a (click)="getPageWiseAllergies(0);" title="First">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li class="prev" *ngIf="prePage">
                            <a (click)="getPageWiseAllergies(currPage - 1)" title="Previous">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li [ngClass]="{active: page === currPage}"
                            *ngFor="let page of pages">
                            <a (click)="getPageWiseAllergies(page)">{{page + 1}}</a>
                        </li>
                        <li class="next" *ngIf="nextPage">
                            <a (click)="getPageWiseAllergies(currPage + 1)" title="Next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="next" *ngIf="pages.length >= 2 && currPage < pages[pages.length - 1]">
                            <a (click)="getPageWiseAllergies(pages.length - 1)" title="Last">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <p></p>
            </div>
        </div>-->


    </div>
</div>

<div id="responsiveAllergy" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal"
                        aria-hidden="true">
                </button>
                <span [hidden]="isUpdate">
                    <h4 class="modal-title">Add Allergy</h4>
                </span>
                <span [hidden]="!isUpdate">
                     <h4 class="modal-title">Update Allergy</h4>
                </span>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:240px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <!--<div class="form-group hr">
                            <label class="control-label txt-size pdng-lr-5 col-md-4">
                                Appointments<span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-7 pdng-lr-5">
                                <div class="select2-bootstrap-prepend">
                                    &lt;!&ndash;<select
                                            name="appointment" id="appointmentId"
                                            [(ngModel)]="pam.appointmentId"
                                            class="form-control">
                                        <option value="-1">-&#45;&#45; Select Appointment -&#45;&#45;</option>
                                        <option
                                                *ngFor="let pastApp of pastAppointments"
                                                [value]="pastApp.id">
                                            {{pastApp.appointmentId}},
                                            {{"Schedule Date:"+pastApp.scheduleDate}}
                                        </option>
                                    </select>&ndash;&gt;
                                    &lt;!&ndash; Remove appointment from allergy screen 11-22-2018&ndash;&gt;
                                    <p-dropdown  placeholder="select appointment" [autoWidth]="false"  [style]="{'text-align': 'left' ,'width':'100%'}" name="apt"
                                                 [options]="patient.pastAppointments"
                                                 [(ngModel)]="pam.appointmentId"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>-->
                        <div class="form-group hr mrgn-btm08">
                            <label class="col-md-4 control-label txt-size pdng-lr-5">
                                Allergy type:<span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-8 select pdng-lr-5">
                                <!--<select class="form-control"
                                        id="allergyTypeId"
                                        name="allergyType"
                                        [(ngModel)]="pam.allergyType">
                                    <option value="-1">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>
                                    <option value="specificdrug">Specific Drug allergy</option>
                                    <option value="drugclass">Drug Class allergy</option>
                                    <option value="nondrug">Non-Drug allergy</option>
                                    <option value="nkda">No Known Drug Allergies (NKDA)</option>
                                </select>-->
                                <p-dropdown  placeholder="select allergy type" [autoWidth]="false"  [style]="{'text-align': 'left' ,'width':'100%'}" name="allergyType"
                                             [options]="allergyType"
                                             [(ngModel)]="pam.allergyType"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="form-group hr mrgn-btm08">
                            <label class="col-md-4 control-label txt-size pdng-lr-5">
                                Allergy Name:<span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-8 select pdng-lr-5 profile-frm">
                                <input type="text" class="form-control"  placeholder=" e.g Tartrazine"
                                       id="nameId"
                                       name="nameId"
                                       #nameId="ngModel"
                                       [(ngModel)]="pam.name">
                            </div>
                        </div>
                        <div class="form-group hr mrgn-btm08">
                            <label class="col-md-4 control-label txt-size pdng-lr-5">Reaction:</label>
                            <div class="col-md-8 select pdng-lr-5 profile-frm">
                                <input type="text" class="form-control" placeholder=" e.g Diabetes"
                                       id="reactionId"
                                       name="reactionId"
                                       #reactionId="ngModel"
                                       [(ngModel)]="pam.reaction">
                            </div>
                        </div>
                        <div class="form-group hr mrgn-btm08">
                            <label class="col-md-4 control-label txt-size pdng-lr-5">Status</label>
                            <div class="col-md-8 select pdng-lr-5">
                                <!--<select class="form-control" [(ngModel)]="pam.status">
                                    <option value="ACTIVE">Active</option>
                                    <option value="IN_ACTIVE">In_Active</option>
                                    <option value="RESOLVED">Resolved</option>
                                </select>-->
                                <p-dropdown  placeholder="select status" [autoWidth]="false"  [style]="{'text-align': 'left' ,'width':'100%'}" name="statusType"
                                             [options]="statusType"
                                             [(ngModel)]="pam.status"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="form-group hr mrgn-btm08">
                            <label class="col-md-4 pdng-lr-5 control-label txt-size">Notes:</label>
                            <div class="col-md-8 select pdng-lr-5">
                                <textarea class="form-control" placeholder="Description  here"
                                          rows="3"
                                          [(ngModel)]="pam.note">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <span [hidden]="isUpdate">
                    <button type="button" class="btn primary blue" (click)="saveAllergy()">Save</button>
                </span>
                <span [hidden]="!isUpdate">
                    <button type="button" class="btn primary blue" (click)="updateAllergy()">Update
                    </button>
                </span>
                <button type="button" data-dismiss="modal"
                               #closeBtnAllergy
                               id="closeBtnAllergy"
                               name="closeBtnAllergy"
                               class="btn green-meadow">Close</button>
            </div>
        </div>
    </div>
</div>