<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse side-menu-mrgn">
        <div class="menu-toggler sidebar-toggler menu-stng"><span></span></div>
        <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler"> <span></span> </div>
            </li>
            <li class="nav-item"> <a routerLink="/dashboard/patient/history" class="nav-link"> <i class=" icon-home"></i> <span class="title">Clinical Dashboard {{greetMessage}}</span> </a> </li>
            <li class="nav-item"> <a [routerLink]="['/dashboard/patient/demographic/',id]" class="nav-link"> <i class=" icon-users"></i> <span class="title">Demographics</span> </a> </li>
            <li class="nav-item"> <a [routerLink]="['/dashboard/patient/appointments/',id,'history']" class="nav-link"> <i class=" icon-calendar"></i> <span class="title">Appointments</span> </a> </li>
            <li class="nav-item"> <a routerLink="/dashboard/patient/documents" class="nav-link"> <i class="icon-docs"></i> <span class="title">Documents</span> </a> </li>
            <li class="nav-item"> <a routerLink="/dashboard/patient/problems-list" class="nav-link"> <i class="icon-list"></i> <span class="title">Problems list</span> </a> </li>
            <li class="nav-item"> <a routerLink="/dashboard/patient/medical-list" class="nav-link"> <i class="icon-list"></i> <span class="title">Medical List </span> </a> </li>
            <li class="nav-item"> <a routerLink="/dashboard/patient/allergy-list" class="nav-link"> <i class="icon-list"></i> <span class="title">AllergyList</span> </a> </li>
            <!--<li class="nav-item"> <a routerLink="/dashboard/patient/lab-orders" class="nav-link"> <i class=" icon-check"></i> <span class="title">Lab Orders</span> </a> </li>-->
            <li class="nav-item"> <a [routerLink]="['/dashboard/patient/lab-orders/',id,'history']" class="nav-link"> <i class=" icon-calendar"></i> <span class="title">LabOrder</span> </a> </li>
            <li class="nav-item"> <a routerLink="/dashboard/patient/appointments/:id" class="nav-link"> <i class=" icon-calendar"></i> <span class="title">Appointments</span> </a> </li>
            <li class="nav-item"> <a [routerLink]="['/dashboard/patient/documents',id]" class="nav-link"> <i class="icon-docs"></i> <span class="title">Documents</span> </a> </li>
            <li class="nav-item"> <a [routerLink]="['/dashboard/patient/problems-list',id]" class="nav-link"> <i class="icon-list"></i> <span class="title">Problems list</span> </a> </li>
            <li class="nav-item"> <a [routerLink]="['/dashboard/patient/medication-list',id]" class="nav-link"> <i class="icon-list"></i> <span class="title">Medication List </span> </a> </li>
            <li class="nav-item"> <a [routerLink]="['/dashboard/patient/allergy-list',id]" class="nav-link"> <i class="icon-list"></i> <span class="title">AllergyList</span> </a> </li>
            <li class="nav-item"> <a routerLink="/dashboard/patient/lab-orders" class="nav-link"> <i class=" icon-check"></i> <span class="title">Lab Orders</span> </a> </li>
            <!--<li class="nav-item"> <a routerLink="/dashboard/patient/onpatient-access" class="nav-link"> <i class="icon-user"></i> <span class="title">Onpatient Access</span> </a> </li>-->
           <!-- <li class="nav-item"> <a routerLink="/dashboard/patient/communication" class="nav-link"> <i class=" icon-call-in"></i> <span class="title">Communication</span> </a> </li>-->
            <li class="nav-item"> <a routerLink="/dashboard/patient/family-history" class="nav-link"> <i class=" icon-doc"></i> <span class="title">Family History</span> </a> </li>
        </ul>
    </div>
</div>