<patient-history-menu></patient-history-menu>
<div class="page-content-wrapper">
    <div class="page-content">

        <!-- common dive profile -->
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class=" patient-profile hr portlet padding-10 light bordered view-pro">
                    <div class="portlet-title">
                        <div class="col-md-1 col-sm-2 col-xs-12 no-padding">
                            <div class="profile-userpic">
                                <img src="/public/images/patient-photo.jpg" class="img-responsive" *ngIf="patient.profileImgURL === null || patient.profileImgURL === ''"/>
                                <img src="{{patient.profileImgURL}}" class="img-responsive" *ngIf="patient.profileImgURL != null "/>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-8 col-xs-12">
                            <div class="hr">
                                <h1 class="page-title no-margin"> {{patient.firstName }} {{""}}{{patient.lastName}}</h1>
                                <small class="small-txt">( {{patient.gender}} | {{patient.dob | date:"MM-dd-yyyy"}})</small>
                            </div>
                            <div class="hr padding-b-10">
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Cell Phone:</td>
                                            <td class="txt-left font-red">{{patient.cellPhone}}</td>
                                            <!--<td class="font-red">Missing</td>-->
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Address:</td>
                                            <td class="text-left font-red">{{patient.formattedAddress}}</td>
                                            <!--<td class="font-red">No address on file</td>-->
                                        </tr>
                                    </table>

                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Email:</td>
                                            <td class="text-left font-red">{{patient.email}}</td>
                                            <!-- <td class="font-red">Missing</td>-->
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Gender:</td>
                                            <td class="text-left font-red">{{patient.gender}}</td>
                                            <!-- <td class="font-red">Missing</td>-->
                                        </tr>
                                        <!--<tr>
                                            <td class="txt-rigt">Appt:</td>
                                            <td class="font-red">Mon. Jul. 27, 2015</td>
                                        </tr>-->
                                    </table>

                                </div>

                            </div>
                        </div>
                        <!--  <div class="col-md-1 col-sm-2 col-xs-12 text-right"> <span class="pull-right color-grey">{{patient.patientId}} </span> <span class="text-center"><img alt="barcode" title="barcode" class="img-responsive" src="/public/images/barcode.png"> </span> </div>-->
                    </div>
                    <div class="hr no-margin">
                        <div class="hr">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-bar-chart font-dark hide"></i> <span
                                        class="caption-subject text-info bold">Primary Doctor:</span> <span
                                        class="caption-helper">{{patient.primaryDoctorFirstName+ ' ' + patient.primaryDoctorLastName}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="hr no-margin">
                             <button class="btn btn-default btn-outline btn-sm" onclick="window.location.href='print_demographics.html'"> <i class=" icon-printer"></i> Print Demographics </button>
                             <button class="btn btn-default btn-outline btn-sm pull-right"> <i class=" icon-clock"></i> Shedule New Appointment </button>
                         </div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- common dive profile -->

        <div class="row mrgn-top10">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Patient Problems
                        <div class="pull-right">
                            <!--<a href="#responsive" data-toggle="modal">
                                <button class="btn mt-sweetalert btn green-meadow pdngall3"
                                        data-title="Sweet Alerts with Icons" data-message="Success Icon"
                                        data-type="success" data-allow-outside-click="true"
                                        data-confirm-button-class="btn-success"><i class="fa fa-plus"></i> Edit Problem
                                </button>
                            </a>-->
                            <span>
                                <a href="#responsive" data-toggle="modal">
                                <button class="btn mt-sweetalert btn green-meadow pdngall3"
                                        data-title="Sweet Alerts with Icons" data-message="Success Icon"
                                        data-type="success" data-allow-outside-click="true"
                                        (click)="addProblemPopupClick()"
                                        data-confirm-button-class="btn-success"><i class="fa fa-plus"></i> Add Problem
                                </button>
                                 </a>
                            </span>
                           <!-- <span><button class="btn btn-default btn-outline btn-sm"> <i class=" icon-clock"></i> Print List </button></span>-->
                        </div>
                    </h4>
                </div>
                <div class="table-scrollable tbl-brdr-radus">
                    <p-table #dt [columns]="cols" [value]="problemData" [paginator]="true"  [rows]="5">

                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Version/Code/Notes,"
                                       (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            </div>
                        </ng-template>



                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon *ngIf="col.field != 'action' && col.field != 'status'"
                                                [field]="col.field" ariaLabel="Activate to sort"
                                                ariaLabelDesc="Activate to sort in descending order"
                                                ariaLabelAsc="Activate to sort in ascending order">
                                    </p-sortIcon>
                                </th>
                            </tr>

                        </ng-template>


                        <ng-template pTemplate="body" let-problem let-columns="columns">
                            <tr>

                                <!--{{car[col.field]}}-->
                                <td> {{problem.versionName}}</td>
                                <td> {{problem.codeName}}</td>
                                <td> {{problem.problemName}}</td>
                                 <td>{{problem.dateDiagnosis}}</td>
                                <td> {{problem.note}} </td>
                                <td> {{problem.status}} </td>
                                <td>
                                    <a href="#responsive" data-toggle="modal"
                                       (click)="editPatientProblem(problem.id)">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <button
                                            (click)="deletePatientProblem(problem.id)">
                                        <i class="fa fa-remove"></i>
                                    </button>

                                    <button (click)="openUrl(problem.info)"><i class="fa fa-globe"></i></button>
                                </td>

                            </tr>
                        </ng-template>

                    </p-table>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>

      <!--  <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="dataTables_paginate paging_bootstrap_full_number pull-right" id="sample_1_2_paginate">
                    <ul class="pagination" style="visibility: visible;">
                        <li class="prev" *ngIf="pages.length >= 2 && currPage > 0">
                            <a (click)="getPageWisePatientProblem(0);" title="First">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li class="prev" *ngIf="prePage">
                            <a (click)="getPageWisePatientProblem(currPage - 1)" title="Previous">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li [ngClass]="{active: page === currPage}"
                            *ngFor="let page of pages">
                            <a (click)="getPageWisePatientProblem(page)">{{page + 1}}</a>
                        </li>
                        <li class="next" *ngIf="nextPage">
                            <a (click)="getPageWisePatientProblem(currPage + 1)" title="Next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="next" *ngIf="pages.length >= 2 && currPage < pages[pages.length - 1]">
                            <a (click)="getPageWisePatientProblem(pages.length - 1)" title="Last">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <p></p>
            </div>
        </div>-->

    </div>
</div>

<!--Start Modal-->



<div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Problem</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="form-group hr">
                            <label class="control-label txt-size pdng-lr-5 col-md-4">Appointments<span class="required"
                                                                                                       aria-required="true"> * </span>
                            </label>
                            <div class="col-md-7 pdng-lr-5" *ngIf="!isUpdate">
                                <div class="select2-bootstrap-prepend">


                                    <p-dropdown  placeholder="Select Appointment"
                                                 [autoWidth]="false"
                                                 [style]="{'text-align': 'left' ,'width':'100%'}" name="selectedAppointmentId"
                                                 [options]="patient.pastAppointments"
                                                 [(ngModel)]="ppm.appointmentId"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                    </p-dropdown>


                                    <!--<select id="selectedAppointmentId"
                                            [(ngModel)]="ppm.appointmentId"
                                            name="selectedAppointmentId"
                                            class="form-control">
                                        <option value="-1">-&#45;&#45; Please select -&#45;&#45;</option>
                                        <option
                                                *ngFor="let appointment of pastAppointments"
                                                [(value)]="appointment.id">
                                            {{appointment.appointmentId}},
                                            {{"Schedule Date:"+appointment.scheduleDate}}
                                        </option>
                                    </select>-->
                                </div>
                            </div>

                            <div class="col-md-7 pdng-lr-5" *ngIf="isUpdate">
                                <div class="select2-bootstrap-prepend">


                                    <p-dropdown  placeholder="{{ppm.appointmentId}}"
                                                 [autoWidth]="false"
                                                 [style]="{'text-align': 'left' ,'width':'100%'}" name="selectedAppointmentId"
                                                 [options]="patient.pastAppointments"
                                                 [(ngModel)]="ppm.appointmentId"  [panelStyle]="{minWidth:'12em'}" [filter]="true" [disabled]="ppm.appointmentId">
                                    </p-dropdown>


                                    <!--<select id="selectedAppointmentId"
                                            [(ngModel)]="ppm.appointmentId"
                                            name="selectedAppointmentId"
                                            class="form-control">
                                        <option value="-1">-&#45;&#45; Please select -&#45;&#45;</option>
                                        <option
                                                *ngFor="let appointment of pastAppointments"
                                                [(value)]="appointment.id">
                                            {{appointment.appointmentId}},
                                            {{"Schedule Date:"+appointment.scheduleDate}}
                                        </option>
                                    </select>-->
                                </div>
                            </div>


                        </div>
                        <div class="form-group hr">
                            <label class="control-label txt-size pdng-lr-5 col-md-4">Version
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-7 pdng-lr-5">
                                <div class="select2-bootstrap-prepend">

                                    <p-dropdown  placeholder="select Version"
                                                 [autoWidth]="false"
                                                 [style]="{'text-align': 'left' ,'width':'100%'}" name="icdVersionId"
                                                 [options]="iCDVersions" (onChange)="changedVersion(ppm.selectedICDVersionId)"
                                                 [(ngModel)]="ppm.selectedICDVersionId"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                    </p-dropdown>

                                   <!-- <select id="icdVersionId" [(ngModel)]="ppm.selectedICDVersionId"
                                            #icdVersionId="ngModel"
                                            name="icdVersionId"
                                            class="form-control"
                                            (change)="changedVersion(ppm.selectedICDVersionId)">
                                        <option value="-1">-&#45;&#45; Please select -&#45;&#45;</option>
                                        <option
                                                *ngFor="let ver of iCDVersions"
                                                [(value)]="ver.id">
                                            {{ver.name}}
                                        </option>
                                    </select>-->
                                </div>
                            </div>
                        </div>
                        <div class="form-group hr">
                            <label class="col-md-4 control-label txt-size pdng-lr-5">Problem:<span class="required"
                                                                                                   aria-required="true"> * </span></label>
                            <div class="col-md-7 pdng-lr-5">
                                <div class="select2-bootstrap-prepend">

                                    <p-dropdown  placeholder="{{ppm.problemName}}"
                                                 [autoWidth]="false"
                                                 [style]="{'text-align': 'left' ,'width':'100%'}" name="selectedVer"
                                                 [options]="selectedCodeId"
                                                 [(ngModel)]="ppm.selectedCodeId"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                    </p-dropdown>

                                    <!--<select id="associatedCodesId"
                                            [(ngModel)]="ppm.selectedCodeId"
                                            #associatedCodesId="ngModel" name="selectedVer"
                                            class="form-control">
                                        <option value="-1">-&#45;&#45; Please select -&#45;&#45;</option>
                                        <option
                                                *ngFor="let code of associatedCodes"
                                                [(value)]="code.id">
                                            {{code.code}}
                                        </option>
                                    </select>-->
                                </div>
                            </div>
                        </div>
                        <div class="form-group hr">
                            <label class="col-md-4 control-label txt-size pdng-lr-5">Date Diagnosis:</label>

                            <div class="col-md-7 select pdng-lr-5">
                                <angular2-date-picker  name="dateDiagnosis"
                                                       id="dateDiagnosisId" [settings]="settings" [(ngModel)]="ppm.datePrescribedDate" [ngModelOptions]="{standalone:true}"></angular2-date-picker>
                            </div>
                        </div>

                        <div class="form-group hr">
                            <label class="col-md-4 control-label txt-size pdng-lr-5">Status</label>
                            <div class="col-md-7 select pdng-lr-5">
                                <select class="form-control" [(ngModel)]="ppm.status">
                                    <option value="ACTIVE">Active</option>
                                    <option value="IN_ACTIVE">In_Active</option>
                                    <option value="RESOLVED">Resolved</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group hr">
                            <label class="col-md-4 pdng-lr-5 control-label txt-size">Url</label>
                            <div class="col-md-7 select pdng-lr-5">
                                <input type="text" class="form-control" id="problemInfoId" name="problemInfo"
                                           [(ngModel)]="ppm.info">
                            </div>
                        </div>

                        <div class="form-group hr">
                            <label class="col-md-4 pdng-lr-5 control-label txt-size">Notes:</label>
                            <div class="col-md-7 select pdng-lr-5">
                                <address>
                                    <textarea class="form-control"
                                              rows="3"
                                              [(ngModel)]="ppm.note">
                                    </textarea>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" #closeBtn
                        class="btn btn-default btn-outline">Close
                </button>
                <span [hidden]="isUpdate">
                    <button type="button" class="btn green" (click)="savePatientProblem()">Save</button>
                </span>
                <span [hidden]="!isUpdate">
                    <button type="button" class="btn green" (click)="updatePatientProblem()">Update
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
