<patient-history-menu></patient-history-menu>
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class=" patient-profile hr portlet padding-10 light bordered view-pro">
                    <div class="portlet-title">
                        <div class="col-md-1 col-sm-2 col-xs-12 no-padding">
                            <div class="profile-userpic"><img src="/public/images/patient.jpg" alt="patient.jpg" class="img-responsive"/></div>
                        </div>
                        <div class="col-md-10 col-sm-8 col-xs-12">
                            <div class="hr">
                                <h1 class="page-title no-margin"> Dan Dan</h1>
                                <small class="small-txt">( Male | 42 years old | April 18, 1973)</small>
                            </div>
                            <div class="hr padding-b-10">
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Phone:</td>
                                            <td class="font-red">Missing</td>
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Address:</td>
                                            <td class="font-red">No address on file</td>
                                        </tr>
                                    </table>

                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Email:</td>
                                            <td class="font-red">Missing</td>
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Future Appt:</td>
                                            <td class="font-red">Mon. Jul. 27, 2015</td>
                                        </tr>
                                    </table>

                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Added:</td>
                                            <td>Nov. 24, 2015</td>
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Last Appt:</td>
                                            <td>Mon. Jul. 27, 2015</td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-2 col-xs-12 text-right"> <span class="pull-right color-grey">DADA0000002 </span> <span class="text-center"><img alt="barcode" title="barcode" class="img-responsive" src="/public/images/barcode.png"> </span> </div>
                    </div>
                    <div class="hr no-margin">
                        <div class="hr">
                            <div class="portlet-title">
                                <div class="caption"> <i class="icon-bar-chart font-dark hide"></i> <span class="caption-subject text-info bold">Primery Doctor:</span> <span class="caption-helper">Muhammad Imran</span> </div>
                            </div>
                        </div>
                        <div class="hr no-margin">
                            <button class="btn btn-default btn-outline btn-sm" onclick="window.location.href='print_demographics.html'"> Fax Demographics  </button>
                            <span>
                                <button class="btn btn-default btn-outline btn-sm" onclick="window.location.href='print_demographics.html'"> <i class=" icon-printer"></i> Print Demographics </button>
                                <button class="btn btn-default btn-outline btn-sm" onclick="window.location.href='print_demographics.html'"> <i class="fa fa-flask"></i> Import CCR Lab Result </button>
                            </span>
                            <div class=" pull-right">
                                <button class="btn btn-default btn-outline btn-sm pull-right"> <i class=" icon-clock"></i> Shedule New Appointment </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <form class="form-horizontal" role="form">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label txt-size">Title</label>
                        <div class="col-md-8 frm-stng select">
                            <select class="form-control">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                            <span class="pull-right tol-tip"><i class="fa fa-info-circle tooltips" data-original-title="e.g. I, II, III, IV, Jr, Sr"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label txt-size">Lab result value</label>
                        <div class="col-md-8 frm-stng">
                            <input type="email" class="form-control" placeholder="Enter text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label txt-size">Lab normal range</label>
                        <div class="col-md-8 frm-stng">
                            <input type="email" class="form-control" placeholder="Enter text">
                            <span class="pull-right tol-tip"><i class="fa fa-info-circle tooltips" data-original-title="e.g. I, II, III, IV, Jr, Sr"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label txt-size">Lab abnormal flag</label>
                        <div class="col-md-8 frm-stng select">
                            <select class="form-control">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                            <span class="pull-right tol-tip"><i class="fa fa-info-circle tooltips" data-original-title="e.g. I, II, III, IV, Jr, Sr"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label txt-size">Loinc code</label>
                        <div class="col-md-8 frm-stng select">
                            <input type="text" class="form-control" placeholder="Enter text">
                            <span class="pull-right tol-tip"><i class="fa fa-info-circle tooltips" data-original-title="e.g. I, II, III, IV, Jr, Sr"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label txt-size">Lab result value units</label>
                        <div class="col-md-8 frm-stng">
                            <input type="text" class="form-control" placeholder="Enter text">
                            <span class="pull-right tol-tip"><i class="fa fa-info-circle tooltips" data-original-title="e.g. I, II, III, IV, Jr, Sr"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label txt-size">lab normal range units</label>
                        <div class="col-md-8 frm-stng">
                            <input type="text" class="form-control" placeholder="Enter text">
                            <span class="pull-right tol-tip"><i class="fa fa-info-circle tooltips" data-original-title="e.g. I, II, III, IV, Jr, Sr"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label txt-size">Date test performed</label>
                        <div class="col-md-8 frm-stng select">
                            <select class="form-control">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label txt-size txt-size-label">Doctor signoff</label>
                        <p class="col-md-10 txt-size-p"><input type="checkbox">Set to True when doctor has reviewed lab result and taken appropriate action.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label txt-size">Title</label>
                        <div class="col-md-8 frm-stng select">
                            <input type="text" class="form-control" placeholder="Enter text">
                            <span class="pull-right tol-tip"><i class="fa fa-info-circle tooltips" data-original-title="e.g. I, II, III, IV, Jr, Sr"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label txt-size">Scanned in result</label>
                        <div class="col-md-8 frm-stng">
                            <select class="form-control">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                            <span class="pull-right tol-tip"><i class="fa fa-info-circle tooltips" data-original-title="e.g. I, II, III, IV, Jr, Sr"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label txt-size">Doctor comments</label>
                        <div class="col-md-8 frm-stng select">
                            <textarea class="form-control" rows="3"></textarea>
                            <span class="pull-right tol-tip"><i class="fa fa-info-circle tooltips" data-original-title="e.g. I, II, III, IV, Jr, Sr"></i></span>
                        </div>
                    </div>
                </div>
                <div class="hr text-center bdr-top bdr-btm padding-b-10 padding-t-10">
                    <button class="btn blue"> Submit Order </button>
                </div>
            </form>
        </div>
        <div class="clearfix">
            <a (click)="goToUserDashBoard();" class="nav-link">
                <button type="button" class="btn  btn-default"> Cancel</button>
            </a>
        </div>
    </div>
</div>