<div class="page-content-wrapper">
    <div class="page-content" style="margin-left: 0px !important;">
        <!--<div class="portlet-body">-->

        <div class="row">
            <div class="col-md-12">
                <h4 class="text-info">
                    <b>Patient Receipts</b>
                </h4>
                <div class="col-md-6"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="hr off-wite-bg">
                    <div class="hr drk-bck pdng-all">
                        <div class="form-group">
                            <label class="col-md-2 control-label font-white">Patient Name:</label>
                            <div class="col-md-4">
                               <p-dropdown [(ngModel)]="selectedPatientId"
                                           [autoWidth]="false"
                                           [style]="{'text-align': 'left' ,'width':'100%'}"
                                           required
                                           [filter]="true"
                                           id="patientName"
                                           placeholder="Select Customer"
                                           name="patientName"
                                           [options]="patientList"
                                           (onChange) = "getPatientIvoices(selectedPatientId)"
                                           #patientName="ngModel">
                               </p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="hr white-bck">
                            <div class="col-md-8 no-padding">
                                <div class="form-group hr">
                                    <label class="control-label col-md-4">Date:
                                    </label>
                                    <div class="col-md-8">
                                        <div class="input-group input-medium date date-picker" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                            <input type="text" class="form-control" readonly>
                                            <span class="input-group-btn">
                                <button class="btn default" type="button"> <i class="fa fa-calendar"></i> </button>
                                </span> </div>
                                    </div>
                                </div>
                                <div class="form-group hr">
                                    <label class="control-label col-md-4">Payment Method:
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" name="select">
                                            <option value="">Select...</option>
                                            <option value="Category 1">VISA</option>
                                            <option value="Category 2">VISA</option>
                                            <option value="Category 3">VISA</option>
                                            <option value="Category 4">VISA</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group hr">
                                    <label class="control-label col-md-4">Payment Amount:
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" class="form-control text-right" value="50000"> </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="hr">
                            <div class="col-md-7">
                                <p class="text-right">Receipt Transaction ID:</p>
                            </div>
                            <div class="col-md-5 text-right"># <b>53</b></div>
                        </div>
                        <div class="hr white-bck">
                            <div class="col-md-7">
                                <p class="text-right">Due Invoices Balance SAR:</p>
                            </div>
                            <div class="col-md-5 text-right no-padding-rgt"><strong>SAR </strong><b>147,879.00</b></div>
                        </div>
                        <div class="hr">
                            <div class="col-md-7">
                                <p class="text-right">Advance Balance:</p>
                            </div>
                            <div class="col-md-5 text-right no-padding-rgt"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="hr">
                            <div class="col-md-7">
                                <p class="text-right">Use Advance:</p>
                            </div>
                            <div class="col-md-5 text-right no-padding-rgt">
                                <input type="radio" name="optionsRadios" id="optionsRadios22" value="option1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
             <div class="col-md-12"  *ngIf="show">
                 <form name="invoiceForm">
                     <div class="hr padding round-bck table-responsive">
                         <table class="table table-striped table-hover table-checkable dataTable no-footer" id="" aria-describedby="datatable_ajax_info"
                             role="grid">
                             <thead>
                                 <tr role="row" class="">
                                     <th width="4%" class="sorting_disabled" rowspan="1" colspan="1"> Code </th>
                                     <th width="10%" class="sorting_disabled" rowspan="1" colspan="1"> Services </th>
                                     <!-- <th width="12%" class="sorting_disabled" rowspan="1" colspan="1"> Description </th> -->
                                     <th width="4%" class="sorting_disabled" rowspan="1" colspan="1"> Qty </th>
                                     <th width="4%" class="sorting_disabled" rowspan="1" colspan="1"> Unit Charges </th>

                                     <th width="4%" class="sorting_disabled" rowspan="1" colspan="1"> Discount (%) </th>
                                     <th width="8%" class="sorting_disabled" rowspan="1" colspan="1"> Discount (Amount) </th>

                                     <th width="4%" class="sorting_disabled" rowspan="1" colspan="1"> Tax (%) </th>
                                     <th width="4%" class="sorting_disabled" rowspan="1" colspan="1"> Tax (Amount) </th>
                                     <th width="6%" class="sorting_disabled" rowspan="1" colspan="1"> Total Charges </th>
                                 </tr>
                                 <tr role="row" class="filter">
                                     <td rowspan="1" colspan="1" class="custom-td-size">
                                         <input type="text" name="code" value="{{selectedService.code}}" class="form-control" disabled>
                                     </td>
                                     <td class="sorting_disabled custom-td-size" rowspan="1" colspan="1">
                                         <input type="text" class="form-control" name="name" value="{{serviceName}}"  disabled>
                                     </td>
                                     <td rowspan="1" colspan="1" class="custom-td-size">
                                         <input type="number" class="text-align-right" (change)="invoiceBillCalculation($event)" name="qty" [min]="1" [(ngModel)]="quantity">
                                     </td>
                                     <td rowspan="1" colspan="1" class="custom-td-size">
                                         <input type="number" class="text-align-right" name="unitFee" (change)="invoiceBillCalculation($event)" [min]="0" [(ngModel)]="unitFee">
                                     </td>

                                     <td rowspan="1" colspan="1" class="custom-td-size">
                                         <input type="number" class="text-align-right" name="discountRate" [min]="0" (change)="invoiceBillCalculation($event)" [(ngModel)]="discountRate" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" [step]="0.01">

                                     </td>
                                     <td rowspan="1" colspan="1" class="custom-td-size">
                                         <input type="number" class="form-control text-align-right" name="discountAmount" (change)="invoiceBillCalculationOnAmount($event)" [(ngModel)]="discountAmount" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"  [step]="0.01">
                                     </td>

                                     <td rowspan="1" colspan="1" class="custom-td-size">
                                         <input type="number" class="text-align-right" name="taxRate" [min]="0" (change)="invoiceBillCalculation($event)" [(ngModel)]="taxRate" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" [step]="0.01">
                                     </td>
                                     <td rowspan="1" colspan="1" class="custom-td-size">
                                         <input type="number" class="form-control text-align-right" name="taxAmount" (change)="invoiceBillCalculationOnAmount($event)" [(ngModel)]="taxAmount" [step]="0.01">
                                     </td>
                                     <td rowspan="1" colspan="1" class="custom-td-size">
                                         <input type="number" class="form-control text-align-right" name="totalAmount" [(ngModel)]="invoiceAmount" disabled ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
                                     </td>
                                 </tr>
                             </thead>
                         </table>
                         <div class="pull-right">
                             <button  class="btn btn-default btn-outline btn-sm" (click)="cancel()"> Cancel </button>
                             <button *ngIf="!showEditButton" class="btn btn-default btn-outline btn-sm" (click)="addInvoice()"> Add Line </button>
                             <button *ngIf="showEditButton" class="btn btn-default btn-outline btn-sm" (click)="updateInovice()"> Edit Line </button>
                         </div>
                     </div>
                 </form>
             </div>
        <div class="col-md-12">
            <div class="">
                <div class="off-wite-bg">
                    <h4 class="bold padding-10">Details</h4>
                </div>
                <table class="table table-striped table-hover table-checkable dataTable no-footer" id="datatable_ajax" aria-describedby="datatable_ajax_info"
                    role="grid">
                    <thead>
                        <tr role="row" class="">
                            <th width="6%" class="sorting_disabled" rowspan="1" colspan="1"> Code </th>
                            <th width="12%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Services </th>
                            <th width="4%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Qty </th>
                            <th width="9%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Charges </th>
                            <th width="6%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Discount (%) </th>
                            <th width="8%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Discount (Amount) </th>
                            <!-- <th width="6%" class="sorting_disabled" rowspan="1" colspan="1">I.C Pay</th> -->
                            <!-- <th width="6%" class="sorting_disabled" rowspan="1" colspan="1">Patient Pay</th> -->
                            <th width="5%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Tax (%) </th>
                            <th width="7%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Tax (Amount) </th>
                            <th width="7%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Total </th>
                            <th width="6%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Action </th>
                        </tr>
                        <tr role="row" class="filter" *ngFor="let invc of invoiceList;  let idx = index">
                            <td rowspan="1" colspan="1">{{invc.code}}</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">{{invc.serviceName}}</td>
                           <!-- <td rowspan="1" colspan="1" class="text-align-right">{{invc.quantity | number}}</td>-->
                            <td rowspan="1" colspan="1" class="text-align-right">{{invc.quantity | number}}</td>


                            <td rowspan="1" colspan="1" class="text-align-right">{{invc.unitFee | number:'1.2-2'}}</td>
                            <td rowspan="1" colspan="1" class="text-align-right">{{invc.discountRate| number:'1.2-2'}}</td>
                            <td rowspan="1" colspan="1" class="text-align-right">{{((invc.quantity*invc.unitFee) * (invc.discountRate/100)) | number:'1.2-2'}}</td>
                            <td rowspan="1" colspan="1" class="text-align-right">{{invc.taxRate | number:'1.2-2'}}</td>
                            <td rowspan="1" colspan="1" class="text-align-right">{{((invc.quantity*invc.unitFee) * (invc.taxRate/100)) | number:'1.2-2'}}</td>
                            <td rowspan="1" colspan="1" class="text-align-right">{{( ((invc.quantity*invc.unitFee) * (invc.taxRate/100))+(invc.quantity*invc.unitFee)  - ((invc.quantity*invc.unitFee) * (invc.discountRate/100)) ) | number:'1.2-2'}}</td>
                            <td rowspan="1" colspan="1" class="text-align-right">
                                    <button *ngIf="!completed" (click)="editInvoic(idx)" class="btn btn-default btn-outline btn-sm"><i class="fa fa-pencil"></i></button>
                                    <button *ngIf="!completed" (click)="removeInvoic(idx)" class="btn btn-default btn-outline btn-sm"> <i class="fa fa-remove font-red"></i> </button>
                            </td>
                        </tr>

                    </thead>
                </table>
            </div>
        </div>







        <div class="col-md-12">
            <div class="">
                <div class="off-wite-bg">
                    <h4 class="bold padding-10">Details</h4>
                </div>
                <table class="table table-striped table-hover table-checkable dataTable no-footer" id="datatable_ajax" aria-describedby="datatable_ajax_info" role="grid">
                    <thead>
                    <tr role="row" class="">
                        <th width="6%" class="sorting_disabled" rowspan="1" colspan="1"> Code #</th>
                        <th width="12%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Discount Amount </th>
                        <th width="4%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Tax Amount </th>
                        <th width="9%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Advance </th>
                        <th width="6%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Paid Amount </th>
                        <th width="8%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Applied Amount </th>
                        <th width="5%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Balance </th>
                        <th width="7%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Total </th>
                        <!--<th width="6%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Action </th>-->
                    </tr>
                    <tr role="row" class="filter" *ngFor="let invc of patientInvoiceList;  let idx = index">
                        <td rowspan="1" colspan="1">{{invc.invoiceId}}</td>
                        <td class="sorting_disabled" rowspan="1" colspan="1">{{invc.discountAmount}}</td>
                    <!--    <td rowspan="1" colspan="1" class="text-align-right">{{invc.quantity | number}}</td>-->
                        <td class="sorting_disabled" rowspan="1" colspan="1">
                            <input type="number" class="form-control text-align-right" name="quantity" (change)="invoiceBillCalculationOnAmount($event)" [(ngModel)]="invc.taxAmount" [step]="0.01">
                        </td>
                    <!--    <td rowspan="1" colspan="1" class="text-align-right">{{invc.unitFee | number:'1.2-2'}}</td>-->
                        <td class="sorting_disabled" rowspan="1" colspan="1">
                            <input type="number" class="form-control text-align-right" name="unitFee" (change)="invoiceBillCalculationOnAmount($event)" [(ngModel)]="invc.advanceBalance" [step]="0.01">
                        </td>
                       <!-- <td rowspan="1" colspan="1" class="text-align-right">{{invc.discountRate| number:'1.2-2'}}</td>-->
                        <td class="sorting_disabled" rowspan="1" colspan="1">
                            <input type="number" class="form-control text-align-right" name="discountRate" (change)="invoiceBillCalculationOnAmount($event)" [(ngModel)]="invc.paidAmount" [step]="0.01">
                        </td>
                      <!--  <td rowspan="1" colspan="1" class="text-align-right">{{((invc.quantity*invc.unitFee) * (invc.discountRate/100)) | number:'1.2-2'}}</td>-->
                        <td class="sorting_disabled" rowspan="1" colspan="1">
                            <input type="number" class="form-control text-align-right" name="unitFee" (change)="invoiceBillCalculationOnAmount($event)" [(ngModel)]="invc.paidAmount" [step]="0.01">
                        </td>
                      <!--  <td rowspan="1" colspan="1" class="text-align-right">{{invc.taxRate | number:'1.2-2'}}</td>-->
                        <td class="sorting_disabled" rowspan="1" colspan="1">
                            <input type="number" class="form-control text-align-right" name="taxRate" (change)="invoiceBillCalculationOnAmount($event)" [(ngModel)]="invc.balance" [step]="0.01">
                        </td>
                        <td rowspan="1" colspan="1" class="text-align-right">
                            <input type="number" class="form-control text-align-right" name="taxRate" (change)="invoiceBillCalculationOnAmount($event)" [(ngModel)]="invc.balance" [step]="0.01">
                        </td>
                        <!--<td rowspan="1" colspan="1" class="text-align-right">
                            <button *ngIf="!completed" (click)="editInvoic(idx)" class="btn btn-default btn-outline btn-sm"><i class="fa fa-pencil"></i></button>
                            <button *ngIf="!completed" (click)="removeInvoic(idx)" class="btn btn-default btn-outline btn-sm"> <i class="fa fa-remove font-red"></i> </button>
                        </td>-->
                    </tr>

                    </thead>
                </table>
            </div>
        </div>







            <div class="col-md-4 mrgn-top8">

            </div>

            <div class="col-md-4 pull-right mrgn-top8">
                <div class="hedng-bck-clr padding-10 sub-total">
                   
                    <ul>
                        <li>
                            <span>Total Amount:</span>
                            <span>{{grandTotal | number}}</span>
                        </li>
                        <li>
                            <span>Total Discount:</span>
                            <span class="amount-border-botom">{{grandTotalDiscount | number}}</span>
                        </li>
                        <li>
                                <span>Gross Total:</span>
                                <span>{{(grandTotal - grandTotalDiscount)  | number}}</span>
                            </li>
                        <li>
                            <span>Total Tax:</span>
                            <span>{{grandTotalTax | number}}</span>
                        </li>
                        <li>
                            <span>Grand Total:</span>
                            <span class="amount-border-botom amount-border-top">{{grandTotalWithTax | number}}</span>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-md-12 mrgn-top14">
                <div class="pull-right">
                    <button *ngIf="!completed" class="btn btn-default btn-outline btn-sm" (click)="completeInvoice()"> Complete </button>
                    <button class="btn btn-default btn-outline btn-sm" (click)="backPage()"> Cancel </button>
                    <span  *ngIf="!completed">
                        <!-- <button class="btn btn-default btn-outline btn-sm"> Print </button>  -->
                        <button class="btn btn-default btn-outline btn-sm" (click)="saveInvoice()"> Save </button>
                    </span>
                </div>
            </div>
        </div>    
           
        <!--</div>-->
    </div>
</div>