<patient-history-menu></patient-history-menu>
<div class="page-content-wrapper">
    <div class="page-content">

        <!-- common dive profile -->
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class=" patient-profile hr portlet padding-10 light bordered view-pro">
                    <div class="portlet-title">
                        <div class="col-md-1 col-sm-2 col-xs-12 no-padding">
                            <div class="profile-userpic"><img src="/public/images/patient.jpg" alt="patient.jpg"
                                                              class="img-responsive"/></div>
                        </div>
                        <div class="col-md-10 col-sm-8 col-xs-12">
                            <div class="hr">
                                <h1 class="page-title no-margin"> {{patient.firstName }} {{""}}{{patient.lastName}}</h1>
                                <small class="small-txt">( {{patient.gender}} | {{patient.dob}})</small>
                            </div>
                            <div class="hr padding-b-10">
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Cell Phone:</td>
                                            <td class="txt-left font-red">{{patient.cellPhone}}</td>
                                            <!--<td class="font-red">Missing</td>-->
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Address:</td>
                                            <td class="text-left font-red">{{patient.formattedAddress}}</td>
                                            <!--<td class="font-red">No address on file</td>-->
                                        </tr>
                                    </table>

                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Email:</td>
                                            <td class="text-left font-red">{{patient.email}}</td>
                                            <!-- <td class="font-red">Missing</td>-->
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Gender:</td>
                                            <td class="text-left font-red">{{patient.gender}}</td>
                                            <!-- <td class="font-red">Missing</td>-->
                                        </tr>
                                        <!--<tr>
                                            <td class="txt-rigt">Appt:</td>
                                            <td class="font-red">Mon. Jul. 27, 2015</td>
                                        </tr>-->
                                    </table>

                                </div>

                            </div>
                        </div>
                        <!--  <div class="col-md-1 col-sm-2 col-xs-12 text-right"> <span class="pull-right color-grey">{{patient.patientId}} </span> <span class="text-center"><img alt="barcode" title="barcode" class="img-responsive" src="/public/images/barcode.png"> </span> </div>-->
                    </div>
                    <div class="hr no-margin">
                        <div *ngIf="patient.primaryDoctorFirstName"  class="hr">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-bar-chart font-dark hide"></i> <span
                                        class="caption-subject text-info bold">Primery Doctor:</span> <span
                                        class="caption-helper">{{patient.primaryDoctorFirstName+ ' ' + patient.primaryDoctorLastName}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="hr no-margin">
                             <button class="btn btn-default btn-outline btn-sm" onclick="window.location.href='print_demographics.html'"> <i class=" icon-printer"></i> Print Demographics </button>
                             <button class="btn btn-default btn-outline btn-sm pull-right"> <i class=" icon-clock"></i> Shedule New Appointment </button>
                         </div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- common dive profile -->

        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Ongoing Problems</h4>
                </div>
                <div class="table-scrollable tbl-brdr-radus">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="hedng-bck-clr tbl-pdng">
                            <th> Version Name</th>
                            <th> Problem</th>
                            <th> Diagnosis Date</th>
                            <!-- <th> Created</th>
                             <th> Updated</th>-->
                            <th> Status</th>
                            <th> Notes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let problemActive of problemActiveData" class="filter">
                            <td>{{problemActive.versionName}}</td>
                            <td>{{problemActive.codeName}}</td>
                            <td> {{problemActive.dateDiagnosis }}</td>
                            <td>{{problemActive.status}}</td>
                            <td>{{problemActive.note}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="dataTables_paginate paging_bootstrap_full_number pull-right" id="getPageWiseProblemActive">
                    <ul class="pagination" style="visibility: visible;">
                        <li class="prev" *ngIf="problemPages.length >= 2 && problemCurrPage > 0">
                            <a (click)="getPageWiseProblemActive(0);" title="First">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li class="prev" *ngIf="problemPrePage">
                            <a (click)="getPageWiseProblemActive(problemCurrPage - 1)" title="Previous">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li [ngClass]="{active: page === problemCurrPage}"
                            *ngFor="let page of problemPages">
                            <a (click)="getPageWiseProblemActive(page)">{{page + 1}}</a>
                        </li>
                        <li class="next" *ngIf="problemNextPage">
                            <a (click)="getPageWiseProblemActive(problemCurrPage + 1)" title="Next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="next"
                            *ngIf="problemPages.length >= 2 && problemCurrPage < problemPages[problemPages.length - 1]">
                            <a (click)="getPageWiseProblemActive(problemPages.length - 1)" title="Last">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Active Allergies</h4>
                </div>
                <div class="table-scrollable tbl-brdr-radus">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="hedng-bck-clr tbl-pdng">
                            <th> Name</th>
                            <th> Type</th>
                            <th> Reaction</th>
                            <!--<th> Created On</th>
                            <th> Updated On</th>-->
                            <th> Status</th>
                            <th> Notes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let allergyActive of allergiesActiveData" class="filter">
                            <td>{{allergyActive.name}}</td>
                            <td>{{allergyActive.allergyType}}</td>
                            <td>{{allergyActive.reaction}}</td>
                            <!--<td>{{allergyActive.createdOn }}</td>
                            <td>{{allergyActive.updatedOn}}</td>-->
                            <td>{{allergyActive.status}}</td>
                            <td>{{allergyActive.note}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="dataTables_paginate paging_bootstrap_full_number pull-right"
                     id="getPageWiseAllergiesByActive">
                    <ul class="pagination" style="visibility: visible;">
                        <li class="prev" *ngIf="allergiesPages.length >= 2 && allergiesCurrPage > 0">
                            <a (click)="getPageWiseAllergiesByActive(0);" title="First">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li class="prev" *ngIf="allergiesPrePage">
                            <a (click)="getPageWiseAllergiesByActive(allergiesCurrPage - 1)" title="Previous">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li [ngClass]="{active: page === allergiesCurrPage}"
                            *ngFor="let page of allergiesPages">
                            <a (click)="getPageWiseAllergiesByActive(page)">{{page + 1}}</a>
                        </li>
                        <li class="next" *ngIf="allergiesNextPage">
                            <a (click)="getPageWiseAllergiesByActive(allergiesCurrPage + 1)" title="Next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="next"
                            *ngIf="allergiesPages.length >= 2 && allergiesCurrPage < allergiesPages[allergiesPages.length - 1]">
                            <a (click)="getPageWiseAllergiesByActive(allergiesPages.length - 1)" title="Last">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Active Medications</h4>
                </div>
                <div class="table-scrollable tbl-brdr-radus">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="hedng-bck-clr tbl-pdng">
                            <th> Drug Name</th>
                            <th> Prescribed Date</th>
                            <th> Taking</th>
                            <th> Stopped</th>
                            <!--<th> Updated</th>-->
                            <th> Order</th>
                            <th>Refill</th>
                            <th> Indication</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let med of medicationsActiveData" class="tbl-pdng">
                            <td>{{med.drugName}}</td>
                            <td>{{med.datePrescribedString | date:'medium'}}</td>
                            <td>{{med.dateStartedTakingString | date:'medium'}}</td>
                            <td>{{med.dateStoppedTakingString | date:'medium'}}</td>
                            <!--<td>{{med.updatedOn}}</td>-->
                            <td>{{med.orderStatus}}</td>
                            <td>{{med.numberRefill}}</td>
                            <td>{{med.indication}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="dataTables_paginate paging_bootstrap_full_number pull-right"
                     id="getPageWiseMedicationsByActive">
                    <ul class="pagination" style="visibility: visible;">
                        <li class="prev" *ngIf="medicationsPages.length >= 2 && medicationsCurrPage > 0">
                            <a (click)="getPageWiseMedicationsByActive(0);" title="First">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li class="prev" *ngIf="medicationsPrePage">
                            <a (click)="getPageWiseMedicationsByActive(medicationsCurrPage - 1)" title="Previous">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li [ngClass]="{active: page === medicationsCurrPage}"
                            *ngFor="let page of medicationsPages">
                            <a (click)="getPageWiseMedicationsByActive(page)">{{page + 1}}</a>
                        </li>
                        <li class="next" *ngIf="medicationsNextPage">
                            <a (click)="getPageWiseMedicationsByActive(medicationsCurrPage + 1)" title="Next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="next"
                            *ngIf="medicationsPages.length >= 2 && medicationsCurrPage < medicationsPages[medicationsPages.length - 1]">
                            <a (click)="getPageWiseMedicationsByActive(medicationsPages.length - 1)" title="Last">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Lab Results</h4>
                </div>
                <div class="table-scrollable tbl-brdr-radus">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="hedng-bck-clr tbl-pdng">
                            <th> LOINC Code</th>
                            <th> Lab Description</th>
                            <th> Date</th>
                            <th> Sign off</th>
                            <th> Status</th>
                            <th> Result</th>
                            <th> Comments</th>
                            <th> Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tbl-pdng">
                            <td>No Problem information has been recorded for this patient.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tbl-pdng off-wite-bg">
                            <td>No Problem information has been recorded for this patient.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>-->
        <!--<div class="clearfix">
            <a (click)="goToUserDashBoard();" class="nav-link">
                <button type="button" class="btn  btn-default"> Cancel</button>
            </a>
        </div>-->
    </div>
</div>
<!--
</div>-->
