<patient-history-menu></patient-history-menu>
<div class="page-content-wrapper">
    <div class="page-content">


        <!-- common dive profile -->
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class=" patient-profile hr portlet padding-10 light bordered view-pro">
                    <div class="portlet-title">
                        <div class="col-md-1 col-sm-2 col-xs-12 no-padding">
                            <div class="profile-userpic">
                                <img src="/public/images/patient-photo.jpg" class="img-responsive"
                                     *ngIf="patient.profileImgURL === null || patient.profileImgURL === ''"/>
                                <img src="{{patient.profileImgURL}}" class="img-responsive"
                                     *ngIf="patient.profileImgURL != null "/>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-8 col-xs-12">
                            <div class="hr">
                                <h1 class="page-title no-margin"> {{patient.firstName }} {{""}}{{patient.lastName}}</h1>
                                <small class="small-txt">( {{patient.gender}} | {{patient.dob | date:"MM-dd-yyyy"}})
                                </small>
                            </div>
                            <div class="hr padding-b-10">
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Cell Phone:</td>
                                            <td class="txt-left font-red">{{patient.cellPhone}}</td>
                                            <!--<td class="font-red">Missing</td>-->
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Address:</td>
                                            <td class="text-left font-red">{{patient.formattedAddress}}</td>
                                            <!--<td class="font-red">No address on file</td>-->
                                        </tr>
                                    </table>

                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Email:</td>
                                            <td class="text-left font-red">{{patient.email}}</td>
                                            <!-- <td class="font-red">Missing</td>-->
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Gender:</td>
                                            <td class="text-left font-red">{{patient.gender}}</td>
                                            <!-- <td class="font-red">Missing</td>-->
                                        </tr>
                                        <!--<tr>
                                            <td class="txt-rigt">Appt:</td>
                                            <td class="font-red">Mon. Jul. 27, 2015</td>
                                        </tr>-->
                                    </table>

                                </div>

                            </div>
                        </div>
                        <!--  <div class="col-md-1 col-sm-2 col-xs-12 text-right"> <span class="pull-right color-grey">{{patient.patientId}} </span> <span class="text-center"><img alt="barcode" title="barcode" class="img-responsive" src="/public/images/barcode.png"> </span> </div>-->
                    </div>
                    <div class="hr no-margin">
                        <div class="hr">
                            <div *ngIf="patient.primaryDoctorFirstName"  class="portlet-title">
                                <div class="caption"><i class="icon-bar-chart font-dark hide"></i> <span
                                        class="caption-subject text-info bold">Primary Doctor:</span> <span
                                        class="caption-helper">{{patient.primaryDoctorFirstName+ ' ' + patient.primaryDoctorLastName}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="hr no-margin">
                             <button class="btn btn-default btn-outline btn-sm" onclick="window.location.href='print_demographics.html'"> <i class=" icon-printer"></i> Print Demographics </button>
                             <button class="btn btn-default btn-outline btn-sm pull-right"> <i class=" icon-clock"></i> Shedule New Appointment </button>
                         </div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- common dive profile -->

        <div class="row mrgn-top10">
            <div class="col-md-12 col-xs-12">
                <div class="hr no-margin">
                    <h4 class="text-info">Active Medication Orders
                        <div class="pull-right">
                        <span>
                            <a href="#responsiveMedication" data-toggle="modal" (click)="addMedication()">
                                <button class="btn primary blue pdngall3"
                                        data-title="Sweet Alerts with Icons"
                                        data-message="Success Icon" data-type="success"
                                        data-allow-outside-click="true"
                                        data-confirm-button-class="btn-success">
                                    <i class="fa fa-plus"></i> Add Medication
                                </button>
                            </a>
                        </span>
                            <span>
                                <button class="btn green-meadow">
                                    <i class=" icon-clock"></i> Print List
                                </button>
                            </span>
                        </div>
                    </h4>
                </div>
                <div class="table-scrollable table-brd-non">
                    <p-table #dt [columns]="cols" [value]="medicationData" [paginator]="true"  [rows]="5">
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Medication/Strengths/Frequency/Duration"
                                       (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon *ngIf="col.field != 'status'" [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-medication let-columns="columns">
                            <tr>

                                <!--{{car[col.field]}}-->
                                <td>{{medication.appointmentDate}}</td>
                                <td>{{medication.drugName}}</td>
                                <td>{{medication.strengths}}</td>
                                <td>{{medication.frequency}}</td>
                                <td>{{medication.duration}}</td>
                                <td>{{medication.pharmacyNote}}</td>
                                <!-- <td>{{medication.orderStatus}}</td>-->
                                <td>{{medication.datePrescribedString}}</td>
                                <!--<td>{{medication.updatedOn}}</td>-->
                                <td>
                                    <a href="#responsiveMedication" data-toggle="modal" (click)="editMedication(medication.id)">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <button class="text-danger" (click)="deleteMedication(medication.id)"> <i class="fa fa-remove"></i> </button>
                                    <button class="font-green-jungle" (click)="openUrl(medication.pharmacyNote)"> <i class="fa fa-globe"></i> </button>
                                    <!--  &lt;!&ndash; <a routerLink="" (click)="openUrl(medication.pharmacyNote)"><i class="fa fa-globe"></i></a>&ndash;&gt;
                                      &lt;!&ndash;<a href="#{{medication.pharmacyNote}}" target="_blank">&ndash;&gt;-->
                                </td>

                            </tr>
                        </ng-template>

                    </p-table>
                    <!-- <table class="table table-hover table-light">
                       <thead>
                       <tr class="hedng-bck-clr tbl-pdng">
                           <th> Appointment Date/Time</th>
                           <th> Medication</th>
                           <th>Strengths</th>
                           <th>Frequency</th>
                           <th> Duration</th>
                           <th> SIG </th>
                           <th> Start Date</th>
                           <th>Action</th>
                       </tr>
                       </thead>
                       <tbody>
                       <tr class="tbl-pdng" *ngFor="let medication of medicationData" class="filter">
                           <td>{{medication.appointmentDate}}</td>
                           <td>{{medication.drugName}}</td>
                           <td>{{medication.strengths}}</td>
                           <td>{{medication.frequency}}</td>
                           <td>{{medication.duration}}</td>
                           <td>{{medication.pharmacyNote}}</td>
                           <!--<td>{{medication.orderStatus}}</td>
                           <td>{{medication.datePrescribedString}}</td>
                           <!--<td>{{medication.updatedOn}}</td>
                           <td>
                               <a href="#responsiveMedication" data-toggle="modal"
                                  (click)="editMedication(medication.id)">
                                   <i class="fa fa-pencil"></i>
                               </a>
                               <button
                                       (click)="deleteMedication(medication.id)">
                                   <i class="fa fa-remove"></i>
                               </button>

                               <button (click)="openUrl(medication.pharmacyNote)"><i class="fa fa-globe"></i></button>
                              <!-- <a routerLink="" (click)="openUrl(medication.pharmacyNote)"><i class="fa fa-globe"></i></a>-->
                    <!--<a href="#{{medication.pharmacyNote}}" target="_blank">

                </td>
            </tr>
            </tbody>
        </table> -->
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <!-- <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="dataTables_paginate paging_bootstrap_full_number pull-right" id="sample_1_2_paginate">
                    <ul class="pagination" style="visibility: visible;">
                        <li class="prev" *ngIf="pages.length >= 2 && currPage > 0">
                            <a (click)="getPageWiseMedications(0);" title="First">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li class="prev" *ngIf="prePage">
                            <a (click)="getPageWiseMedications(currPage - 1)" title="Previous">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li [ngClass]="{active: page === currPage}"
                            *ngFor="let page of pages">
                            <a (click)="getPageWiseMedications(page)">{{page + 1}}</a>
                        </li>
                        <li class="next" *ngIf="nextPage">
                            <a (click)="getPageWiseMedications(currPage + 1)" title="Next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="next" *ngIf="pages.length >= 2 && currPage < pages[pages.length - 1]">
                            <a (click)="getPageWiseMedications(pages.length - 1)" title="Last">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <p></p>
            </div> -->
        </div>


        <div class="clearfix">
            <!--<a (click)="goToUserDashBoard();" class="nav-link">
                <button type="button" class="btn  btn-default"> Cancel</button>
            </a>-->
        </div>
    </div>
</div>

<div id="responsiveMedication" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog receipt-modal">
        <form id="mdForm" #mdForm="ngForm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-hidden="true">
                    </button>
                    <span [hidden]="isUpdate">
                    <h4 class="modal-title">Add Medication</h4>
                </span>
                    <span [hidden]="!isUpdate">
                     <h4 class="modal-title">Update Medication</h4>
                </span>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height:380px" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group hr mrgn-btm08">
                                    <label class="control-label txt-size pdng-lr-5 col-md-4">
                                        Appointments<span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 pdng-lr-5" *ngIf="!isUpdateAppoint">
                                        <div class="select2-bootstrap-prepend">
                                            <!-- <select [ngModelOptions]="{standalone:true}"
                                                     name="appointment"
                                                     id="appointmentId"
                                                     [(ngModel)]="medicationModel.appointmentId"
                                                     class="form-control">
                                                 <option value="-1">-&#45;&#45; Select Appointment -&#45;&#45;</option>
                                                 <option
                                                         *ngFor="let pastApp of pastAppointments"
                                                         [value]="pastApp.id">
                                                     {{pastApp.appointmentId}},
                                                     {{"Schedule Date:"+pastApp.scheduleDate}}
                                                 </option>
                                             </select>-->
                                            <p-dropdown  placeholder="select appointment" [autoWidth]="false"  [style]="{'text-align': 'left' ,'width':'100%'}" name="apt"
                                                         [options]="patient.pastAppointments"
                                                         [(ngModel)]="medicationModel.appointmentId"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                            </p-dropdown>
                                        </div>
                                    </div>

                                    <div class="col-md-8 pdng-lr-5" *ngIf="isUpdateAppoint">
                                        <div class="select2-bootstrap-prepend">
                                            <!-- <select [ngModelOptions]="{standalone:true}"
                                                     name="appointment"
                                                     id="appointmentId"
                                                     [(ngModel)]="medicationModel.appointmentId"
                                                     class="form-control">
                                                 <option value="-1">-&#45;&#45; Select Appointment -&#45;&#45;</option>
                                                 <option
                                                         *ngFor="let pastApp of pastAppointments"
                                                         [value]="pastApp.id">
                                                     {{pastApp.appointmentId}},
                                                     {{"Schedule Date:"+pastApp.scheduleDate}}
                                                 </option>
                                             </select>-->
                                            <p-dropdown  placeholder="select appointment" [autoWidth]="false"  [style]="{'text-align': 'left' ,'width':'100%'}" name="apt"
                                                         [options]="patient.pastAppointments"
                                                         [(ngModel)]="medicationModel.appointmentId"  [panelStyle]="{minWidth:'12em'}" [filter]="true" [disabled]="medicationModel.appointmentId">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group hr mrgn-btm08">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Route</label>
                                    <div class="col-md-8 pdng-lr-5 profile-frm">
                                        <input type="text" readonly
                                               class="form-control"
                                               name="route"
                                               id="routeId"
                                               [(ngModel)]="medicationModel.route">

                                    </div>
                                </div>
                                <div class="form-group hr mrgn-btm08">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">
                                        Frequency
                                    </label>
                                    <div class="col-md-8 select pdng-lr-5 profile-frm">
                                        <input type="text"
                                               class="form-control" placeholder="e.g 2"
                                               name="frequency"
                                               id="frequencyId"
                                               [(ngModel)]="medicationModel.frequency">
                                    </div>
                                </div>
                                <div class="form-group hr mrgn-btm08">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">
                                        Duration
                                    </label>
                                    <div class="col-md-8 select pdng-lr-5 profile-frm">
                                        <input type="text"
                                               class="form-control"
                                               name="duration"  placeholder="e.g 2"
                                               id="durationId"
                                               [(ngModel)]="medicationModel.duration">
                                    </div>

                                </div>
                                <!--<div class="form-group hr">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">
                                        PRN
                                    </label>
                                    <div class="col-md-1 select pdng-lr-5">
                                        <input type="checkbox" class="form-control"
                                               id="prnId"
                                               name="prn"
                                               #prnId="ngModel"
                                               [(ngModel)]="medicationModel.prn">
                                    </div>
                                </div>

                                <div class="form-group hr">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Sig note</label>
                                    <div class="col-md-7 select pdng-lr-5">
                                        <textarea class="form-control"
                                                  id="sigNoteId" rows="1" cols="60"
                                                  name="sigNote"
                                                  #sigNoteId="ngModel"
                                                  [(ngModel)]="medicationModel.sigNote">
                                        </textarea>
                                    </div>
                                </div>-->

                                <div class="form-group hr mrgn-btm08">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Status</label>
                                    <div class="col-md-8 select pdng-lr-5 profile-frm">
                                        <!--<select class="form-control"
                                                name="status" [ngModelOptions]="{standalone:true}"
                                                id="statusId"
                                                [(ngModel)]="medicationModel.status">
                                            <option value="ACTIVE">Active</option>
                                            <option value="IN_ACTIVE">In_Active</option>
                                        </select>-->
                                        <p-dropdown  placeholder={{medicationModel.status}} [autoWidth]="false"  [style]="{'text-align': 'left' ,'width':'100%'}" name="statusType"
                                                     [options]="statusType"
                                                     [(ngModel)]="medicationModel.status"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <!-- date fields -->
                                <!-- New Calendar -->
                                <!--<div class="form-group hr">
                                    <label class="col-md-4 control-label">Datetime Prescribed:</label>
                                    <div class="col-md-7 col-xs-5">

                                        <mwl-demo-utils-date-time-picker
                                                id="datePrescribedId" name="datePrescribed" [(ngModel)]="medicationModel.datePrescribedString"
                                                placeholder="Not set" class="clndr-siz">
                                        </mwl-demo-utils-date-time-picker>

                                        <div class="col-md-1 width40 pdng-lr-5 pull-left text-center label-control2">
                                            Time
                                        </div>

                                    </div>
                                </div>-->
                                <!--<div class="form-group hr">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">
                                        Datetime Prescribed <span class="required" aria-required="true"> * </span>
                                    </label>
                                    &lt;!&ndash;<div class="col-md-9 col-xs-12">

                                        <mwl-demo-utils-date-time-picker
                                                formControlName="start"  id="datePrescribedId" name="datePrescribed"
                                                placeholder="Not set" class="clndr-siz" [(ngModel)]="medicationModel.datePrescribedString"
                                        </mwl-demo-utils-date-time-picker>

                                        <div class="col-md-1 width40 pdng-lr-5 pull-left text-center label-control2">
                                            Time
                                        </div>

                                    </div>&ndash;&gt;
                                    <div class="col-md-7 select pdng-lr-5">
                                        <input type="datetime-local"
                                               class="form-control"
                                               name="datePrescribed"
                                               id="datePrescribedId"
                                               [(ngModel)]="medicationModel.datePrescribedString">
                                    </div>
                                </div>-->
                                <div class="form-group hr mrgn-btm08">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Start Date Taking:</label>
                                    <!--<div class="col-md-9 col-xs-12">
                                        <div class=" col-md-12 col-xs-12 pull-left no-padding">
                                            <mwl-demo-utils-date-time-picker
                                                    [(ngModel)]="event.start" name="name"
                                                    [ngModelOptions]="{standalone:true}"
                                                    (ngModelChange)="refresh.next()"
                                                    placeholder="Not set">
                                            </mwl-demo-utils-date-time-picker>
                                        </div>
                                    </div>-->
                                    <div class="col-md-8 select pdng-lr-5">
                                        <angular2-date-picker  name="dateStartedTaking"
                                                               id="dateStartedTakingId" [settings]="settings" [(ngModel)]="medicationModel.dateStartedTakingDate" [ngModelOptions]="{standalone:true}" ></angular2-date-picker>
                                    </div>
                                </div>
                                <!--<div class="form-group hr">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">
                                        Datetime Started Taking<span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-7 select pdng-lr-5">
                                        <input type="datetime-local"
                                               class="form-control"
                                               name="dateStartedTaking"
                                               id="dateStartedTakingId"
                                               [(ngModel)]="medicationModel.dateStartedTakingString">
                                    </div>
                                </div>-->

                                <!-- <div class="form-group hr">
                                     <label class="col-md-3 control-label">Scheduled:</label>
                                     <div class="col-md-9 col-xs-12">

                                         <mwl-demo-utils-date-time-picker
                                                 formControlName="start"
                                                 placeholder="Not set" class="clndr-siz">
                                         </mwl-demo-utils-date-time-picker>

                                         &lt;!&ndash;<div class="col-md-1 width40 pdng-lr-5 pull-left text-center label-control2">
                                             Time
                                         </div>&ndash;&gt;

                                     </div>
                                 </div>-->
                                <div class="form-group hr mrgn-btm08">
                                    <label class="col-md-4 pdng-lr-5 control-label txt-size">Notes</label>
                                    <div class="col-md-8 select pdng-lr-5">
                                <textarea class="form-control"
                                          rows="3" id="noteId" name="note" placeholder="e.g Sample"
                                          [(ngModel)]="medicationModel.note">
                                </textarea>
                                    </div>
                                </div>
                                <!--<div class="form-group hr">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">
                                        Datetime Stopped Taking<span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-7 select pdng-lr-5">
                                        <input type="datetime-local"
                                               class="form-control"
                                               name="dateStoppedTaking"
                                               id="dateStoppedTakingId"
                                               [(ngModel)]="medicationModel.dateStoppedTakingString">
                                    </div>
                                </div>-->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group hr mrgn-btm08">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">
                                        Drug name:<span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 select pdng-lr-5" >
                                        <!--<p-autoComplete
                                                id="drugName" name="drugName"
                                                [suggestions]="searchedDrugNames"
                                                (completeMethod)="search($event)"
                                                [(ngModel)]="text" [dropdown]="true" [size]="30"
                                                [minLength]="1" placeholder="Hint: type 'X' or 'A'" [dropdown]="true">
                                        </p-autoComplete>-->

                                        <p-dropdown  placeholder="Please Select Drug" [autoWidth]="false" [(ngModel)]="selectedDrug"
                                                      [style]="{'text-align': 'left' ,'width':'100%'}"  [ngModelOptions]="{standalone: true}"
                                                     (onChange)="search($event.value)"
                                                     [options]="searchedDrugNamesLstNew"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                        </p-dropdown>

                                    </div>

                                    <!--<div class="col-md-8 select pdng-lr-5" *ngIf="isUpdateAppoint">
                                        &lt;!&ndash;<p-autoComplete
                                                id="drugName" name="drugName"
                                                [suggestions]="searchedDrugNames"
                                                (completeMethod)="search($event)"
                                                [(ngModel)]="text" [dropdown]="true" [size]="30"
                                                [minLength]="1" placeholder="Hint: type 'X' or 'A'" [dropdown]="true">
                                        </p-autoComplete>&ndash;&gt;

                                        <p-dropdown  placeholder="{{selectedDrug}}" [autoWidth]="false" [(ngModel)]="selectedDrug"
                                                     [style]="{'text-align': 'left' ,'width':'100%'}"  [ngModelOptions]="{standalone: true}"
                                                     (onChange)="search($event.value)" disabled="true"
                                                     [options]="searchedDrugNamesLstNew"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                        </p-dropdown>

                                    </div>-->
                                </div>
                                <!--date fields -->
                                <!-- <div class="form-group hr">
                                     <label class="col-md-4 control-label txt-size pdng-lr-5">
                                         Dispense quantity
                                     </label>
                                     <div class="col-md-7 select pdng-lr-5">
                                         <input type="number" step="0.001"
                                                class="form-control"
                                                name="dispenseQuantity"
                                                id="dispenseQuantityId"
                                                [(ngModel)]="medicationModel.dispenseQuantity">
                                     </div>
                                 </div>-->

                                <!--<div class="form-group hr">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">
                                        Dispense Package
                                    </label>
                                    <div class="col-md-7 select pdng-lr-5">
                                        <input type="text"
                                               class="form-control"
                                               name="dispensePackage"
                                               id="dispensePackageId"
                                               [(ngModel)]="medicationModel.dispensePackage">
                                    </div>
                                </div>-->
                                <div class="form-group hr mrgn-btm08">
                                    <!-- <label class="col-md-4 control-label txt-size pdng-lr-5">Strength<span
                                             class="required" aria-required="true"> * </span></label>-->

                                    <label class="col-md-4 pdng-lr-5 control-label txt-size">Strength</label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <p-dropdown placeholder="{{selectedstr}}"  [(ngModel)]="selectedstr"  [autoWidth]="false"   [style]="{'text-align': 'left' ,'width':'100%'}"
                                                    required id="strengths"
                                                    name="strengths" [options]="searchedDrugStrengthsAnyListModified"
                                                    #strengths="ngModel">
                                        </p-dropdown>

                                        <span *ngIf="strengths.invalid && strengths.touched"
                                              class="col-md-9 select pdng-lr-5 text-danger">
                                                Please Select.
                                        </span>
                                    </div>

                                </div>
                                <div class="form-group hr mrgn-btm08">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Indication</label>
                                    <div class="col-md-8 select pdng-lr-5 profile-frm">
                                        <input type="text" class="form-control"
                                               name="indication" placeholder="e.g muscle"
                                               id="indicationId"
                                               [(ngModel)]="medicationModel.indication">
                                    </div>
                                </div>
                                <div class="form-group hr mrgn-btm08">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Duration Period</label>
                                    <div class="col-md-8 select pdng-lr-5">
                                        <p-dropdown  placeholder="select Duration" [autoWidth]="false"  [style]="{'text-align': 'left' ,'width':'100%'}" name="durationList"
                                                     [options]="durationList"
                                                     [(ngModel)]="medicationModel.durationPeriod"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="form-group hr mrgn-btm08">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Datetime Prescribed:</label>
                                    <!--<div class="col-md-9 col-xs-12">
                                        <div class=" col-md-12 col-xs-12 pull-left no-padding">
                                            <mwl-demo-utils-date-time-picker
                                                    [(ngModel)]="event.start" name="name"
                                                    [ngModelOptions]="{standalone:true}"

                                                    (ngModelChange)="refresh.next()"
                                                    placeholder="Not set">
                                            </mwl-demo-utils-date-time-picker>
                                        </div>
                                    </div>-->
                                    <div class="col-md-8 select pdng-lr-5">
                                        <angular2-date-picker  name="datePrescribed"
                                                               id="datePrescribedId" [settings]="settings" [(ngModel)]="medicationModel.datePrescribedDate" [ngModelOptions]="{standalone:true}"></angular2-date-picker>
                                    </div>
                                </div>
                                <div class="form-group hr mrgn-btm08">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Stopped Date Taking:</label>
                                    <!--<div class="col-md-9 col-xs-12">
                                        <div class=" col-md-12 col-xs-12 pull-left no-padding">
                                            <mwl-demo-utils-date-time-picker
                                                    [(ngModel)]="event.start" name="name"
                                                    [ngModelOptions]="{standalone:true}"
                                                    (ngModelChange)="refresh.next()"
                                                    placeholder="Not set">
                                            </mwl-demo-utils-date-time-picker>
                                        </div>
                                    </div>-->
                                    <div class="col-md-8 select pdng-lr-5">
                                        <angular2-date-picker  name="dateStoppedTaking"
                                                               id="dateStoppedTakingId" [settings]="settings" [(ngModel)]="medicationModel.dateStoppedTakingDate" [ngModelOptions]="{standalone:true}"></angular2-date-picker>
                                    </div>
                                </div>
                                <div class="form-group hr mrgn-btm08">
                                    <label class="col-md-4 pdng-lr-5 control-label txt-size">Sig</label>
                                    <div class="col-md-8 select pdng-lr-5 profile-frm">
                                        <input class="form-control" id="pharmacyNoteId" name="pharmacyNote"
                                               rows="3" placeholder="e.g www.www.com"
                                               [(ngModel)]="medicationModel.pharmacyNote">
                                    </div>
                                </div>
                                <!-- <div class="form-group hr">
                                     <label class="col-md-4 control-label txt-size pdng-lr-5">Order Status</label>
                                     <div class="col-md-7 select pdng-lr-5">

                                         <p-dropdown  placeholder="select status" [autoWidth]="false"  [style]="{'text-align': 'left' ,'width':'100%'}" name="statusType"
                                                      [options]="orderStatusList"
                                                      [(ngModel)]="medicationModel.orderStatus"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                         </p-dropdown>
                                     </div>
                                 </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal"
                            #closeBtnMedication name="btnCloseMD"
                            id="closeBtnMedication"
                            name="closeBtnMedication"
                            class="btn btn-default btn-outline">Close
                    </button>
                    <span [hidden]="isUpdate">
                    <button type="button" class="btn green" name="btnSaveMD"
                            (click)="saveMedication(mdForm)">Save</button>
                    </span>
                    <span [hidden]="!isUpdate">
                    <button type="button" class="btn green" name="btnUpdateMD" (click)="updateMedication(mdForm)">Update
                    </button>
                </span>
                </div>
            </div>
        </form>
    </div>
</div>
