<patient-history-menu></patient-history-menu>
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class=" patient-profile hr portlet padding-10 light bordered view-pro">
                    <div class="portlet-title">
                        <div class="col-md-1 col-sm-2 col-xs-12 no-padding">
                            <div class="profile-userpic">
                                <img
                                        src="/public/images/patient.jpg"
                                        alt="patient.jpg"
                                        class="img-responsive"/>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-8 col-xs-12">
                            <div class="hr">
                                <h1 class="page-title no-margin"> Dan Dan</h1>
                                <small class="small-txt">( Male | 42 years old | April 18, 1973)</small>
                            </div>
                            <div class="hr padding-b-10">
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Phone:</td>
                                            <td class="font-red">Missing</td>
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Address:</td>
                                            <td class="font-red">No address on file</td>
                                        </tr>
                                    </table>

                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Email:</td>
                                            <td class="font-red">Missing</td>
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Future Appt:</td>
                                            <td class="font-red">Mon. Jul. 27, 2015</td>
                                        </tr>
                                    </table>

                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Added:</td>
                                            <td>Nov. 24, 2015</td>
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Last Appt:</td>
                                            <td>Mon. Jul. 27, 2015</td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-2 col-xs-12 text-right"><span class="pull-right color-grey">DADA0000002 </span>
                            <span class="text-center"><img alt="barcode" title="barcode" class="img-responsive"
                                                           src="/public/images/barcode.png"> </span></div>
                    </div>
                    <div class="hr no-margin">
                        <div class="hr">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-bar-chart font-dark hide"></i> <span
                                        class="caption-subject text-info bold">Primery Doctor:</span> <span
                                        class="caption-helper">Muhammad Imran</span></div>
                            </div>
                        </div>
                        <div class="hr no-margin">
                            <button class="btn btn-default btn-outline btn-sm"
                                    onclick="window.location.href='print_demographics.html'"> Fax Demographics
                            </button>
                            <span><button class="btn btn-default btn-outline btn-sm"
                                          onclick="window.location.href='print_demographics.html'"> <i
                                    class=" icon-printer"></i> Print Demographics </button></span>
                            <div class=" pull-right">
                                <div class="btn-group">
                                    <button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown"
                                            aria-expanded="true"> Clinical Summary <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Download PDF</a></li>
                                        <li><a href="#">Download C-CDA XML</a></li>
                                        <li><a href="#">Display C-CDA XML</a></li>
                                        <li><a href="#">(XML or PDF)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Active Problems
                        <div class="pull-right">
                            <!--<a href="#responsive" data-toggle="modal">
                                <button class="btn mt-sweetalert btn green-meadow pdngall3"
                                        data-title="Sweet Alerts with Icons" data-message="Success Icon"
                                        data-type="success" data-allow-outside-click="true"
                                        data-confirm-button-class="btn-success"><i class="fa fa-plus"></i> Edit Problem
                                </button>
                            </a>-->
                            <span>
                                 <a href="#responsive" data-toggle="modal">
                                <button class="btn mt-sweetalert btn green-meadow pdngall3"
                                        data-title="Sweet Alerts with Icons" data-message="Success Icon"
                                        data-type="success" data-allow-outside-click="true"
                                        (click)="addProblemPopupClick()"
                                        data-confirm-button-class="btn-success"><i class="fa fa-plus"></i> Add Problem
                                </button>
                                 </a>
                            </span>
                            <span><button class="btn btn-default btn-outline btn-sm"> <i class=" icon-clock"></i> Print List </button></span>
                        </div>
                    </h4>
                </div>
                <div class="table-scrollable tbl-brdr-radus">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="hedng-bck-clr tbl-pdng" >
                            <th> Version </th>
                            <th> Code </th>
                            <th> Diagnosis Date</th>
                            <th> Notes</th>
                            <th> Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tbl-pdng" *ngFor="let problem of problemData; let i = index;"class="filter">
                            <td>{{problem.versionName}}</td>
                            <td>{{problem.codeName}}</td>
                            <td>{{problem.dateDiagnosis}}</td>
                            <td>{{problem.note}}</td>
                            <td>{{problem.status}}</td>
                            <td>
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-info"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!--Start Modal-->
<div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Problem</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="form-group hr">
                            <label class="control-label col-md-4">Appointments
                            </label>
                            <div class="col-md-7">
                                <div class="select2-bootstrap-prepend">
                                    <select id="selectedAppointmentId"
                                            [(ngModel)]="ppm.selectedAppointmentId"
                                            #selectedAppointmentId="ngModel"
                                            name="selectedAppointmentId"
                                            class="form-control">
                                        <option value="-1">--- Please select ---</option>
                                        <option
                                                *ngFor="let ver of appointments"
                                                [(value)]="ver.id">
                                            {{ver.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group hr">
                            <label class="control-label col-md-4">Version
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-7">
                                <div class="select2-bootstrap-prepend">
                                    <select id="icdVersionId" [(ngModel)]="ppm.selectedICDVersionId"
                                            #icdVersionId="ngModel"
                                            name="icdVersionId"
                                            class="form-control"
                                            (change)="versionChanged(ppm.selectedICDVersionId)">
                                        <option value="-1">--- Please select ---</option>
                                        <option
                                                *ngFor="let ver of iCDVersions"
                                                [(value)]="ver.id">
                                            {{ver.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group hr">
                            <label class="col-md-4 control-label txt-size pdng-lr-5">Problem:</label>
                            <div class="col-md-7">
                                <div class="select2-bootstrap-prepend">
                                    <select id="associatedCodesId"
                                            [(ngModel)]="ppm.selectedCodeId"
                                            #associatedCodesId="ngModel" name="selectedVer"
                                            class="form-control">
                                        <option value="-1">--- Please select ---</option>
                                        <option
                                                *ngFor="let code of associatedCodes"
                                                [(value)]="code.id">
                                            {{code.code}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group hr">
                            <label class="col-md-4 control-label txt-size pdng-lr-5">Date Diagnosis</label>
                            <div class="col-md-7 select pdng-lr-5">
                                <input type="datetime-local" class="form-control"
                                       [(ngModel)]="ppm.dateDiagnosis"
                                       data-date-format="yyyy-MM-dd HH:mm:ss">
                            </div>
                        </div>
                        <div class="form-group hr">
                            <label class="col-md-4 control-label txt-size pdng-lr-5">Status</label>
                            <div class="col-md-7 select pdng-lr-5">
                                <select class="form-control" [(ngModel)]="ppm.status">
                                    <option value="ACTIVE">Active</option>
                                    <option value="IN_ACTIVE">In_Active</option>
                                    <option value="RESOLVED">Resolved</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group hr">
                            <label class="col-md-4 pdng-lr-5 control-label txt-size">Notes:</label>
                            <div class="col-md-7 select pdng-lr-5">
                                <address>
                                    <textarea class="form-control"
                                              rows="3"
                                              [(ngModel)]="ppm.note">
                                    </textarea>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal"
                        class="btn btn-default btn-outline">Close
                </button>
                <button type="button" class="btn green" (click)="savePatientProblem()">Save</button>
            </div>
        </div>
    </div>
</div>