<patient-history-menu></patient-history-menu>
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class=" patient-profile hr portlet padding-10 light bordered view-pro">
                    <div class="portlet-title">
                        <div class="col-md-1 col-sm-2 col-xs-12 no-padding">
                            <div class="profile-userpic"><img src="/public/images/patient.jpg" alt="patient.jpg" class="img-responsive"/></div>
                        </div>
                        <div class="col-md-10 col-sm-8 col-xs-12">
                            <div class="hr">
                                <h1 class="page-title no-margin"> {{patient.firstName }} {{""}}{{patient.lastName}}</h1>
                                <small class="small-txt">( {{patient.gender}} | {{patient.dob}})</small>
                            </div>
                            <div class="hr padding-b-10">
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Cell Phone:</td>
                                            <td class="txt-left font-red">{{patient.cellPhone}}</td>
                                            <!--<td class="font-red">Missing</td>-->
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Address:</td>
                                            <td class="text-left font-red">{{patient.formattedAddress}}</td>
                                            <!--<td class="font-red">No address on file</td>-->
                                        </tr>
                                    </table>

                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td class="txt-rigt">Email:</td>
                                            <td class="text-left font-red">{{patient.email}}</td>
                                            <!-- <td class="font-red">Missing</td>-->
                                        </tr>
                                        <tr>
                                            <td class="txt-rigt">Gender:</td>
                                            <td class="text-left font-red">{{patient.gender}}</td>
                                            <!-- <td class="font-red">Missing</td>-->
                                        </tr>
                                        <!--<tr>
                                            <td class="txt-rigt">Appt:</td>
                                            <td class="font-red">Mon. Jul. 27, 2015</td>
                                        </tr>-->
                                    </table>

                                </div>

                            </div>
                        </div>
                        <!--  <div class="col-md-1 col-sm-2 col-xs-12 text-right"> <span class="pull-right color-grey">{{patient.patientId}} </span> <span class="text-center"><img alt="barcode" title="barcode" class="img-responsive" src="/public/images/barcode.png"> </span> </div>-->
                    </div>
                    <div class="hr no-margin">
                        <div class="hr">
                            <div class="portlet-title">
                                <div class="caption"> <i class="icon-bar-chart font-dark hide"></i> <span class="caption-subject text-info bold">Primery Doctor:</span> <span class="caption-helper">{{patient.primaryDoctorFirstName+ ' ' + patient.primaryDoctorLastName}}</span> </div>
                            </div>
                        </div>
                        <!-- <div class="hr no-margin">
                             <button class="btn btn-default btn-outline btn-sm" onclick="window.location.href='print_demographics.html'"> <i class=" icon-printer"></i> Print Demographics </button>
                             <button class="btn btn-default btn-outline btn-sm pull-right"> <i class=" icon-clock"></i> Shedule New Appointment </button>
                         </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">

                <div class="table-scrollable tbl-brdr-radus">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="hedng-bck-clr tbl-pdng">
                            <th> Scheduled Time </th>
                            <th> Doctor </th>
                            <th> Reason </th>
                            <th> Clinic Room </th>
                            <th> Branch </th>
                            <th> Appointment Status </th>


                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tbl-pdng" *ngFor="let item of patient.futureAppointments">
                            <td>{{item.scheduleDate}}</td>
                            <td>{{item.docFirstName}}{{item.docLastName}}</td>
                            <td>{{item.reason}}</td>
                            <td>{{item.examName}}</td>
                            <td>{{item.branchName}}</td>
                            <td>{{item.status}}</td>


                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12">

                <div class="table-scrollable tbl-brdr-radus">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="hedng-bck-clr tbl-pdng">
                            <th> Scheduled Time </th>
                            <th> Doctor </th>
                            <th> Reason </th>
                            <th> Clinic Room </th>
                            <th> Branch </th>
                            <th> Appointment Status </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tbl-pdng" *ngFor="let item of patient.pastAppointments">
                            <td>{{item.scheduleDate}}</td>
                            <td>{{item.docFirstName}}{{item.docLastName}}</td>
                            <td>{{item.reason}}</td>
                            <td>{{item.examName}}</td>
                            <td>{{item.branchName}}</td>
                            <td>{{item.status}}</td>


                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-md-12">
                <div class="portlet-body">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_1_1" data-toggle="tab" aria-expanded="true"> Messages </a>
                        </li>
                        <li class="">
                            <a href="#tab_1_2" data-toggle="tab" aria-expanded="false"> Communication Logs </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tab_1_1">
                            <div class="pull-right mrgn-btm10">
                                <button type="button" class="btn btn-default btn-sm pdngall3">Send Message</button>
                            </div>
                            <div class="table-scrollable tbl-brdr-radus">
                                <table class="table table-hover table-light">
                                    <thead>
                                    <tr class="hedng-bck-clr tbl-pdng">
                                        <th> From </th>
                                        <th> To </th>
                                        <th> Title </th>
                                        <th> Date / Time </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="tbl-pdng">
                                        <td>Exam 3</td>
                                        <td>Muhammad Imran</td>
                                        <td></td>
                                        <td>Sun Nov 22, 2015 10:00a.m.</td>
                                    </tr>
                                    <tr class="tbl-pdng off-wite-bg">
                                        <td>Exam 3</td>
                                        <td>Muhammad Imran</td>
                                        <td></td>
                                        <td>Sun Nov 22, 2015 10:00a.m.</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_1_2">
                            <div class="pull-right mrgn-btm10"><span><button type="button" class="btn btn-default btn-sm pdngall3">Save as PDF</button></span>
                                <button type="button" class="btn btn-default btn-sm pdngall3">Show Archived</button>
                            </div>
                            <div class="table-scrollable tbl-brdr-radus">
                                <table class="table table-hover table-light">
                                    <thead>
                                    <tr class="hedng-bck-clr tbl-pdng">
                                        <th> Time </th>
                                        <th> Duration </th>
                                        <th> Title </th>
                                        <th> Message </th>
                                        <th> Cash Charge </th>
                                        <th> Type </th>
                                        <th> Appointment </th>
                                        <th> Message </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="tbl-pdng">
                                        <td></td>
                                        <td></td>
                                        <td><input class="form-control" type="text" placeholder="Enter text"></td>
                                        <td><textarea class="form-control" rows="1" title="" placeholder=""></textarea></td>
                                        <td><div class="input-group">
                                                            <span class="input-group-addon">
                                                                $
                                                            </span>
                                            <input type="text" class="form-control" placeholder=""> </div></td>
                                        <td><textarea class="form-control" rows="1" title="" placeholder=""></textarea></td>
                                        <td><select class="form-control" name="select">
                                            <option value="">Salutation</option>
                                            <option value="Category 1">Salutation</option>
                                            <option value="Category 2">Salutation</option>
                                            <option value="Category 3">Salutation</option>
                                            <option value="Category 4">Salutation</option>
                                        </select>
                                        </td>
                                        <td><button type="button" class="btn btn-default pdngall3">Log Communication</button></td>
                                    </tr>
                                    <tr class="tbl-pdng off-wite-bg">
                                        <td></td>
                                        <td></td>
                                        <td><input class="form-control" type="text" placeholder="Enter text"></td>
                                        <td><textarea class="form-control" rows="1" title="" placeholder=""></textarea></td>
                                        <td><div class="input-group">
                                                            <span class="input-group-addon">
                                                                $
                                                            </span>
                                            <input type="text" class="form-control" placeholder=""> </div></td>
                                        <td><textarea class="form-control" rows="1" title="" placeholder=""></textarea></td>
                                        <td><select class="form-control" name="select">
                                            <option value="">Salutation</option>
                                            <option value="Category 1">Salutation</option>
                                            <option value="Category 2">Salutation</option>
                                            <option value="Category 3">Salutation</option>
                                            <option value="Category 4">Salutation</option>
                                        </select>
                                        </td>
                                        <td><button type="button" class="btn btn-default pdngall3">Log Communication</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix margin-bottom-20"> </div>
                </div>
            </div>

        </div>-->
        <div class="clearfix">
            <a (click)="goToUserDashBoard();" class="nav-link">
                <button type="button" class="btn  btn-default"> Cancel</button>
            </a>
        </div>
    </div>
</div>