<div class="page-container">
    <div class="page-content-wrapper">

        <div class="page-content" style="min-height: 499px; margin-left: 0px !important;">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="hr no-margin">
                        <h3 class="text-info">Receipt Listing
                            <div class="pull-right">
                                <a href="#responsive" data-toggle="modal">
                                    <button class="btn primary blue" (click)="getPaymentId()">
                                        <i class="fa fa-plus"></i> Add
                                    </button>
                                </a>
                            </div>
                            <div class="pull-right" style="padding-right: 5px">
                                    <button class="btn primary blue" (click)="patientInvoiceList(1)">
                                        <i class="fa fa-plus"></i> Patient Invoices
                                    </button>
                            </div>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-scrollable border-non no-margin">
                        <p-table #dt [columns]="cols" [value]="receiptList" [paginator]="true" [rows]="10">
                            <ng-template pTemplate="caption">
                                <div style="text-align: right">
                                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                    <input type="text" pInputText size="50" placeholder="Search here..."
                                           (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                </div>
                            </ng-template>
                            <ng-template sortable="true" pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field">
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field" *ngIf="col.field != 'action'"
                                                    ariaLabel="Sort" ariaLabelDesc="Sort in descending order" ariaLabelAsc="Sort in ascending order">
                                        </p-sortIcon>
                                    </th>
                                </tr>
                                <!--<tr>
                                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <input *ngSwitchCase="'patientName'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                    </th>
                                </tr>-->
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-receiptList let-sNo="rowIndex">
                                <tr>
                                    <!--<td field="serialNo">{{sNo+1}}</td>-->
                                    <td field="paymentId"> {{receiptList.paymentId}} </td>
                                    <td field="patientName"> {{receiptList.patientName}} </td>
                                    <td field="discountAmount" class="text-align-right"> {{receiptList.discountAmount | number :'.2-2'}} </td>
                                    <td field="advanceUsedAmount" class="text-align-right"> {{receiptList.advanceUsedAmount | number :'.2-2'}} </td>
                                    <td field="paymontAmount" class="text-align-right"> {{receiptList.paymontAmount | number :'.2-2'}} </td>
                                    <td field="transactionType"> {{receiptList.transactionType}}  </td>
                                    <td field="paymentType"> {{receiptList.paymentType}}  </td>
                                    <td>
                                        <span>
                                            <button (click)="printReport(receiptList)" class="font-green-jungle" title="Download Receipt ">
                                                <i class="fa fa-download"></i>
                                            </button>
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>

            <div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog receipt-modal">
                    <form id="loginForm" class="login-form" #form="ngForm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Add Advance</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group hr">
                                           <label class="col-md-3 control-label txt-size pdng-lr-5">Transaction Id<span class="required" aria-required="true"> * </span></label>
                                             <div class="col-md-9 select pdng-lr-5 profile-frm">
                                                <input class="form-control" type="text"
                                                   name="paymentId"
                                                   disabled
                                                   [(ngModel)]="addAdvance.paymentId"
                                                   #paymentId="ngModel"/>
                                        </div>
                                        </div>
                                        <div class="form-group hr">
                                            <label class="col-md-3 control-label txt-size pdng-lr-5">Date <span class="required" aria-required="true"> * </span></label>
                                            <!-- <div class="col-md-9 select pdng-lr-5">
                                                 <input class="form-control"
                                                        type="text"
                                                        name="date"
                                                        required
                                                        [(ngModel)]="addAdvance.date"
                                                        #date="ngModel"/>
                                             </div> -->
                                            <div class="col-md-9 select pdng-lr-5">
                                                <angular2-date-picker
                                                        name="date"
                                                        id="date"
                                                        [settings]="settings"
                                                        [(ngModel)]="addAdvance.date"
                                                        [ngModelOptions]="{standalone:true}">
                                                </angular2-date-picker>
                                            </div>
                                        </div>
                                        <div class="form-group hr">
                                            <label class="col-md-3 control-label txt-size pdng-lr-5">Patient Name <span class="required" aria-required="true"> * </span></label>
                                            <div class="col-md-9 select pdng-lr-5">
                                                <p-dropdown [(ngModel)]="addAdvance.patientId"
                                                            [autoWidth]="false"
                                                            [style]="{'text-align': 'left' ,'width':'100%'}"
                                                            required
                                                            id="route"
                                                            placeholder="Select Patient"
                                                            name="route"
                                                            [options]="patientList"
                                                            #route="ngModel">
                                                </p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group hr">
                                            <label class="col-md-3 control-label txt-size pdng-lr-5">Payment Type <span class="required" aria-required="true"> * </span></label>
                                            <div class="col-md-9 pdng-lr-5">
                                                 <p-dropdown [options]="paymentTypeList"
                                                             [(ngModel)]="selectedPaymentType"
                                                             optionLabel="paymentTitle"
                                                             name="paymentTitle"
                                                             (onChange) = "getSelectedPaymentType(selectedPaymentType)"
                                                             [filter]="true">
                                                 </p-dropdown>
                                            </div>
                                        </div>
                                        <div class="form-group hr">
                                            <label class="col-md-3 control-label txt-size pdng-lr-5">Amount <span class="required" aria-required="true"> * </span></label>
                                            <div class="col-md-9 select pdng-lr-5 profile-frm">
                                                <input class="form-control text-align-right"
                                                       type="number"
                                                       name="amount"
                                                       placeholder="enter advance amount"
                                                       required
                                                       [(ngModel)]="addAdvance.amount"
                                                       #amount="ngModel"/>
                                                <!--required pattern="^[a-zA-Z 0-9_-]{1,60}$"-->
                                            </div>
                                            <!--<span *ngIf="amount.invalid && amount.touched" class="col-md-9 select pdng-lr-5 text-danger">
                                                Please enter valid amount.
                                            </span>-->
                                        </div>
                                        <div class="form-group hr mrgn-btm10">
                                            <label class="col-md-3 pdng-lr-5 control-label txt-size">Description</label>
                                            <div class="col-md-9 select pdng-lr-5">
                                                <textarea class="form-control"
                                                          rows="3"
                                                          [(ngModel)]="addAdvance.description"
                                                          name="desc"
                                                          #desc="ngModel"
                                                          placeholder="enter description of advance payment">
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn primary blue" (click)="saveAdvance(form)"> Save </button>
                                <button type="button" data-dismiss="modal" id="closeButton" class="btn green-meadow mrgn-lft0"> Close </button>
                                <!--<button type="button" class="btn green-meadow" (click)="saveAndPrintReceipt(form)"> Save & Print </button>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>