<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-content" style="min-height: 499px; margin-left: 0px !important;">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="hr">
                        <h3 class="text-info">
                            Refund Listing

                            <div class="pull-right">
                                <a href="#responsive" data-toggle="modal">
                                    <button class="btn mt-sweetalert btn green-meadow" (click)="getRefundId()">
                                        <i class="fa fa-plus"></i> Refund
                                    </button>
                                </a>
                            </div>

                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-scrollable tbl-brdr-radus">
                        <p-table #dt [columns]="cols" [value]="refundList" [paginator]="true" [rows]="10">
                            <ng-template pTemplate="caption">
                                <div style="text-align: right">
                                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                    <input type="text" pInputText size="50" placeholder="Search here..."
                                           (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                </div>
                            </ng-template>
                            <ng-template sortable="true" pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field">
                                        {{col.header}}
                                        <p-sortIcon *ngIf="col.field != 'action'"  ariaLabel="Sort" ariaLabelDesc="Sort in descending order" ariaLabelAsc="Sort in ascending order"> </p-sortIcon>
                                    </th>
                                </tr>
                                <tr>
                                    <th *ngFor="let col of columns" [ngSwitch]="col.field" class="profile-frm">
                                <!--<tr>
                                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <input *ngSwitchCase="'date'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                        <input *ngSwitchCase="'refundId'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                        <input *ngSwitchCase="'patientName'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                        <input *ngSwitchCase="'paymentType'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                        <input *ngSwitchCase="'refundType'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                        <input *ngSwitchCase="'refundAmount'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                    </th>
                                </tr>-->
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-refundList let-sNo="rowIndex">
                                <tr>
                                    <td field="serialNo">{{sNo+1}}</td>
                                    <td field="date"> {{refundList.date | date : 'dd-MMM-yyyy'}} </td>
                                    <td field="refundId"> {{refundList.refundId}} </td>
                                    <td field="patientName"> {{refundList.patientName}} </td>
                                    <td field="paymentType"> {{refundList.paymentType}} </td>
                                    <td field="refundType"> {{refundList.refundType}} </td>
                                    <td field="refundAmount" class="text-align-right"> {{refundList.refundAmount | number : '.2-2'}} </td>
                                    <td>
                                        <button (click)="printReport(refundList.refundId)" class="font-green-jungle" title="Download Receipt">
                                            <i class="fa fa-download"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>

            <div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog receipt-modal">
                    <form id="loginForm" class="login-form" #form="ngForm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Refund</h4>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group hr">
                                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Patient Name <span class="required" aria-required="true"> * </span></label>
                                                    <div class="col-md-8 select pdng-lr-5">
                                                        <p-dropdown [(ngModel)]="refundRequest.patientId"
                                                                    [autoWidth]="false"
                                                                    [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                    required
                                                                    id="route"
                                                                    placeholder="Select Patient"
                                                                    name="route"
                                                                    [options]="patientList"
                                                                    (onChange) = "getSelectedCustomer(refundRequest.patientId)"
                                                                    #route="ngModel">
                                                        </p-dropdown>
                                                    </div>
                                                </div>

                                                <div class="form-group hr">
                                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Entry Date <span class="required" aria-required="true"> * </span></label>
                                                    <div class="col-md-8 pdng-lr-5 select ">
                                                        <angular2-date-picker
                                                                name="date"
                                                                id="date"
                                                                [settings]="settings"
                                                                [(ngModel)]="refundRequest.date"
                                                                [ngModelOptions]="{standalone:true}">
                                                        </angular2-date-picker>
                                                    </div>
                                                </div>

                                                <div class="form-group hr">
                                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Refund Type <span class="required" aria-required="true"> * </span></label>
                                                    <div class="col-md-8 select pdng-lr-5">
                                                        <p-dropdown [options]="refundTypes"
                                                                    [(ngModel)]="selectedRefundType"
                                                                    optionLabel="name"
                                                                    name="refundType"
                                                                    (onChange) = "getSelectedRefundType(selectedRefundType)"
                                                                    [filter]="true">
                                                        </p-dropdown>
                                                    </div>
                                                </div>

                                                <div class="form-group hr">
                                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Invoice <span class="required" aria-required="true"> * </span></label>
                                                    <div class="col-md-8 select pdng-lr-5">
                                                        <p-dropdown [options]="allInvoiceList"
                                                                    [(ngModel)]="selectedInvoice"
                                                                    optionLabel="invoiceId"
                                                                    name="selectedInvoice"
                                                                    (onChange) = "getSelectedInvoice(selectedInvoice)"
                                                                    [filter]="true">
                                                        </p-dropdown>
                                                    </div>
                                                </div>

                                                <div class="form-group hr">
                                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Amount <span class="required" aria-required="true"> * </span></label>
                                                    <div class="col-md-8 select pdng-lr-5 profile-frm">
                                                        <input class="form-control text-align-right"
                                                               type="number"
                                                               name="refundAmount"
                                                               placeholder="enter refund amount"
                                                               required
                                                               [(ngModel)]="refundRequest.refundAmount"
                                                               #refundAmount="ngModel"/>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">

                                                <div class="form-group hr">
                                                    <label class="col-md-4 control-label txt-size pdng-lr-5 bold">Refund Number <span class="required" aria-required="true"> * </span></label>
                                                    <div class="col-md-8 pdng-lr-5 profile-frm">
                                                        <input class="form-control"
                                                               type="text"
                                                               name="refundId"
                                                               disabled
                                                               [(ngModel)]="refundRequest.refundId"
                                                               #refundId="ngModel"/>
                                                    </div>
                                                </div>

                                                <div class="form-group hr">
                                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Balance Amount: <span class="required" aria-required="true"> * </span></label>
                                                    <div class="col-md-8 pdng-lr-5 profile-frm">
                                                        <input class="form-control text-align-right"
                                                               type="text"
                                                               name="selectedBalance"
                                                               disabled
                                                               [(ngModel)]="refundRequest.selectedBalance"
                                                               #selectedBalance="ngModel"/>
                                                    </div>
                                                </div>

                                                <div class="form-group hr">
                                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Payment Type <span class="required" aria-required="true"> * </span></label>
                                                    <div class="col-md-8 pdng-lr-5">
                                                        <p-dropdown [options]="paymentTypeList"
                                                                    [(ngModel)]="selectedPaymentType"
                                                                    optionLabel="paymentTitle"
                                                                    name="paymentTitle"
                                                                    (onChange) = "getSelectedPaymentType(selectedPaymentType)"
                                                                    [filter]="true">
                                                        </p-dropdown>
                                                    </div>
                                                </div>

                                                <div class="form-group hr">
                                                    <label class="col-md-4 pdng-lr-5 control-label txt-size">Description</label>
                                                    <div class="col-md-8 select pdng-lr-5">
                                                    <textarea class="form-control"
                                                              rows="3"
                                                              [(ngModel)]="refundRequest.description"
                                                              name="desc"
                                                              #desc="ngModel"
                                                              placeholder="enter description of advance payment">

                                                    </textarea>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" id="closeButton" class="btn btn-default btn-outline"> Close </button>
                                <button type="button" class="btn blue" (click)="refundPayment()"> Save </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>