<div class="page-content-wrapper">
    <div class="page-content">

        <ng-template #modalContent let-close="close">
            <!-- <div class="modal-header">
                 <h5 class="modal-title">Event action occurred</h5>
                 <button type="button" class="close" (click)="close()">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>-->

            <div class="modal-body custom-schedule">
                <div>
                    Action:
                    <pre>{{ modalData?.action }}</pre>
                </div>
                <div>
                    Event:
                    <pre>{{ modalData?.event | json }}</pre>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
                <button type="button" class="btn btn-outline-secondary"
                        (click)="deleteEvent(modalData?.action ,modalData?.event)">Delete
                </button>
            </div>

        </ng-template>

        <div class="row text-center">

            <!-- <h3>
                 <button type="button" class="btn btn-primary pull-left" data-toggle="modal"
                         data-target="#create-responsive"
                         (click)="addEvent()">

                     Add New
                 </button>

                 <div class="clearfix"></div>
             </h3>-->
            <div class="col-md-4">
                <div class="btn btn-primary " data-toggle="modal"
                     data-target="#create-responsive"
                     (click)="addEvent()"> Add New

                </div>
            </div>

            <div class="col-md-4">
                <div class="btn-group">

                    <div
                            class="btn btn-primary"
                            mwlCalendarPreviousView
                            [view]="view"
                            [(viewDate)]="viewDate"
                            (viewDateChange)="activeDayIsOpen = false">
                        Previous
                    </div>
                    <div
                            class="btn btn-outline-secondary"
                            mwlCalendarToday
                            [(viewDate)]="viewDate">
                        Today
                    </div>
                    <div
                            class="btn btn-primary"
                            mwlCalendarNextView
                            [view]="view"
                            [(viewDate)]="viewDate"
                            (viewDateChange)="activeDayIsOpen = false">
                        Next
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>-->
            </div>
            <div class="col-md-4">
                <div class="btn-group">
                    <div
                            class="btn btn-primary"
                            (click)="view = 'month'"
                            [class.active]="view === 'month'">
                        Month
                    </div>
                    <div
                            class="btn btn-primary"
                            (click)="view = 'week'"
                            [class.active]="view === 'week'">
                        Week
                    </div>
                    <div
                            class="btn btn-primary"
                            (click)="view = 'day'"
                            [class.active]="view === 'day'">
                        Day
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div [ngSwitch]="view">
            <mwl-calendar-month-view
                    *ngSwitchCase="'month'"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    [activeDayIsOpen]="activeDayIsOpen"
                    (dayClicked)="dayClicked($event.day)"
                    (eventClicked)="handleEvent('Clicked again', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view
                    *ngSwitchCase="'week'"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view
                    *ngSwitchCase="'day'"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-day-view>
        </div>

        <br><br><br>




        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-scheduler" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Disease</th>
                                <th>Branch</th>
                                <th>Status</th>
                                <th>Notes</th>
                                <th>Primary color</th>
                                <th>Secondary color</th>
                                <th>duration</th>
                                <th>reason</th>
                                <th>Starts at</th>
                                <th>Ends at</th>
                                <th>Remove</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr *ngFor="let event of events; let index = index">
                                <td>
                                    <input
                                            type="text"
                                            class="form-control"
                                            [(ngModel)]="event.title"
                                            (keyup)="refresh.next()">
                                </td>
                                <td>
                                    <input
                                            type="text"
                                            class="form-control"
                                            [(ngModel)]="event.patient"
                                            (keyup)="refresh.next()">
                                </td>
                                <td>

                                    <select class="form-control" (change)="onChange($event.target.value)"  >
                                        <!--[ngModelOptions]="{standalone:true}"-->
                                        <!--[(ngModel)]="event.branch"-->
                                        <option value="0">-- Select --</option>
                                        <option *ngFor="let item of branches; let i = index;"
                                                value={{item.id}} (keyup)="refresh.next()">
                                            {{item.name}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" name="statusDrp"
                                            [ngModelOptions]="{standalone:true}"
                                            [(ngModel)]="event.status">
                                        <option value="0">-- Select --</option>
                                        <option *ngFor="let item of status; let i = index;"
                                                value={{item.name}} (keyup)="refresh.next()">
                                            {{item.name}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <textarea
                                            rows="3"
                                            class="form-control"
                                            [(ngModel)]="event.notes"
                                            (keyup)="refresh.next()"></textarea>
                                </td>
                                <td>
                                    <input
                                            type="color"
                                            [(ngModel)]="event.color.primary"
                                            (change)="refresh.next()">
                                </td>

                                <td>
                                    <input
                                            type="color"
                                            [(ngModel)]="event.color.secondary"
                                            (change)="refresh.next()">
                                </td>
                                <td>
                                    <input
                                            type="text"
                                            class="form-control"
                                            [(ngModel)]="event.duration"
                                            (keyup)="refresh.next()">
                                </td>
                                <td>
                                    <input
                                            type="text"
                                            class="form-control"
                                            [(ngModel)]="event.reason"
                                            (keyup)="refresh.next()">
                                </td>
                                <td>
                                    <mwl-demo-utils-date-time-picker
                                            [(ngModel)]="event.start"
                                            (ngModelChange)="refresh.next()"
                                            placeholder="Not set">
                                    </mwl-demo-utils-date-time-picker>
                                </td>
                                <td>
                                    <mwl-demo-utils-date-time-picker
                                            [(ngModel)]="event.end"
                                            (ngModelChange)="refresh.next()"
                                            placeholder="Not set">
                                    </mwl-demo-utils-date-time-picker>
                                </td>

                                <td>

                                    <button
                                            class="btn btn-danger"
                                            (click)="events.splice(index, 1); refresh.next()">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" (click)="saveAppointment()" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!--start-->
        <div id="create-responsive" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog schedle-appint-modal">
                <div class="modal-content" *ngFor="let event of events; let index = index">
                    <div class="modal-header off-wite-bg">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title bold"> Schedule Appointment </h4>
                    </div>
                    <div class="modal-body schedule-body">
                        <div class="scroller" style="height:1350px" data-always-visible="1" data-rail-visible1="1">
                            <div class="row">
                                <div class=" col-md-12">
                                    <div class="portlet-body">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#tab_1_1" data-toggle="tab" aria-expanded="true"
                                                   class="font-blue bold"> Appointment </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" >
                                            <div class="tab-pane fade active in" id="tab_1_1">

                                                <div class="form-group">
                                                    <div *ngFor="let item of Type" class="col-sm-2 pdng-lr-5">
                                                        <label>
                                                            <input type="checkbox"
                                                                   value="{{item.name}}"
                                                                   (change)="selectType()"
                                                                   [(ngModel)]="item.checked"/>
                                                            {{item.name}}
                                                        </label>
                                                    </div>
                                                </div>
                                                <div *ngIf="newPatient" class="hr padding round-table off-wite-bg mrgn-btm10">
                                                    <div class="hr">
                                                        <div class="col-md-3">
                                                            <input type="text" value="" class="form-control"
                                                                   placeholder="First Name" [(ngModel)]="event.title"
                                                                   (keyup)="refresh.next()">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input
                                                                    type="text"
                                                                    class="form-control"
                                                                    [(ngModel)]="event.age" placeholder="age"
                                                                    (keyup)="refresh.next()">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <select class="form-control" name="statusDrp"
                                                                    [ngModelOptions]="{standalone:true}"
                                                                    [(ngModel)]="event.gender">
                                                                <option value="Male"> Male</option>
                                                                <option value="Female">Female</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input
                                                                    type="text"
                                                                    class="form-control"
                                                                    [(ngModel)]="event.email"
                                                                    (keyup)="refresh.next()">
                                                        </div>
                                                        <div class="col-md-3 mrgn-top8">
                                                            <input
                                                                    type="text"
                                                                    class="form-control"
                                                                    [(ngModel)]="event.cellPhone"
                                                                    (keyup)="refresh.next()">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr padding round-table off-wite-bg">
                                                    <div class="col-md-6">
                                                        <div class="form-group hr">
                                                            <label class="col-md-3 control-label">Patient</label>
                                                            <div class="col-md-9">
                                                                <div class="ptn-apontmt-sch">
                                                                    <select class="form-control" name="statusDrp"
                                                                            [ngModelOptions]="{standalone:true}"
                                                                            [(ngModel)]="event.patient">
                                                                        <option value="0">-- Select --</option>
                                                                        <option *ngFor="let item of Patient; let i = index;"
                                                                                value={{item.name}}
                                                                                (keyup)="refresh.next()">
                                                                            {{item.name}}
                                                                        </option>
                                                                    </select>
                                                                    <div class="">
                                                                        <button class="btn btn-default btn-outline font-green-dark">
                                                                            <i class=" fa fa-plus"></i></button>
                                                                        <button class="btn btn-default btn-outline font-yellow-gold pull-right">
                                                                            <i class=" fa fa-pencil"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group hr">
                                                            <label class="col-md-3 control-label">Reason:</label>
                                                            <div class="col-md-9 col-xs-12">
                                                        <textarea
                                                                rows="3"
                                                                class="form-control"
                                                                [(ngModel)]="event.reason"
                                                                (keyup)="refresh.next()"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group hr">
                                                            <label class="col-md-3 control-label">Scheduled:</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <div class=" col-md-12 col-xs-12 pull-left no-padding">
                                                                    <mwl-demo-utils-date-time-picker
                                                                            [(ngModel)]="event.start"
                                                                            (ngModelChange)="refresh.next()"
                                                                            placeholder="Not set">
                                                                    </mwl-demo-utils-date-time-picker>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group hr">
                                                            <label class="col-md-3 control-label">Notes:</label>
                                                            <div class="col-md-9 col-xs-12">
                                                               <textarea
                                                                       rows="3"
                                                                       class="form-control"
                                                                       [(ngModel)]="event.notes"
                                                                       (keyup)="refresh.next()"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group hr">
                                                            <label class="control-label col-md-4">Branch</label>
                                                            <div class="col-md-8">
                                                                <select class="form-control" (change)="getExamRoom($event.target.value)"  name="branchDrp"
                                                                        [ngModelOptions]="{standalone:true}"
                                                                        [(ngModel)]="event.branch">
                                                                    <option value="0">-- Select --</option>
                                                                    <option *ngFor="let item of branches; let i = index;"
                                                                            value={{item.id}} (keyup)="refresh.next()">
                                                                        {{item.name}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group hr">
                                                            <label class="control-label col-md-4">Exam:</label>
                                                            <div class="col-md-8">
                                                                <select class="form-control" name="exmDrp"
                                                                        [ngModelOptions]="{standalone:true}"
                                                                        [(ngModel)]="event.examRoom">
                                                                    <option value="0">-- Select --</option>
                                                                    <option *ngFor="let item of examRooms; let i = index;"
                                                                            value={{item.id}} (keyup)="refresh.next()">
                                                                        {{item.examName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group hr">
                                                            <label class="control-label col-md-4">Color
                                                            </label>
                                                            <div class="col-md-8">
                                                                <div class="minicolors box-width-size minicolors-theme-bootstrap minicolors-position-bottom minicolors-position-left">
                                                                    <div class="minicolors minicolors-theme-bootstrap minicolors-position-bottom minicolors-position-left">
                                                                        <input type="hidden" id="hidden-input"
                                                                               class="demo minicolors-input"
                                                                               value="#e6e6e6" size="7"><span
                                                                            class="minicolors-swatch minicolors-sprite"><span
                                                                            class="minicolors-swatch-color"
                                                                            style="background-color: rgb(230, 230, 230);"></span></span>
                                                                        <div class="minicolors-panel minicolors-slider-hue"
                                                                             style="display: none;">
                                                                            <div class="minicolors-slider minicolors-sprite">
                                                                                <div class="minicolors-picker"
                                                                                     style="top: 0px;"></div>
                                                                            </div>
                                                                            <div class="minicolors-opacity-slider minicolors-sprite">
                                                                                <div class="minicolors-picker"></div>
                                                                            </div>
                                                                            <div class="minicolors-grid minicolors-sprite"
                                                                                 style="background-color: rgb(255, 0, 0);">
                                                                                <div class="minicolors-grid-inner"></div>
                                                                                <div class="minicolors-picker"
                                                                                     style="top: 14px; left: 0px;">
                                                                                    <div></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="minicolors-panel minicolors-slider-hue"
                                                                         style="display: none;">
                                                                        <div class="minicolors-slider minicolors-sprite">
                                                                            <div class="minicolors-picker"
                                                                                 style="top: 136.709px;"></div>
                                                                        </div>
                                                                        <div class="minicolors-opacity-slider minicolors-sprite">
                                                                            <div class="minicolors-picker"></div>
                                                                        </div>
                                                                        <div class="minicolors-grid minicolors-sprite"
                                                                             style="background-color: rgb(255, 136, 0);">
                                                                            <div class="minicolors-grid-inner"></div>
                                                                            <div class="minicolors-picker"
                                                                                 style="top: 15px; left: 0px;">
                                                                                <div></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Status:</label>
                                                            <div class="col-md-8">
                                                                <select class="form-control" name="statusDrp"
                                                                        [ngModelOptions]="{standalone:true}"
                                                                        [(ngModel)]="event.status">
                                                                    <option value="0">-- Select --</option>
                                                                    <option *ngFor="let item of status; let i = index;"
                                                                            value={{item.name}}
                                                                            (keyup)="refresh.next()">
                                                                        {{item.name}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group hr">
                                                            <label class="col-md-4 control-label">Duration:</label>
                                                            <div class="col-md-6 col-xs-12">
                                                                <input
                                                                        type="text"
                                                                        class="form-control"
                                                                        [(ngModel)]="event.duration"
                                                                        (keyup)="refresh.next()">
                                                            </div>
                                                            <div class="col-md-2 text-center label-control2">minutes
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr">
                                                    <label class="mt-checkbox mt-checkbox-outline col-md-12">
                                                        <input type="checkbox" [(ngModel)]="event.recurringAppointment"
                                                               (keyup)="refresh.next()"> Recurring Appointment
                                                        <span></span>
                                                    </label>
                                                    <div class="hr off-wite-bg round-table ">

                                                        <div class="form-group hr">
                                                            <label class="control-label col-md-2 col-xs-12"> Working
                                                                Days:
                                                            </label>
                                                            <div class="col-md-10 col-xs-12 text-center">

                                                                <div *ngFor="let item of recurringDays" class="">

                                                                    <div class=" col-md-1 col-width14 col-xs-3">
                                                                        <input type="checkbox"
                                                                               class="form-control spinner"
                                                                               value="{{item.id}}"
                                                                               (change)="selectRecurringDays($event,item)">
                                                                        {{item.name}}
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="hr">
                                                            <div class="col-md-6">
                                                                <div class="form-group hr">
                                                                    <label class="control-label col-md-4">Recurs every
                                                                    </label>
                                                                    <div class="col-md-6">
                                                                        <input
                                                                                type="text"
                                                                                class="form-control"
                                                                                [(ngModel)]="event.recurseEvery"
                                                                                (keyup)="refresh.next()">
                                                                    </div>
                                                                    <div class="col-md-2">Week(s)</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="hr">
                                                            <div class="col-md-6">
                                                                <div class="form-group hr">
                                                                    <label class="control-label col-md-4">First Appointment
                                                                    </label>
                                                                    <div class="col-md-8">
                                                                        <mwl-demo-utils-date-time-picker
                                                                                [(ngModel)]="event.firstAppointment"
                                                                                (ngModelChange)="refresh.next()"
                                                                                placeholder="Not set">
                                                                        </mwl-demo-utils-date-time-picker>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group hr">
                                                                    <label class="control-label col-md-4">Last Appointment
                                                                    </label>
                                                                    <div class="col-md-8">
                                                                        <mwl-demo-utils-date-time-picker
                                                                                [(ngModel)]="event.lastAppointment"
                                                                                (ngModelChange)="refresh.next()"
                                                                                placeholder="Not set">
                                                                        </mwl-demo-utils-date-time-picker>
                                                                        <div class="col-md-4 never-end">
                                                                            <label class="mt-checkbox mt-checkbox-outline">
                                                                                <input type="checkbox" [(ngModel)]="event.neverEnds"
                                                                                       (keyup)="refresh.next()"> Never ends
                                                                                <span></span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <label class="mt-checkbox mt-checkbox-outline col-md-12">
                                                        <input type="checkbox" [(ngModel)]="event.followUpReminder"
                                                               (keyup)="refresh.next()"> Arrange a Follow-up Reminder
                                                        <span></span>
                                                    </label>
                                                    <div class="hr off-wite-bg round-table">
                                                        <p>Patient will be reminded to make a follow up appointment
                                                            around this date.</p>
                                                        <div class="col-md-6">
                                                            <div class="form-group hr">
                                                                <label class="control-label col-md-4">Follow Up Date</label>
                                                                <div class="col-md-8">
                                                                    <mwl-demo-utils-date-time-picker
                                                                            [(ngModel)]="event.followUpDate"
                                                                            (ngModelChange)="refresh.next()"
                                                                            placeholder="Not set">
                                                                    </mwl-demo-utils-date-time-picker>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group hr">
                                                                <label class="control-label col-md-4">Reason
                                                                </label>
                                                                <div class="col-md-8">
                                                                    <input type="text" name="name" data-required="1"
                                                                           value="" class="form-control"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="mrgn-btm10 pull-right">
                                                                <button type="button" data-dismiss="modal" (click)="events.splice(index, 1); refresh.next()"
                                                                        class="btn btn-sm blue btn-outline filter-submit margin-bottom">
                                                                    Cancel
                                                                </button>
                                                                <button type="button" (click)="saveAppointment(event)"
                                                                        data-dismiss="modal"
                                                                        class="btn btn-sm green btn-outline filter-submit margin-bottom">
                                                                    Save
                                                                </button>
                                                                <!--<button type="button" data-dismiss="modal"
                                                                        class="btn btn-sm red btn-outline filter-cancel"
                                                                        (click)="events.splice(index, 1); refresh.next()">
                                                                    Delete
                                                                </button>-->
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix margin-bottom-20"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" (click)="events.splice(index, 1); refresh.next()" class="btn red"> Delete</button>
                        <button type="button" (click)="saveAppointment(event)" data-dismiss="modal" class="btn blue"> Save &
                            Close
                        </button>
                        <button type="button" (click)="saveAppointment(event)" data-dismiss="modal" class="btn  blue"> Save</button>
                        <button type="button" data-dismiss="modal" (click)="events.splice(index, 1); refresh.next()" class="btn btn-default btn-outline"> Cancel</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="clearfix"></div>
    </div>
</div>