<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <div class="menu-toggler sidebar-toggler menu-stng"><span></span></div>
        <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true"
            data-slide-speed="200">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler"><span></span></div>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="dashboard" class="nav-link">
                    <i class="icon-users"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="manage" class="nav-link">
                    <i class="icon-users"></i>
                    <span class="title">Manage Appointments</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="reports" class="nav-link">
                    <i class="icon-users"></i>
                    <span class="title">Manage Reports</span>
                </a>
            </li>
        </ul>
    </div>
</div>