<div class="minicolors box-width-size minicolors-theme-bootstrap minicolors-position-bottom minicolors-position-left">
    <div class="minicolors minicolors-theme-bootstrap minicolors-position-bottom minicolors-position-left minicolors-focus">
        <input type="hidden" id="hidden-input" class="demo minicolors-input" value="#e6e6e6" size="7"><span
            class="minicolors-swatch minicolors-sprite"><span class="minicolors-swatch-color"
                                                              style="background-color: rgb(230, 230, 230);"></span></span>
        <div class="minicolors-panel minicolors-slider-hue" style="display: block;">
            <div class="minicolors-slider minicolors-sprite">
                <div class="minicolors-picker" style="top: 0px;"></div>
            </div>
            <div class="minicolors-opacity-slider minicolors-sprite">
                <div class="minicolors-picker"></div>
            </div>
            <div class="minicolors-grid minicolors-sprite" style="background-color: rgb(255, 0, 0);">
                <div class="minicolors-grid-inner"></div>
                <div class="minicolors-picker" style="top: 14px; left: 0px;">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="minicolors-panel minicolors-slider-hue" style="display: none;">
        <div class="minicolors-slider minicolors-sprite">
            <div class="minicolors-picker" style="top: 136.709px;"></div>
        </div>
        <div class="minicolors-opacity-slider minicolors-sprite">
            <div class="minicolors-picker"></div>
        </div>
        <div class="minicolors-grid minicolors-sprite" style="background-color: rgb(255, 136, 0);">
            <div class="minicolors-grid-inner"></div>
            <div class="minicolors-picker" style="top: 15px; left: 0px;">
                <div></div>
            </div>
        </div>
    </div>
</div>