<div class="page-content-wrapper">
    <div class="page-content" style="margin-left: 0px !important;">
        <!--<div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Manage Appointments
                        <div class="pull-right">
                            <a href="#responsive" data-toggle="modal">
                                <button class="btn mt-sweetalert btn green-meadow"
                                        routerLink="/dashboard/appointment/add">
                                        <i class="fa fa-plus"></i> Add
                                </button>
                            </a>
                            <button class="btn mt-sweetalert btn blue"
                                    data-title="Sweet Alerts with Icons" data-message="Success Icon"
                                    data-type="success" data-allow-outside-click="true"
                                    (click)="getAllPaginatedAppointmentsFromServer(0)"
                                    data-confirm-button-class="btn-success"> Refresh
                            </button>
                            <span><button class="btn btn-default btn-outline"> <i class=" icon-clock"></i> Print </button></span>
                            <div class="upload-btn-wrapper">
                                <button class="btn red mt-sweetalert"><i class="fa fa-upload" aria-hidden="true"></i> Import Data</button>
                                <input #fileInput type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                       id="appointmentDataImport" name="appointmentDataImport" value="" placeholder="" (change)="importData($event)">
                            </div>
                        </div>
                    </h4>
                </div>
            </div>-->
                <!--  <div class="">

                  <div class=" patient-profile hr portlet padding-10 light bordered view-pro">
                        <div class="col-md-4">
                            <div class="form-group font-siz11">
                                <input type="text" class="form-control"
                                       placeholder="Patient"
                                       [(ngModel)]="searchData"
                                       (keydown.enter)="searchAppointment(0)">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <button type="button" (click)="searchAppointment(0)" class="btn blue">Search
                                </button>
                            </div>
                        </div>
                    </div>-->

                <!--<div class="table-scrollable">
                    <table class="table table-striped table-hover table-checkable dataTable no-footer"
                           id="datatable_ajax" role="grid">
                        <thead>
                        <tr role="row" class="off-wite-bg">
                            <th width="5%" class="c-text-left padding"> ID</th>
                            <th width="15%"> Patient</th>
                            <th width="15%"> Exam Room</th>
                            <th width="10%"> Branch</th>
                            <th width="10%"> Type</th>
                            <th width="15%"> Started On</th>
                            <th width="10%"> Ended On</th>
                            <th width="10%"> Status</th>
                            <th width="10%"> Action</th>
                        </tr>
                        <tr role="row" *ngFor="let app of data;" class="filter">
                            <td class="c-text-left padding font-green-dark"><strong>{{app.id}}</strong></td>
                            <td class="sorting_disabled">{{app.patient}}</td>
                            <td class="c-text-left">{{app.examName}}</td>
                            <td class="c-text-left">{{app.branchName}}</td>
                            <td class="c-text-left">{{app.appointmentType}}</td>
                            <td class="c-text-left">{{app.scheduleDateAndTime | date:'dd/MM/yyyy:h:mm a'}}</td>
                            <td class="c-text-left">{{app.appointmentEndedOn}}</td>
                            <td class="c-text-left">{{app.status}}</td>
                            <td rowspan="1" colspan="1">

                                &lt;!&ndash;<button (click)="updateAppointment(app.id)" class="btn btn-default btn-outline btn-sm"><i
                                        class="fa fa-pencil"></i></button>&ndash;&gt;
                                <button (click)="deleteAppointment(app.id)"
                                        class="btn btn-default btn-outline btn-sm"><i
                                        class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>-->
        <div class="col-md-12">
            <h4 class="text-info">Appointments
                <div class="pull-right">
                    <a href="#responsive" data-toggle="modal">
                        <button class="btn mt-sweetalert btn primary blue" routerLink="/dashboard/appointment/add">
                            <i class="fa fa-plus"></i> New Appointment
                        </button>
                    </a>
                </div></h4>
        </div>
        <div class="col-md-12 col-xs-12">
                <p-table #dt [columns]="cols" [value]="data" [paginator]="true" [rows]="10">
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="50" placeholder="Search with patient,doctor,service"
                                   (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        </div>
                    </ng-template>
                    <ng-template sortable="true" pTemplate="header" let-columns>
                        <tr>
                            <th sortable="true" *ngFor="let col of columns" [pSortableColumn]="col.field"
                                style='width:-webkit-fill-available;'>
                                {{col.header}}
                                <p-sortIcon *ngIf="col.field != 'status'"
                                            [field]="col.field"
                                            ariaLabel="Sort"
                                            ariaLabelDesc="Sort in descending order"
                                            ariaLabelAsc="Sort in ascending order">
                                </p-sortIcon>
                            </th>
                        </tr>
                        <!--<tr>
                            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                <input *ngSwitchCase="'firstName'" pInputText type="text" style="width: 100%"
                                       (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                <input *ngSwitchCase="'primaryBranch'" pInputText type="text" style="width: 100%"
                                       (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                <input *ngSwitchCase="'username'" pInputText type="text" style="width: 100%"
                                       (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                <input *ngSwitchCase="'email'" pInputText type="text" style="width: 100%"
                                       (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            </th>
                        </tr>-->
                    </ng-template>

                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <!--{{car[col.field]}}-->
                            <td> {{item.appointmentId}}</td>
                            <td> {{item.patient }}</td>
                            <td> {{item.docFirstName }}</td>
                            <td> {{item.serviceName }}</td>
                            <td> {{item.examName}}</td>
                            <td> {{item.branchName}}</td>
                            <td> {{item.apptType}}</td>
                            <td> {{item.scheduleDate}}</td>
                            <td> {{item.checkIn}}</td>
                            <td> {{item.creatorName}}</td>
                       <!--     <td> {{item.status}}</td>-->
                            <td *ngIf="item.pastAppt">{{item.status}}</td>
                            <td *ngIf="item.pastAppt == false">
                                <select class="form-control" #t (change)="getUpdatedStatus($event.target.value,item.appointmentId)" [(ngModel)]="item.statusId" name="itemSt">
                                <option *ngFor="let st of statusesList; let i = index;"
                                        value={{st.id}}>
                                    {{st.name}}
                                </option>
                               </select>
                            </td>

                            <td>
                                <a href="#responsive" data-toggle="modal">
                                    <button class=""
                                            (click)="patchData(item,item.id)"><i class="fa fa-eye"></i>

                                    </button>
                                </a>
                                <a href="#responsive" data-toggle="modal">
                                    <button class="font-blue"
                                            (click)="patchData(item,item.id,'updateBtn')"><i class="fa fa-pencil"></i>

                                    </button>
                                </a>
                                <button class="text-danger"
                                        (click)="deleteAppointment(item.id)">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
        </div>
            <div class="clearfix"></div>
        </div>
        <!--  <div class="row">
              <div class="col-md-12 col-xs-12 col-sm-12">
                  <div class="dataTables_paginate paging_bootstrap_full_number pull-right" id="sample_1_2_paginate">
                      <ul class="pagination" style="visibility: visible;">
                          <li class="prev" *ngIf="pages.length >= 2 && currPage > 0">
                              <a (click)="getPageWisePatients(0);" title="First">
                                  <i class="fa fa-angle-double-left"></i>
                              </a>
                          </li>
                          <li class="prev" *ngIf="prePage">
                              <a (click)="getPageWisePatients(currPage - 1)" title="Previous">
                                  <i class="fa fa-angle-left"></i>
                              </a>
                          </li>
                          <li [ngClass]="{active: page === currPage}"
                              *ngFor="let page of pages">
                              <a (click)="getPageWisePatients(page)">{{page + 1}}</a>
                          </li>
                          <li class="next" *ngIf="nextPage">
                              <a (click)="getPageWisePatients(currPage + 1)" title="Next">
                                  <i class="fa fa-angle-right"></i>
                              </a>
                          </li>
                          <li class="next" *ngIf="pages.length >= 2 && currPage < pages[pages.length - 1]">
                              <a (click)="getPageWisePatients(pages.length - 1)" title="Last">
                                  <i class="fa fa-angle-double-right"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
                  <p></p>
              </div>
          </div>-->
    </div>

<div class="modal fade" id="appEditModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered schedle-appint-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Appointment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body schedule-body">
                <div class="scroller" style="height:820px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <form id="updateForm" class="login-form" #updateForm="ngForm">
                            <div class=" col-md-12">
                                <div class="portlet-body">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#tab_1_1" data-toggle="tab" aria-expanded="true"
                                               class="font-blue bold"> Appointment </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade active in" id="tab_1_2">

                                            <!--<div class="form-group">
                                                <div *ngFor="let item of Type" class="col-sm-2 pdng-lr-5">
                                                    <label>
                                                        <input type="checkbox"
                                                               [ngModelOptions]="{standalone:true}"
                                                               value="{{item.name}}"
                                                               (change)="selectType()"
                                                               [(ngModel)]="item.checked"/>
                                                        {{item.name}}
                                                    </label>
                                                </div>
                                            </div>-->

                                            <div class="hr padding round-table off-wite-bg">
                                                <div class="col-md-6">
                                                    <div class="form-group hr mrgn-btm08">
                                                        <label class="col-md-3 control-label">Patient <span
                                                                class="required" aria-required="true"> * </span></label>
                                                        <div class="col-md-9">
                                                            <div class="ptn-apontmt-sch">
                                                                <!--<select class="form-control" name="statusDrp"
                                                                        [ngModelOptions]="{standalone:true}"
                                                                        [(ngModel)]="modalData?.event.patientId">
                                                                    &lt;!&ndash; <option value="0">&#45;&#45; Select &#45;&#45;</option>&ndash;&gt;
                                                                    <option *ngFor="let item of patients; let i = index;"
                                                                            value="{{item.id}}"
                                                                            (keyup)="refresh.next()">
                                                                        {{item.firstName}}
                                                                        {{item.email}}
                                                                    </option>
                                                                </select>-->
                                                                <p-dropdown placeholder="Select Patient"
                                                                            [autoWidth]="false"
                                                                            [required]="true"
                                                                            [(ngModel)]="appointmentObj.patientId"
                                                                             name="patientEditDrp"
                                                                            [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                            [options]="patients"
                                                                            [panelStyle]="{minWidth:'12em'}"
                                                                            [filter]="true">
                                                                </p-dropdown>

                                                                <!--<div class="">
                                                                    <button name="patientBtn"
                                                                            class="btn btn-default btn-outline font-green-dark" data-dismiss="modal"
                                                                            routerLink="/dashboard/patient/add">
                                                                        <i class=" fa fa-plus"></i>
                                                                    </button>
                                                                    &lt;!&ndash; <button class="btn btn-default btn-outline font-yellow-gold pull-right"
                                                                         <i class=" fa fa-pencil"></i>
                                                                     </button>&ndash;&gt;
                                                                </div>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group hr mrgn-btm08">
                                                        <label class="col-md-3 control-label">Reason </label>
                                                        <div class="col-md-9 col-xs-12">
                                                        <textarea
                                                                rows="3"
                                                                class="form-control"
                                                                [ngModelOptions]="{standalone:true}"
                                                                [(ngModel)]="appointmentObj.reason"
                                                                ></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group hr mrgn-btm08">
                                                        <label class="col-md-3 control-label">Scheduled:</label>
                                                        <div class="col-md-9 col-xs-12">
                                                            <angular2-date-picker
                                                                    style="margin-left: 0px !important; background-color: red !important"
                                                                    class="schdld-clndr" [(ngModel)]="appointmentObj._dateSchedule" name ="schedule"
                                                                    [ngModelOptions]="{standalone:true}"
                                                                    [settings]="settings"></angular2-date-picker>
                                                        </div>

                                                    </div>
                                                    <div class="form-group hr mrgn-btm08">
                                                        <label class="col-md-3 control-label">Notes:</label>
                                                        <div class="col-md-9 col-xs-12">
                                                               <textarea
                                                                       rows="3"
                                                                       class="form-control"
                                                                       [ngModelOptions]="{standalone:true}"
                                                                       [(ngModel)]="appointmentObj.notes"
                                                                      ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group hr mrgn-btm08">
                                                        <label class="control-label col-md-4">Branch <span
                                                                class="required" aria-required="true"> * </span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <!-- <select #selectedBranch class="form-control"
                                                                     (change)="getExamRoom(selectedBranch.value)"
                                                                     name="upBranchDrp" #upBranchDrp="ngModel"
                                                                     name="branchDrp"
                                                                     [ngModelOptions]="{standalone:true}"
                                                                     [(ngModel)]="modalData?.event.branchId">

                                                                 <option *ngFor="let item of branches;"
                                                                         [ngValue]="item.id" (keyup)="refresh.next()">
                                                                     {{item.name}}
                                                                 </option>
                                                             </select>-->
                                                            <p-dropdown placeholder="Select Branch"
                                                                        [autoWidth]="false" name="upBranchDrp"
                                                                        [required]="true"
                                                                        [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                        [(ngModel)]="appointmentObj.branchId"
                                                                        [options]="branches"
                                                                        (onChange)="getExamRoom($event)"
                                                                        [panelStyle]="{minWidth:'12em'}"
                                                                        [filter]="true">
                                                            </p-dropdown>
                                                            <!-- <span *ngIf="upBranchDrp.invalid && upBbranchDrp.touched"
                                                                   class="col-md-9 select pdng-lr-5 text-danger">
                                                        Select Branch
                                                           </span>-->
                                                        </div>
                                                    </div>
                                                    <div class="form-group hr mrgn-btm08">
                                                        <label class="control-label col-md-4">Room:</label>
                                                        <div class="col-md-8 profile-frm">
                                                            <select class="form-control" name="exmDrp" #exmDrp
                                                                    [ngModelOptions]="{standalone:true}"
                                                                    [(ngModel)]="appointmentObj.roomId">
                                                                <option *ngFor="let item of examRooms;"
                                                                        value={{item.id}}
                                                                        >
                                                                    {{item.roomName}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group hr mrgn-btm08">
                                                        <label class="control-label col-md-4">Doctor <span
                                                                class="required" aria-required="true"> * </span></label>
                                                        <div class="col-md-8">
                                                            <!--<select class="form-control" name="upDoctor" #upDoctor (change)="selectServices($event.target.value)" [disabled]="disbaleDoctor"
                                                                    [(ngModel)]="modalData?.event.doctorId">
                                                                &lt;!&ndash;[ngModelOptions]="{standalone:true}"&ndash;&gt;
                                                                &lt;!&ndash;[(ngModel)]="event.branch"&ndash;&gt;

                                                                <option *ngFor="let item of filteredDoctor; let i = index;"
                                                                        value={{item.doctorId}} (keyup)="refresh.next()">
                                                                    {{item.firstName}}

                                                                </option>
                                                            </select>-->
                                                            <p-dropdown placeholder="Select Doctor"
                                                                        [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                        [(ngModel)]="appointmentObj.doctorId"
                                                                        name="sDoctor"
                                                                        [options]="filteredDoctor"
                                                                        (onChange)="selectServices($event)"
                                                                        [disabled]="disbaleDoctor"
                                                                        [panelStyle]="{minWidth:'12em'}"
                                                                        [filter]="true">
                                                            </p-dropdown>
                                                            <!--<span *ngIf="upDoctor.invalid && upDoctor.touched"
                                                                  class="col-md-9 select pdng-lr-5 text-danger">
                                                       Select Doctor
                                                          </span>-->

                                                        </div>
                                                    </div>
                                                    <div class="form-group hr mrgn-btm08">
                                                        <label class="control-label col-md-4">Medical Service
                                                            <span
                                                                    class="required"
                                                                    aria-required="true"> * </span></label>
                                                        <div class="col-md-8">
                                                            <!--<select class="form-control" name="service" #service="ngModel"  required [disabled]="disbaleDoctor"
                                                                    [(ngModel)]="modalData?.event.serviceId">
                                                                <option *ngFor="let item of filteredServices;"
                                                                        value={{item.mServiceId}} (keyup)="refresh.next()">
                                                                    {{item.mServiceName}}
                                                                </option>
                                                            </select>-->
                                                            <p-dropdown placeholder="Select Service"
                                                                        [disabled]="disbaleDoctor"
                                                                        [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                        [(ngModel)]="appointmentObj.serviceId"
                                                                        name="mService"
                                                                        [options]="filteredServices"
                                                                        (onChange)="getSelectedService($event)"
                                                                        [panelStyle]="{minWidth:'12em'}"
                                                                        [filter]="true">
                                                            </p-dropdown>
                                                            <!--<span *ngIf="service.invalid && service.touched"
                                                                  class="col-md-9 select pdng-lr-5 text-danger">
                                                           Select Services
                                                          </span>-->
                                                        </div>
                                                    </div>

                                                    <!--<div class="form-group hr">
                                                        <label class="control-label col-md-4">Color
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input [(colorPicker)]="color" [value]="color"
                                                                   [ngModelOptions]="{standalone:true}"
                                                                   [style.background]="modalData?.event.colorHash"
                                                                   (keyup)="refresh.next()" [(ngModel)]="modalData?.event.colorHash"/>
                                                        </div>
                                                    </div>-->
                                                    <div class="form-group mrgn-btm08">
                                                        <label class="control-label col-md-4">Status <span
                                                                class="required" aria-required="true"> * </span></label>
                                                        <div class="col-md-8">
                                                            <!--<select class="form-control" name="statusDrp"
                                                                    [ngModelOptions]="{standalone:true}"
                                                                    [(ngModel)]="modalData?.event.status">
                                                                <option value="0">&#45;&#45; Select &#45;&#45;</option>
                                                                <option *ngFor="let item of status; let i = index;"
                                                                        value={{item.name}}
                                                                        (keyup)="refresh.next()">
                                                                    {{item.name}}
                                                                </option>
                                                            </select>-->
                                                            <p-dropdown placeholder="Select Status"
                                                                        [autoWidth]="false" name="statusDrpdnUp"
                                                                        [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                        [options]="statusesList"
                                                                        [(ngModel)]="appointmentObj.statusId"
                                                                        [panelStyle]="{minWidth:'12em'}"
                                                                        [filter]="true">
                                                            </p-dropdown>
                                                        </div>
                                                    </div>
                                                    <div class="form-group hr mrgn-btm08 mrgn-top08">
                                                        <label class="col-md-4 control-label">Duration <span
                                                                class="required" aria-required="true"> * </span></label>
                                                        <div class="col-md-6 col-xs-12 profile-frm">
                                                            <input
                                                                    type="number"
                                                                    name="upDuration" #upDuration
                                                                    class="form-control"
                                                                    [(ngModel)]="appointmentObj.duration"
                                                                    required pattern="^[0-9]{1,60}$"
                                                            >
                                                        </div>
                                                        <div class="col-md-2 text-center label-control2">minutes
                                                        </div>
                                                        <span *ngIf="upDuration.invalid && upDuration.touched"
                                                              class="col-md-9 select pdng-lr-5 text-danger">
                                                               Select Branch
                                                                  </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hr">
                                                <!--<label class="mt-checkbox mt-checkbox-outline col-md-12">
                                                    <input type="checkbox"
                                                           [(ngModel)]="modalData?.event.recurringAppointment" name="recurring" (change)="isRecurring()"
                                                           (keyup)="refresh.next()"> Recurring Appointment
                                                    <span></span>
                                                </label>-->
                                                <!-- <div *ngIf="isRecurringFlag"
                                                      class="hr off-wite-bg round-table" style="padding: 10px" >

                                                     <div class="form-group hr">
                                                         <label class="control-label col-md-2 col-xs-12"> Working
                                                             Days:
                                                         </label>
                                                         <div class="col-md-10 col-xs-12 text-center">

                                                             <div *ngFor="let item of recurringDays" class="">

                                                                 <div class=" col-md-1 col-width14 col-xs-3">
                                                                     <input type="checkbox"
                                                                            class="form-control spinner"
                                                                            value="{{item.id}}"
                                                                            (change)="selectRecurringDays($event,item)">
                                                                     {{item.name}}
                                                                 </div>

                                                             </div>
                                                         </div>
                                                     </div>
                                                     <div class="hr">
                                                         <div class="col-md-6">
                                                             <div class="form-group hr">
                                                                 <label class="control-label col-md-4">Recurs
                                                                     every
                                                                 </label>
                                                                 <div class="col-md-6">
                                                                     <input
                                                                             type="text"
                                                                             class="form-control" name="recurse"
                                                                             [(ngModel)]="modalData?.event.recurseEvery"
                                                                             (keyup)="refresh.next()">
                                                                 </div>
                                                                 <div class="col-md-2">Week(s)</div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                     <div class="hr">
                                                         <div class="col-md-6">
                                                             <div class="form-group hr">
                                                                 <label class="control-label col-md-4">First
                                                                     Appointment
                                                                 </label>
                                                                 <div class="col-md-8">
                                                                     <mwl-demo-utils-date-time-picker
                                                                             [(ngModel)]="modalData?.event.firstAppointment"
                                                                             name="firstAppt"
                                                                             (ngModelChange)="refresh.next()"
                                                                             placeholder="Not set">
                                                                     </mwl-demo-utils-date-time-picker>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                         <div class="col-md-6">
                                                             <div class="form-group hr">
                                                                 <label class="control-label col-md-4">Last
                                                                     Appointment
                                                                 </label>
                                                                 <div class="col-md-8">
                                                                     <mwl-demo-utils-date-time-picker
                                                                             [(ngModel)]="modalData?.event.lastAppointment"
                                                                             name="lastAppt"
                                                                             (ngModelChange)="refresh.next()"
                                                                             placeholder="Not set">
                                                                     </mwl-demo-utils-date-time-picker>

                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>

                                                 </div>-->
                                                <!--<label class="mt-checkbox mt-checkbox-outline col-md-12">
                                                    <input type="checkbox"
                                                           [(ngModel)]="appointment.followUpReminder"
                                                           name="foolowuP"
                                                           [ngModelOptions]="{standalone:true}"
                                                           (keyup)="refresh.next()"> Arrange a Follow-up
                                                    Reminder
                                                    <span></span>
                                                </label>-->
                                                <div class="hr off-wite-bg round-table">
                                                    <p>Patient will be reminded to make a follow up appointment
                                                        around this date.</p>
                                                    <div class="col-md-6">
                                                        <div class="form-group hr">
                                                            <label class="control-label col-md-3 no-padding">Follow
                                                                Up
                                                                Date</label>
                                                            <div class="col-md-9">

                                                                <angular2-date-picker
                                                                        style="margin-left: 0px !important; background-color: red !important"
                                                                        class="schdld-clndr" [(ngModel)]="appointmentObj.followUpDate"
                                                                        [ngModelOptions]="{standalone:true}"
                                                                        [settings]="settings"></angular2-date-picker>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group hr">
                                                            <label class="control-label col-md-3">Reason
                                                            </label>
                                                            <div class="col-md-9">
                                                                <input type="text" name="name" data-required="1"
                                                                       [ngModelOptions]="{standalone:true}"
                                                                       [(ngModel)]="appointmentObj.followUpReason"
                                                                       value="" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-md-12">
                                                         <div class="mrgn-btm10 pull-right">
                                                             <button type="button" class="close" data-dismiss="modal"
                                                                     (click)="eventsRequest.splice(index, 1); refresh.next()"
                                                                     class="btn btn-sm blue btn-outline filter-submit margin-bottom">
                                                                 Cancel
                                                             </button>
                                                             <button type="button" (click)="updateAppointment(modalData?.event)"
                                                                     data-dismiss="modal"
                                                                     class="btn btn-sm green btn-outline filter-submit margin-bottom">
                                                                 Save
                                                             </button>
                                                             &lt;!&ndash;<button type="button" data-dismiss="modal"
                                                                     class="btn btn-sm red btn-outline filter-cancel"
                                                                     (click)="events.splice(index, 1); refresh.next()">
                                                                 Delete
                                                             </button>&ndash;&gt;
                                                         </div>
                                                     </div>-->
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix margin-bottom-20"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal"></button>
                <button type="button" class="btn btn-primary">Save changes</button>Close-->
                <div class="mrgn-btm10 pull-right">
                    <button *ngIf="updateBtnCheck" type="button" (click)="updateAppointment(appointmentObj)" name="saveBtn"
                            data-dismiss="modal"
                            class="btn primary blue">Save</button>
                    <button type="button" data-dismiss="modal" name="cancel"
                            class="btn green-meadow">
                        Close
                    </button>

                    <!--<button type="button" data-dismiss="modal"
                            class="btn btn-sm red btn-outline filter-cancel"
                            (click)="events.splice(index, 1); refresh.next()">
                        Delete
                    </button>-->
                </div>
            </div>
        </div>
    </div>
</div>



