<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Create Email Template</h4>
                </div>
                <form id="emailTemplateForm" #form="ngForm">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group hr">
                                    <label class="control-label col-md-3">Email Title:
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" name="title"
                                               class="form-control"
                                               required id="title"
                                               placeholder="Enter Title"
                                               [(ngModel)]="emailTempModel.title"
                                               #title="ngModel"> <!-- pattern="^[a-zA-Z 0-9_-]{1,60}$"-->
                                    </div>
                                    <span *ngIf="title.invalid && title.touched"
                                          class="col-md-9 select pdng-lr-5 text-danger">
                                                Please enter valid title.
                                    </span>
                                </div>
                                <div class="form-group hr">
                                    <label class="control-label col-md-3">Email Subject:
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text"
                                               class="form-control" required
                                               name="subject" id="subject"
                                               placeholder="Enter Subject"
                                               [(ngModel)]="emailTempModel.subject"
                                               #subject="ngModel"><!--pattern="^[a-zA-Z 0-9_-]{1,60}$"-->

                                    </div>
                                    <span *ngIf="subject.invalid && subject.touched"
                                          class="col-md-9 select pdng-lr-5 text-danger">
                                                Please enter valid subject.
                                    </span>
                                </div>
                                <div class="form-group hr">
                                    <label class="control-label col-md-3">Email Type:
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <!--<select class="form-control" name="select" [(ngModel)]="emailTempModel.type">
                                            <option value="-1">-&#45;&#45;&#45;&#45; Select -&#45;&#45;&#45;&#45;</option>
                                            <option value="APPOINTMENT">Appointment</option>
                                            <option value="CONFIRM_APPOINTMENT">Confirm Appointment</option>
                                            <option value="APPOINTMENT_REMINDER">Appointment Reminder</option>
                                        </select>-->
                                        <p-dropdown placeholder="Select Type" [autoWidth]="false" name="type"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}"
                                                    [options]="emailType" [(ngModel)]="emailTempModel.type"
                                                    [panelStyle]="{minWidth:'12em'}"
                                                    [filter]="true">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-8">
                                    <textarea data-provide="markdown" rows="10" cols="100"
                                              required name="emailTemplate" maxlength="3999" minlength="1"
                                              [(ngModel)]="emailTempModel.emailTemplate"
                                              #emailTemplate="ngModel">
                                    </textarea>
                                    <span *ngIf="emailTemplate.invalid && emailTemplate.touched"
                                          class="col-md-9 select pdng-lr-5 text-danger">
                                        Please enter some data in email template
                                    </span>
                                </div>
                                <div class="col-md-4">
                                    <div class="bordered pdng-all">
                                        <h3 class="block">Tags</h3>
                                        <div class="tag-txt">
                                            <p>-@first_name@</p>
                                            <p>-@last_name@</p>
                                            <p>-@email@</p>
                                            <p>-@mobile@</p>
                                            <p>-@link@</p>
                                        </div>
                                        <div class="mrgn-top14 tag-txt">
                                            <strong>Note</strong>
                                            <p>Must insert the ‘@’ sign while using such label
                                                mentioned above</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-8">
                                    <div class="form-group hr">
                                        <label class="control-label col-md-3">Active:
                                        </label>
                                        <div class="col-md-1">
                                            <!--<input type="checkbox" class="mt-checkbox mt-checkbox-outline"
                                                   name="active" id="active"
                                                   [(ngModel)]="emailTempModel.active">-->
                                            <label class="mt-checkbox-outline">
                                                              <mat-checkbox #status="ngModel"
                                                              name="active"
                                                              [(ngModel)]="emailTempModel.active"
                                                              color="primary"></mat-checkbox>

                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hr">
                            <div class="col-md-12 text-center">
                                <a routerLink="/dashboard/setting/email-template" class="nav-link">
                                    <button type="button" class="btn  btn-default"> Cancel</button>
                                </a>
                                <button type="button" class="btn blue" (click)="saveEmailTemplate(form)"> Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>