<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Add Medical Services</h4>
                </div>
                <form action="#" id="form_sample_1" class="form-horizontal" novalidate>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Title
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" name="name" data-required="1" value="" placeholder=""
                                               class="form-control"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Branch
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="select">
                                            <option value="">Select...</option>
                                            <option value="Category 1">Select Branch</option>
                                            <option value="Category 2">Select Branch</option>
                                            <option value="Category 3">Select Branch</option>
                                            <option value="Category 4">Select Branch</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Department
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="select">
                                            <option value="">Select...</option>
                                            <option value="Category 1">Select Department</option>
                                            <option value="Category 2">Select Department</option>
                                            <option value="Category 3">Select Department</option>
                                            <option value="Category 4">Select Department</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Service Cost</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Email" value="" data-required="1" class="form-control"
                                               placeholder="service cost"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Service Fee
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" name="name" data-required="1" value="" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Service Tax
                                    </label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="select">
                                            <option value="">Select...</option>
                                            <option value="Category 1">Select Service Tax</option>
                                            <option value="Category 2">Select Service Tax</option>
                                            <option value="Category 3">Select Service Tax</option>
                                            <option value="Category 4">Select Service Tax</option>
                                        </select></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Duration
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" data-required="1" value="" class="form-control">
                                    </div>
                                    <div class="control-label col-md-1">
                                        Mins
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Description
                                    </label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" rows="3" title="" placeholder=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFile" class="col-md-3 control-label">File Image</label>
                                    <div class="col-md-9">
                                        <input type="file" id="exampleInputFile">
                                        <p class="help-block"> (Recommended: width 400px X height 300px) </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Status
                                    </label>
                                    <div class="col-md-9">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox">
                                            <input type="checkbox"><span></span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr">
                            <div class="col-md-12 text-center">
                                <button type="button" class="btn blue"> Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>