<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Create Email Template</h4>
                </div>
                <form id="emailTemplateForm" #form="ngForm">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group hr mrgn-btm08">
                                    <label class="control-label col-md-3 pdng-lr-5">Email Title:
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9 profile-frm pdng-lr-5">
                                        <input type="text" name="title"
                                               class="form-control"
                                               required id="title"
                                               placeholder="Enter Title"
                                               [(ngModel)]="emailTempModel.title"
                                               #title="ngModel"> <!-- pattern="^[a-zA-Z 0-9_-]{1,60}$"-->
                                        <span *ngIf="title.invalid && title.touched"
                                               class="text-danger">
                                                Please enter valid title.
                                    </span>
                                    </div>
                                </div>
                                <div class="form-group hr mrgn-btm08">
                                    <label class="control-label col-md-3 pdng-lr-5">Email Subject:
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9 profile-frm pdng-lr-5">
                                        <input type="text"
                                               class="form-control" required
                                               name="subject" id="subject"
                                               placeholder="Enter Subject"
                                               [(ngModel)]="emailTempModel.subject"
                                               #subject="ngModel"><!--pattern="^[a-zA-Z 0-9_-]{1,60}$"-->
                                        <span *ngIf="subject.invalid && subject.touched"
                                              class="text-danger">
                                                Please enter valid subject.
                                    </span>
                                    </div>
                                </div>
                                <div class="form-group hr mrgn-btm08">
                                    <label class="control-label col-md-3 pdng-lr-5">Email Type:
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9 pdng-lr-5">
                                        <!--<select class="form-control" name="select" [(ngModel)]="emailTempModel.type">
                                            <option value="-1">-&#45;&#45;&#45;&#45; Select -&#45;&#45;&#45;&#45;</option>
                                            <option value="APPOINTMENT">Appointment</option>
                                            <option value="CONFIRM_APPOINTMENT">Confirm Appointment</option>
                                            <option value="APPOINTMENT_REMINDER">Appointment Reminder</option>
                                        </select>-->
                                        <p-dropdown placeholder="Select Type" [autoWidth]="false" name="type"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}"
                                                    [options]="emailType" [(ngModel)]="emailTempModel.type"
                                                    [panelStyle]="{minWidth:'12em'}"
                                                    [filter]="true">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mrgn-btm08">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="col-md-3 pdng-lr-5">Content</label>
                                        <div class="col-md-9 pdng-lr-5">
                                    <ckeditor #emailTemplate="ngModel"
                                                [(ngModel)]="emailTempModel.emailTemplate"
                                                [config]="ckeConfig"
                                                [readonly]="false"
                                                debounce="500"
                                                name="myckeditor"
                                                >
                                    </ckeditor>
                                            <span *ngIf="emailTemplate.invalid && emailTemplate.touched"
                                                  class="col-md-9 select pdng-lr-5 text-danger">
                                        Please enter some data in email template
                                    </span>
                                        </div>
                                    <!--<ckeditor
                                            [data]="emailTempModel.emailTemplate"
                                            [editor]="Editor"
                                            [disabled]="isDisabled"npm install --save-dev @ckeditor/ckeditor5-build-classic
                                            id="classic-editor"
                                            name="classic-editor"
                                            >
                                    </ckeditor>-->

                                    <!--<ckeditor #emailTemplate="ngModel"  [editor]="Editor"  [(ngModel)]="emailTempModel.emailTemplate"
                                              name="basic">
                                    </ckeditor>-->
                                   <!-- <p-editor #emailTemplate="ngModel" [style]="{'height':'320px'}" name="basic"  maxlength="3999" minlength="1" [(ngModel)]="emailTempModel.emailTemplate" styleClass="editor-dimensions">

                                        <p-header>
                                         <span class="ql-format-group">
                                            <span title="Bold" class="ql-format-button ql-bold"></span>
                                            <span class="ql-format-separator"></span>
                                            <span title="Italic" class="ql-format-button ql-italic"></span>
                                            <span class="ql-format-separator"></span>
                                            <span title="Underline" class="ql-format-button ql-underline"></span>
                                            <span class="ql-format-separator"></span>
                                            <span title="Strikethrough" class="ql-format-button ql-strike"></span>
                                        </span>
                                        </p-header>

                                    </p-editor>-->
                                   <!-- <textarea data-provide="markdown" rows="10" cols="100"
                                              required name="emailTemplate" maxlength="3999" minlength="1"
                                              [(ngModel)]="emailTempModel.emailTemplate"
                                              #emailTemplate="ngModel">
                                    </textarea>-->

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="bordered pdng-all">
                                        <h3 class="block">Tags</h3>
                                        <div class="tag-txt">
                                            <p>-@first_name@</p>
                                            <p>-@last_name@</p>
                                            <p>-@email@</p>
                                            <p>-@mobile@</p>
                                            <p>-@link@</p>
                                        </div>
                                        <div class="mrgn-top14 tag-txt">
                                            <strong>Note</strong>
                                            <p>Must insert the ‘@’ sign while using such label
                                                mentioned above</p>
                                        </div>
                                    </div>
                            </div>
                        </div>

                        <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group hr mrgn-btm08">
                                        <label class="control-label col-md-3 pdng-lr-5">Active:
                                        </label>
                                        <div class="col-md-1 pdng-lr-5">
                                            <!--<input type="checkbox" class="mt-checkbox mt-checkbox-outline"
                                                   name="active" id="active"
                                                   [(ngModel)]="emailTempModel.active">-->
                                            <label class="mt-checkbox-outline">
                                                              <mat-checkbox #status="ngModel"
                                                              name="active"
                                                              [(ngModel)]="emailTempModel.active"
                                                              color="primary"></mat-checkbox>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <div class="hr">
                            <div class="col-md-12 text-center">
                                <a routerLink="/dashboard/setting/email-template" class="nav-link">
                                    <button type="button" class="btn  btn-default"> Cancel</button>
                                </a>
                                <button type="button" class="btn blue" (click)="saveEmailTemplate(form)"> Save</button>
                                <div [innerHTML]="ckeditorContent"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>