<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Add Medical Services</h4>
                </div>
                <form id="createMSForm" #msForm="ngForm" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Name
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input class="form-control" minlength="1"
                                               type="text" required placeholder="Enter Name"
                                               [(ngModel)]="ms.name"
                                               required id="msTitle"
                                               name="msTitle" #msTitle="ngModel"/>
                                        <!--pattern="^[a-zA-Z 0-9_-]{1,60}$"-->
                                        <span *ngIf="msTitle.invalid && msTitle.touched"
                                              class="text-danger">
                                                Please enter valid name
                                    </span>
                                    </div>

                                </div>
                                <!---->
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">code
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input class="form-control"
                                               type="text" placeholder="Enter Code"
                                               [(ngModel)]="ms.code" minlength="3"
                                               required id="code"
                                               name="code" #code="ngModel"/>
                                        <span *ngIf="code.invalid && code.touched"
                                              class="text-danger">
                                                Please enter valid Code.
                                    </span>
                                    </div>

                                </div>
                                <!---->
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Branch
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 pdng-lr-5 profile-frm">
                                        <p-multiSelect
                                                placeholder="select branches"
                                                [style]="{'text-align': 'left' ,'width':'100%'}"
                                                [options]="ms.branches" name="brList"
                                                [(ngModel)]="selectedBranches" optionLabel="name"
                                                (onChange)="onBranchSelection($event)"
                                                [panelStyle]="{minWidth:''}">
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Department
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 pdng-lr-5 profile-frm">
                                        <!--<div class="checkbox-box  cod-higt" id="departmentDiv">
                                            <div class="col-md-6" *ngFor="let department of ms.departments">
                                                <address>
                                                    <label class="mt-checkbox-outline">
                                                        <input type="checkbox"
                                                               id="departmentId"
                                                               name="{{department.id}}"
                                                               [(ngModel)]="department.checkedDepartment">
                                                        {{department.name}}
                                                        <span></span>
                                                    </label>
                                                </address>
                                            </div>
                                        </div>-->
                                        <p-multiSelect
                                                placeholder="select department"
                                                [style]="{'text-align': 'left' ,'width':'100%'}"
                                                optionLabel="name"
                                                [options]="ms.departments" [(ngModel)]="selectedDepartments"
                                                name="dptList" [panelStyle]="{minWidth:''}">

                                        </p-multiSelect>

                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Service Cost {{+ "("+currency+")"}}
                                        <span class="required" aria-required="true"> * </span></label>

                                    <div class="col-md-8 pdng-lr-5 profile-frm">
                                        <input class="form-control" id="cost"
                                               type="text" placeholder="Enter Cost"
                                               [(ngModel)]="ms.strCost" min="0"
                                                pattern="^[0-9 \.]{1,60}$" (keyup)="isNumberCheck($event)"
                                               name="cost" />
                                        <span class="text-danger">
                                                    <span *ngIf="isError"> Please Enter Number </span>
                                        </span>
                                        <!--<span *ngIf="cost.invalid && cost.touched"
                                               class="text-danger">
                                                Please enter Number.
                                    </span>-->
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Service Fee {{+ "("+currency+")"}}
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 pdng-lr-5 profile-frm">
                                        <input  type="text" id="fee" class="form-control"
                                               [(ngModel)]="ms.strFee" min="0" placeholder="Enter Fee" pattern="^[0-9\.]{1,60}$" (keyup)="isNumberCheckFee($event)"
                                                 name="fee" />
                                        <span class="text-danger">
                                                    <span *ngIf="isErrorFee"> Please Enter Number </span>
                                        </span>
                                    </div>

                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Service Tax (%)
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <!--<select class="form-control"
                                                name="taxId" id="taxId"
                                                [ngModelOptions]="{standalone:true}"
                                                [(ngModel)]="ms.tax.id">
                                            <option value="-1">&#45;&#45; Select &#45;&#45;</option>
                                            <option *ngFor="let item of taxes; let i = index;"
                                                    value={{item.id}}>
                                                {{item.name}}
                                            </option>
                                        </select>-->
                                        <p-dropdown placeholder="Select Tax" [autoWidth]="false" name="dpt"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}"
                                                    [(ngModel)]="ms.tax.id" [options]="taxes"
                                                    [panelStyle]="{minWidth:''}" [filter]="true">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Duration</label>
                                    <div class="col-md-7 pdng-lr-5 profile-frm">
                                        <input class="form-control" type="number" required
                                               [(ngModel)]="ms.duration" min="0" maxlength="5"
                                               name="duration" placeholder="Enter duration"
                                               #duration="ngModel"/>
                                    </div>
                                    <div class="control-label col-md-1 no-padding-lft">Minutes</div>
                                    <span *ngIf="duration.invalid && duration.touched" class="text-danger"> Please enter valid duration</span>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Description</label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <textarea class="form-control" rows="3" title="" placeholder="Enter Description"
                                                  [(ngModel)]="ms.description" name="description" #description="ngModel">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group hr">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Status</label>
                                    <div class="col-md-8 select mt-checkbox mt-checkbox-outline pdng-l-r-15">
                                        <label class="mt-checkbox-outline">
                                            <mat-checkbox [(ngModel)]="ms.status" name="status" color="primary"></mat-checkbox>
                                        </label>
                                    </div>
                                </div>
                                <!-- Image Upload -->
                                <!-- -->
                        </div>
                        <div class="col-md-6">
                        <div class="form-group">
                       <!-- <label class="col-md-4 control-label txt-size">Photo</label>-->
                        <div class="col-md-6 select">
                        <div class="logo-plchldr">
                            <!--<img class="img-responsive" style="width: 120px; height: 140px;"
                                 src="/public/images/patient-photo.jpg"
                                 *ngIf="organization.profileImgUrl === null || organization.profileImgUrl === ''"/>-->

                            <img class="img-responsive" style="width: 120px; height: 140px;"
                                 src="{{urlOrganization}}">
                        </div>
                        <div class="mrgn-top8">
                            <input class="file" type="file" id="profileImgUrl"
                                   name="profileImgUrl"
                                   (change)="uploadImgOnChange($event)">

                        </div>
                        <!-- <div class="imgUploadTopMargin">
                             <button class="btn btn-default btn-outline"
                                     (click)="uploadProfileImg()">
                                 <i class=" icon-arrow-up"></i>upload
                             </button>
                         </div>-->
                        </div>
                        </div></div>

                        <div class="hr">
                            <div class="col-md-12 text-center" align="right">
                                <button type="button" (click)="saveMedicalServices(msForm)" class="btn primary blue"> Save </button>
                                <a routerLink="/dashboard/setting/medicalServices">
                                    <button type="button" class="btn default"> Cancel</button>
                                </a>

                            </div>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>