<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info"> Branch</h4>
                </div>
                <div class="portlet-body">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_1_1" data-toggle="tab" aria-expanded="true"> Profile </a>
                        </li>
                         <li class="">
                             <a href="#tab_1_2" data-toggle="tab" aria-expanded="false"> Billing </a>
                         </li>
                         <li class="">
                             <a href="#tab_1_3" data-toggle="tab" aria-expanded="false"> Online Schedule </a>
                         </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tab_1_1">
                            <form [formGroup]="branchForm" class="form-horizontal">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group mrgn-btm08">
                                                <label class="control-label col-md-4 pdng-lr-5">Company Name</label>
                                                <div class="col-md-8 profile-frm pdng-lr-5">
                                                    <input type="text" formControlName="companyName" [(ngModel)]="organization.companyName"
                                                           placeholder="Enter company name e.g iPhone" name="cname" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group mrgn-btm08">
                                                <label class="control-label col-md-4 pdng-lr-5">Branch Name
                                                    <span class="required" aria-required="true"> * </span>
                                                </label>
                                                <div class="col-md-8 profile-frm pdng-lr-5">
                                                    <input type="text" placeholder="Enter branch name e.g heart branch of city"
                                                           formControlName="branchName" class="form-control">
                                                    <span class="text-danger" *ngIf="!branchForm.controls['branchName'].valid && branchForm.controls['branchName'].touched">
                                                        <span *ngIf="branchForm.controls['branchName'].errors.minlength"> Minimum 4 Characters</span>
                                                        <span *ngIf="branchForm.controls['branchName'].errors.required"> Name is required </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <!--<div class="form-group">
                                                <label class="control-label col-md-4">Primary Doctor
                                                </label>
                                                <div class="col-md-8">
                                                    <select class="form-control"
                                                            (change)="getDoctor($event.target.value)"
                                                            formControlName="primaryDoctor" placeholder="Select Branch">
                                                        <option *ngFor="let doc of pDoctor" [value]="doc.id">
                                                            {{doc.userName}}
                                                        </option>

                                                    </select>
                                                </div>
                                            </div>-->
                                            <div class="form-group mrgn-btm08">
                                                <label class="control-label col-md-4 pdng-lr-5">Country </label>
                                                <div class="col-md-8 pdng-lr-5">
                                                    <!--<select class="form-control" formControlName="country"
                                                            (change)="getSelectedStates($event.target.value)">
                                                        <option value="-1">Select...</option>

                                                        <option *ngFor ="let count of countryList">{{count.name}} </option>
                                                        </select>-->
                                                    <p-dropdown placeholder="Select Country" [autoWidth]="false"
                                                                formControlName="countryId"
                                                                [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                (onChange)="getStatesByCountryId($event.value)"
                                                                [options]="countryListModified"
                                                                [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                    </p-dropdown>
                                                </div>
                                            </div>
                                            <div class="form-group mrgn-btm08">
                                                <label class="control-label col-md-4 pdng-lr-5">Address </label>
                                                <div class="col-md-8 profile-frm pdng-lr-5">
                                                    <input type="text" placeholder="Enter address" formControlName="address" data-required="1" value=""
                                                           class="form-control" (keypress)="addressChange($event.target.value)" (blur)="addressChange($event.target.value)" >
                                                </div>
                                            </div>
                                            <div class="form-group mrgn-btm08">
                                                <label class="control-label col-md-4 pdng-lr-5">Zip Code </label>
                                                <div class="col-md-8 profile-frm pdng-lr-5">
                                                    <input type="text" placeholder="Enter Zip Code" formControlName="zipCode" data-required="1" value=""
                                                           class="form-control" (keypress)="zipCodeChange($event.target.value)" (blur)="zipCodeChange($event.target.value)">
                                                </div>
                                            </div>
                                            <div class="form-group mrgn-btm08">
                                                <label class="control-label col-md-4 pdng-lr-5">State </label>
                                                <div class="col-md-8 pdng-lr-5">
                                                    <!--<select class="form-control"
                                                            (change)="getState($event.target.value)">
                                                        <option value="">Select...</option>
                                                        <option *ngFor ="let city of cities">{{city}} </option>
                                                    </select>-->
                                                    <p-dropdown  placeholder="Select State" [autoWidth]="false"
                                                                 formControlName="stateId" [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                 (onChange)="getCitiesByStateId($event.value)"
                                                                 [options]="statesListModified"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                    </p-dropdown>
                                                </div>
                                            </div>
                                            <div class="form-group mrgn-btm08">
                                                <label class="control-label col-md-4 pdng-lr-5">City </label>
                                                <div class="col-md-8 pdng-lr-5">
                                                    <!--
                                                        <input type="text" formControlName="city" data-required="1" value=""
                                                           class="form-control">
                                                   -->
                                                    <p-dropdown  placeholder="Select City" [autoWidth]="false"
                                                                 formControlName="cityId" [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                 (onChange)="selectBranchCity($event.value)"
                                                                 [options]="citiesListModified"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                    </p-dropdown>
                                                </div>
                                            </div>
                                            <!--<div class="form-group">
                                                <label class="control-label col-md-4">Zip Code
                                                </label>
                                                <div class="col-md-8">
                                                    <select class="form-control"
                                                            (change)="getZipCode($event.target.value)">
                                                        <option value="">Select...</option>
                                                        <option value="1154">1154</option>
                                                        <option value="2157">2157</option>
                                                        <option value="21514">21514</option>
                                                        <option value="20012">20012</option>
                                                        <option value="21431">21431</option>
                                                    </select>
                                                </div>
                                            </div>-->
                                            <div class="form-group mrgn-btm08">
                                                <label class="control-label col-md-4 pdng-lr-5">Office Phone</label>
                                                <div class="col-md-8 profile-frm pdng-lr-5">
                                                    <input name="officePhone"
                                                           placeholder="Enter office phone number e.g 12456"
                                                           formControlName="officePhone" type="text"
                                                           value="(876) 785-6757"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group mrgn-btm08">
                                                <label class="control-label col-md-4 pdng-lr-5">Fax</label>
                                                <div class="col-md-8 profile-frm pdng-lr-5">
                                                    <input type="text" formControlName="fax" placeholder="Enter fax number e.g 12456" data-required="1"
                                                           value="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group mrgn-btm08">
                                                <label class="control-label col-md-4 pdng-lr-5">Formatted Address </label>
                                                <!--<div class="col-md-8 select pdng-lr-5"> {{formattedAddress}} </div>-->
                                                <div class="col-md-8 profile-frm pdng-lr-5">
                                                    <textarea type="text" formControlName="formattedAddress" id="formattedAddress"
                                                              data-required="1" class="form-control" readonly></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group mrgn-btm08">
                                                <div style="margin-left: 33%" class="col-md-8 pdng-lr-5">
                                                    <mat-radio-group formControlName="flow" required>
                                                        <mat-radio-button value="RD" color="primary">Receptionist &#8680;  Doctor</mat-radio-button>
                                                        <mat-radio-button value="D" color="primary">Doctor</mat-radio-button>
                                                        <mat-radio-button value="RND" color="primary">Receptionist &#8680;  Nurses &#8680; Doctor</mat-radio-button>
                                                        <mat-radio-button value="RCD" color="primary">Receptionist &#8680; Cashier &#8680; Doctor</mat-radio-button>
                                                        <mat-radio-button value="RCND" color="primary">Receptionist &#8680; Cashier &#8680; Nurses &#8680; Doctor</mat-radio-button>
                                                    </mat-radio-group>
                                                    <br/>
                                                    <span class="text-danger" *ngIf="!branchForm.controls['flow'].valid && branchForm.controls['flow'].touched">
                                                        <span *ngIf="branchForm.controls['flow'].errors.required"> Flow is required </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mrgn-btm08">
                                                <label class="control-label col-md-4 pdng-lr-5">Office Start Time
                                                    <span class="required" aria-required="true"> * </span>
                                                </label>
                                                <div class="col-md-8 pdng-lr-5 profile-frm">
                                                    <span class="col-md-7 no-padding">
                                                    <input class="width100" type="time"
                                                           placeholder="Select start time e.g 8:00 AM" value="" disabled
                                                           formControlName="officeHoursStart">
                                                    </span>
                                                    <button type="button" (click)="getOfficeHoursStart()" class="font-siz11">Start</button>
                                                </div>
                                                <!--<span class="text-danger"
                                                      *ngIf="!branchForm.controls['officeHoursStart'].valid && branchForm.controls['officeHoursStart'].touched">
                                                    <span *ngIf="branchForm.controls['officeHoursStart'].errors.required"> Start time  is required </span>
                                                </span>-->
                                            </div>
                                            <div class="form-group mrgn-btm08">
                                                <label class="control-label col-md-4 pdng-lr-5"> Office End Time
                                                    <span class="required" aria-required="true"> * </span>
                                                </label>
                                                <div class="col-md-8 pdng-lr-5 profile-frm">
                                                    <span class="col-md-7 no-padding">
                                                    <input class="width100" type="time" value="" disabled
                                                           formControlName="officeHoursEnd" placeholder="Select end time e.g 4:00 PM">
                                                    <!--<span class="text-danger"
                                                          *ngIf="!branchForm.controls['officeHoursEnd'].valid && branchForm.controls['officeHoursEnd'].touched">
                                                        <span *ngIf="branchForm.controls['officeHoursEnd'].errors.required">End time  is required </span>
                                                    </span>-->
                                                    </span>
                                                    <button type="button" (click)="getOfficeHoursEnd()" class="font-siz11">End</button>
                                                </div>
                                            </div>
                                            <div class="form-group mrgn-btm08">
                                                <label class="control-label col-md-4 pdng-lr-5">No of Ex Rooms
                                                    <span class="required" aria-required="true"> * </span>
                                                </label>
                                                <div class="col-md-6 pdng-lr-5">
                                                    <p-dropdown placeholder="Select No of Rooms" [autoWidth]="false"
                                                                [(ngModel)]="noOfRoom" name="noOfRooms"
                                                                [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                (onChange)="getNoOfExamRooms($event)"
                                                                [options]="noOfRoomsList" required
                                                                formControlName="noOfExamRooms"
                                                                [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                    </p-dropdown>
                                                    <!--<select class="form-control" formControlName="noOfExamRooms" name="noOFRooms"  [(ngModel)]="noOfRoom"
                                                            (change)="getNoOfExamRooms($event.target.value)">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>-->
                                                </div>
                                            </div>
                                            <span class="text-danger"
                                                  *ngIf="!branchForm.controls['noOfExamRooms'].valid && branchForm.controls['noOfExamRooms'].touched">
                                                <span *ngIf="branchForm.controls['noOfExamRooms'].errors.required"> Please Select Rooms </span>
                                            </span>
                                            <div formArrayName="examRooms"
                                                 *ngFor="let item of branchForm.get('examRooms').controls; let i = index;">
                                                <div class="form-group mrgn-btm08" [formGroupName]="i">
                                                    <label class="control-label col-md-4 pdng-lr-5">Exam Rooms</label>
                                                    <div class="col-md-4 pdng-lr-5 profile-frm">
                                                        <input type="text" class="form-control" style="width: 170px !important;" formControlName="roomName">
                                                        <span  style="text-align: center" class="text-danger"
                                                           *ngIf="!branchForm.controls.examRooms.controls[i].controls.roomName.valid && branchForm.controls.examRooms.controls[i].controls.roomName.touched">
                                                            <span style="text-align: center" *ngIf="branchForm.controls.examRooms.controls[i].controls.roomName.errors.required"> Room Name is required  </span>
                                                        </span>
                                                    </div>

                                                    <div class="col-md-3 pdng-lr-5">
                                                        <label class="mt-checkbox-outline pull-right fnt-sze10">
                                                            <mat-checkbox formControlName="allowOnlineScheduling" color="primary" > Online Scheduling</mat-checkbox>
                                                           <!-- <p-checkbox [(ngModel)]="allowOnlineScheduling" [formControl]="branchForm.controls.examRooms.controls['allowOnlineScheduling']"></p-checkbox>-->
                                                            <span></span>
                                                            <span [hidden]="i==0" >
                                                                <i (click)="deleteField(i)" title="Remove" class="fa fa-close font-red"></i>
                                                            </span>
                                                        </label>
                                                    </div>
                                                   <!--{{ branchForm.controls.examRooms.controls[i].controls.allowOnlineScheduling.value }}-->
                                                    <!--  <span *ngIf="branchForm.controls.examRooms.controls[i].controls.roomName.errors.required"> Room Name is required  </span>-->
                                                    <!--<div class="col-md-1"><i (click)="deleteField(i)" class="fa fa-close font-red"></i></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 no-padding">
                                            <div class="text-center">
                                                <button (click)="addBranch(branchForm.value,'')" class="btn blue"><i class="fa fa-plus"></i> Create </button>
                                                <button (click)="cancel()" class="btn default"><i class="fa fa-cancel"></i> Cancel </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="tab_1_2">
                            <div class="row">
                                <div class="col-md-5">
                                    <form [formGroup]="billingForm" class="form-horizontal">
                                        <div class="form-group mrgn-btm08">
                                            <label class="control-label col-md-4 pdng-lr-5">Billing Name</label>
                                            <div class="col-md-8 pdng-lr-5 profile-frm">
                                                <input type="text" placeholder="enter name of bill e.g purchase bill" formControlName="billingName"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group mrgn-btm08">
                                            <label class="control-label col-md-4 pdng-lr-5">Billing Branch</label>
                                            <div class="col-md-8 pdng-lr-5 profile-frm">
                                                <select class="form-control" (change)="getSelectedBranch($event.target.value)"
                                                        formControlName="billingBranch" placeholder="Select Branch">
                                                    <option *ngFor="let br of branchesList" [value]="br"> {{br}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group mrgn-btm08">
                                            <label class="control-label col-md-4 pdng-lr-5">Billing Tax ID #</label>
                                            <div class="col-md-8 pdng-lr-5 profile-frm">
                                                <input type="text" placeholder="Enter billing tax id" formControlName="billingTaxID"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="hr">
                                            <button (click)="addBranch(billingForm.value,'')" class="btn blue pull-right">
                                                <i class="fa fa-plus"></i> Create
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="tab_1_3">
                            <div class="row">
                                <div class="col-md-5">
                                    <form [formGroup]="scheduleForm" class="form-horizontal">
                                        <div class="form-group mrgn-btm08">
                                            <label class="control-label col-md-8 pdng-lr-5">Show this Branch information online</label>
                                            <div class="col-md-4 pdng-lr-5">
                                                <label class="mt-checkbox mt-checkbox-outline chckbox">
                                                    <mat-checkbox formControlName="showBranchOnline" color="primary" ></mat-checkbox>
                                                </label>
                                                <!--<label class="mt-checkbox mt-checkbox-outline chckbox">
                                                    <input type="checkbox" formControlName="showBranchOnline"><span></span>
                                                </label>-->
                                            </div>
                                        </div>
                                        <div class="form-group mrgn-btm08">
                                            <label class="control-label col-md-8 pdng-lr-5">Allow online scheduling in this Branch</label>
                                            <div class="col-md-4 pdng-lr-5">
                                                <label class="mt-checkbox mt-checkbox-outline chckbox">
                                                    <mat-checkbox formControlName="allowOnlineSchedulingInBranch" color="primary" ></mat-checkbox>
                                                </label>
                                                <!--<label class="mt-checkbox mt-checkbox-outline chckbox">
                                                    <input type="checkbox" formControlName="allowOnlineSchedulingInBranch"><span></span>
                                                </label>-->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="hr">
                                <div class="col-md-4 branch-save-button">
                                    <button (click)="addBranch(billingForm.value,'done')" class="pull-right btn blue"> Save </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>