<div class="page-content-wrapper">
    <div class="page-content">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="hr">
                        <h4 class="text-info">Profile Account </h4>
                    </div>
                    <form [formGroup]="accountForm"  class="form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group mrgn-btm08">
                                        <label class="control-label col-md-4 pdng-lr-5">First Name<span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-8 profile-frm pdng-lr-5">
                                            <input type="text" formControlName="firstName"
                                                   [(ngModel)]="organization.firstName"
                                                   class="form-control">
                                            <input type="hidden" formControlName="userId" [(ngModel)]="organization.id" >
                                            <span class="text-danger"
                                                  *ngIf="!accountForm.controls['firstName'].valid && accountForm.controls['firstName'].touched">
                                                  <span *ngIf="accountForm.controls['firstName'].errors.required">First Name is required </span>
                                            </span>
                                        </div>
                                        <input  formControlName="formName" value="ACCOUNT" type="hidden" />
                                    </div>
                                    <div class="form-group mrgn-btm08">
                                        <label class="control-label col-md-4 pdng-lr-5">Last Name<span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-8 profile-frm pdng-lr-5">
                                            <input type="text" formControlName="lastName"
                                                   [(ngModel)]="organization.lastName"
                                                   class="form-control">
                                            <span class="text-danger"
                                                  *ngIf="!accountForm.controls['lastName'].valid && accountForm.controls['lastName'].touched">
                                                  <span *ngIf="accountForm.controls['lastName'].errors.required">Last Name is required </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group mrgn-btm08">
                                        <label class="control-label col-md-4 pdng-lr-5">Email <span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-8 profile-frm pdng-lr-5">
                                            <input type="text" formControlName="userEmail" name="email"
                                                   [(ngModel)]="organization.email"
                                                   class="form-control">
                                            <span class="text-danger"
                                                  *ngIf="!accountForm.controls['userEmail'].valid && accountForm.controls['userEmail'].touched">
                                                  <span *ngIf="accountForm.controls['userEmail'].errors.required">Email is required </span>
                                                <span *ngIf="accountForm.controls['userEmail'].errors.pattern">Email is not valid</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group mrgn-btm08">
                                        <label class="control-label col-md-4 pdng-lr-5">Username
                                        </label>
                                        <div class="col-md-8 profile-frm pdng-lr-5">
                                            <input type="text" formControlName="userName"
                                                   [(ngModel)]="organization.username"
                                                   class="form-control" readonly></div>
                                    </div>
                                    <div class="form-group mrgn-btm08">
                                        <label class="control-label col-md-4 pdng-lr-5">Cell Phone
                                        </label>
                                        <div class="col-md-8 profile-frm pdng-lr-5">
                                            <input type="number" formControlName="cellPhone"
                                                   [(ngModel)]="organization.cellPhone"
                                                   class="form-control"></div>
                                    </div>
                                    <div class="form-group mrgn-btm08">
                                        <label class="control-label col-md-4 pdng-lr-5">Home Phone
                                        </label>
                                        <div class="col-md-8 profile-frm pdng-lr-5">
                                            <input type="number" formControlName="homePhone"
                                                   [(ngModel)]="organization.homePhone"
                                                   class="form-control"></div>
                                    </div>
                                    <div class="form-group mrgn-btm08">
                                        <label class="control-label col-md-4 pdng-lr-5">Address
                                        </label>
                                        <div class="col-md-8 pdng-lr-5">
                                            <textarea rows="3" type="text" formControlName="userAddress"
                                                   [(ngModel)]="organization.address"
                                                      class="form-control"></textarea>
                                        </div>
                                    </div>


                                    <div class="form-group mrgn-btm08">
                                        <label class="control-label col-md-4 pdng-lr-5">Password</label>
                                        <div class="col-md-8 profile-frm pdng-lr-5">
                                            <input type="password" formControlName="password" class="form-control">
                                            <span class="text-danger" *ngIf="!accountForm.controls['password'].valid && accountForm.controls['password'].touched">
                                            <span *ngIf="accountForm.controls['password'].errors.minlength"> minimum 6 charachters</span>
                                           </span>
                                        </div>
                                    </div>
                                    <div class="form-group mrgn-btm08">
                                        <label class="control-label col-md-4 pdng-lr-5">Confirm Password</label>
                                        <div class="col-md-8 pdng-lr-5 profile-frm">
                                            <input type="password" formControlName="confirmPassword" class="form-control">
                                            <span class="text-danger" *ngIf="!accountForm.controls['confirmPassword'].valid && accountForm.controls['confirmPassword'].touched">pass must be match</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                       <!-- <label class="col-md-4 control-label txt-size">Photo</label>-->
                                        <div class="col-md-6 select">
                                            <div class="logo-plchldr">
                                                <!--<img class="img-responsive" style="width: 120px; height: 140px;"
                                                     src="/public/images/patient-photo.jpg"
                                                     *ngIf="organization.profileImgUrl === null || organization.profileImgUrl === ''"/>-->

                                                <img class="img-responsive" style="width: 120px; height: 120px;"
                                                     src="{{urlOrganization}}">
                                            </div>
                                            <div class="mrgn-top8">
                                                <input class="file" type="file" id="profileImgUrl"
                                                       name="profileImgUrl"
                                                       (change)="uploadImgOnChange($event)">

                                            </div>
                                            <div class="imgUploadTopMargin mrgn-top8">
                                                <button class="btn btn-default btn-outline"
                                                        (click)="uploadProfileImg()">
                                                    <i class=" icon-arrow-up"></i>upload
                                                </button>
                                            </div>
                                        </div>
                                    </div></div>
                            </div></div>
                    </form>
                </div>
            </div>
            <div class="hr">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn blue" (click)="saveAccount(accountForm.value)"> Update</button>
                    <!--<button (click)="cancel()" class="btn default"><i class="fa fa-default"></i> Cancel</button>-->

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>


