<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr no-margin">
                    <h4 class="text-info">Chart of Accounts
                        <div class="pull-right">
                            <a href="#chartOfAccount" data-toggle="modal">
                                <button class="btn primary blue" (click)="edit()"> <i class="fa fa-plus"></i>
                                    Chart of Account
                                </button>
                            </a>
                        </div>
                    </h4>
                </div>
                <div class="table-scrollable border-non">
                    <p-table #dt [columns]="cols" [value]="chartOfAccountList" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Search Against any field"
                                       (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            </div>
                        </ng-template>
                        <ng-template sortable="true" pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" style='width: -webkit-fill-available;' [ngSwitch]="col.field">
                                    {{col.header}}
                                    <p-sortIcon *ngIf="col.field != 'action'" [field]="col.field"
                                                ariaLabel="Sort" ariaLabelDesc="Sort in descending order" ariaLabelAsc="Sort in ascending order">
                                    </p-sortIcon>
                                </th>
                            </tr>
                            <!--<tr>
                                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <input *ngSwitchCase="'code'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                    <input *ngSwitchCase="'name'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                    <input *ngSwitchCase="'parentType'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                    <input *ngSwitchCase="'description'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                    <input *ngSwitchCase="'balance'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                </th>
                            </tr>-->
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-chartOfAccountList>
                            <tr>
                                <td field="code">{{chartOfAccountList.code}}</td>
                                <td field="name">{{chartOfAccountList.name}}</td>
                                <td field="parentType">{{chartOfAccountList.parentType + " ("+chartOfAccountList.accountType+")"}}</td>
                                <td field="description">{{chartOfAccountList.description}}</td>
                                <td field="balance">{{chartOfAccountList.balance}}</td>
                                <td field="action">
                                    <ng-container>
                                        <a href="#chartOfAccount" data-toggle="modal">
                                            <button class="font-blue" (click)="edit(chartOfAccountList)"> <i class="fa fa-pencil"></i></button>
                                        </a>
                                        <button class="text-danger" (click)="deleteAccount(chartOfAccountList.id)"> <i class="fa fa-remove"></i> </button>
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <!--<table class="table table-striped table-hover table-checkable dataTable no-footer" id="datatable_ajax">
                        <thead>
                        <tr role="row" class="off-wite-bg">
                            <th width="15%" class="sorting_disabled col-txt-left" rowspan="1" colspan="1">Account Code</th>
                            <th width="10%" class="sorting_disabled" rowspan="1" colspan="1">Account Name</th>
                            <th width="15%" class="sorting_disabled col-txt-left" rowspan="1" colspan="1">Parent Type</th>
                            <th width="10%" class="sorting_disabled" rowspan="1" colspan="1"> Description </th>
                            <th width="10%" class="sorting_disabled" rowspan="1" colspan="1"> Balance </th>
                            <th width="10%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Action</th>
                        </tr>
                        <tr role="row" *ngFor="let item of chartOfAccountList">
                            <td class="sorting_disabled" rowspan="1" colspan="1">{{item.code}}</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">{{item.name}}</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">{{item.parentType}}</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">{{item.description}}</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">{{item.balance}}</td>

                            <td rowspan="1" colspan="1" class="text-align-center">
                                <a href="#chartOfAccount" data-toggle="modal">
                                    <button class="btn btn-default btn-outline btn-sm" (click)="edit(item)"> <i class="fa fa-pencil"></i></button>
                                </a>
                                <button class="btn btn-default btn-outline btn-sm" (click)="deleteAccount(item.id)"> <i class="fa fa-remove"></i> </button>
                            </td>
                        </tr>
                        </thead>
                    </table>-->
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<div id="chartOfAccount" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form id="chartOfAccountForm" #accountForm="ngForm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" >Add Account</h4>
                </div>
                <div class="modal-body" id="addAccDiv" style="height:280px !important;">
                    <div class="scroller" style="height:220px !important" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <div class="form-group hr">
                                <label class="col-md-3 control-label txt-size pdng-lr-5">Account Code</label>
                                <div class="col-md-9 select pdng-lr-5"> <b>{{code}}</b> </div>
                            </div>

                                <div class="form-group hr">
                                    <label class="col-md-3 control-label txt-size pdng-lr-5">Parent Type</label>
                                    <div class="col-md-9 select pdng-lr-5">
                                        <p-dropdown placeholder="Select Parent Type" [autoWidth]="false" (onChange)="parentTypeSelected($event.value)"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}" name="selectedParentType"
                                                    [(ngModel)]="selectedParentType" [options]="parentTypes"
                                                    [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                        </p-dropdown>
                                    </div>
                                </div>

                                <div class="form-group hr">
                                    <label class="col-md-3 control-label txt-size pdng-lr-5">Account Type</label>
                                    <div class="col-md-9 select pdng-lr-5">
                                        <p-dropdown placeholder="Select Account Type" [autoWidth]="false" (onChange)="accountTypeSelected($event.value)"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}" name="selectedAccountType"
                                                    [(ngModel)]="selectedAccountType" [options]="accountTypes"
                                                    [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                        </p-dropdown>
                                    </div>
                                </div>


                                <div class="form-group hr">
                                    <label class="col-md-3 control-label txt-size pdng-lr-5">Account Name
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9 select pdng-lr-5 profile-frm">
                                        <input type="text" name="accountName" id="accountName" class="form-control" pattern="^[a-zA-Z 0-9_-]{1,60}$" placeholder="Enter account name"
                                               [(ngModel)]="chartOfAccount.name" #accountName="ngModel">
                                    </div>
                                    <span *ngIf="accountName.invalid && accountName.touched" class="col-md-9 select pdng-lr-5 text-danger">Please enter valid account name.</span>
                                </div>

                                <div class="form-group hr">
                                    <label class="col-md-3 control-label txt-size pdng-lr-5">Description</label>
                                    <div class="col-md-9 select pdng-lr-5 profile-frm">
                                    <textarea type="text" rows="1" name="currentValue" class="form-control" placeholder="Enter description"
                                              [(ngModel)]="chartOfAccount.description" #currentValue="ngModel"></textarea>
                                    </div>
                                </div>

                                <ng-container *ngIf="showBankDetailsDiv == true">
                                <span *ngIf="showBankDetailsDiv == true">
                                    <div class="form-group hr">
                                        <label class="col-md-3 control-label txt-size pdng-lr-5">Bank Account Title
                                            <span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-9 select pdng-lr-5 profile-frm">
                                            <input type="text" required name="title" id="title" class="form-control" placeholder="Enter Bank Account Title"
                                                   [(ngModel)]="chartOfAccount.bankAccount.title" #title="ngModel">
                                        </div>
                                    </div>

                                    <div class="form-group hr">
                                        <label class="col-md-3 control-label txt-size pdng-lr-5">Bank Account #
                                            <span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-9 select pdng-lr-5 profile-frm">
                                            <input type="text" required name="accountNumber" id="accountNumber" class="form-control" placeholder="Enter Bank Account Number"
                                                   [(ngModel)]="chartOfAccount.bankAccount.accountNumber" #accountNumber="ngModel">
                                        </div>
                                    </div>

                                    <div class="form-group hr">
                                        <label class="col-md-3 control-label txt-size pdng-lr-5">IBAN</label>
                                        <div class="col-md-9 select pdng-lr-5 profile-frm">
                                            <input type="text"  name="iban" id="iban" class="form-control" placeholder="Enter IBAN"
                                                   [(ngModel)]="chartOfAccount.bankAccount.iban" #iban="ngModel">
                                        </div>
                                    </div>

                                    <div class="form-group hr">
                                        <label class="col-md-3 control-label txt-size pdng-lr-5">Bank Branch</label>
                                        <div class="col-md-9 select pdng-lr-5 profile-frm">
                                            <input type="text"  name="branch" id="branch" class="form-control" placeholder="Enter Bank Branch"
                                                   [(ngModel)]="chartOfAccount.bankAccount.branch" #branch="ngModel">
                                        </div>
                                    </div>
                                </span>
                                </ng-container>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span *ngIf="isUpdate">
                            <button type="button" class="btn blue" id="save-btn-update"
                                    (click)="editAccountSetUp(accountForm)">Update </button>
                        </span>
                        <span *ngIf="isNew">
                            <button type="button" class="btn blue" id="save-btn"
                                    (click)="editAccountSetUp(accountForm)">Save </button>
                        </span>
                        <span>
                            <button type="button" data-dismiss="modal" id="close-btn-Prefix" (click)="clearAccountSetUp()"
                                    class="btn green-meadow">Close </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>



