<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">ICD Code
                        <div class="pull-right">
                            <a href="#popupCode" data-toggle="modal">
                                <button class="btn mt-sweetalert btn green-meadow"
                                        (click)="onAddICDCodePopupLoad()"
                                        data-confirm-button-class="btn-success"><i class="fa fa-plus"></i> ICD Code
                                </button>
                            </a>
                            <button class="btn mt-sweetalert btn blue"
                                    (click)="refreshCodesTable()"
                                    data-confirm-button-class="btn-success"> Refresh
                            </button>
                            <div class="upload-btn-wrapper">
                                <button class="btn red mt-sweetalert"><i class="fa fa-upload" aria-hidden="true"></i> Import Data</button>
                                <input #fileInput type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                       id="codeDataImport" name="codeDataImport" value="" placeholder="" (change)="importData($event)">
                            </div>
                        </div>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ngx-loading [show]="loading"></ngx-loading>
                <!--table prime-->
                <p-table #dt [columns]="cols" [value]="data" [paginator]="true" [rows]="5">
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="50" placeholder="Code/Problem"
                                   (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon *ngIf="col.field == 'code' || col.field == 'problem'" [field]="col.field"
                                            ariaLabel="Sort" ariaLabelDesc="Sort in descending order" ariaLabelAsc="Sort in ascending order">
                                </p-sortIcon>
                            </th>
                        </tr>
                        <!--<tr>
                            <th *ngFor="let col of cols" [ngSwitch]="col.field">
                                <input *ngSwitchCase="'code'" pInputText type="text" style="width: 100%"
                                       (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

                                <input *ngSwitchCase="'problem'" pInputText type="text" style="width: 100%"
                                       (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            </th>

                        </tr>-->
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td>{{item.code}}</td>
                            <td>{{item.problem}}</td>
                            <td rowspan="1" colspan="1"
                                [hidden]="!versionCountUnique">
                                {{item.checkedVersionCount}}
                            </td>
                            <td rowspan="1" colspan="1" [hidden]="versionCountUnique">
                                <a href="#popupVersion" data-toggle="modal">
                                    <button class="btn mt-sweetalert btn green-meadow"
                                            title="Click to view details"
                                            (click)="getCheckedVersionsByCodeId(item.id)"
                                            data-confirm-button-class="btn-success">
                                        <i class="fa fa"></i>{{item.checkedVersionCount}}
                                    </button>
                                </a>
                            </td>
                            <td>{{item.description}}</td>

                            <td class="sorting_disabled" rowspan="1" colspan="1">
                                {{item.status === true ? 'Active' : 'In-Active'}}
                            </td>
                            <td rowspan="1" colspan="1">
                                <a href="#popupCode" data-toggle="modal">
                                    <button class="font-blue" (click)="editICDCode(item)"> <i class="fa fa-pencil"></i> </button>
                                </a>
                                <span [hidden]="item.hasChild">
                                    <button class="text-danger" (click)="deleteICD(item.id)"> <i class="fa fa-remove"></i> </button>
                                </span>

                                <a href="{{item.infoURL}}" target="_blank" placeholder="Click to see information" > Information </a>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div id="popupCode" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form id="saveCodeForm" #form="ngForm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" [hidden]="this.isCodeUpdate">Add Code</h4>
                    <h4 class="modal-title" [hidden]="!(this.isCodeUpdate)">Update Code</h4>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height:290px" data-always-visible="1" data-rail-visible1="1">
                        <!-- Multi select by ng-->
                        <div class="form-group hr mrgn-btm08">
                                <label class="control-label col-md-3 pdng-lr-5 txt-size">Versions
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-9 pdng-lr-5">
                                    <p-multiSelect required id="codeVersion" name="codeVersion"
                                            placeholder="select version e.g icd-version-0001"
                                            [style]="{'text-align': 'left' ,'width':'100%'}"
                                            [options]="icdVersions" (onChange)="changeSelectedChecked()"
                                            [ngModelOptions]="{standalone:true}" [(ngModel)]="clientCheckedVersions"
                                            [panelStyle]="{minWidth:''}">
                                    </p-multiSelect>

                                </div>
                        </div>
                        <!-- Multi select by ng-->
                            <div class="form-group hr mrgn-btm08">
                                <label class="col-md-3 control-label txt-size pdng-lr-5">Code
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-9 pdng-lr-5 profile-frm">
                                    <input type="text" pInputText
                                           [(ngModel)]="iCDModel.code" id="code"
                                           placeholder="Enter Code e.g" name="code"
                                           required pattern="^[a-zA-Z 0-9_-]{1,60}$"
                                           #code="ngModel" class="form-control">
                                    <span *ngIf="code.invalid && code.touched"
                                         class="text-danger">
                                    Please enter valid code.
                                </span>
                                </div>
                            </div>
                            <div class="form-group hr mrgn-btm08">
                                <label class="col-md-3 control-label txt-size pdng-lr-5">Problem
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-9 select pdng-lr-5 profile-frm">
                                    <input type="text" pInputText
                                           [(ngModel)]="iCDModel.problem" id="problem"
                                           placeholder="Enter problem" name="problem"
                                           required pattern="^[a-zA-Z 0-9_-]{1,60}$"
                                           #problem="ngModel" class="form-control">
                                    <span *ngIf="problem.invalid && problem.touched"
                                                                    class="text-danger">
                                    Please enter valid problem.
                                </span>
                                </div>
                            </div>
                            <div class="form-group hr mrgn-btm08">
                                <label class="col-md-3 control-label txt-size pdng-lr-5">Info URL
                                </label>
                                <div class="col-md-9 select pdng-lr-5 profile-frm">
                                    <input type="text" pInputText
                                           [(ngModel)]="iCDModel.infoURL"
                                           placeholder="Enter info URL" name="infoURL" id="infoURL"
                                           #infoURL="ngModel" class="form-control">
                                    <span *ngIf="infoURL.invalid && infoURL.touched"
                                          class="col-md-9 select pdng-lr-5 text-danger">
                                    Please enter valid code.
                                </span>
                                </div>
                            </div>
                            <div class="form-group hr mrgn-btm08">
                                <label class="col-md-3 control-label txt-size pdng-lr-5">Description</label>
                                <div class="col-md-9 select pdng-lr-5">
                                <textarea rows="3"
                                          [(ngModel)]="iCDModel.description"
                                          name="description" pInputTextarea
                                          placeholder="Enter text" class="form-control">
                                </textarea>
                                </div>
                            </div>
                            <div class="form-group hr mrgn-btm08">
                                <label class="col-md-3 control-label txt-size pdng-lr-5">Status</label>
                                <div class="col-md-9 select pdng-lr-5 mt-checkbox mt-checkbox-outline">
                                    <!--<label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox"
                                               [(ngModel)]="iCDModel.status" name="status">
                                        <span></span>
                                    </label>-->
                                    <label class="mt-checkbox-outline">
                                        <mat-checkbox [(ngModel)]="iCDModel.status" name="status"
                                                      color="primary">
                                        </mat-checkbox>
                                    </label>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" id="close-btn"
                            class="btn btn-default btn-outline">Close
                    </button>
                    <span [hidden]="this.isCodeUpdate">
                        <button type="button" class="btn blue" id="save-btn"
                                (click)="saveICDCode(form)">Save
                        </button>
                    </span>
                    <span [hidden]="!(this.isCodeUpdate)">
                        <button type="button" class="btn blue" id="update-btn"
                                (click)="updateICDCode(form)">Update
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="popupVersion" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Branches</h4>
            </div>
            <div class="modal-body">
                <p class="font-red" *ngIf="checkedVersions.length <= 0">Code has no version</p>
                <div class="scroller" style="height:150px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <address>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="select2-bootstrap-prepend">
                                        <div class="checkbox-box cod-higt" id="branchNameDiv">
                                            <div class="col-md-6 branches-list">
                                                <ul>
                                                    <li *ngFor="let version of checkedVersions">
                                                        <i class=" icon-home"></i>
                                                        <label class="">
                                                            {{version.name}}
                                                            <span></span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </address>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal"
                        id="close-btn-branch"
                        name="close-btn-branch"
                        class="btn btn-default btn-outline"
                        (click)="clearList($event)">Close
                </button>
            </div>
        </div>
    </div>
</div>
