<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr no-margin">
                    <h4 class="text-info">Drug
                        <div class="pull-right">
                            <a href="#popupDrug" data-toggle="modal">
                                <button class="btn primary blue" (click)="onAddDrug()">
                                    <i class="fa fa-plus"></i> Add
                                </button>
                            </a>
                            <button class="btn green-meadow"
                                    data-title="Sweet Alerts with Icons" data-message="Success Icon"
                                    data-type="success" data-allow-outside-click="true"
                                    (click)="getAllDrugsFromServer()"
                                    data-confirm-button-class="btn-success"> Refresh
                            </button>
                            <!--<span>
                                <button class="btn primary blue"> <i class="icon-clock"></i> Print </button>
                            </span>-->
                            <p-splitButton label="Data Import" icon="fa fa-file" (onClick)="openCaretDropdown()" [model]="items" styleClass="ui-button-danger"></p-splitButton>
                            <div class="upload-btn-wrapper">
                                <!--<button class="btn red mt-sweetalert"><i class="fa fa-upload" aria-hidden="true"></i> Import Data</button>-->
                                <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                       id="drugsDataImport" name="drugsDataImport" value="" placeholder="" (change)="importData($event)">
                            </div>
                        </div>
                    </h4>
                </div>
                <div class="">

                    <!--<div class=" patient-profile hr portlet padding-10 light bordered view-pro">
                        <div class="col-md-4">
                            <div class="form-group font-siz11">
                                <input type="text" class="form-control"
                                       placeholder="Department Name"
                                       [(ngModel)]="searchDepart"
                                       (keydown.enter)="searchClinicalDepartment(0)">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <button type="button" (click)="searchClinicalDepartment(0)" class="btn blue">Search
                                </button>
                            </div>
                        </div>
                    </div>-->

                    <div class="table-scrollable border-non">

                        <p-table #dt [columns]="cols" [value]="data"  [rows]="10"  [paginator]="true" >

                            <!--<div style="text-align: right">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Global Filter"
                                       (input)="dt.filterGlobal($event.target.value, 'contains')"
                                       style="width:auto">
                            </div>-->
                            <ng-template pTemplate="caption">
                                <div style="text-align: right">
                                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                    <input type="text" pInputText size="50" placeholder="Search Against Drug Name, Company Name, Generic Name, Route, or Strength"
                                           (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                </div>
                            </ng-template>
                            <ng-template sortable="true" pTemplate="header" let-columns>

                                <tr>
                                    <th sortable="true" *ngFor="let col of columns" [pSortableColumn]="col.field" >
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </th>
                                </tr>
                                <!--<tr>
                                    <th *ngFor="let col of columns" [ngSwitch]="col.field">

                                        <input *ngSwitchCase="'drugName'" pInputText type="text" style="width: 100%"
                                               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

                                        <input *ngSwitchCase="'companyName'" pInputText type="text" style="width: 100%"
                                               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

                                        <input *ngSwitchCase="'genericName'" pInputText type="text" style="width: 100%"
                                               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

                                        <input *ngSwitchCase="'route'" pInputText type="text" style="width: 100%"
                                               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

                                        <input *ngSwitchCase="'strength'" pInputText type="text" style="width: 100%"
                                               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

                                        <input *ngSwitchCase="'uOM'" pInputText type="text" style="width: 100%"
                                               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

                                        <input *ngSwitchCase="'origin'" pInputText type="text" style="width: 100%"
                                               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">



                                    </th>
                                </tr>-->
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-data>
                                <!--<span *ngIf="data.drugNaturalId != null">-->
                                    <tr>
                                        <td field="drugName" class="wrap-overflow-text"><strong>{{data.drugName}}</strong></td>
                                        <td field="companyName" class="wrap-overflow-text">{{data.companyName}}</td>
                                        <td field="genericName" class="wrap-overflow-text">{{data.genericName}}</td>
                                        <td field="route" class="wrap-overflow-text">{{data.route}}</td>
                                        <td field="strength" class="wrap-overflow-text">{{data.strengths}}</td>
                                        <td field="uOM" class="wrap-overflow-text">{{data.uOM}}</td>
                                        <td field="drugMaker" class="wrap-overflow-text">{{data.drugMakerView}}</td>
                                        <td field="active" class="wrap-overflow-text">{{data.active === true ? 'Active' : 'In-Active'}}</td>
                                        <td>
                                            <a href="#popupDrug" data-toggle="modal">
                                                <button class="font-blue" (click)="onUpdatePopupDrug(data.id)"> <i class="fa fa-pencil"></i> </button>
                                            </a>
                                            <span [hidden]="data.hasChild">
                                                <button class="text-danger" (click)="deleteDrug(data.id)"> <i class="fa fa-remove"></i> </button>
                                            </span>
                                            <span [hidden]="data.drugInfo == null || data.drugInfo == undefined || data.drugInfo == ''">
                                                <button class="font-green-jungle" (click)="openUrl(data.drugInfo)"><i class="fa fa-globe"></i></button>
                                            </span>
                                        </td>
                                    </tr>
                                <!--</span>-->
                            </ng-template>

                        </p-table>
                       <!-- <table class="table table-striped table-hover table-checkable dataTable no-footer"
                               id="datatable_ajax" role="grid">
                            <thead>
                            <tr role="row" class="off-wite-bg">
                                <th width="10%" class="c-text-left padding"> Drug Name</th>
                                <th width="10%" class="c-text-left padding"> Company Name</th>
                                <th width="10%"> Generic Name</th>
                                <th width="10%"> Route</th>
                                <th width="10%"> Strength</th>
                                <th width="10%"> UoM</th>
                                <th width="10%"> Origin</th>
                                <th width="10%"> Status</th>
                                <th width="10%"> Action</th>
                            </tr>
                            <tr *ngFor="let item of data; let i = index;" class="filter">
                                <td class="c-text-left padding font-green-dark"><strong>{{item.drugName}}</strong></td>
                                <td class="c-text-left">{{item.companyName}}</td>
                                <td class="c-text-left">{{item.genericName}}</td>
                                <td class="c-text-left">{{item.route}}</td>
                                <td class="c-text-left">{{item.strength}}</td>
                                <td class="c-text-left">{{item.uOM}}</td>
                                <td class="c-text-left">{{item.origin}}</td>
                                <td>{{item.active === true ? 'Active' : 'In-Active'}}</td>
                                <td class="sorting_disabled">
                                    <a href="#popupDrug" data-toggle="modal">
                                        <button class="btn btn-default btn-outline btn-sm"
                                                (click)="onUpdatePopupDrug(item.id)"><i class="fa fa-pencil"></i>

                                        </button>
                                    </a>
                                    <span [hidden]="item.hasChild">
                                        <button class="btn btn-default btn-outline btn-sm"
                                                (click)="deleteDrug(item.id)">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </span>

                                </td>
                            </tr>
                            </thead>
                        </table>-->
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--<div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="dataTables_paginate paging_bootstrap_full_number pull-right" id="sample_1_2_paginate">
                    <ul class="pagination" style="visibility: visible;">
                        <li class="prev" *ngIf="pages.length >= 2 && currPage > 0">
                            <a (click)="getPageWiseDrugFromServer(0);" title="First">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li class="prev" *ngIf="prePage">
                            <a (click)="getPageWiseDrugFromServer(currPage - 1)" title="Previous">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li [ngClass]="{active: page === currPage}"
                            *ngFor="let page of pages">
                            <a (click)="getPageWiseDrugFromServer(page)">{{page + 1}}</a>
                        </li>
                        <li class="next" *ngIf="nextPage">
                            <a (click)="getPageWiseDrugFromServer(currPage + 1)" title="Next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="next" *ngIf="pages.length >= 2 && currPage < pages[pages.length - 1]">
                            <a (click)="getPageWiseDrugFromServer(pages.length - 1)" title="Last">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <p></p>
            </div>
        </div>-->
    </div>

    <div id="popupDrug" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog receipt-modal">
            <form id="loginForm" class="login-form" #form="ngForm">
                <div class="modal-content" style="width: 90%">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Add Drug</h4>
                    </div>
                    <div class="modal-body" >
                        <div class="slimScrollDiv"
                             style="position: relative; overflow: hidden; width: auto;">
                            <div class="scroller" style="overflow: hidden; width: auto; height: 320px;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group hr">
                                            <label class="col-md-4 control-label txt-size pdng-lr-5">Drug ID:<span
                                                    class="required" aria-required="true"> * </span></label>
                                            <div class="col-md-8 select pdng-lr-5 profile-frm">
                                                <input class="form-control" type="text"
                                                       [(ngModel)]="drug.drugNaturalId" size="30"
                                                       required id="drugNaturalId" pInputText
                                                       name="drugNaturalId" disabled
                                                       #drugNaturalId="ngModel"/>
                                            </div>
                                        </div>

                                        <div class="form-group hr">
                                            <label class="col-md-4 control-label txt-size pdng-lr-5">Drug Name<span
                                                    class="required" aria-required="true"> * </span></label>
                                            <div class="col-md-8 select pdng-lr-5  profile-frm">
                                                <input class="form-control" type="text" placeholder=" e.g Panadol"
                                                       [(ngModel)]="drug.drugName" size="30" required id="drugName" pInputText
                                                       name="drugName" #drugName="ngModel"/>
                                                <span *ngIf="drugName.invalid && drugName.touched" class="text-danger"> Please enter drug name </span>
                                            </div>
                                        </div>

                                        <div class="form-group hr">
                                            <label class="col-md-4 control-label txt-size pdng-lr-5">Generic Name<span
                                                    class="required" aria-required="true"> * </span></label>
                                            <div class="col-md-8 select pdng-lr-5 profile-frm">
                                                <input class="form-control" type="text" placeholder=" e.g Paracetamol"
                                                       [(ngModel)]="drug.genericName" size="30"
                                                       required id="genericName" pInputText
                                                       name="genericName"
                                                       #genericName="ngModel"/>
                                                <span *ngIf="genericName.invalid && genericName.touched" class="text-danger"> Please enter generic name </span>
                                            </div>
                                        </div>

                                        <div class="form-group hr">
                                            <label class="col-md-4 control-label txt-size pdng-lr-5">Company Name</label>
                                            <div class="col-md-8 select pdng-lr-5 profile-frm">
                                                <input class="form-control" type="text" placeholder="e.g Medical Care"
                                                       [(ngModel)]="drug.companyName" size="30" id="companyName" pInputText
                                                       name="companyName" #companyName="ngModel"/>
                                                <!--<span *ngIf="companyName.invalid && companyName.touched" class="text-danger"> Please enter. </span>-->
                                            </div>
                                        </div>

                                        <div class="form-group hr">
                                            <label class="col-md-4 control-label txt-size pdng-lr-5">Dozage/Route<span
                                                    class="required" aria-required="true"> * </span></label>
                                            <div class="col-md-8 pdng-lr-5">
                                                <p-dropdown [(ngModel)]="drug.route"  [autoWidth]="false"   [style]="{'text-align': 'left' ,'width':'100%'}"
                                                            required id="route" name="route" [options]="drug.routes" #route="ngModel">
                                                </p-dropdown>
                                                <span *ngIf="route.invalid && route.touched" class="text-danger"> Please select route of drug </span>
                                            </div>
                                        </div>

                                        <div class="form-group hr">
                                            <label class="col-md-4 control-label txt-size pdng-lr-5">Strength<span
                                                    class="required" aria-required="true"> * </span></label>
                                            <div class="col-md-8 pdng-lr-5 profile-frm">
                                                <p-chips min="0" max="3" name="strengths" [style]="{'text-align': 'left' ,'width':'100%', 'height':''}"
                                                         [(ngModel)]="drug.strengths" placeholder="Insert strengths"
                                                         id="strengths" #strengths="ngModel" addOnTab="true" addOnBlur="true" allowDuplicate="false" >
                                                </p-chips>
                                                <span class="col-md-9 select pdng-lr-5 text-danger">Enter strength and press TAB to enter another</span>
                                                <span *ngIf="strengths.invalid && strengths.touched" class="col-md-9 select pdng-lr-5 text-danger">Please enter strength(s)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group hr">
                                            <label class="col-md-4 control-label txt-size pdng-lr-5">UoM<span
                                                    class="required" aria-required="true"> * </span></label>
                                            <div class="col-md-8 pdng-lr-5">
                                                <p-dropdown [options]="drug.UOMs" [(ngModel)]="drug.uOM" [autoWidth]="false"
                                                            [style]="{'text-align': 'left' ,'width':'100%'}"
                                                            id="uOM" name="uOM" #uOM="ngModel">
                                                </p-dropdown>
                                                <span *ngIf="uOM.invalid && uOM.touched" class="text-danger"> Please select unit of measurement </span>
                                            </div>
                                        </div>

                                        <div class="form-group hr">
                                            <label class="col-md-4 control-label txt-size pdng-lr-5">Info</label>
                                            <div class="col-md-8 select pdng-lr-5 profile-frm">
                                                <input class="form-control" type="url"
                                                       [(ngModel)]="drug.drugInfo" placeholder=" e.g www.medicalcare.com"
                                                       pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?"
                                                       size="10" id="info" name="info" #info="ngModel"/>
                                                <span *ngIf="info.invalid && info.touched" class="text-danger"> Please enter valid Info URL </span>
                                            </div>
                                        </div>

                                        <div class="form-group hr">
                                            <label class="col-md-4 control-label txt-size pdng-lr-5">Make</label>
                                            <div class="col-md-8 select pdng-lr-5">
                                                <!--<input class="form-control" type="text"
                                                       [(ngModel)]="drug.origin"
                                                       size="10" id="origin"
                                                       name="origin"
                                                       #origin="ngModel"/>-->
                                                <!--<p-dropdown id="origin" placeholder="{{selectedCountry}}" [autoWidth]="false" [(ngModel)]="selectedCountry"
                                                            [style]="{'text-align': 'left' ,'width':'100%'}"
                                                            name="selectedCountry" #origin="ngModel"
                                                            [options]="countryListModified"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                </p-dropdown>-->
                                                <p-dropdown class="ui-dropdown-items-wrapper" id="drugMaker" placeholder="{{drug.drugMaker}}" [autoWidth]="false"
                                                            [(ngModel)]="drug.drugMaker" [style]="{'text-align': 'left' ,'max-height': '100px;' ,'width':'100%'}"
                                                            name="drugMaker" #drugMaker="ngModel" (onChange)="drugMakerPrint()"
                                                            [options]="drugMakeListModified"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                </p-dropdown>
                                                <!--<span *ngIf="selectedCountry.invalid && selectedCountry.touched" class="text-danger"> Please enter. </span>-->
                                            </div>
                                        </div>

                                        <div class="form-group hr">
                                            <label class="col-md-4 pdng-lr-5 control-label txt-size">Status</label>
                                            <div class="col-md-3 select pdng-lr-5">
                                                <label class="mt-checkbox-outline">
                                                    <mat-checkbox [(ngModel)]="drug.active" name="status" color="primary"></mat-checkbox>
                                                </label>
                                                <!--<label class="mt-checkbox mt-checkbox-outline chckbox">
                                                    <input type="checkbox" class="form-control" [(ngModel)]="drug.active" name="status" #status="ngModel">
                                                    <span></span>
                                                </label>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 190px;"></div>
                            <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" id="closeButton" class="btn default">Close</button>
                        <button type="button" class="btn primary blue" *ngIf="drug.id <= 0 || drug.id == null"
                                (click)="saveDrug()">Save</button>
                        <button type="button" class="btn primary blue" *ngIf="drug.id > 0"
                                (click)="updateDrug()">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>