<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Update Medical Services</h4>
                </div>
                <form id="editMSForm" #form="ngForm" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Name
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input class="form-control" type="text" placeholder="Enter name"
                                               [(ngModel)]="ms.name" id="msTitle" minlength="1"
                                               required pattern="^[a-zA-Z 0-9_-]{1,60}$"
                                               name="msTitle" #msTitle="ngModel"/>
                                    </div>
                                    <span *ngIf="msTitle.invalid && msTitle.touched" class="col-md-9 select pdng-lr-5 text-danger"> Please enter valid title. </span>
                                </div>

                                <!---->
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Code
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 pdng-lr-5 profile-frm">
                                        <input class="form-control" type="text"
                                               [(ngModel)]="ms.code" minlength="1"
                                               required id="code" placeholder="Enter code"
                                               name="code" #code="ngModel"/>
                                        <span *ngIf="code.invalid && code.touched" class="text-danger"> Please enter code </span>
                                    </div>
                                </div>
                                <!---->
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Branch
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <p-multiSelect placeholder="select branches" [style]="{'text-align': 'left' ,'width':'100%'}"
                                                [options]="branchesList" name="brList" [(ngModel)]="selectedBranches" (onChange)="onBranchSelection()">
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Department
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <p-multiSelect placeholder="select department" [style]="{'text-align': 'left' ,'width':'100%'}"
                                                (onChange)="changeSelectedCheckedDepartment()" name="dpList" [options]="ms.departments" [(ngModel)]="selectedDepartments">
                                        </p-multiSelect>
                                       <!-- [(ngModel)]="selectedDepartments"-->
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Service Cost {{ "("+currency+")"}} </label>
                                    <div class="col-md-8 pdng-lr-5 profile-frm">
                                        <input class="form-control"
                                               type="number" placeholder="Enter Cost"
                                               [(ngModel)]="ms.strCost" min="0"
                                                pattern="^[0-9\.]{1,60}$" (keyup)="isNumberCheck($event)"
                                               name="cost" />
                                        <!--<span class="text-danger">
                                            <span *ngIf="isError"> Please Enter Number </span>
                                        </span>-->
                                       <!-- <span *ngIf="cost.invalid && cost.touched"
                                              class="text-danger">
                                                Please enter Number.
                                    </span>-->
                                    </div>

                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Service Fee {{+ "("+currency+")"}}
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 pdng-lr-5 profile-frm">
                                        <input class="form-control" type="number" id="fee"
                                               [(ngModel)]="ms.strFee" min="0" placeholder="Enter fee"
                                                pattern="^[0-9\.]{1,60}$" name="fee" #fee="ngModel" />
                                        <span class="text-danger">
                                            <span *ngIf="isErrorFee"> Please Enter Number </span>
                                            <span *ngIf="fee.invalid && fee.touched" class="text-danger"> Please select route of drug </span>
                                        </span>
                                        <!--<span *ngIf="fee.invalid && fee.touched"
                                               class="text-danger">
                                                Please enter Number.
                                    </span>-->
                                    </div>

                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5"> Service Tax (%)</label>
                                    <div class="col-md-8 pdng-lr-5 profile-frm">
                                        <select class="form-control no-padding" name="taxId" id="taxId" [ngModelOptions]="{standalone:true}"
                                                [(ngModel)]="ms.tax.id" title="Select Service Tax">
                                            <option value="-1">-- Select --</option>
                                            <option *ngFor="let item of taxes; let i = index;" value={{item.id}}> {{item.name}} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Duration</label>
                                    <div class="col-md-7 pdng-lr-5 profile-frm">
                                        <input class="form-control width100" type="number" placeholder="Enter duration"
                                               [(ngModel)]="ms.duration" min="0" pattern="^[0-9]{1,60}$"
                                               name="duration" #duration="ngModel"/>
                                        <span *ngIf="duration.invalid && duration.touched" class="text-danger"> Please enter valid duration</span>
                                    </div>
                                    <div class="control-label col-md-1 no-padding-lft"> Minutes </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Description</label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <textarea class="form-control"
                                                  rows="3" title=""
                                                  placeholder="Enter Description"
                                                  [(ngModel)]="ms.description"
                                                  name="description"
                                                  #description="ngModel">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group hr mrgn-btm08">
                                    <label class="col-md-4 control-label txt-size pdng-lr-5">Status</label>
                                    <div class="col-md-8 select pdng-l-r-15 mt-checkbox mt-checkbox-outline">
                                        <label class="mt-checkbox-outline">
                                            <mat-checkbox [(ngModel)]="ms.status" name="status" color="primary"></mat-checkbox>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- <label class="col-md-4 control-label txt-size">Photo</label>-->
                                    <div class="col-md-6 select">
                                        <div class="logo-plchldr">
                                            <!--<img class="img-responsive" style="width: 120px; height: 140px;"
                                                 src="/public/images/patient-photo.jpg"
                                                 *ngIf="organization.profileImgUrl === null || organization.profileImgUrl === ''"/>-->

                                            <img class="img-responsive" style="width: 120px; height: 120px;"
                                                 src="{{ms.imgUrl}}">
                                        </div>
                                        <div class="mrgn-top8">
                                            <input class="file" type="file" id="profileImgUrl"
                                                   name="profileImgUrl"
                                                   (change)="uploadImgOnChange($event)">
                                        </div>
                                        <!-- <div class="imgUploadTopMargin">
                                             <button class="btn btn-default btn-outline"
                                                     (click)="uploadProfileImg()">
                                                 <i class=" icon-arrow-up"></i>upload
                                             </button>
                                         </div>-->
                                    </div>
                                </div></div>
                        </div>

                        <div class="hr">
                            <div class="col-md-12 text-center">
                                <button type="button" (click)="updateMedicalServices(form)" class="btn blue"> Update </button>
                                <a routerLink="/dashboard/setting/medicalServices">
                                    <button type="button" class="btn default"> Cancel </button>
                                </a>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>