<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Update Medical Services</h4>
                </div>
                <form id="editMSForm" #form="ngForm" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Name
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <input class="form-control" type="text" placeholder="Enter name"
                                               [(ngModel)]="ms.name" id="msTitle" minlength="1"
                                               required pattern="^[a-zA-Z 0-9_-]{1,60}$"
                                               name="msTitle" #msTitle="ngModel"/>
                                    </div>
                                    <span *ngIf="msTitle.invalid && msTitle.touched"
                                          class="col-md-9 select pdng-lr-5 text-danger">
                                                Please enter valid title.
                                    </span>
                                </div>

                                <!---->
                                <div class="form-group">
                                    <label class="control-label col-md-3">Code
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <input class="form-control" type="text"
                                               [(ngModel)]="ms.code" minlength="1"
                                               required id="code" placeholder="Enter code"
                                               name="code" #code="ngModel"/>
                                    </div>
                                    <span *ngIf="code.invalid && code.touched"
                                          class="col-md-9 select pdng-lr-5 text-danger">
                                                Please enter code.
                                    </span>
                                </div>
                                <!---->
                                <div class="form-group">
                                    <label class="control-label col-md-3">Branch
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <p-multiSelect
                                                placeholder="select branches"
                                                [style]="{'text-align': 'left' ,'width':'100%'}"
                                                [options]="ms.branches" name="brList"
                                                [(ngModel)]="selectedBranches" optionLabel="name"
                                                (onChange)="onBranchSelection()"
                                                [panelStyle]="{minWidth:'12em'}">
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Department
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <p-multiSelect
                                                placeholder="select department"
                                                [style]="{'text-align': 'left' ,'width':'100%'}"
                                                (onChange)="changeSelectedCheckedDepartment()" optionLabel="name"
                                                [options]="ms.departments" [(ngModel)]="selectedDepartments"
                                                name="dptList" [panelStyle]="{minWidth:'12em'}">
                                        </p-multiSelect>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Service Cost
                                    </label>
                                    <div class="col-md-9">
                                        <input class="form-control"
                                               type="number" placeholder="Enter Cost"
                                               [(ngModel)]="ms.cost" min="0"
                                               required pattern="^[0-9]{1,60}$"
                                               name="cost" #cost="ngModel"/>
                                    </div>
                                    <span *ngIf="cost.invalid && cost.touched"
                                          class="col-md-6 select pdng-lr-5 text-danger">
                                                Please enter valid cost.
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Service Fee
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <input class="form-control" type="number"
                                               [(ngModel)]="ms.fee" min="0" placeholder="Enter fee"
                                               required pattern="^[0-9]{1,60}$"
                                               name="fee" #fee="ngModel"/>
                                    </div>
                                    <span *ngIf="fee.invalid && fee.touched"
                                          class="col-md-6 select pdng-lr-5 text-danger">
                                                Please enter valid fee.
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Service Tax
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <select class="form-control"
                                                name="taxId" id="taxId"
                                                [ngModelOptions]="{standalone:true}"
                                                [(ngModel)]="ms.tax.id">
                                            <option value="-1">-- Select --</option>
                                            <option *ngFor="let item of taxes; let i = index;"
                                                    value={{item.id}}>
                                                {{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Duration
                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control"
                                               type="number" placeholder="Enter duration"
                                               [(ngModel)]="ms.duration" min="0"
                                               pattern="^[0-9]{1,60}$"
                                               name="duration"
                                               #duration="ngModel"/>
                                    </div>
                                    <div class="control-label col-md-1">
                                        Minutes
                                    </div>
                                    <span *ngIf="duration.invalid && duration.touched"
                                          class="col-md-6 select pdng-lr-5 text-danger">
                                                Please enter valid duration.
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Description
                                    </label>
                                    <div class="col-md-9">
                                        <textarea class="form-control"
                                                  rows="3" title=""
                                                  placeholder="Enter Description"
                                                  [(ngModel)]="ms.description"
                                                  name="description"
                                                  #description="ngModel">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group hr">
                                    <label class="col-md-3 control-label txt-size pdng-lr-5">Status</label>
                                    <div class="col-md-9 select pdng-lr-5 mt-checkbox mt-checkbox-outline">
                                        <label class="mt-checkbox-outline">
                                            <mat-checkbox [(ngModel)]="ms.status" name="status"
                                                          color="primary">
                                            </mat-checkbox>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr">
                            <div class="col-md-12 text-center">
                                <a routerLink="/dashboard/setting/medicalServices">
                                    <button type="button" class="btn default"> Cancel</button>
                                </a>
                                <button type="button" (click)="updateMedicalServices(form)" class="btn blue"> Update
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>