<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Update Email Template</h4>
                </div>
                <form id="updateEmailTemplateForm" #form="ngForm">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group hr mrgn-btm08">
                                    <label class="control-label col-md-3">Email Title:
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9 profile-frm">
                                        <input type="text" name="title"
                                               class="form-control"
                                               required id="title"
                                               placeholder="Enter Title"
                                               [(ngModel)]="emailTempModel.title"
                                               #title="ngModel">
                                        <span *ngIf="title.invalid && title.touched"
                                               class="col-md-9 select pdng-lr-5 text-danger">
                                                Please enter valid title.
                                    </span>
                                    </div>
                                </div>
                                <div class="form-group hr mrgn-btm08">
                                    <label class="control-label col-md-3">Email Subject:
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9 profile-frm">
                                        <input type="text" required
                                               class="form-control"
                                               name="subject" id="subject"
                                               placeholder="Enter Subject"
                                               [(ngModel)]="emailTempModel.subject"
                                               #subject="ngModel">
                                        <span *ngIf="subject.invalid && subject.touched"
                                              class="col-md-9 select pdng-lr-5 text-danger">
                                                Please enter valid subject.
                                    </span>
                                    </div>
                                </div>
                                <div class="form-group hr mrgn-btm08">
                                    <label class="control-label col-md-3">Email Type:
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9 profile-frm">
                                        <select class="form-control" name="select" [(ngModel)]="emailTempModel.type">
                                            <option value="-1">----- Select -----</option>
                                            <option value="APPOINTMENT">Appointment</option>
                                            <option value="CONFIRM_APPOINTMENT">Confirm Appointment</option>
                                            <option value="APPOINTMENT_REMINDER">Appointment Reminder</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                        <ckeditor #emailTemplate="ngModel"
                                                  [(ngModel)]="emailTempModel.emailTemplate"
                                                  [config]="ckeConfig"
                                                  [readonly]="false"
                                                  debounce="500"
                                                  name="myckeditor"
                                                  >
                                        </ckeditor>
                                        </div>
                                       <!-- <textarea data-provide="markdown" rows="10" cols="100"
                                                  maxlength="3999" minlength="1"
                                                  required name="emailTemplate" id="emailTemplate"
                                                  [(ngModel)]="emailTempModel.emailTemplate"
                                                  #emailTemplate="ngModel"></textarea>-->
                                        <span class="col-md-9 select pdng-lr-5 text-danger"
                                              *ngIf="emailTemplate.invalid && emailTemplate.touched">
                                        Please enter some data in email template
                                        </span>
                                        <div id="editor_error"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="bordered pdng-all">
                                        <h3 class="block">Tags</h3>
                                        <div class="tag-txt">
                                            <p>-@first_name@</p>
                                            <p>-@last_name@</p>
                                            <p>-@email@</p>
                                            <p>-@mobile@</p>
                                            <p>-@link@</p>
                                        </div>
                                        <div class="mrgn-top14 tag-txt">
                                            <strong>Note</strong>
                                            <p>Must insert the ‘@’ sign while using such label
                                                mentioned above</p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-8">
                                    <div class="form-group hr">
                                        <label class="control-label col-md-3">Active:
                                        </label>
                                        <div class="col-md-1">
                                            <input type="checkbox" class="form-control"
                                                   name="active" id="active"
                                                   [(ngModel)]="emailTempModel.active">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="hr">
                            <div class="col-md-12 text-center">
                                <a routerLink="/dashboard/setting/email-template" class="nav-link">
                                    <button type="button" class="btn  btn-default"> Cancel</button>
                                </a>
                                <button type="button" class="btn blue" (click)="updateEmailTemplate(form)"> Update
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>