<div class="page-content-wrapper">
    <div class="page-content">
        <h3 class="hr text-info">Email Configuration</h3>
        <div class="portlet-body">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1_1" data-toggle="tab" aria-expanded="true"> SMTPS </a>
                </li>
                <li class="">
                    <a href="#tab_1_2" data-toggle="tab" aria-expanded="false"> AmazonSES </a>
                </li>
            </ul>
            <div class="tab-content">

                <div class="tab-pane fade active in" id="tab_1_1">
                    <div class="row">
                        <div class="col-md-6">
                            <form id="smtpsForm" class="form-horizontal" #smtpsForm="ngForm">
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5"> Host
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="text" class="form-control" id="host" [(ngModel)]="smtps.smtpHost" name="host" #host="ngModel" required>
                                        <div *ngIf="host.invalid && (host.dirty || host.touched) " class="font-red">Host is required</div>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5"> Email
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="email" class="form-control" id="smtpEmail" [(ngModel)]="smtps.senderEmail"  required
                                               name="smtpEmail" #smtpEmail="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                        <div *ngIf="smtpEmail.invalid && (smtpEmail.dirty || smtpEmail.touched)" class="font-red">
                                            Please enter valid email
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5"> Test Receiver </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="text" class="form-control"
                                               [(ngModel)]="smtps.testReceiverEmail"
                                               name="smtpTestEmail"
                                               #smtpTestEmail="ngModel">
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5"> Password
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="text" class="form-control" [(ngModel)]="smtps.smptPassword"
                                               name="smtpPassword" required #smtpPassword="ngModel">
                                        <div *ngIf="smtpPassword.invalid && (smtpPassword.dirty || smtpPassword.touched) " class="font-red">Password is required</div>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5"> Port
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="text" class="form-control" [(ngModel)]="smtps.smtpPort" required
                                               name="smtpPort" #smtpPort="ngModel">
                                        <div *ngIf="smtpPort.invalid && (smtpPort.dirty || smtpPort.touched) " class="font-red">Port is required</div>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Is Default </label>
                                    <!--<div class="col-md-8 col-xs-6">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox">
                                            <input type="checkbox"
                                                   class="form-control"
                                                   #isDefault="ngModel"
                                                   name="isDefault"
                                                   [(ngModel)]="smtps.systemDefault"><span></span>

                                        </label>
                                    </div>-->
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        <label class="mt-checkbox-outline">
                                            <mat-checkbox name="isDefault" [(ngModel)]="smtps.systemDefault" color="primary" (change)="changeDefault('SMTPS')"> </mat-checkbox>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="hr">
                                        <button data-repeater-create="" class="btn blue"
                                                (click)="saveSMTPSConfiguration(sesForm,smtpsForm)"> Save
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab_1_2">
                    <div class="row">
                        <div class="col-md-6">
                            <form id="sesForm" class="form-horizontal" #sesForm="ngForm">
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5"> Access Key
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="text" class="form-control" #accessKey="ngModel"  id="accessKey" required
                                               name="accessKey" [(ngModel)]="amazonSES.sesAccessKey">
                                        <div *ngIf="accessKey.invalid && (accessKey.dirty || accessKey.touched) " class="font-red">Access Key is required</div>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5"> Secret Key
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="text" class="form-control" #secretKey="ngModel"  id="secretKey" required
                                               name="secretKey" [(ngModel)]="amazonSES.sesSecretKey">
                                        <div *ngIf="secretKey.invalid && (secretKey.dirty || secretKey.touched) " class="font-red">Secret Key is required</div>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5"> Email
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="text" class="form-control" #emailId="ngModel"  id="emailId" name="emailId" required
                                               [(ngModel)]="amazonSES.senderEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                        <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="font-red">
                                            Please enter valid email
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5"> Test Receiver </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="text" class="form-control" name="testReceiverEmail" id="testReceiverEmail"
                                               #testReceiverEmail="ngModel"
                                               [(ngModel)]="amazonSES.testReceiverEmail">
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Is Default </label>
                                    <!--<div class="col-md-8 col-xs-6">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox">
                                            <input type="checkbox" id="default"
                                                   class="form-control"
                                                   #default="ngModel"
                                                   name="default"
                                                   [(ngModel)]="amazonSES.systemDefault"><span></span></label>
                                    </div>-->
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        <label class="mt-checkbox-outline">
                                            <mat-checkbox name="default" [(ngModel)]="amazonSES.systemDefault" color="primary" (change)="changeDefault('AmazonSES')"> </mat-checkbox>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="hr">
                                        <button data-repeater-create="" class="btn blue"
                                                (click)="saveSESConfiguration(sesForm,smtpsForm)"> Save
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>