<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr no-margin">
                    <h4 class="text-info">Lab Tests
                        <div class="pull-right">
                            <a href="#labTestSpeciman" data-toggle="modal">
                                <button class="btn primary blue" (click)="addPopupClick()"><i class="fa fa-plus"></i> Lab Test</button>
                            </a>
                            <p-splitButton label="Data Import" icon="fa fa-file" (onClick)="openCaretDropdown()" [model]="items" styleClass="ui-button-danger"></p-splitButton>
                            <div class="upload-btn-wrapper">
                                <!--<button class="btn red mt-sweetalert"><i class="fa fa-upload" aria-hidden="true"></i> Import Data</button>-->
                                <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                       id="labTestDataImport" name="labTestDataImport" value="" placeholder="" (change)="importData($event)">
                            </div>
                        </div>
                    </h4>
                </div>

               <!-- <div class="table-scrollable">
                    <table class="table table-striped table-hover table-checkable dataTable no-footer"
                           id="datatable_ajax">
                        <thead>
                        <tr role="row" class="off-wite-bg">
                            <th width="15%" class="sorting_disabled col-txt-left" rowspan="1" colspan="1">Test Code</th>
                            <th width="10%" class="sorting_disabled" rowspan="1" colspan="1">Test Name</th>
                            <th width="15%" class="sorting_disabled col-txt-left" rowspan="1" colspan="1">Min Normal
                                Range
                            </th>
                            <th width="10%" class="sorting_disabled" rowspan="1" colspan="1"> Min Normal Range</th>
                            <th width="10%" class="sorting_disabled" rowspan="1" colspan="1"> Description</th>
                            <th width="10%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Action
                            </th>
                        </tr>
                        <tr role="row" *ngFor="let item of labTestSpecimanList">
                            <td class="sorting_disabled" rowspan="1" colspan="1">{{item.testCode}}</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">{{item.testName}}</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">{{item.minNormalRange}}</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">{{item.maxNormalRange}}</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">{{item.description}}</td>

                            <td rowspan="1" colspan="1" class="text-align-center">
                                <a href="#labTestSpeciman" data-toggle="modal">
                                    <button class="btn btn-default btn-outline btn-sm" (click)="edit(item)"><i
                                            class="fa fa-pencil"></i></button>
                                </a>
                            </td>
                        </tr>
                        </thead>
                    </table>
                </div>-->


            </div>
        </div>

        <!--Data Table-->
        <p-table #dt [columns]="cols" [value]="data" [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption">
                <div style="text-align: right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Test Code/Test Name/MIN Range/MAX Range/Unit " (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" style='width: -webkit-fill-available;' [ngSwitch]="col.field">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.field != 'action' && col.field != 'description'"
                                    [field]="col.field"
                                    ariaLabel="Sort"
                                    ariaLabelDesc="Sort in descending order"
                                    ariaLabelAsc="Sort in ascending order">
                        </p-sortIcon>
                    </th>

                </tr>
                <!--<tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <input *ngSwitchCase="'testCode'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'testName'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'minNormalRange'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'maxNormalRange'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'unit'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                    </th>
                </tr>-->

            </ng-template>

            <ng-template pTemplate="body" let-item let-columns="columns">
                <tr>

                    <td> {{item.specimanId}}</td>
                    <td> {{item.testCode}}</td>
                    <td> {{item.testName}}</td>
                    <td> {{item.minNormalRange}}</td>
                    <td> {{item.maxNormalRange}}</td>
                    <td> {{item.unit}}</td>
                    <td> {{item.description}}</td>

                    <td>
                        <a href="#labTestSpeciman" data-toggle="modal">

                            <button class="font-blue" (click)="editLab(item)"><i
                                    class="fa fa-pencil"></i></button>
                        </a>
                        <button class="text-danger"
                                (click)="deleteLab(item.id)">
                            <i class="fa fa-remove"></i>
                        </button>

                    </td>

                </tr>
            </ng-template>
        </p-table>
        <div class="clearfix"></div>
    </div>
</div>


<div id="labTestSpeciman" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form id="labTestSpecimanForm" #form="ngForm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Lab Test</h4>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height:330px" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <div class="col-md-12">

                                <!--<div class="form-group hr">
                                    <label class="col-md-3 control-label txt-size pdng-lr-5">Lab Code</label>
                                    <div class="col-md-9 select pdng-lr-5"> <b>{{labTestSpeciman.specimanId}}</b> </div>
                                </div>-->

                            <div class="form-group hr mrgn-btm08">
                                <label class="col-md-3 control-label txt-size pdng-lr-5">Test Code<span
                                        class="required" aria-required="true"> * </span></label>
                                <div class="col-md-9 select pdng-lr-5 profile-frm">
                                    <input type="text" required name="testCode" id="testCode" class="form-control"
                                           placeholder="e.g BloodTest001"
                                           [(ngModel)]="labTestSpeciman.testCode" #testCode="ngModel">
                                    <span *ngIf="testCode.invalid && testCode.touched" class="col-md-9 select pdng-lr-5 text-danger">Please enter  test Code.</span>
                                </div>
                            </div>
                            <div class="form-group hr mrgn-btm08">
                                <label class="col-md-3 control-label txt-size pdng-lr-5">Test Name
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-9 select pdng-lr-5 profile-frm">
                                    <input type="text" required name="testName" id="testName" class="form-control"
                                           placeholder="e.g Blood Test"
                                           [(ngModel)]="labTestSpeciman.testName" #testName="ngModel">
                                    <span *ngIf="testName.invalid && testName.touched" class="col-md-9 select pdng-lr-5 text-danger">Please enter  test name.</span>
                                </div>
                            </div>
                            <div class="form-group hr mrgn-btm08">
                                <label class="col-md-3 control-label txt-size pdng-lr-5">Min Normal Range<span
                                        class="required" aria-required="true"> * </span></label>
                                <div class="col-md-9 select pdng-lr-5 profile-frm">
                                    <input type="text" required name="minNormalRange" id="minNormalRange"
                                           class="form-control" placeholder="e.g 10"
                                           [(ngModel)]="labTestSpeciman.minNormalRange" #minNormalRange="ngModel">
                                    <span *ngIf="minNormalRange.invalid && minNormalRange.touched"
                                          class="col-md-9 select pdng-lr-5 text-danger">
                                        Please enter  Value.
                                </span>
                                </div>
                            </div>
                            <div class="form-group hr mrgn-btm08">
                                <label class="col-md-3 control-label txt-size pdng-lr-5">Max Normal Range<span
                                        class="required" aria-required="true"> * </span></label>
                                <div class="col-md-9 select pdng-lr-5 profile-frm">
                                    <input type="text" name="maxNormalRange" id="maxNormalRange" class="form-control"
                                           placeholder="e.g 20" required
                                           [(ngModel)]="labTestSpeciman.maxNormalRange" #maxNormalRange="ngModel">
                                </div>
                                <span *ngIf="maxNormalRange.invalid && maxNormalRange.touched"
                                      class="col-md-9 select pdng-lr-5 text-danger">
                                        Please enter  Value.
                                </span>
                            </div>
                            <div class="form-group hr mrgn-btm08">
                                <label class="col-md-3 control-label txt-size pdng-lr-5">Unit<span
                                        class="required" aria-required="true"> * </span></label>
                                <div class="col-md-9 select pdng-lr-5 profile-frm">
                                    <input type="text" name="unit" id="unit" class="form-control"
                                           placeholder="BPM" required
                                           [(ngModel)]="labTestSpeciman.unit" #unit="ngModel">
                                </div>
                                <span *ngIf="unit.invalid && unit.touched"
                                      class="col-md-9 select pdng-lr-5 text-danger">
                                        Please enter unit.
                                </span>
                            </div>
                            <div class="form-group hr mrgn-btm08">
                                <label class="col-md-3 control-label txt-size pdng-lr-5">Description</label>
                                <div class="col-md-9 select pdng-lr-5">
                                    <textarea rows="3" type="text" name="description" id="description" class="form-control"
                                           placeholder="Enter description"
                                              [(ngModel)]="labTestSpeciman.description" #description="ngModel"></textarea>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span>
                        <button type="button" class="btn primary blue"
                                 *ngIf="labTestSpeciman.id <= 0 || labTestSpeciman.id == null"
                                 (click)="editLabSpeciman(ngForm)">Save
                        </button>
                        <button type="button" class="btn primary blue" *ngIf="labTestSpeciman.id > 0"
                                (click)="updateLab(ngForm)">Update
                        </button>
                    </span>
                    <span>
                        <button type="button" data-dismiss="modal" id="close-btn-Prefix"
                                class="btn green-meadow">Close </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
