<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr no-margin">
                    <h4 class="text-info">Payment Type
                        <div class="pull-right">
                            <a href="#responsive" data-toggle="modal">
                                <button class="btn primary blue" (click)="onAddPopup()">
                                    <i class="fa fa-plus"></i> Add
                                </button>
                            </a>
                        </div>
                    </h4>
                </div>
                <div class="table-scrollable border-non">
                    <p-table #dt [columns]="cols" [value]="paymentlst"  [rows]="10"  [paginator]="true" >
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Payment Title/Payment GL Account"
                                       (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            </div>
                        </ng-template>
                        <ng-template sortable="true" pTemplate="header" let-columns>
                            <tr>
                                <th sortable="true" *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field" style='width:-webkit-fill-available;'>
                                    <span *ngSwitchCase="'paymentTitle'"> {{col.header}}
                                        <p-sortIcon [field]="col.field" ariaLabel="Sort" ariaLabelDesc="Sort in descending order" ariaLabelAsc="Sort in ascending order"></p-sortIcon>
                                    </span>
                                    <span *ngSwitchCase="'paymentGlAccount'"> {{col.header}}
                                        <p-sortIcon [field]="col.field" ariaLabel="Sort" ariaLabelDesc="Sort in descending order" ariaLabelAsc="Sort in ascending order"></p-sortIcon>
                                    </span>
                                    <span *ngSwitchCase="'serviceCharges'"> {{col.header + "("+this.currency+")" }}
                                        <p-sortIcon [field]="col.field" ariaLabel="Sort" ariaLabelDesc="Sort in descending order" ariaLabelAsc="Sort in ascending order"></p-sortIcon>
                                    </span>
                                    <span *ngSwitchCase="'maxCardCharges'"> {{col.header + "("+this.currency+")"}}
                                        <p-sortIcon [field]="col.field" ariaLabel="Sort" ariaLabelDesc="Sort in descending order" ariaLabelAsc="Sort in ascending order"></p-sortIcon>
                                    </span>
                                    <span *ngSwitchCase="'active'"> {{col.header}} </span>
                                    <span *ngSwitchCase="'action'"> {{col.header}} </span>

                                </th>
                            </tr>

                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-paymentlst>
                            <tr>
                                <td field="paymentTitle"> {{paymentlst.paymentTitle}} </td>
                                <td field="paymentGlAccount"> {{paymentlst.paymentGlAccount==null?"":paymentlst.paymentGlAccount.name}} </td>
                                <td field="serviceCharges" > {{ paymentlst.serviceCharges}} </td>
                                <td field="maxCardCharges"> {{paymentlst.maxCardCharges}} </td>
                                <td field="active"><span class=""> {{paymentlst.active?"Active":"Inactive"}} </span></td>
                                <td>
                                    <a href="#responsive" data-toggle="modal">
                                        <button class="font-blue"
                                                (click)="onUpdatePopupLoad(paymentlst)"><i class="fa fa-pencil"></i>

                                        </button>
                                    </a>
                                    <span [hidden]="paymentlst.hasChild">
                                        <button class="text-danger"
                                                (click)="deletePaymentType(paymentlst.id)">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </span>


                                </td>

                            </tr>
                        </ng-template>

                    </p-table>


                </div>

            </div>
            <div class="clearfix"></div>
        </div>

    </div>

    <div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form id="loginForm"   class="login-form"   #form="ngForm">
                <div class="modal-content" style="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Payment Type</h4>
                    </div>
                    <div class="modal-body">
                        <div class="slimScrollDiv"
                             style="position: relative; overflow: hidden; width: auto;">
                            <div class="scroller" style="overflow: hidden; width: auto;">
                                <div class="row">
                                    <div class="form-group hr">
                                        <label class="col-md-3 control-label txt-size pdng-lr-5">Payment Title <span
                                                class="required" aria-required="true"> * </span> </label>
                                        <div class="col-md-9 select pdng-lr-5 profile-frm">
                                            <input class="form-control" type="text" required
                                                   [(ngModel)]="newPaymentType.paymentTitle"
                                                   name="paytitle" #paytitle="ngModel"/>
                                        </div>

                                    </div>
                                    <div class="form-group hr">
                                        <label class="col-md-3 pdng-lr-5 control-label txt-size">GL Account<span
                                                class="required" aria-required="true"> * </span></label>
                                        <div class="col-md-9 select pdng-lr-5">



                                            <p-dropdown placeholder="{{selectedCharteredAccount}}" [autoWidth]="false" [(ngModel)]="selectedCharteredAccount"
                                                        [style]="{'text-align': 'left' ,'width':'100%'}"
                                                        [options]="chartofAccountListModified" (change)="getSelectedAccount(select.value)"
                                                        [panelStyle]="{minWidth:'12em'}"  [ngModelOptions]="{standalone: true}"
                                                        [filter]="true">
                                            </p-dropdown>
                                            <!--<select  #select class="form-control"  name="selectedLevel"  #selectedLevel="ngModel"   [ngModel]="newPaymentType.paymentGlAccount.id"
                                                    (change)="getSelectedAccount(select.value)"
                                                     placeholder="Select GL Account">
                                                <option  [value]="null"    disabled>Select GL Account</option>
                                                <option *ngFor="let ca of chartOfAccountList;" [ngValue]="ca.id">
                                                    {{ca.name}}
                                                </option>
                                                </select>-->
                                        </div>
                                    </div>
                                    <div class="form-group hr">
                                        <label class="col-md-3 pdng-lr-5 control-label txt-size">Payment Type<span
                                                class="required" aria-required="true"> * </span></label>
                                        <div class="col-md-9 profile-frm pdng-lr-5">
                                            <select class="form-control" name="pMode" (change)="onPaymentMode($event.target.value)" [(ngModel)]="newPaymentType.paymentMode">
                                                <option *ngFor="let payType of allTypePAYMENT" value="{{payType.name}}">{{ payType.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group hr">
                                        <label class="col-md-3 pdng-lr-5 control-label txt-size">Purpose</label>
                                        <div class="col-md-9 select pdng-lr-5 profile-frm">
                                            <input class="form-control" type="text"  name="purpose"
                                                   [(ngModel)]="newPaymentType.paymentPurpose"
                                                   name="cstgls" #cstgls="ngModel"/>
                                        </div>
                                    </div>
                                    <!-- Conditional option -->
                                    <div *ngIf="serviceChargesDiv" class="form-group hr">
                                        <label class="col-md-3 control-label txt-size pdng-lr-5">Service Charges <span
                                                class="required" aria-required="true"> * </span> </label>
                                        <div class="col-md-9 select pdng-lr-5 profile-frm">
                                            <input class="form-control" type="text" pattern="^[0-9]{1,60}$"
                                                   [(ngModel)]="newPaymentType.serviceCharges" required
                                                   name="payserv" #payserv="ngModel"/>
                                        </div>
                                        <span *ngIf="payserv.invalid && payserv.touched"
                                              class="col-md-9 select pdng-lr-5 text-danger">
                                                Please enter Number.
                                        </span>
                                    </div>
                                    <div *ngIf="serviceChargesDiv" class="form-group hr">
                                        <label class="col-md-3 control-label txt-size pdng-lr-5">Max Card Charges <span
                                                class="required" aria-required="true"> * </span></label>
                                        <div class="col-md-9 select pdng-lr-5 profile-frm">
                                            <input class="form-control" type="text" pattern="^[0-9]{1,60}$"
                                                   [(ngModel)]="newPaymentType.maxCardCharges" required
                                                   name="paycard" #paycard="ngModel"/>
                                        </div>
                                        <span *ngIf="paycard.invalid && paycard.touched"
                                              class="col-md-9 select pdng-lr-5 text-danger">
                                                Please enter Number.
                                        </span>
                                    </div>
                                    <div *ngIf="serviceChargesDiv" class="form-group hr">
                                        <label class="col-md-3 control-label txt-size pdng-lr-5">Patient Paid</label>
                                        <div class="col-md-9 select pdng-lr-5">
                                            <label class="mt-checkbox-outline">
                                                <mat-checkbox #isPatient="ngModel" name="isPatient" [(ngModel)]="newPaymentType.isPatient" color="primary"></mat-checkbox>
                                            </label>
                                            <!--<label class="mt-checkbox-outline" >
                                                <input class="mt-checkbox mt-checkbox-outline ng-dirty ng-valid ng-touched" formcontrolname="restrictBranch" type="radio"   value="true" checked>
                                                Patient
                                                <span></span>
                                            </label>-->
                                        </div>
                                    </div>
                                    <div *ngIf="serviceChargesDiv" class="form-group hr">
                                        <label class="col-md-3 control-label txt-size pdng-lr-5">Bank GL Account <span
                                                class="required" aria-required="true"> * </span></label>
                                        <div class="col-md-9 select pdng-lr-5">
                                            <p-dropdown placeholder="{{selectedSecondCharteredAccount}}" [autoWidth]="false" [(ngModel)]="selectedSecondCharteredAccount"
                                                        [style]="{'text-align': 'left' ,'width':'100%'}" [required]="true"
                                                        [options]="chartofAccountListModified" (change)="getSelectedAccount(select.value)"
                                                        [panelStyle]="{minWidth:'12em'}"  [ngModelOptions]="{standalone: true}"
                                                        [filter]="true">
                                            </p-dropdown>
                                            <!--<select   class="form-control"  name="selectedBankLevel"  #selectedBankLevel="ngModel"   [ngModel]="newPaymentType.bankGlCharges.id"
                                                     (change)="getSelectedAccount(select.value)"
                                                     placeholder="Select GL Account">
                                                <option  [value]="null"  disabled  selected>Select GL Account</option>
                                                <option *ngFor="let ca of chartOfAccountList;" [ngValue]="ca.id">
                                                    {{ca.name}}
                                                </option>
                                            </select>-->
                                        </div>
                                    </div>
                                    <div class="form-group hr">
                                        <label class="col-md-3 pdng-lr-5 control-label txt-size">Status</label>
                                        <div class="col-md-3 select pdng-lr-5">
                                            <label class="mt-checkbox-outline">
                                                <mat-checkbox #active="ngModel"
                                                              name="active"
                                                              [(ngModel)]="newPaymentType.active"
                                                              color="primary"></mat-checkbox>
                                            </label>
                                            <!--<label class="mt-checkbox mt-checkbox-outline chckbox">
                                                <input type="checkbox"
                                                       class="form-control"
                                                       [(ngModel)]="newPaymentType.active"
                                                       name="active"
                                                       #active="ngModel"><span></span></label>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slimScrollBar"
                                 style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 190px;"></div>
                            <div class="slimScrollRail"
                                 style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn primary blue"
                                *ngIf="newPaymentType.id == null || newPaymentType.id <= 0"
                                (click)="savePaymentType(form)">Save
                        </button>
                        <button type="button" class="btn primary blue" *ngIf="newPaymentType.id > 0"
                                (click)="updatePaymentType(form)">Update
                        </button>
                        <button type="button" data-dismiss="modal" id="closeButton" class="btn green-meadow"> Close </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>