<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Payment Type
                        <div class="pull-right">
                            <a href="#responsive" data-toggle="modal">
                                <button class="btn mt-sweetalert btn green-meadow" (click)="onAddPopup()">
                                    <i class="fa fa-plus"></i> Add
                                </button>
                            </a>

                        </div>
                    </h4>

                </div>

                <div class="table-scrollable">


                    <!--(onLazyLoad)="loadLazy($event)"[loading]="loading"  -->
                    <p-table #dt [columns]="cols" [value]="paymentlst"  [rows]="10"  [paginator]="true" >
                        <ng-template sortable="true" pTemplate="header" let-columns>
                            <tr>
                                <th sortable="true" *ngFor="let col of columns" [pSortableColumn]="col.field" style='width:-webkit-fill-available;'>
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                </th>
                            </tr>
                            <tr>
                                <th *ngFor="let col of columns">
                                    <input  pInputText type="text"  (input)="dt.filter($event.target.value, col.field, col.filterMode)"  style='width:-webkit-fill-available;'>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-paymentlst>
                            <tr>
                                <td field="paymentTitle"> {{paymentlst.paymentTitle}} </td>
                                <td field="paymentGlAccount"> {{paymentlst.paymentGlAccount.name}} </td>
                                <td field="serviceCharges"> {{paymentlst.serviceCharges}} </td>
                                <td field="maxCardCharges"> {{paymentlst.maxCardCharges}} </td>

                                <td field="active"> <span class="font-blue"> {{paymentlst.active}} </span> </td>
                                <td>
                                    <a href="#responsive" data-toggle="modal">
                                        <button class="btn btn-default btn-outline btn-sm"
                                                (click)="onUpdatePopupLoad(paymentlst)"><i class="fa fa-pencil"></i>

                                        </button>
                                    </a>
                                    <span>
                                        <button class="btn btn-default btn-outline btn-sm"
                                                (click)="deletePaymentType(paymentlst.id)">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </span>


                                </td>

                            </tr>
                        </ng-template>

                    </p-table>


                </div>

            </div>
            <div class="clearfix"></div>
        </div>

    </div>

    <div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form id="loginForm" class="login-form"   #form="ngForm">
                <div class="modal-content" style="width: 150%">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Payment Type</h4>
                    </div>
                    <div class="modal-body">
                        <div class="slimScrollDiv"
                             style="position: relative; overflow: hidden; width: auto;">
                            <div class="scroller" style="overflow: hidden; width: auto;">
                                <div class="row">
                                    <div class="form-group hr">
                                        <label class="col-md-3 control-label txt-size pdng-lr-5">Payment Title </label>
                                        <div class="col-md-9 select pdng-lr-5">
                                            <input class="form-control" type="text" required
                                                   [(ngModel)]="newPaymentType.paymentTitle"

                                                   name="paytitle" #paytitle="ngModel"/>
                                        </div>

                                    </div>
                                    <div class="form-group hr">
                                        <label class="col-md-3 pdng-lr-5 control-label txt-size">GL Account</label>
                                        <div class="col-md-9 select pdng-lr-5">
                                            <!--[(ngModel)]="newPaymentType.paymentGlAccount.id"-->
                                            <select  #select class="form-control"  name="selectedLevel"  #selectedLevel="ngModel"   [ngModel]="newPaymentType.paymentGlAccount.id"
                                                    (change)="getSelectedAccount(select.value)"
                                                     placeholder="Select GL Account">
                                                <option  [value]="null"    disabled>Select GL Account</option>
                                                <option *ngFor="let ca of chartOfAccountList;" [ngValue]="ca.id">
                                                    {{ca.name}}
                                                </option>

                                            </select>

                                        </div>


                                    </div>
                                    <div class="form-group hr">
                                        <label class="col-md-3 pdng-lr-5 control-label txt-size">Payment Type</label>

                                        <div class="form-group">

                                            <div class="col-md-8">
                                                <select class="form-control" name="pMode" (change)="onPaymentMode($event.target.value)" [(ngModel)]="newPaymentType.paymentMode">
                                                    <option *ngFor="let payType of allTypePAYMENT" value="{{payType.name}}">{{ payType.name }}</option>
                                                </select>

                                            </div>


                                        </div>



                                    </div>

                                    <div class="form-group hr">
                                        <label class="col-md-3 pdng-lr-5 control-label txt-size">Purpose</label>
                                        <div class="col-md-9 select pdng-lr-5">
                                            <input class="form-control" type="text"  name="purpose"
                                                   [(ngModel)]="newPaymentType.paymentPurpose"

                                                   name="cstgls" #cstgls="ngModel"/>
                                        </div>
                                    </div>

                                    <!-- Conditional option -->

                                    <div *ngIf="serviceChargesDiv" class="form-group hr">
                                        <label class="col-md-3 control-label txt-size pdng-lr-5">Service Charges </label>
                                        <div class="col-md-9 select pdng-lr-5">
                                            <input class="form-control" type="text"
                                                   [(ngModel)]="newPaymentType.serviceCharges"

                                                   name="payserv" #payserv="ngModel"/>
                                        </div>
                                        <span *ngIf="payserv.invalid && payserv.touched"
                                              class="col-md-9 select pdng-lr-5 text-danger">
                                                Please enter valid Service.
                                        </span>
                                    </div>



                                    <div *ngIf="serviceChargesDiv" class="form-group hr">
                                        <label class="col-md-3 control-label txt-size pdng-lr-5">Max Card Charges </label>
                                        <div class="col-md-9 select pdng-lr-5">
                                            <input class="form-control" type="text"
                                                   [(ngModel)]="newPaymentType.maxCardCharges"

                                                   name="paycard" #paycard="ngModel"/>
                                        </div>

                                    </div>




                                    <div *ngIf="serviceChargesDiv" class="form-group hr">

                                        <label class="col-md-3 control-label txt-size pdng-lr-5">Who Will Pay Credit Card Charge </label>
                                        <div class="col-md-9 select pdng-lr-5">


                                            <label class="mt-checkbox-outline" >
                                                <input class="mt-checkbox mt-checkbox-outline ng-dirty ng-valid ng-touched" formcontrolname="restrictBranch" type="radio"   value="true" checked>
                                                Patient
                                                <span></span>
                                            </label>

                                        </div>


                                    </div>



                                    <div *ngIf="serviceChargesDiv" class="form-group hr">
                                        <label class="col-md-3 control-label txt-size pdng-lr-5">Bank GL Account </label>
                                        <div class="col-md-9 select pdng-lr-5">
                                            <select   class="form-control"  name="selectedBankLevel"  #selectedBankLevel="ngModel"   [ngModel]="newPaymentType.bankGlCharges.id"
                                                     (change)="getSelectedAccount(select.value)"
                                                     placeholder="Select GL Account">
                                                <option  [value]="null"  disabled  selected>Select GL Account</option>
                                                <option *ngFor="let ca of chartOfAccountList;" [ngValue]="ca.id">
                                                    {{ca.name}}
                                                </option>

                                            </select>

                                        </div>

                                    </div>


                                    <div class="form-group hr">
                                        <label class="col-md-3 pdng-lr-5 control-label txt-size">Status</label>
                                        <div class="col-md-3 select pdng-lr-5">
                                            <label class="mt-checkbox mt-checkbox-outline chckbox">
                                                <input type="checkbox"
                                                       class="form-control"
                                                       [(ngModel)]="newPaymentType.active"
                                                       name="active"
                                                       #active="ngModel"><span></span></label>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="slimScrollBar"
                                 style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 190px;"></div>
                            <div class="slimScrollRail"
                                 style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" data-dismiss="modal" id="closeButton" class="btn btn-default btn-outline">
                            Close
                        </button>
                        <button type="button" class="btn blue"
                                *ngIf="newPaymentType.id <= 0 || newPaymentType.id == null"
                                (click)="savePaymentType(form)">Save
                        </button>
                        <button type="button" class="btn blue" *ngIf="newPaymentType.id > 0"
                                (click)="updatePaymentType(form)">Update
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>