<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">SKU Prefix and Range </h4>
                </div>

                <div class="table-scrollable">
                    <p-table #dt [columns]="cols" [value]="prefixTemplateList" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Module/Prefix/Start Value/Current Value" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            </div>
                        </ng-template>
                        <ng-template sortable="true" pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" style='width: -webkit-fill-available;' [ngSwitch]="col.field">
                                    {{col.header}}
                                    <p-sortIcon *ngIf="col.field != 'action'"
                                                [field]="col.field"
                                                ariaLabel="Sort"
                                                ariaLabelDesc="Sort in descending order"
                                                ariaLabelAsc="Sort in ascending order">
                                    </p-sortIcon>
                                </th>

                            </tr>
                            <!--<tr>
                                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <input *ngSwitchCase="'module'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                    <input *ngSwitchCase="'name'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                    <input *ngSwitchCase="'startValue'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                    <input *ngSwitchCase="'currentValue'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                </th>
                            </tr>-->
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-prefixTemplateList>
                            <tr>
                                <td field="module">{{prefixTemplateList.module}}</td>
                                <td field="name">{{prefixTemplateList.name}}</td>
                                <td field="startValue">{{prefixTemplateList.startValue}}</td>
                                <td field="currentValue">{{prefixTemplateList.currentValue}}</td>
                                <td field="action">
                                    <ng-container>
                                        <a href="#prefixModule" data-toggle="modal">
                                            <button class="" (click)="edit(prefixTemplateList)"> <i class="fa fa-pencil"></i></button>
                                        </a>
                                        <!--<button class="btn btn-default btn-outline btn-sm" (click)="deleteAccount(chartOfAccountList.id)"> <i class="fa fa-remove"></i> </button>-->
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <!--<table class="table table-striped table-hover table-checkable dataTable no-footer" id="datatable_ajax">
                        <thead>
                        <tr role="row" class="off-wite-bg">
                            <th width="15%" class="sorting_disabled col-txt-left" rowspan="1" colspan="1"> Module</th>
                            <th width="10%" class="sorting_disabled" rowspan="1" colspan="1"> Prefix</th>
                            <th width="15%" class="sorting_disabled col-txt-left" rowspan="1" colspan="1"> Start Value</th>
                            <th width="10%" class="sorting_disabled" rowspan="1" colspan="1"> Current Value</th>
                            <th width="10%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Action</th>
                        </tr>
                        <tr role="row" *ngFor="let item of prefixTemplateList; let ind=index">
                            <td rowspan="1" colspan="1" class="col-txt-left">{{item.module}}</td>
                            <td rowspan="1" colspan="1">{{item.name}}</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">{{item.startValue}}</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">{{item.currentValue}}</td>

                            <td rowspan="1" colspan="1" class="text-align-center">
                                <a href="#prefixModule" data-toggle="modal">
                                    <button class="btn btn-default btn-outline btn-sm" (click)="edit(item)"> <i class="fa fa-pencil"></i></button>
                                </a>
                            </td>
                        </tr>
                        </thead>
                    </table>-->
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div id="prefixModule" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form id="prefixModuleForm" #form="ngForm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" >Update Module Prefix</h4>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height:160px" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <div class="form-group hr mrgn-btm08">
                                <label class="col-md-3 control-label txt-size pdng-lr-5">Module<span class="required" aria-required="true"> * </span></label>
                                <div class="col-md-9 select pdng-lr-5 profile-frm">
                                    <input type="text" disabled
                                           [(ngModel)]="prefixTemplate.module"
                                           required name="nameName" id="nameNameId" class="form-control" placeholder="Enter Name" #nameName="ngModel">
                                </div>
                            </div>
                            <div class="form-group hr mrgn-btm08">
                                <label class="col-md-3 control-label txt-size pdng-lr-5">Prefix<span class="required" aria-required="true"> * </span></label>
                                <div class="col-md-9 select pdng-lr-5 profile-frm">
                                    <input type="text" [(ngModel)]="prefixTemplate.name"
                                           name="title" class="form-control" pattern="^[a-zA-Z 0-9_-]{1,60}$" placeholder="Enter text" #title="ngModel">
                                </div>
                                <span *ngIf="title.invalid && title.touched" class="col-md-9 select pdng-lr-5 text-danger">
                                        Please enter valid prefix.
                                </span>
                            </div>
                            <div class="form-group hr mrgn-btm08">
                                <label class="col-md-3 control-label txt-size pdng-lr-5">Start From<span class="required" aria-required="true"> * </span></label>
                                <div class="col-md-9 select pdng-lr-5 profile-frm">
                                    <input type="text" disabled
                                           [(ngModel)]="prefixTemplate.startValue"
                                           name="startValue" class="form-control" placeholder="Enter text" #startValue="ngModel">
                                </div>
                            </div>
                            <div class="form-group hr mrgn-btm08">
                                <label class="col-md-3 control-label txt-size pdng-lr-5">Current Value<span class="required" aria-required="true"> * </span></label>
                                <div class="col-md-9 select pdng-lr-5 profile-frm">
                                    <input type="text" disabled
                                           [(ngModel)]="prefixTemplate.currentValue"
                                           name="currentValue" class="form-control" placeholder="Enter text" #currentValue="ngModel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                 <span >
                    <button type="button" data-dismiss="modal" id="close-btn-Prefix" class="btn btn-default btn-outline">Close </button>
                </span>
                <span >
                    <button type="button" class="btn blue" id="save-btn-update" (click)="editPrefixModule(ngForm)" >Update </button>
                </span>
                </div>
            </div>
        </form>
    </div>
</div>