<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">SMS Template
                        <div class="pull-right">
                            <a routerLink="add">
                                <button class="btn mt-sweetalert btn green-meadow" data-confirm-button-class="btn-success">
                                    <i class="fa fa-plus"></i> SMS Template
                                </button>
                            </a>
                        </div>
                    </h4>
                </div>

                <div class="table-scrollable">
                    <p-table #dt [columns]="cols" [value]="smsTemplateList" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Subject/Type" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            </div>
                        </ng-template>
                        <ng-template sortable="true" pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" style='width: -webkit-fill-available;' [ngSwitch]="col.field">
                                    {{col.header}}
                                    <p-sortIcon *ngIf="col.field != 'active' && col.field != 'action'"
                                                [field]="col.field"
                                                ariaLabel="Sort"
                                                ariaLabelDesc="Sort in descending order"
                                                ariaLabelAsc="Sort in ascending order">
                                    </p-sortIcon>
                                </th>

                            </tr>
                            <!--<tr>
                                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <input *ngSwitchCase="'subject'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                    <input *ngSwitchCase="'type'" pInputText type="text"  style="width: 100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                </th>
                            </tr>-->
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-smsTemplateList>
                            <tr>
                                <td field="code">{{smsTemplateList.subject}}</td>
                                <td field="name">{{smsTemplateList.type}}</td>
                                <td field="active">{{smsTemplateList.active === true ? 'Active' : 'In-Active'}}</td>
                                <td field="action">
                                    <ng-container>
                                        <a routerLink="/dashboard/setting/sms-template/edit/{{smsTemplateList.id}}">
                                            <button class="btn btn-default btn-outline btn-sm"> <i class="fa fa-pencil"></i> </button>
                                        </a>
                                        <button class="btn btn-default btn-outline btn-sm" (click)="deleteSmsTemplate(smsTemplateList.id)"> <i class="fa fa-remove"></i> </button>
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <!--<table class="table table-striped table-hover table-checkable dataTable no-footer"
                           id="datatable_ajax">
                        <thead>
                        <tr role="row" class="off-wite-bg">
                            <th width="15%" class="sorting_disabled col-txt-left" rowspan="1" colspan="1"> Subject</th>
                            <th width="10%" class="sorting_disabled" rowspan="1" colspan="1"> Type</th>
                            <th width="10%" class="sorting_disabled" rowspan="1" colspan="1"> Status</th>
                            <th width="10%" class="sorting_disabled text-align-center" rowspan="1" colspan="1"> Action</th>
                        </tr>
                        <tr role="row" *ngFor="let item of smsTemplateList">
                            <td rowspan="1" colspan="1" class="col-txt-left">{{item.subject}}</td>
                            <td rowspan="1" colspan="1">{{item.type}}</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">
                                {{item.active === true ? 'Active' : 'In-Active'}}
                            </td>
                            <td rowspan="1" colspan="1" class="text-align-center">
                                <a routerLink="/dashboard/setting/sms-template/edit/{{item.id}}">
                                    <button class="btn btn-default btn-outline btn-sm">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </a>
                                <button class="btn btn-default btn-outline btn-sm"
                                        (click)="deleteSmsTemplate(item.id)">
                                    <i class="fa fa-remove">
                                    </i>
                                </button>
                            </td>
                        </tr>
                        </thead>
                    </table>-->
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>