<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Update Receptionist</h4>
                </div>
                <form [formGroup]="userForm" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">First Name
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" formControlName="firstName" data-required="1"
                                               class="form-control">
                                        <span class="text-danger"
                                              *ngIf="userForm.controls['firstName'].invalid && userForm.controls['firstName'].touched">First Name is required</span>
                                        <!-- <app-field-error-display [displayError]="isFieldValid('firstName')" errorMsg="Name is required">
                                         </app-field-error-display>-->
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Last Name
                                    </label>
                                    <div class="col-md-8">
                                        <input formControlName="lastName" type="text" class="form-control"></div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">Username
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" formControlName="userName" class="form-control">
                                        <span class="text-danger"
                                              *ngIf="!userForm.controls['userName'].valid && userForm.controls['userName'].touched">
                                           <span *ngIf="userForm.controls['userName'].errors.minlength"> minimum 4 charachters</span>
                                           <span *ngIf="userForm.controls['userName'].errors.required">{{userNameError}} </span>
                                          <span *ngIf="userForm.controls['userName'].errors.pattern">User name not valid</span>
                                        </span>
                                        <!--<app-field-error-display [displayError]="isFieldValid('userName')" errorMsg="user name is required">
                                        </app-field-error-display>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Primary Branch
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8">
                                        <!--<select class="form-control"
                                                (change)="getSelectedBranch($event)"
                                                formControlName="primaryBranch" placeholder="Select Branch">
                                            <option *ngFor="let br of branchesList" [value]="br.id">
                                                {{br.name}}
                                            </option>
                                        </select>-->
                                        <p-dropdown placeholder="Select Branch" [autoWidth]="false"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}"
                                                    [options]="branchesList"
                                                    formControlName="primaryBranch" [panelStyle]="{minWidth:'12em'}"
                                                    [filter]="true">
                                        </p-dropdown>
                                        <span class="text-danger"
                                              *ngIf="!userForm.controls['primaryBranch'].valid &&  userForm.controls['primaryBranch'].touched">{{primaryBranchError}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">Email Address
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="email" formControlName="email"
                                               class="form-control">
                                        <span class="text-danger"
                                              *ngIf="!userForm.controls['email'].valid && userForm.controls['email'].touched">{{emailError}}</span>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Visiting Branches
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8">
                                        <!--<div class="checkbox-box" id="not-due">
                                            <address class="row">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <div *ngFor="let item of visitingBranches" class="col-md-6">
                                                        <input type="checkbox" formControlName="restrictBranch" class="mt-checkbox mt-checkbox-outline"
                                                               name={{item}} value="{{item}}" [checked]="item.checked" (change)="selectVisitBranches($event,item)">
                                                        {{item.name}}
                                                    </div>
                                                </label>
                                            </address>
                                        </div>-->
                                        <p-multiSelect placeholder="select branches"
                                                       [style]="{'text-align': 'left' ,'width':'100%'}"
                                                       formControlName="restrictBranch"
                                                       [options]="branchesList" [(ngModel)]="selectedVisitBranches"
                                                       name="visitBranches" [panelStyle]="{minWidth:'12em'}">
                                            <ng-template let-br pTemplate="item">
                                                <div style="font-size:14px;float:right;margin-top:4px">{{br.name}}</div>
                                            </ng-template>
                                        </p-multiSelect>
                                        <span class="text-danger"
                                              *ngIf="!userForm.controls['restrictBranch'].valid && userForm.controls['restrictBranch'].touched">{{restrictBranchError}}</span>
                                    </div>

                                </div>
                                <!--  <div class="form-group">
                                      <label class="control-label col-md-4 col-xs-6">Allow Discount</label>
                                      <div class="col-md-8 col-xs-6">
                                          <label class="mrgn-top12 mt-checkbox-outline chckbox">
                                              <input type="checkbox" class="" formControlName="allowDiscount"><span></span></label>
                                      </div>
                                  </div>-->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Home Phone
                                    </label>
                                    <div class="col-md-8">
                                        <input formControlName="homePhone" type="text"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Cell Phone
                                    </label>
                                    <div class="col-md-8">
                                        <input formControlName="cellPhone" type="text"
                                               class="form-control">
                                    </div>
                                </div>

                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Send Daily Billing Report</label>
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        <!--<label class="mt-checkbox-outline chckbox mrgn-top10">-->
                                        <!--<input type="checkbox" formControlName="sendBillingReport"
                                               class="">-->
                                        <!--<p-checkbox name="groupname" value="val1" [ngModelOptions]="{standalone:true}"  [(ngModel)]="pBillReport"></p-checkbox>
                                        <span></span>-->
                                        <label class="mt-checkbox-outline">
                                            <mat-checkbox formControlName="sendBillingReport"
                                                          color="primary"></mat-checkbox>
                                            <!-- <p-checkbox [(ngModel)]="allowOnlineScheduling" [formControl]="branchForm.controls.examRooms.controls['allowOnlineScheduling']"></p-checkbox>-->

                                            <span></span>
                                        </label>
                                        <!--</label>-->
                                    </div>
                                </div>

                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Use Receipt Dashboard</label>
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox">
                                            <mat-checkbox formControlName="useReceptDashboard"><span></span></mat-checkbox></label>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Other Doctor Dashboard</label>
                                    <div class="col-md-1 col-xs-6 pdngall3">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox"> </label>
                                        <mat-checkbox formControlName ="otherDoctorDashBoard"><span></span></mat-checkbox>
                                        <!--  <select class="form-control"
                                                  (change)="getSelectedDashboard($event.target.value)"
                                                  formControlName="otherDashboard" placeholder="Dashoboard">
                                                  <option *ngFor="let br of primaryDoctor" [value]="br.userName">
                                                  {{br.userName}}
                                              </option>

                                          </select>-->
                                    </div>
                                    <div class="col-md-7 pdng-lr-5">
                                        <p-dropdown placeholder="Select Dashboard" [autoWidth]="false"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}"
                                                    [options]="doctorsList"
                                                    formControlName="otherDashboard" [panelStyle]="{minWidth:'12em'}"
                                                    [filter]="true">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Account Expiry
                                    </label>
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        <mat-form-field class="width100">
                                            <input [style]="{'text-align': 'left' ,'width':'100%'}" matInput
                                                   [matDatepicker]="from" placeholder="Expiry Date"
                                                   formControlName="accountExpiry">
                                            <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                                            <mat-datepicker #from></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                     <label class="control-label col-md-4">Use Doctor Dashboard?</label>
                                     <div class="col-md-8">
                                         <label class="mt-checkbox mt-checkbox-outline chckbox">
                                             <input type="checkbox"><span></span></label>
                                     </div>
                                 </div>-->

                                <!--<div class="form-group">
                                    <label class="control-label col-md-4 col-xs-6">Account Expiry
                                    </label>
                                    <div class="col-md-8 col-xs-6">
                                        <mat-form-field class="mrgn-lft8">
                                            <input matInput [matDatepicker]="from" placeholder="Expiry Date"
                                                   formControlName="accountExpiry">
                                            <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                                            <mat-datepicker #from></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>-->
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-xs-6">Active
                                    </label>
                                    <div class="col-md-8 col-xs-6">
                                        <!-- <label class="mrgn-top12 mt-checkbox-outline chckbox">
                                             <input type="checkbox" formControlName="active"><span></span></label>-->
                                        <label class="mt-checkbox-outline">
                                            <mat-checkbox formControlName="active"
                                                          color="primary"></mat-checkbox>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="hr">
                        <div class="col-md-12 text-center">
                            <button (click)="addReceptionist(userForm.value)" class="btn blue"><i
                                    class="fa fa-plus"></i> Update
                            </button>
                            <button (click)="cancel()" class="btn default"><i
                                    class="fa fa-cancel"></i> Cancel
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

