<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Update Cashier</h4>
                </div>
                <form [formGroup]="userForm" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">First Name
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 pdng-lr-5 profile-frm">
                                        <input type="text" formControlName="firstName" data-required="1"
                                               class="form-control">
                                        <span class="text-danger"
                                              *ngIf="userForm.controls['firstName'].invalid && userForm.controls['firstName'].touched">First Name is required</span>
                                        <!-- <app-field-error-display [displayError]="isFieldValid('firstName')" errorMsg="Name is required">
                                         </app-field-error-display>-->
                                    </div>

                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Last Name
                                    </label>
                                    <div class="col-md-8 pdng-lr-5 profile-frm">
                                        <input formControlName="lastName" type="text" class="form-control"></div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Username
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 pdng-lr-5 profile-frm">
                                        <input type="text" formControlName="userName" class="form-control" disabled="true">
                                       <!-- <span class="text-danger"
                                              *ngIf="!userForm.controls['userName'].valid && userForm.controls['userName'].touched">
                                           <span *ngIf="userForm.controls['userName'].errors.minlength"> minimum 4 charachters</span>
                                           <span *ngIf="userForm.controls['userName'].errors.required">{{userNameError}} </span>
                                          <span *ngIf="userForm.controls['userName'].errors.pattern">User name not valid</span>
                                        </span>-->
                                        <!--<app-field-error-display [displayError]="isFieldValid('userName')" errorMsg="user name is required">
                                        </app-field-error-display>-->
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Primary Branch
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <p-dropdown placeholder="Select Branch" [autoWidth]="false"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}"
                                                     [options]="branchesList"
                                                    formControlName="primaryBranch" [panelStyle]="{minWidth:'12em'}"
                                                    [filter]="true">
                                        </p-dropdown>
                                        <span class="text-danger"
                                              *ngIf="!userForm.controls['primaryBranch'].valid &&  userForm.controls['primaryBranch'].touched">{{primaryBranchError}}</span>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Email Address
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <input type="email" formControlName="email" disabled="true"

                                               class="form-control">
                                        <span class="text-danger"
                                              *ngIf="!userForm.controls['email'].valid && userForm.controls['email'].touched">{{emailError}}</span>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08" >
                                    <label class="control-label col-md-4 pdng-lr-5">Visiting Branches
                                        <!--<span class="required" aria-required="true"> * </span>-->
                                    </label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <!--<div class="checkbox-box cod-higt" id="not-due">
                                            <address class="row"><label class="mt-checkbox mt-checkbox-outline">
                                                <div *ngFor="let item of visitingBranches" class="col-md-6">
                                                    <input type="checkbox" formControlName="restrictBranch"
                                                           name={{item}}
                                                           value="{{item}}"
                                                           [checked]="item.checked"
                                                           (change)="selectVisitBranches($event,item)">
                                                    {{item.name}}

                                                </div>
                                            </label>
                                            </address>
                                        </div>-->
                                        <p-multiSelect placeholder="select branches"
                                                       [style]="{'text-align': 'left' ,'width':'100%'}"
                                                       formControlName="restrictBranch"
                                                       [options]="branchesList" [(ngModel)]="selectedVisitBranches"
                                                       name="visitBranches" [panelStyle]="{minWidth:''}">
                                            <ng-template let-br pTemplate="item">
                                                <div style="font-size:14px;float:right;margin-top:4px">{{br.name}}</div>
                                            </ng-template>
                                        </p-multiSelect>
                                        <span class="text-danger" *ngIf="!userForm.controls['restrictBranch'].valid && userForm.controls['restrictBranch'].touched">{{restrictBranchError}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Home Phone
                                    </label>
                                    <div class="col-md-8 pdng-lr-5 profile-frm">
                                        <input formControlName="homePhone" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Cell Phone
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input formControlName="cellPhone" type="text" class="form-control">
                                    </div>
                                </div>
                                <!--<div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Send Daily Billing Report</label>
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        &lt;!&ndash;<label class="mt-checkbox-outline chckbox mrgn-top10">&ndash;&gt;
                                        &lt;!&ndash;<input type="checkbox" formControlName="sendBillingReport"
                                               class="">&ndash;&gt;
                                        &lt;!&ndash;<p-checkbox name="groupname" value="val1" [ngModelOptions]="{standalone:true}"  [(ngModel)]="pBillReport"></p-checkbox>
                                        <span></span>&ndash;&gt;
                                        <label class="mt-checkbox-outline">
                                            <mat-checkbox formControlName="sendBillingReport"
                                                          color="primary"></mat-checkbox>
                                            &lt;!&ndash; <p-checkbox [(ngModel)]="allowOnlineScheduling" [formControl]="branchForm.controls.examRooms.controls['allowOnlineScheduling']"></p-checkbox>&ndash;&gt;

                                            <span></span>
                                        </label>
                                        &lt;!&ndash;</label>&ndash;&gt;
                                    </div>
                                </div>-->
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Use Receipt Dashboard</label>
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox">
                                            <mat-checkbox formControlName="useReceptDashboard"><span></span></mat-checkbox></label>
                                    </div>
                                </div>
                                <div  class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Can Access Patient Record</label>
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox">
                                            <mat-checkbox formControlName="canAccessPatientRecord"><span></span></mat-checkbox></label>
                                    </div>
                                </div>

                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Hide Patient Phone Number</label>
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        <!--<label class="mt-checkbox-outline chckbox mrgn-top10">-->
                                        <!--<input type="checkbox" formControlName="sendBillingReport"
                                               class="">-->
                                        <!--<p-checkbox name="groupname" value="val1" [ngModelOptions]="{standalone:true}"  [(ngModel)]="pBillReport"></p-checkbox>
                                        <span></span>-->
                                        <label class="mt-checkbox-outline">
                                            <mat-checkbox formControlName="hidePatientPhoneNumber"
                                                          color="primary"></mat-checkbox>
                                            <!-- <p-checkbox [(ngModel)]="allowOnlineScheduling" [formControl]="branchForm.controls.examRooms.controls['allowOnlineScheduling']"></p-checkbox>-->

                                            <span></span>
                                        </label>
                                        <!--</label>-->
                                    </div>
                                </div>

                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Other Doctor Dashboard</label>
                                    <div class="col-md-1 col-xs-6 pdngall3">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox"> </label>
                                        <mat-checkbox formControlName ="otherDoctorDashBoard"><span></span></mat-checkbox>
                                        <!--  <select class="form-control"
                                                  (change)="getSelectedDashboard($event.target.value)"
                                                  formControlName="otherDashboard" placeholder="Dashoboard">
                                                  <option *ngFor="let br of primaryDoctor" [value]="br.userName">
                                                  {{br.userName}}
                                              </option>

                                          </select>-->
                                    </div>
                                    <div class="col-md-7 pdng-lr-5">
                                        <p-multiSelect placeholder="Select Dashboard"
                                                       [style]="{'text-align': 'left' ,'width':'100%'}"
                                                       [options]="doctorsList" [(ngModel)]="selectedDoctorDashboard"
                                                       name="doctorboards"
                                                       formControlName="selectedDoctorDashboard"
                                                       [filter]="true">
                                        </p-multiSelect>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Account Expiry</label>
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        <mat-form-field class="width100">
                                            <input [style]="{'text-align': 'left' ,'width':'100%'}" matInput
                                                   [matDatepicker]="from" placeholder="Expiry Date"
                                                   formControlName="accountExpiry">
                                            <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                                            <mat-datepicker #from></mat-datepicker>
                                        </mat-form-field>
                                    </div>   
                                </div>
                                <div  class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Can Receive Payment</label>
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox">
                                            <mat-checkbox formControlName="receivePayment"><span></span></mat-checkbox></label>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6  pdng-lr-5">Active
                                    </label>
                                    <div class="col-md-8 col-xs-6  pdng-lr-5">
                                        <label class="mt-checkbox-outline chckbox mrgn-top10">
                                            <mat-checkbox formControlName ="active" color="primary"><span></span></mat-checkbox></label>
                                    </div>
                                </div>

                                <div  class="form-group mrgn-btm08">
                                    <!--<label class="control-label col-md-4 col-xs-6 pdng-lr-5">Allow Discount</label>
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox">
                                            <mat-checkbox formControlName="allowDiscount"><span></span></mat-checkbox></label>
                                    </div>-->
                                    <label class="control-label col-md-4 pdng-lr-5">Allow Discount
                                        <mat-checkbox formControlName="allowDiscountCheck"><span></span></mat-checkbox>
                                    </label>
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        <input formControlName="allowDiscount" type="number"  min="0" max="100"
                                               placeholder="0-100"
                                               class="form-control">
                                    </div>
                                    <!--<mat-input-container>
                                        <input type="number" min="0" max="100" required matInput placeholder="Charge" [(ngModel)]="rateInput" name="rateInput" [formControl]="allowDiscount">
                                        <mat-error>Please enter a value between 0 and 100</mat-error>
                                    </mat-input-container>-->

                                </div>
                                <!-- <div class="form-group">
                                    <label class="control-label col-md-4">Use Doctor Dashboard?</label>
                                    <div class="col-md-8">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox">
                                            <input type="checkbox"><span></span></label>
                                    </div>
                                </div>-->

                               <!-- <div class="form-group">
                                    <label class="control-label col-md-4 col-xs-6">Account Expiry
                                    </label>
                                    <div class="col-md-8 col-xs-6">
                                        <mat-form-field class="mrgn-lft8">
                                            <input matInput [matDatepicker]="from" placeholder="Expiry Date"
                                                   formControlName="accountExpiry">
                                            <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                                            <mat-datepicker #from></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <div class="hr">
                            <div class="col-md-12 text-center">
                                <button (click)="addCashier(userForm.value)" class="btn blue"><i
                                        class="fa fa-plus"></i> Update
                                </button>
                                <button (click)="cancel()" class="btn default"><i
                                        class="fa fa-cancel"></i> Cancel
                                </button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

