<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Update Doctor</h4>
                </div>

                <form [formGroup]="userForm" class="form-horizontal">
                    <!-- (ngSubmit)="addData(userForm.value)"-->
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">First Name
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="text" formControlName="firstName" data-required="1"
                                               class="form-control">
                                        <span class="text-danger"
                                              *ngIf="userForm.controls['firstName'].invalid && userForm.controls['firstName'].touched">{{firstNameError}}</span>
                                        <!-- <app-field-error-display [displayError]="isFieldValid('firstName')" errorMsg="Name is required">
                                         </app-field-error-display>-->
                                    </div>

                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Last Name
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input formControlName="lastName" type="text" class="form-control"></div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Username
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="text" formControlName="userName" class="form-control" disabled="true">
                                        <span class="text-danger"
                                              *ngIf="!userForm.controls['userName'].valid && userForm.controls['userName'].touched">
                                           <span *ngIf="userForm.controls['userName'].errors.minlength"> minimum 4 charachters</span>
                                           <span *ngIf="userForm.controls['userName'].errors.required">{{userNameError}} </span>
                                          <span *ngIf="userForm.controls['userName'].errors.pattern">User name not valid</span>
                                        </span>
                                        <!--<app-field-error-display [displayError]="isFieldValid('userName')" errorMsg="user name is required">
                                        </app-field-error-display>-->
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Primary Branch
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 pdng-lr-5">

                                        <!--                                        <select class="form-control"
                                                                                        (change)="getSelectedBranch($event.target.value)"
                                                                                        formControlName="primaryBranch" placeholder="Select Branch">
                                                                                    <option *ngFor="let br of branchesList" [value]="br.id">
                                                                                        {{br.name}}
                                                                                    </option>

                                                                                </select>-->
                                        <p-dropdown placeholder="Select Branch" [autoWidth]="false"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}" (onChange)="selectedBranch($event)"
                                                    [(ngModel)]="pBranch" [options]="branchesList"
                                                    formControlName="primaryBranch" [panelStyle]="{minWidth:'12em'}"
                                                    [filter]="true">
                                        </p-dropdown>

                                        <span class="text-danger"
                                              *ngIf="!userForm.controls['primaryBranch'].valid &&  userForm.controls['primaryBranch'].touched">{{primaryBranchError}}</span>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Email Address
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input type="email" formControlName="email" disabled="true"
                                               class="form-control">
                                        <span class="text-danger"
                                              *ngIf="!userForm.controls['email'].valid && userForm.controls['email'].touched">{{emailError}}</span>

                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08" ngClass="displayFieldCss">
                                    <label class="control-label col-md-4 pdng-lr-5">Visit Branches
                                        <!--<span class="required" aria-required="true"> * </span>-->
                                    </label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <!--   <div class="checkbox-box cod-higt" id="not-due">
                                               <address class="row"><label class="mt-checkbox mt-checkbox-outline">
                                                   <div *ngFor="let item of branchesList" class="col-md-6">
                                                       <input type="checkbox" formControlName="restrictBranch"
                                                              name={{item}}
                                                              value="{{item}}"
                                                              [checked]="item.checked"
                                                              (change)="selectVisitBranches($event,item)">
                                                       {{item.name}}

                                                   </div>
                                               </label>
                                               </address>
                                           </div>-->
                                        <p-multiSelect placeholder="select branches"
                                                       [style]="{'text-align': 'left' ,'width':'100%'}"
                                                       [options]="branchesList"
                                                       [(ngModel)]="selectedVisitBranches"
                                                       [ngModelOptions]="{standalone:true}"
                                                       [panelStyle]="{minWidth:''}">
                                            <ng-template let-br pTemplate="item">
                                                <div style="font-size:14px;float:right;margin-top:4px">{{br.name}}</div>
                                            </ng-template>
                                        </p-multiSelect>
                                        <span class="text-danger"
                                              *ngIf="!userForm.controls['restrictBranch'].valid && userForm.controls['restrictBranch'].touched">{{restrictBranchError}}</span>

                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Department
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <!--doctor department container-->
                                    <div class="col-md-8 pdng-lr-5">
                                        <!--<select class="form-control" (change)="selectDoctorDepartment($event.target.value)">
                                            &lt;!&ndash;<option value="" selected="selected">Select Department</option>&ndash;&gt;
                                            <option *ngFor="let item of departmentList" [selected] = "item.selected" value="{{item.id}}">{{item.name}}</option>
                                        </select>-->

                                        <p-dropdown [autoWidth]="false" placeholder="select department"
                                                    formControlName="departmentControl" name="dept"
                                                    [style]="{'text-align': 'left' ,'width':'100%'}" (onChange)="selectDoctorDepartment($event)"
                                                    [(ngModel)]="selectedDepartmentObj" [options]="departmentList"
                                                    [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                            <!--<ng-template let-dpt pTemplate="item">
                                                <div style="font-size:14px;float:right;margin-top:4px">{{dpt.name}}</div>
                                            </ng-template>-->
                                        </p-dropdown>
                                        <span class="text-danger" *ngIf="dept_In_Branch">no department is associated </span>
                                        <span class="text-danger"
                                              *ngIf="!userForm.controls['departmentControl'].valid && userForm.controls['departmentControl'].touched">select atleast one department </span>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Services
                                        <!--<span class="required" aria-required="true"> * </span>-->
                                    </label>
                                    <div class="col-md-8 pdng-lr-5">
                                        <div class="checkbox-box cod-higt" id="not-due">
                                            <address>
                                                <div class="col-md-10 pdng-lr-5">
                                                    <label class="mt-checkbox mt-checkbox-outline" style="width: 100%">
                                                        <div class="ui-inputgroup row" *ngFor="let item of servicesList">
                                                            <div class="col-md-2 no-padding-rgt">
                                                                <input type="checkbox" formControlName="servicesControl" name={{item.name}}
                                                                        value="{{item.id}}" [checked]="item.checked" (change)="addComissionCheck($event,item)">
                                                            </div>
                                                            <div class="col-md-7 pdng-lr-5"><div class="">  {{item.name}}</div></div>
                                                            <div class="col-md-3 pdng-lr-5 margin-bottom-5"><input [hidden]="showComissioninput!=1" (keyup)="addComission($event,item)" type="number" id={{item.id}} style="width: 100%"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="col-md-2 pdng-lr-5">
                                                    <div class="pull-right">
                                                        <button id="comissionBtn" type="button" class="btn-link"(click)="showServiceComission()">{{comissionBtn}}</button>
                                                    </div>
                                                </div>
                                                <!--<div class="ui-inputgroup" *ngFor="let item of servicesList">
                                                    <span class="ui-inputgroup-addon"><p-checkbox  value="{{item.id}}"(onChange) ="addComissionCheck($event,item)" ></p-checkbox></span>
                                                    <input type="text" pInputText  (keyup)="addComission($event,item)" placeholder="comission">
                                                </div>-->
                                            </address>
                                        </div>
                                        <!--<p-multiSelect [style]="{'text-align': 'left' ,'width':'100%'}"
                                                       [options]="servicesList" [(ngModel)]="selectedServices"
                                                       [ngModelOptions]="{standalone:true}"
                                                       [panelStyle]="{minWidth:'12em'}">
                                            <ng-template let-ser pTemplate="item">
                                                <div style="font-size:14px;float:right;margin-top:4px">{{ser.label}}
                                                </div>
                                            </ng-template>
                                        </p-multiSelect>-->
                                        <span class="text-danger"
                                              *ngIf="!userForm.controls['servicesControl'].valid && userForm.controls['servicesControl'].touched">select atleast one Service </span>
                                        <div class="font-siz font-red" *ngIf="hasServices">This Department has no service</div>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                        <label class="control-label col-md-4 col-xs-12 pdng-lr-5"> Duty (Shift 1):
                                            <span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-8 col-xs-12 pdng-lr-5">
                                            <div class="pull-left no-padding col-md-1"><label
                                                    class="mt-checkbox-outline chckbox">
                                                <!--<input type="checkbox" formControlName="shift1" class="">-->
                                                <mat-checkbox formControlName="shift1" color="primary"></mat-checkbox>
                                                <span></span></label>
                                            </div>
                                            <div class="col-md-2 pdng-lr-5">
                                                <button type="button" (click)="firstShiftFrom()">From</button>
                                            </div>
                                            <div class="col-md-4 pdng-lr-5">
                                                <input type="time" style="width: 100%" value="{{firstShiftFromTime}}">
                                            </div>
                                            <div class="col-md-1 pdng-lr-5">
                                                <button type="button" (click)="firstShiftTo()">To</button>
                                            </div>
                                            <div class="col-md-4 pdng-lr-5">
                                                <input type="time" style="width: 100%" value="{{firstShiftToTime}}">
                                            </div>
                                        </div>
                                        <span class="text-danger"
                                              *ngIf="!userForm.controls['shift1'].valid &&  userForm.controls['shift1'].touched">Duty Shift is required</span>
                                    </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-12 pdng-lr-5"> Duty (Shift 2):
                                    </label>
                                    <div class="col-md-8  col-xs-12 pdng-lr-5">
                                        <div class="col-md-1 pull-left no-padding"><label
                                                class="mt-checkbox-outline chckbox">
                                            <!--<input type="checkbox" class=""
                                                   formControlName="shift2">-->
                                            <mat-checkbox formControlName="shift2" color="primary"></mat-checkbox>
                                            <span></span></label></div>
                                        <div class="col-md-2 pdng-lr-5">
                                            <button type="button" (click)="secondShiftFrom()">From</button>
                                        </div>
                                        <div class="col-md-4 pdng-lr-5">
                                            <input type="time" style="width: 100%" value="{{secondShiftFromTime}}">
                                        </div>
                                        <div class="col-md-1 pdng-lr-5">
                                            <button type="button" (click)="secondShiftTo()">To</button>
                                        </div>
                                        <div class="col-md-4 pdng-lr-5">
                                            <input type="time" style="width:100%" value="{{secondShiftToTime}}">
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-12 pdng-lr-5"> Vacation:
                                    </label>
                                    <div class="col-md-8  col-xs-12 pdng-lr-5">
                                        <div class="pull-left col-md-1 no-padding-lft"><label
                                                class="mt-checkbox-outline chckbox">
                                            <!--<input type="checkbox" formControlName="vacation"
                                                   class="">-->
                                            <mat-checkbox formControlName="vacation" color="primary"></mat-checkbox>
                                            <span></span></label></div>
                                        <!--<div class="col-md-1 width40 pdng-lr-5 pull-left text-center label-control2">
                                            From
                                        </div>-->
                                        <div class=" col-md-6 col-xs-5 pull-left">
                                            <mat-form-field class="vacation-width110">
                                                <input matInput [matDatepicker]="from" placeholder="From"
                                                       formControlName="dateFrom">
                                                <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                                                <mat-datepicker #from></mat-datepicker>
                                            </mat-form-field>
                                        </div>&emsp;

                                        <div class=" col-md-5 col-xs-5 pull-left mrgn-top-20">
                                            <mat-form-field class="vacation-width110">
                                                <input matInput [matDatepicker]="to" placeholder="To"
                                                       formControlName="dateTo">
                                                <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                                                <mat-datepicker #to></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-12 pdng-lr-5"> Working Days:
                                    </label>
                                    <!--  <div class="col-md-8 col-xs-12 text-center" formGroupName="workingDaysContorl">

                                          <div *ngFor="let item of workingDaysContorl.controls; let i= index " class="">

                                              <div class=" col-md-1 col-width25 col-xs-3">
                                                 &lt;!&ndash; <input type="checkbox" class="form-control spinner"
                                                         value="{{item.id}}"
                                                         (change)="selectWorkingDays($event,item)">
                                                          {{item.name}}&ndash;&gt;

                                              <input  class="form-control spinner"
                                                     [formControlName]="i"
                                                     >
                                                  {{item.name}}
                                              </div>
                                          </div>
      -->
                                    <!--<div class=" col-md-1 col-width25 col-xs-3">
                                        Sunday: <input class="spinner" type="checkbox" formControlName="sunday" >
                                    </div>
                                    <div class=" col-md-1 col-width25 col-xs-3">
                                        Monday: <input class="spinner" type="checkbox" formControlName="monday">
                                    </div>
                                        <div class=" col-md-1 col-width25 col-xs-3">
                                            Tuesday: <input type="checkbox" class="spinner" formControlName="tuesday">
                                        </div>
                                        <div class=" col-md-1 col-width25 col-xs-3">
                                            Wednesday: <input type="checkbox" class="spinner" formControlName="wednesday">
                                        </div>
                                        <div class=" col-md-1 col-width25 col-xs-3">
                                            Thursday: <input type="checkbox"  class="spinner" formControlName="thursday">
                                        </div>
                                        <div class=" col-md-1 col-width25 col-xs-3">
                                            Friday: <input type="checkbox" class="spinner" formControlName="friday">
                                        </div>
                                        <div class=" col-md-1 col-width25 col-xs-3">
                                            Saturday: <input type="checkbox" class="spinner" formControlName="saturday">
                                        </div>
                                        </div>-->
                                    <div class="col-md-8 pdng-lr-5">
                                        <p-multiSelect placeholder="select days"
                                                       [style]="{'text-align': 'left' ,'width':'100%'}"
                                                       [options]="workingDays" [(ngModel)]="selectedWorkingDays"
                                                       [ngModelOptions]="{standalone:true}"
                                                       [panelStyle]="{minWidth:''}">
                                            <ng-template let-dy pTemplate="item">
                                                <div style="font-size:14px;float:right;margin-top:4px">{{dy.label}}
                                                </div>
                                            </ng-template>
                                        </p-multiSelect>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Home Phone
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input formControlName="homePhone" type="text"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Cell Phone
                                    </label>
                                    <div class="col-md-8 profile-frm pdng-lr-5">
                                        <input formControlName="cellPhone" type="text"
                                               class="form-control">
                                    </div>
                                </div>

                               <!-- <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Send Daily Billing Report</label>
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        &lt;!&ndash;<label class="mt-checkbox-outline chckbox mrgn-top10">&ndash;&gt;
                                        &lt;!&ndash;<input type="checkbox" formControlName="sendBillingReport"
                                               class="">&ndash;&gt;
                                        &lt;!&ndash;<p-checkbox name="groupname" value="val1" [ngModelOptions]="{standalone:true}"  [(ngModel)]="pBillReport"></p-checkbox>
                                        <span></span>&ndash;&gt;
                                        <label class="mt-checkbox-outline">
                                            <mat-checkbox formControlName="sendBillingReport"
                                                          color="primary"></mat-checkbox>
                                            &lt;!&ndash; <p-checkbox [(ngModel)]="allowOnlineScheduling" [formControl]="branchForm.controls.examRooms.controls['allowOnlineScheduling']"></p-checkbox>&ndash;&gt;

                                            <span></span>
                                        </label>
                                        &lt;!&ndash;</label>&ndash;&gt;
                                    </div>
                                </div>-->

                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Other Doctor Dashboard</label>
                                    <div class="col-md-1 col-xs-6 pdngall3">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox"> </label>
                                        <mat-checkbox formControlName ="otherDoctorDashBoard"><span></span></mat-checkbox>
                                        <!--  <select class="form-control"
                                                  (change)="getSelectedDashboard($event.target.value)"
                                                  formControlName="otherDashboard" placeholder="Dashoboard">
                                                  <option *ngFor="let br of primaryDoctor" [value]="br.userName">
                                                  {{br.userName}}
                                              </option>

                                          </select>-->
                                    </div>
                                    <div class="col-md-7 pdng-lr-5">
                                        <p-multiSelect placeholder="Select Dashboard"
                                                       [style]="{'text-align': 'left' ,'width':'100%'}"
                                                       [options]="doctorsList" [(ngModel)]="selectedDoctorDashboard"
                                                       name="doctorboards"
                                                       formControlName="otherDashboard" [panelStyle]="{minWidth:'12em'}"
                                                       [filter]="true">
                                        </p-multiSelect>
                                    </div>


                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Use Receipt Dashboard</label>
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox">
                                            <mat-checkbox formControlName="useReceptDashboard"><span></span></mat-checkbox></label>
                                    </div>
                                </div>
                                <!--<div  class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Can Access Patient Record</label>
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox">
                                            <mat-checkbox formControlName="canAccessPatientRecord"><span></span></mat-checkbox></label>
                                    </div>
                                </div>-->

                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Hide Patient Phone Number</label>
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        <label class="mt-checkbox-outline">
                                            <mat-checkbox formControlName="hidePatientPhoneNumber"
                                                          color="primary"></mat-checkbox>
                                            <span></span>
                                        </label>
                                        <!--</label>-->
                                    </div>
                                </div>
                                <div  class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Can Receive Payment</label>
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox">
                                            <mat-checkbox formControlName="receivePayment"><span></span></mat-checkbox></label>
                                    </div>
                                </div>
                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6 pdng-lr-5">Account Expiry
                                    </label>
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        <mat-form-field class="width100">
                                            <input [style]="{'text-align': 'left' ,'width':'100%'}" matInput
                                                   [matDatepicker]="interval" placeholder="Expiry Date"
                                                   formControlName="accountExpiry">
                                            <mat-datepicker-toggle matSuffix [for]="interval"></mat-datepicker-toggle>
                                            <mat-datepicker #interval></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 col-xs-6  pdng-lr-5">Active
                                    </label>
                                    <div class="col-md-8 col-xs-6  pdng-lr-5">
                                        <label class="mt-checkbox-outline chckbox mrgn-top10">
                                            <mat-checkbox formControlName ="active" color="primary"><span></span></mat-checkbox></label>
                                    </div>
                                </div>
                                <div  class="form-group mrgn-btm08">
                                    <label class="control-label col-md-4 pdng-lr-5">Allow Discount
                                        <mat-checkbox formControlName="allowDiscountCheck"><span></span></mat-checkbox>
                                    </label>
                                    <div class="col-md-8 col-xs-6 pdng-lr-5">
                                        <input formControlName="allowDiscount" type="number"  min="0" max="100"
                                               placeholder="0-100"
                                               class="form-control">
                                    </div>

                                </div>
                            </div>




                        </div>
                        <div class="hr">
                            <div class="col-md-12 text-center">
                                <button (click)="addUser(userForm.value)" class="btn blue"><i class="fa fa-plus"></i> Update</button>
                                <button (click)="cancel()" class="btn default"><i class="fa fa-cancel"></i> Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
