<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Organization</h4>
                </div>
                <div class="portlet-body">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_1_1" data-toggle="tab" aria-expanded="true"> Profile </a>
                        </li>
                        <li class="">
                            <a href="#tab_1_2" data-toggle="tab" aria-expanded="false"> General Settings </a>
                        </li>
                       <!-- <li class="">
                            <a href="#tab_1_5" data-toggle="tab" aria-expanded="false"> Account </a>
                        </li>-->
                        <li class="">
                            <a href="#tab_1_3" data-toggle="tab" aria-expanded="false"> Usage </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tab_1_1">
                            <form [formGroup]="proForm"  class="form-horizontal">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Company Name
                                                    <span class="required" aria-required="true"> * </span>
                                                </label>
                                                <div class="col-md-8 profile-frm">
                                                    <input type="text" formControlName="companyName" class="form-control">
                                                    <span class="text-danger" *ngIf="!proForm.controls['companyName'].valid && proForm.controls['companyName'].touched">
                                                            <span *ngIf="proForm.controls['companyName'].errors.minlength"> Minimum 4 characters</span>
                                                    <span *ngIf="proForm.controls['companyName'].errors.required">Company Name is required </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Specialty<span class="required" aria-required="true"> * </span>
                                                </label>
                                                <div class="col-md-8">
                                                    <p-dropdown
                                                            [autoWidth]="false" required
                                                            [style]="{'text-align': 'left' ,'width':'100%'}"
                                                            [(ngModel)]="organization.specialty"
                                                            [options]="specialtyList" formControlName="specialty"
                                                            [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                    </p-dropdown>
                                                </div>
                                                <span class="text-danger" *ngIf="!proForm.controls['specialty'].valid && proForm.controls['specialty'].touched">
                                                    <span *ngIf="proForm.controls['specialty'].errors.required">Please Provide Speciality</span>
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Website
                                                </label>
                                                <div class="col-md-8 profile-frm">
                                                    <input type="text" formControlName="website" class="form-control">
                                                </div>
                                                <span class="text-danger" *ngIf="!proForm.controls['website'].valid && proForm.controls['website'].touched">
                                                    <span *ngIf="proForm.controls['website'].errors.pattern">Web Url is not valid</span>
                                        </span>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Country<span class="required" aria-required="true"> * </span>
                                                </label>
                                                <div class="col-md-8">
                                                    <p-dropdown  placeholder="{{selectedCountry}}" [autoWidth]="false" [(ngModel)]="selectedCountry"
                                                                 formControlName="selectedCountry" [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                 (onChange)="getStatesById($event.value)"
                                                                 [options]="countryListModified"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                    </p-dropdown>

                                                    <span class="text-danger" *ngIf="!proForm.controls['selectedCountry'].valid && proForm.controls['selectedCountry'].touched">
                                                        <span *ngIf="proForm.controls['selectedCountry'].errors.required">Please Provide Country</span>
                                                    </span>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Currency
                                                </label>
                                                <div class="col-md-8 profile-frm">
                                                    <input type="text" formControlName="currency" [(ngModel)]="currency" readonly
                                                           class="form-control">
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">State
                                                </label>
                                                <div class="col-md-8">
                                                    <p-dropdown  placeholder="{{selectedState}}" [autoWidth]="false" [(ngModel)]="selectedState"
                                                                 formControlName="selectedState" [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                 (onChange)="getCitiesById($event.value)"
                                                                 [options]="statesListModified"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                    </p-dropdown>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">City
                                                </label>
                                                <div class="col-md-8">
                                                    <p-dropdown  placeholder="{{selectedCity}}" [autoWidth]="false" [(ngModel)]="selectedCity"
                                                                 formControlName="selectedCity" [style]="{'text-align': 'left' ,'width':'100%'}"

                                                                 [options]="citiesListModified"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                    </p-dropdown>

                                                    <!--<input type="text" formControlName="city" data-required="1" value=""
                                                           class="form-control">-->
                                                </div>
                                            </div>
                                            <!--<div class="form-group">
                                                <label class="control-label col-md-4">Country
                                                </label>
                                                <div class="col-md-8">
                                                    <p-dropdown  placeholder="{{selectedCountry}}" [autoWidth]="false" [(ngModel)]="selectedCountry"
                                                                 formControlName="selectedCountry" [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                 (onChange)="getStatesByCountryId($event.value)"
                                                                 [options]="countryListModified"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                    </p-dropdown>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">State
                                                </label>
                                                <div class="col-md-8">
                                                    <p-dropdown  placeholder="{{selectedState}}" [autoWidth]="false" [(ngModel)]="selectedState"
                                                                 formControlName="selectedState" [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                 (onChange)="getCitiesByStateId($event.value)"
                                                                 [options]="statesListModified"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                    </p-dropdown>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">City
                                                </label>
                                                <div class="col-md-8">
                                                    <p-dropdown  placeholder="{{selectedCity}}" [autoWidth]="false" [(ngModel)]="selectedCity"
                                                                 formControlName="city" [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                 [options]="citiesListModified"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                    </p-dropdown>


                                                </div>
                                            </div>-->

                                         <!--   <div class="form-group">
                                                <label  class="control-label col-md-4">Country </label>
                                                <div class="col-sm-7">
-->
                                                    <!--<p-dropdown  [options]="countryListModified" [(ngModel)]="selectedCountry"
                                                                filter="filter" [autoWidth]="false" [style]="{'width':'150px'}">
                                                        <ng-template let-country pTemplate="item">
                                                            <div class="ui-helper-clearfix" style="'display': 'inline-block'">
                                                                <span class="country-text">{{country.label}}</span>
                                                            </div>
                                                        </ng-template>
                                                    </p-dropdown>-->


                                                   <!-- <p-dropdown  placeholder="Select Country" [autoWidth]="false" [(ngModel)]="selectedCountry"
                                                                 formControlName="country" [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                 (onChange)="getStatesByCountryId($event.value)"
                                                                 [options]="countryListModified"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                    </p-dropdown>

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-4">State </label>
                                                <div class="col-sm-7">




                                                    <p-dropdown  placeholder="Select State" [autoWidth]="false" [(ngModel)]="organization.state"
                                                                 formControlName="state" [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                 (onChange)="getCitiesByStateId($event.value)"
                                                                 [options]="stateLstModified"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                    </p-dropdown>

                                                </div>
                                            </div>-->


                                            <!--<div class="form-group">
                                                <label  class="control-label col-md-4">Country </label>
                                                <div class="col-sm-7">

                                                    &lt;!&ndash;<p-dropdown name="customizedselect" [options]="countryListModified" [(ngModel)]="selectedCountry"
                                                                filter="filter" [autoWidth]="false" [style]="{'width':'150px'}">
                                                        <ng-template let-country pTemplate="item">
                                                            <div class="ui-helper-clearfix" style="'display': 'inline-block'">
                                                                <span class="country-text">{{country.label}}</span>
                                                            </div>
                                                        </ng-template>
                                                    </p-dropdown>&ndash;&gt;


                                                   <p-dropdown  placeholder="Select Country" [autoWidth]="false" [(ngModel)]="selectedCountry"
                                                                 formControlName="country" [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                 (onChange)="getStatesByCountryId($event.value)"
                                                                 [options]="countryListModified"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                    </p-dropdown>

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-4">State </label>
                                                <div class="col-sm-7">




                                                    <p-dropdown  placeholder="Select State" [autoWidth]="false" [(ngModel)]="organization.state"
                                                                 formControlName="state" [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                 (onChange)="getCitiesByStateId($event.value)"
                                                                 [options]="stateLstModified"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                    </p-dropdown>

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label  class="control-label col-md-4">City </label>
                                                <div class="col-sm-7">

                                                    <p-dropdown  placeholder="Select City" [autoWidth]="false" [(ngModel)]="organization.city"
                                                                 formControlName="city" [style]="{'text-align': 'left' ,'width':'100%'}"
                                                                [options]="cityLstModified"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                    </p-dropdown>

                                                </div>
                                            </div>-->
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Practice Business Logo
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="file" id="exampleInputFile">
                                                    <p class="help-block"> Will be attached to emails & offical
                                                        forms </p>
                                                </div>
                                            </div>
                                            <br/>
                                            <h4 class="hr" style="margin-left: 19%;"> Contact</h4>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Email
                                                    <span class="required" aria-required="true">*</span>
                                                </label>
                                                <div class="col-md-8 profile-frm">
                                                    <input type="email" formControlName="companyEmail"
                                                           class="form-control">

                                                    <span class="text-danger"
                                                          *ngIf="!proForm.controls['companyEmail'].valid && proForm.controls['companyEmail'].touched">
                                                   <span *ngIf="proForm.controls['companyEmail'].errors.required">Email is required </span>
                                                   <span *ngIf="proForm.controls['companyEmail'].errors.pattern">Email is not valid</span>
                                                   </span>
                                                </div>
                                                <span class="text-danger"
                                                      *ngIf="proForm.controls['companyEmail'].invalid && proForm.controls['companyEmail'].touched">
                                                    <span *ngIf="proForm.controls['companyEmail'].errors">Please enter valid Email.</span>
                                                 </span>
                                                <input  formControlName="formName" value="PROFILE" type="hidden" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Fax   <span class="required" aria-required="true">*</span>
                                                </label>
                                                <div class="col-md-8 profile-frm">
                                                    <input type="text" formControlName="fax"
                                                           class="form-control">


                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Address<span class="required" aria-required="true">*</span>
                                                </label>
                                                <div class="col-md-8 profile-frm">
                                                    <input type="text" formControlName="address"
                                                           class="form-control">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Office Phone<span class="required" aria-required="true">*</span>
                                                </label>
                                                <div class="col-md-8 profile-frm">
                                                    <input type="tel" formControlName="officePhone" class="form-control">
                                                    <span class="text-danger" *ngIf="!proForm.controls['officePhone'].valid && proForm.controls['officePhone'].touched">
                                                       <span *ngIf="proForm.controls['officePhone'].errors.required">Office Phone is required </span>
                                                       <span *ngIf="proForm.controls['officePhone'].errors.pattern">Office Phone is not valid</span>
                                                   </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr">
                                        <div class="col-md-12 text-center">
                                            <button type="button" class="btn blue" (click)="saveProfile(proForm.value,'profile')"> Update</button>
                                            <button (click)="cancel()" class="btn default"><i class="fa fa-default"></i> Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="tab_1_2">
                            <div class="row">
                                <div class="col-md-7">
                                    <form [formGroup]="generalForm"  class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Default Branch
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                            <div class="col-md-5">
                                                <p-dropdown placeholder="Select Branch" [autoWidth]="false"
                                                            [style]="{'text-align': 'left' ,'width':'100%'}"
                                                            [options]="branchesList"
                                                            formControlName="defaultBranch" [panelStyle]="{minWidth:'12em'}"
                                                            [filter]="true">
                                                </p-dropdown>
                                                <!--<select class="form-control"
                                                        (change)="getSelectedBranch($event.target.value)"
                                                        formControlName="defaultBranch">
                                                    <option *ngFor="let br of branchesList"
                                                            value={{br.id}}>
                                                        {{br.name}}
                                                    </option>

                                                </select>-->
                                                <span class="text-danger"
                                                      *ngIf="!generalForm.controls['defaultBranch'].valid && generalForm.controls['defaultBranch'].touched">
                                                  <span *ngIf="generalForm.controls['defaultBranch'].errors.required">Default Branch is required </span>

                                        </span>
                                            </div>
                                            <div class="col-md-4">Default Branch on Calendar</div>
                                        </div>
                                        <!--<div class="form-group">
                                            <label class="control-label col-md-3">Duration of Exam
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                            <div class="col-md-5">
                                                <select class="form-control"  (change)="getDurationOfExam($event.target.value)"  formControlName="durationOfExam">
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="20">20</option>
                                                    <option value="30">30</option>
                                                    <option value="40">40</option>
                                                    <option value="50">50</option>
                                                    <option value="60">60</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">Default duration of an exam in minutes</div>
                                        </div>-->
                                        <!--<div class="form-group">
                                            <label class="control-label col-md-3">Duration of Follow-up
                                            </label>
                                            <div class="col-md-5">
                                                <input type="number" formControlName="durationFollowUp"
                                                       class="form-control">
                                                <input  formControlName="formName" value="GENERAL" type="hidden" />
                                            </div>

                                            <div class="col-md-4">Default duration of a free folow-up exam in days</div>
                                        </div>-->

                                        <!--<div class="form-group">
                                            <label class="control-label col-md-3">Prefix Serial Patient
                                                <span class="required" aria-required="true"> * </span>
                                            </label>

                                            <div class="col-md-5">
                                                <select class="form-control"    formControlName="prefixSerialPatient">
                                                    <option value="5">5000</option>
                                                    <option value="10">6000</option>
                                                    <option value="20">7000</option>
                                                    <option value="30">8000</option>
                                                    <option value="40">9000</option>
                                                    <option value="50">10000</option>
                                                    <option value="60">11000</option>

                                                </select>
                                           </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">Prefix Serial User
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                            <div class="col-md-5">
                                                <select class="form-control"    formControlName="prefixSerialUser">
                                                    <option value="5">5000</option>
                                                    <option value="10">6000</option>
                                                    <option value="20">7000</option>
                                                    <option value="30">8000</option>
                                                    <option value="40">9000</option>
                                                    <option value="50">10000</option>
                                                    <option value="60">11000</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Prefix Serial Department
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                            <div class="col-md-5">
                                                <select class="form-control"   formControlName="prefixSerialDepartment">
                                                    <option value="5">5000</option>
                                                    <option value="10">6000</option>
                                                    <option value="20">7000</option>
                                                    <option value="30">8000</option>
                                                    <option value="40">9000</option>
                                                    <option value="50">10000</option>
                                                    <option value="60">11000</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Prefix Serial Appointment
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                            <div class="col-md-5">
                                                <select class="form-control"   formControlName="prefixSerialAppointment">
                                                    <option value="5">5000</option>
                                                    <option value="10">6000</option>
                                                    <option value="20">7000</option>
                                                    <option value="30">8000</option>
                                                    <option value="40">9000</option>
                                                    <option value="50">10000</option>
                                                    <option value="60">11000</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Prefix Serial Invoices
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                            <div class="col-md-5">
                                                <select class="form-control"    formControlName="prefixSerialInvoices">
                                                    <option value="5">5000</option>
                                                    <option value="10">6000</option>
                                                    <option value="20">7000</option>
                                                    <option value="30">8000</option>
                                                    <option value="40">9000</option>
                                                    <option value="50">10000</option>
                                                    <option value="60">11000</option>
                                                </select>
                                            </div>
                                        </div>-->
                                        <div class="form-group">
                                            <label  class="control-label col-md-3">Time Zone <span class="required" aria-required="true">*</span></label>
                                            <div class="col-md-9">
                                                <!--<p-dropdown
                                                        [autoWidth]="false"
                                                        [style]="{'text-align': 'left' ,'width':'100%'}"
                                                        [(ngModel)]="organization.dateFormat"
                                                        [options]="dateType"
                                                        formControlName="dateFormat"
                                                        [panelStyle]="{minWidth:'12em'}"
                                                        [filter]="true" (change)="getSelected($event.target.value)" >
                                                </p-dropdown>-->
                                                <p-dropdown placeholder="{{selectedTimeZoneFormat}}" [autoWidth]="false" [(ngModel)]="selectedTimeZoneFormat"
                                                            [style]="{'text-align': 'left' ,'width':'100%'}"
                                                            [options]="timeZoneListModified"
                                                            formControlName="selectedTimeZoneFormat" [panelStyle]="{minWidth:'12em'}"
                                                            [filter]="true">
                                                </p-dropdown>


                                                <span class="text-danger"
                                                      *ngIf="!generalForm.controls['selectedTimeZoneFormat'].valid && generalForm.controls['selectedTimeZoneFormat'].touched">
                                                  <span *ngIf="generalForm.controls['selectedTimeZoneFormat'].errors.required">Time Zone is required </span>
                                                </span>
                                                <!--<select class="form-control"
                                                        (change)="getSelected($event.target.value)"
                                                        formControlName="zoneFormat" placeholder="Select Timezone">
                                                    <option *ngFor="let tz of timezoneList" [value]="tz.zoneId">
                                                        {{tz.name + ' ' + tz.zoneTime}}
                                                    </option>
                                                </select>-->
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label  class="control-label col-md-3">Date Format<span class="required" aria-required="true">*</span></label>
                                            <div class="col-md-9">
                                                <!--
                                                <p-dropdown name="customizedselect" [options]="countrycodes" [(ngModel)]="selectedCountry"
                        filter="filter" [autoWidth]="false" [style]="{'width':'150px'}">
                <ng-template let-country pTemplate="item">
                    <div class="ui-helper-clearfix" style="'display': 'inline-block'">
                        <img src="/assets/data/images/country/{{country.label.toLowerCase()}}.png"
                             class="country-image"/>
                        <span class="country-text">{{country.label}}</span>
                    </div>
                </ng-template>
            </p-dropdown>
                                                -->
                                                <p-dropdown   [autoWidth]="false"
                                                              [style]="{'text-align': 'left' ,'width':'100%'}"
                                                              [(ngModel)]="organization.dateFormat"
                                                              [options]="dateType" formControlName="dateFormat"
                                                              [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                </p-dropdown>
                                               <!-- <p-dropdown placeholder="Select Date Format" [autoWidth]="false"  class="form-control" formControlName="dateFormat"
                                                             [panelStyle]="{minWidth:'10em'}"  [options]="dateFormatLst">


                                                </p-dropdown>-->

                                                <span class="text-danger"
                                                      *ngIf="!generalForm.controls['dateFormat'].valid && generalForm.controls['dateFormat'].touched">
                                                    <span *ngIf="generalForm.controls['dateFormat'].errors.required">Date Format is required </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label  class="control-label col-md-3">Time  Format<span class="required" aria-required="true">*</span></label>
                                            <div class="col-md-9">

                                                <p-dropdown
                                                        [autoWidth]="false"
                                                        [style]="{'text-align': 'left' ,'width':'100%'}"
                                                        [(ngModel)]="organization.timeFormat"
                                                        [options]="timeType"
                                                        formControlName="timeFormat"
                                                        [panelStyle]="{minWidth:'12em'}"
                                                        [filter]="true">
                                                </p-dropdown>

                                                <span class="text-danger"
                                                      *ngIf="!generalForm.controls['timeFormat'].valid && generalForm.controls['timeFormat'].touched">
                                                  <span *ngIf="generalForm.controls['timeFormat'].errors.required">Time Format is required </span>
                                                </span>
                                            </div>
                                        </div>
                                       <!-- <div class="form-group">
                                            <label  class="control-label col-md-3">Date Format </label>
                                            <div class="col-sm-7">

                                                <p-dropdown  placeholder="Select Country" [autoWidth]="false"
                                                             formControlName="country" [style]="{'text-align': 'left' ,'width':'100%'}"
                                                             (onChange)="getStatesByCountryId($event.value)"
                                                             [options]="countryListModified"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                </p-dropdown>
                                            </div>
                                        </div>-->
                                        <!--<div class="form-group">
                                            <label  class="control-label col-md-4">Time Format </label>
                                            <div class="col-sm-7">
                                                <p-dropdown  placeholder="Select Country" [autoWidth]="false"
                                                             formControlName="country" [style]="{'text-align': 'left' ,'width':'100%'}"
                                                             (onChange)="getStatesByCountryId($event.value)"
                                                             [options]="countryListModified"  [panelStyle]="{minWidth:'12em'}" [filter]="true">
                                                </p-dropdown>
                                            </div>
                                        </div>-->
                                    </form>
                                </div>
                            </div>
                            <div class="hr">
                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn blue" (click)="saveGeneralSettings(generalForm.value)"> Save</button>
                                </div>
                            </div>
                        </div>
                        <!--<div class="tab-pane fade" id="tab_1_5">
                            <div class="row">
                                <div class="col-md-12">
                                    <form [formGroup]="accountForm"  class="form-horizontal">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-7">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">First Name
                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" formControlName="firstName"
                                                           [(ngModel)]="organization.firstName"
                                                           class="form-control">
                                                <input type="hidden" formControlName="userId" [(ngModel)]="organization.id" >
                                                </div>
                                                <input  formControlName="formName" value="ACCOUNT" type="hidden" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Last Name
                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" formControlName="lastName"
                                                           [(ngModel)]="organization.lastName"
                                                           class="form-control"></div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-4">Email <span class="required" aria-required="true"> * </span>
                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" formControlName="userEmail" name="email"
                                                           [(ngModel)]="organization.email"
                                                           class="form-control">
                                                    <span class="text-danger"
                                                          *ngIf="!accountForm.controls['userEmail'].valid && accountForm.controls['userEmail'].touched">
                                                  <span *ngIf="accountForm.controls['userEmail'].errors.required">Email is required </span>
                                                <span *ngIf="accountForm.controls['userEmail'].errors.pattern">Email is not valid</span>
                                            </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Username
                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" formControlName="userName"
                                                           [(ngModel)]="organization.username"
                                                           class="form-control"></div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-4">Cell Phone
                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" formControlName="cellPhone"
                                                           [(ngModel)]="organization.cellPhone"
                                                           class="form-control"></div>
                                            </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Home Phone
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input type="text" formControlName="homePhone"
                                                                   [(ngModel)]="organization.homePhone"
                                                                   class="form-control"></div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Address
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input type="text" formControlName="userAddress"
                                                                   [(ngModel)]="organization.address"
                                                                   class="form-control"></div>
                                                    </div>
                                        </div>
                                       </div></div>
                                    </form>
                                </div>
                            </div>
                            <div class="hr">
                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn blue" (click)="saveAccount(accountForm.value)"> Save</button>
                                </div>
                            </div>
                        </div>-->
                        <div class="tab-pane fade" id="tab_1_3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="hr"><h4 class="text-info">SMS / Email Messages</h4></div>
                                    <div class="table-scrollable tbl-brdr-radus">
                                        <table class="table table-hover table-light">
                                            <thead>
                                            <tr class="hedng-bck-clr tbl-pdng">
                                                <th> Feature</th>
                                                <th> Usage for this month</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="tbl-pdng off-wite-bg">
                                                <td>Total Appointments Auto SMS sent by system</td>
                                                <td>0</td>
                                            </tr>
                                            <tr class="tbl-pdng">
                                                <td>Total Appointments Auto SMS sent by system</td>
                                                <td>0</td>
                                            </tr>
                                            <tr class="tbl-pdng off-wite-bg">
                                                <td>Total Appointments Auto SMS sent by system</td>
                                                <td>0</td>
                                            </tr>
                                            <tr class="tbl-pdng">
                                                <td>Total Appointments Auto SMS sent by system</td>
                                                <td>0</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="hr">
                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn blue" (click)="addOrganization(proForm.value,'done')"> Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>