<div class="page-content-wrapper">
    <div class="page-content" style="margin-top: 65px;margin-left: 0px !important;">
        <!--<div class="portlet-body">-->

        <div class="row">
            <div class="col-md-12">
                <h4 class="text-info mrgn-btm8">
                    <b>Patient Invoice</b>
                </h4>
                <div class="col-md-6 col-sm-6">
                    <div class="sub-total">
                        <ul>
                            <li> <span>Invoice Id:</span>    <span  class="text-align-left"> {{invoicePrefix}} </span> </li>

                            <li> <span>Patient Name:</span>    <span  class="text-align-left"> {{patientName}} </span> </li>
                            
                            <li> <span>Appointment Date:</span> <span  class="text-align-left">{{scheduleDateAndTime}}</span> </li>
                            
                            <li> <span>Doctor Name:</span>      <span  class="text-align-left">{{docFirstName}} {{docLastName}} </span> </li>
                            
                            <li> <span>Cashier Name:</span>     <span  class="text-align-left">Administrator</span>    </li>
                        </ul>
                    </div>  
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="sub-total">
                        <ul>
                            <li> <span>Invoice Id:</span><span  class="text-align-left"> {{invoicePrefix}} </span> </li>

                            <li> <span>Doctor Name:</span><span  class="text-align-left">{{docFirstName}} {{docLastName}} </span> </li>

                            <li> <span>Cashier Name:</span><span  class="text-align-left">Administrator</span>    </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="off-wite-bg">
                        <h4 class="bold padding-10">Details</h4>
                    </div>
                    <table class="table table-striped table-hover table-checkable dataTable no-footer" id="datatable_ajax" aria-describedby="datatable_ajax_info"
                        role="grid">
                        <thead>
                            <tr role="row" class="">
                                <th width="6%" class="sorting_disabled text-align-left" rowspan="1" colspan="1">Code</th>
                                <th width="12%" class="sorting_disabled text-align-left" rowspan="1" colspan="1">Service</th>
                                <th width="5%" class="sorting_disabled text-align-right" rowspan="1" colspan="1">Qty</th>
                                <th width="8%" class="sorting_disabled text-align-right" rowspan="1" colspan="1">Charges</th>
                                <th width="6%" class="sorting_disabled text-align-right" rowspan="1" colspan="1">Discount(%)</th>
                                <th width="8%" class="sorting_disabled text-align-right" rowspan="1" colspan="1">Discount(Amount)</th>
                                <th width="5%" class="sorting_disabled text-align-right" rowspan="1" colspan="1">Tax(%)</th>
                                <th width="6%" class="sorting_disabled text-align-right" rowspan="1" colspan="1">Tax(Amount)</th>
                                <th width="6%" class="sorting_disabled text-align-right" rowspan="1" colspan="1">Total</th>
                            </tr>
                            <tr role="row" class="filter" *ngFor="let invc of invoiceList;  let idx = index">
                                <td rowspan="1" colspan="1" class="sorting_disabled text-align-left">{{invc.code}}</td>
                                <td class="sorting_disabled text-align-left" rowspan="1" colspan="1">{{invc.serviceName}}</td>
                                <td rowspan="1" colspan="1" class="text-align-right">{{invc.quantity | number :'.2-2'}}</td>
                                <td rowspan="1" colspan="1" class="text-align-right">{{invc.unitFee | number :'.2-2'}}</td>
                                <td rowspan="1" colspan="1" class="text-align-right">{{invc.discountRate | number :'.2-2'}}</td>
                                <td rowspan="1" colspan="1" class="text-align-right">{{((invc.quantity*invc.unitFee) * (invc.discountRate/100)) | number :'.2-2'}}</td>
                                <td rowspan="1" colspan="1" class="text-align-right">{{invc.taxRate | number :'.2-2'}}</td>
                                <td rowspan="1" colspan="1" class="text-align-right">{{(((invc.quantity*invc.unitFee)-((invc.quantity*invc.unitFee) * (invc.discountRate/100))) * (invc.taxRate/100)) | number:'.2-2'}}</td>
                                <td rowspan="1" colspan="1" class="text-align-right">{{(invc.quantity*invc.unitFee) - ((invc.quantity*invc.unitFee) * (invc.discountRate/100)) + (((invc.quantity*invc.unitFee)-((invc.quantity*invc.unitFee) * (invc.discountRate/100))) * (invc.taxRate/100)) | number:'.2-2'}}</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-md-4 mrgn-top8">
                <div class="off-wite-bg hr padding-10">
                    <h4 class="bold mrgn-btm08">Payment</h4>
                    <div class="form-group mrgn-btm08">
                        <label class="col-md-4 pdng-lr-5"> Payment Type </label>
                        <!--<select class="form-control">
                            <option>Cash</option>
                        </select>-->
                        <div class="col-md-8 pdng-lr-5">
                            <p-dropdown [options]="paymentTypeList"
                                    [(ngModel)]="selectedPaymentType"
                                     placeholder="Select Payment Type"
                                    optionLabel="paymentTitle"
                                    (onChange) = "getSelectedPaymentType(selectedPaymentType)"
                                    [filter]="true">
                        </p-dropdown>
                        </div>
                    </div>
                    <div class="form-group hr mrgn-btm08 mrgn-top8">
                        <label class="col-md-4 pdng-lr-5">Applied Amount</label>
                        <div class="col-md-8 pdng-lr-5 profile-frm">
                            <input type="number" class="form-control text-align-right" min="0" (blur)="checkDiscount($event.target.value)" name="paidAmount" [(ngModel)]="paidAmount" [step]="0.01">
                        </div>
                    </div>
                    <div class="form-group hr mrgn-btm08">
                        <label class="col-md-4 pdng-lr-5">Discount Amount</label>
                        <div class="col-md-8 pdng-lr-5 profile-frm">
                            <input type="number" class="form-control text-align-right" min="0" (blur)="checkDiscount($event.target.value)" name="discountAmount" [(ngModel)]="discountAmount" [step]="0.01">
                        </div>
                    </div>
                    <div class="form-group hr mrgn-btm08" *ngIf="useAdvancedBal">
                        <label class="col-md-4 pdng-lr-5">Advance Used :</label>
                        <div class="col-md-8 pdng-lr-5 profile-frm">
                            <input type="number" class="form-control text-align-right" min="0" max="{{patientAdvanceDeposit}}" name="usedAdvanceDeposit"
                                   id="usedAdvanceDeposit" (blur)="useAdvanceBalance($event.target.value)" [(ngModel)]="usedAdvanceDeposit" [step]="0.01">
                        </div>
                    </div>
                    <div class="form-group mrgn-btm08">
                        <!-- <div class="col-md-2">
                            <label class="mt-checkbox mt-checkbox-outline chckbox">
                                <input type="checkbox" class="form-control"
                                       name="useAdvancedBal"
                                       [(ngModel)]="useAdvancedBal"><span></span>
                            </label>
                        </div>
                        <label class="control-label col-md-4">Use Advanced Balance : <b>{{patientAdvanceDeposit}}</b> </label> -->
                        <label class="col-md-4 pdng-lr-5"> Use Advanced </label>
                        <div class="col-md-8 pdng-lr-5">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" (change)="checkExistingAdvanceBal()"  [(ngModel)]="useAdvancedBal" ng-reflect-name="chk-3" ng-reflect-model="false" id="chk-3" class="ng-valid ng-dirty ng-touched">
                                <span></span>
                            </label>
                            <span class="pull-right"> <b>{{  patientAdvanceDeposit | number :'.2-2'  }}</b></span>
                        </div>
                    </div>
                </div>
                <div class="form-group  pull-right mrgn-top8">
                    <button  class="btn btn-default btn-outline btn-sm" (click)="backPage()"> Cancel</button>
                    <span *ngIf="isPaymentOK">
                        <button  class="btn btn-default btn-outline btn-sm" (click)="savePayment()"> Payment </button>
                    </span>

                </div>
                <!--<div class="form-group hr">
                    <div class="sub-total">
                        <ul>
                            <li class="sar-total">
                                <span> <b>Total Paid Amount</b> </span>
                                <span> <b>{{receivedAmount | number :'.2-2'}}</b> </span>
                            </li>
                            <li class="sar-total mrgn-top4">
                                <span> <b>Total Refunded Amount</b> </span>
                                <span> <b>{{refundAmount | number :'.2-2'}}</b> </span>
                            </li>
                            <li class="sar-total mrgn-top4">
                                    <span style="white-space: nowrap"> <b>Total Invoice Amount</b> </span>
                                    <span> <b>{{grandTotalWithTax | number :'.2-2'}}</b> </span>
                                </li>
                        </ul>
                    </div>
                </div>-->
            </div>
            <div class="col-md-4 pull-right mrgn-top8">
                <div class="off-wite-bg padding-10 sub-total">
                    <ul>
                        <li>
                            <span>Gross Amount:</span> <span>{{grandTotal | number :'.2-2'}}</span>
                        </li>
                        <li>
                            <span>Total Discount:</span> <span class="amount-border-botom">{{grandTotalDiscount | number :'.2-2'}}</span>
                        </li>
                        <li>
                            <span>Gross Total:</span> <span>{{(grandTotal - grandTotalDiscount) | number :'.2-2'}}</span>
                        </li>
                        <li>
                            <span>Total Tax</span> <span>{{grandTotalTax | number :'.2-2'}}</span>
                        </li>
                        <li>
                            <span>Grand Total:</span> <span class="amount-border-botom amount-border-top">{{grandTotalWithTax | number :'.2-2'}}</span>
                        </li>
                        <li>
                            <span>Paid Amount</span><span>{{receivedAmount | number :'.2-2'}}</span>
                        </li>
                        <li>
                            <span>Refunded Amount</span><span>{{refundAmount | number :'.2-2'}}</span>
                        </li>
                        <li>
                            <span>Invoice Due Amount</span><span class="amount-border-botom amount-border-top">{{grandTotalWithTax - receivedAmount - refundAmount| number :'.2-2'}}</span>
                        </li>
                    </ul>
                    <!-- <ul>
                            <li>
                                <span>Balance Due:</span>
                                <span>0.00</span>
                            </li>
                        </ul> -->
                </div>
            </div>
        </div>
        <!--</div>-->
    </div>
</div>