<div class="page-sidebar-wrapper" *ngIf="showMenuBar">
    <div class="page-sidebar navbar-collapse collapse side-menu-mrgn">
    <p-panelMenu [transitionOptions]="'0ms'" [model]="items" [style]="{'width':'270px'}"></p-panelMenu>
        <div class="menu-toggler sidebar-toggler menu-stng"><span></span></div>

        <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true"
            data-slide-speed="200">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler"><span></span></div>
            </li>

        </ul>
    </div>
    </div>
