<div class="page-sidebar-wrapper" *ngIf="showMenuBar">
    <div class="page-sidebar navbar-collapse collapse side-menu-mrgn">

        <div class="menu-toggler sidebar-toggler menu-stng" (click)="changeMenu()">
            <span></span>
        </div>
        <p-panelMenu *ngIf="collapseMenu" [transitionOptions]="'0ms'" [model]="items" [style]="{'width':''}"></p-panelMenu>
        <!--<ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true"
            data-slide-speed="200">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler"><span></span></div>
            </li>

        </ul>-->
    </div>
    </div>
