<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Customer
                        <div class="pull-right">
                            <a href="#responsive" data-toggle="modal">
                                <button class="btn mt-sweetalert btn green-meadow" (click)="onAddPopupLoad()">
                                    <i class="fa fa-plus"></i> Add
                                </button>
                            </a>

                        </div>
                    </h4>


                </div>



                    <div class="table-scrollable">
                        <table class="table table-striped table-hover table-checkable dataTable no-footer"
                               id="datatable_ajax" role="grid">
                            <thead>
                            <tr role="row" class="off-wite-bg">
                                <th class="hidden">Id</th>
                                <th width="20%"> Customer Name</th>
                                <th width="20%"> Customer Password</th>
                                <th width="10%"> Customer Language</th>
                                <th width="5%">   Action</th>

                            </tr>



                            <tr *ngFor="let cust of customerlst;" class="filter">
                                <td class="hidden">{{cust.customerId}}</td>
                                <td class="c-text-left padding font-green-dark"><strong>{{cust.firstName + cust.lastName }}</strong></td>
                                <td class="c-text-left">{{cust.password}}</td>
                                <td class="c-text-left">{{cust.customer_language}}</td>
                                <td>
                                    <a href="#responsive" data-toggle="modal">
                                        <button class="btn btn-default btn-outline btn-sm"
                                                (click)="onUpdatePopupLoad(cust)"><i class="fa fa-pencil"></i>

                                        </button>
                                    </a>
                                    <span>
                                        <button class="btn btn-default btn-outline btn-sm"
                                                (click)="deleteCustomer(cust.customerId)">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </span>

                                    <!--<button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button>-->
                                </td>

                            </tr>
                            </thead>
                        </table>
                    </div>

            </div>
            <div class="clearfix"></div>
        </div>

    </div>

    <div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form id="loginForm" class="login-form" #form="ngForm">
                <div class="modal-content" style="width: 80%">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title"> Customer</h4>
                    </div>
                    <div class="modal-body">
                        <div class="slimScrollDiv"
                             style="position: relative; overflow: hidden; width: auto;">
                            <div class="scroller" style="overflow: hidden; width: auto;">
                                <div class="row">
                                    <div class="form-group hr">
                                        <label class="col-md-3 control-label txt-size pdng-lr-5">First Name <span
                                                class="required" aria-required="true"> * </span></label>
                                        <div class="col-md-9 select pdng-lr-5">
                                            <input class="form-control" type="text" required
                                                   [(ngModel)]="newCustomer.firstName"
                                                   required pattern="^[a-zA-Z 0-9_-]{1,60}$"
                                                   name="cstName" #cstName="ngModel"/>
                                        </div>
                                        <span *ngIf="cstName.invalid && cstName.touched"
                                              class="col-md-9 select pdng-lr-5 text-danger">
                                                Please enter valid name.
                                        </span>
                                    </div>
                                    <div class="form-group hr">
                                        <label class="col-md-3 pdng-lr-5 control-label txt-size">Last Name</label>
                                        <div class="col-md-9 select pdng-lr-5">
                                            <input class="form-control" type="text" required
                                                   [(ngModel)]="newCustomer.lastName"
                                                   required pattern="^[a-zA-Z 0-9_-]{1,60}$"
                                                   name="cstlstName" #cstlstName="ngModel"/>
                                        </div>
                                    </div>
                                    <div class="form-group hr">
                                        <label class="col-md-3 pdng-lr-5 control-label txt-size">Password</label>
                                        <div class="col-md-9 select pdng-lr-5">
                                            <input class="form-control" type="text" required
                                                   [(ngModel)]="newCustomer.password"
                                                   required  minlength="3" maxlength="4"
                                                   name="cstPass" #cstPass="ngModel"/>
                                        </div>
                                        <div *ngIf="cstPass.errors.minlength" class="col-md-9 select pdng-lr-5 text-danger">
                                            Password must be at least 3 characters long.
                                        </div>
                                        <div *ngIf="cstPass.errors.maxlength" class="col-md-9 select pdng-lr-5 text-danger">
                                            Password can be max 4 characters long.
                                        </div>
                                    </div>

                                    <div class="form-group hr">
                                        <label class="col-md-3 pdng-lr-5 control-label txt-size">Language</label>
                                        <div class="col-md-9 select pdng-lr-5">
                                            <input class="form-control" type="text" required
                                                   [(ngModel)]="newCustomer.customer_language"
                                                   required
                                                   name="cstlngName" #cstlngName="ngModel"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slimScrollBar"
                                 style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 190px;"></div>
                            <div class="slimScrollRail"
                                 style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" data-dismiss="modal" id="closeButton" class="btn btn-default btn-outline">
                            Close
                        </button>
                        <button type="button" class="btn blue"
                                *ngIf="newCustomer.customerId <= 0 || newCustomer.customerId == null"
                                (click)="saveCustomer(form)">Save
                        </button>
                        <button type="button" class="btn blue" *ngIf="newCustomer.customerId > 0"
                                (click)="updateCustomer(form)">Update
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>