<div class="page-container">
    <!--
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
            <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <li class="sidebar-toggler-wrapper hide">
                    <div class="sidebar-toggler"> <span></span> </div>
                </li>
                <li class="nav-item start active open"> <a href="demographics.html" class="nav-link"> <i class=" icon-users"></i> <span class="title">Demographics</span> </a> </li>
                <li class="nav-item"> <a href="appointments.html" class="nav-link"> <i class=" icon-calendar"></i> <span class="title">Appointments</span> </a> </li>
                <li class="nav-item"> <a href="clinical-dashboard.html" class="nav-link"> <i class=" icon-home"></i> <span class="title">Clinical Dashboard</span> </a> </li>
                <li class="nav-item"> <a href="documents.html" class="nav-link"> <i class="icon-docs"></i> <span class="title">Documents</span> </a> </li>
                <li class="nav-item"> <a href="problems-list.html" class="nav-link"> <i class="icon-list"></i> <span class="title">Problems list</span> </a> </li>
                <li class="nav-item"> <a href="medical-list.html" class="nav-link"> <i class="icon-list"></i> <span class="title">Medical List </span> </a> </li>
                <li class="nav-item"> <a href="allergy-list.html" class="nav-link"> <i class="icon-list"></i> <span class="title">AllergyList</span> </a> </li>
                <li class="nav-item"> <a href="lab-orders.html" class="nav-link"> <i class=" icon-check"></i> <span class="title">Lab Orders</span> </a> </li>
                <li class="nav-item"> <a href="onpatient-access.html" class="nav-link"> <i class="icon-user"></i> <span class="title">Onpatient Access</span> </a> </li>
                <li class="nav-item"> <a href="communication.html" class="nav-link"> <i class=" icon-call-in"></i> <span class="title">Communication</span> </a> </li>
                <li class="nav-item"> <a href="family-history.html" class="nav-link"> <i class=" icon-doc"></i> <span class="title">Family History</span> </a> </li>
            </ul>

        </div>
    </div>
    -->
    <div class="page-content-wrapper">
        <div class="page-content" style="min-height: 499px; margin-left: 0px !important;">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="hr"><h3 class="text-info">Doctor Dashboard</h3></div>
                    <div class="hr padding round-table off-wite-bg">
                        <div class="col-md-3 no-padding">
                            <h4 class="font-green-meadow">Branch</h4>
                            <select class="form-control" (change)="getFilteredBranch($event.target.value)">
                                <option value="All">&#45;&#45; All &#45;&#45;</option>
                                <option *ngFor="let item of branches; let i = index;"
                                        value={{item.branchName}} (keyup)="refresh.next()">
                                    {{item.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3 no-padding">
                            <h4 class="font-green-meadow">Doctor</h4>
                            <select class="form-control" (change)="getfilteredDoctor($event.target.value)">
                                <option value="All">&#45;&#45; All &#45;&#45;</option>
                                <option *ngFor="let item of doctorsList; let i = index;"
                                        value={{item.lastName}} (keyup)="refresh.next()">
                                    {{item.firstName}} {{item.lastName}}
                                </option>
                            </select>
                        </div>
                        <div class="pull-right">
                            <a routerLink="/dashboard/appointment/add">
                                <button class="btn mt-sweetalert btn green-meadow" data-title="Sweet Alerts with Icons"
                                        data-message="Success Icon" data-type="success" data-allow-outside-click="true"
                                        data-confirm-button-class="btn-success"><i class="fa fa-plus"></i> Add Appointment
                                </button>
                            </a></div>
                        <div class="col-md-1"></div>
                        <!--   <div class="col-md-3 no-padding">
                               <h4 class="font-green-meadow">Statuses</h4>
                               <select class="form-control" (change)="getfilteredStatus($event.target.value)">
                                   <option value="All">&#45;&#45; All &#45;&#45;</option>
                                   <option value="ARRIVED">Arrived</option>
                                   <option value="CHECK_IN">Checked In</option>
                                   <option value="IN_ROOM">In Room</option>
                                   <option value="IN_SESSION">In Session</option>
                                   <option value="COMPLETE">Complete</option>
                                   <option value="NOT_CONFIRMED">NOT CONFIRMED</option>
                                   <option value="RE_SCHEDULED">RE SCHEDULE</option>
                                   <option value="CANCELLED">CANCELLED</option>
                                   <option value="REGULAR">REGULAR</option>

                               </select>
                               &lt;!&ndash;<div class="form-group">
                                   <div class="mt-checkbox-inline">
                                       <label class="mt-checkbox mt-checkbox-outline txt-size-mrgn">
                                           <input type="checkbox" id="Arrived8" value="Arrived"> Arrived
                                           <span></span>
                                       </label>
                                       <label class="mt-checkbox mt-checkbox-outline txt-size-mrgn">
                                           <input type="checkbox" id="Checked In7" value="Checked In"> Checked In
                                           <span></span>
                                       </label>
                                       <label class="mt-checkbox mt-checkbox-outline txt-size-mrgn">
                                           <input type="checkbox" id="Arrived6" value="Arrived"> In Room
                                           <span></span>
                                       </label>
                                       <label class="mt-checkbox mt-checkbox-outline txt-size-mrgn">
                                           <input type="checkbox" id="Checked In5" value="Checked In"> In Session
                                           <span></span>
                                       </label>
                                       <label class="mt-checkbox mt-checkbox-outline txt-size-mrgn">
                                           <input type="checkbox" id="Arrived4" value="Arrived"> Complete
                                           <span></span>
                                       </label>
                                       <label class="mt-checkbox mt-checkbox-outline txt-size-mrgn">
                                           <input type="checkbox" id="Checked In3" value="Checked In"> Confirmed
                                           <span></span>
                                       </label>
                                       <label class="mt-checkbox mt-checkbox-outline txt-size-mrgn">
                                           <input type="checkbox" id="Arrived2" value="Arrived"> Not Confirmed
                                           <span></span>
                                       </label>
                                       <label class="mt-checkbox mt-checkbox-outline txt-size-mrgn">
                                           <input type="checkbox" id="Checked In1" value="Checked In"> Cancelled
                                           <span></span>
                                       </label>
                                   </div>
                               </div>&ndash;&gt;
                               &lt;!&ndash;<div class="">
                                   <span class="slct-txts"><a href="#">Select All</a></span>
                                   <span class="slct-txts"><a href="#">Select None</a></span>
                               </div>&ndash;&gt;
                           </div>-->
                        <!--<div class="col-md-3 no-padding">
                            <div class="">
                                <h4 class="font-green-meadow">Branch</h4>
                                <select class="form-control" (change)="getFilteredBranch($event.target.value)">
                                    <option value="All">&#45;&#45; All &#45;&#45;</option>
                                    <option *ngFor="let item of branches; let i = index;"
                                            value={{item.branchName}} (keyup)="refresh.next()">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 no-padding">
                            <div class="">
                                <h4 class="font-green-meadow">Doctor</h4>

                                    <div class="form-group font-siz11">
                                        <label>Doctor:</label>
                                        <select class="form-control" (change)="getfilteredDoctor($event.target.value)">
                                            <option value="All">&#45;&#45; All &#45;&#45;</option>
                                            <option *ngFor="let item of doctorsList; let i = index;"
                                                    value={{item.lastName}} (keyup)="refresh.next()">
                                                {{item.firstName}} {{item.lastName}}
                                            </option>
                                        </select>
                                    </div>

                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
            <ngx-loading [show]="loading"></ngx-loading>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-scrollable tbl-brdr-radus">
                        <table class="table table-hover table-light">
                            <thead>
                            <tr class="hedng-bck-clr tbl-pdng">
                                <th> Appointment Id </th>
                                <th> In </th>
                                <th> In Time </th>
                                <th> Branch </th>
                                <th> Patient Name </th>
                                <th> Scheduled at </th>
                                <th> Doctor </th>
                                <th> Exame Room </th>
                                <th> Status </th>
                                <th> Rooms </th>
                                <th> Status </th>
                                <th> Action </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="tbl-pdng" *ngFor="let item of dashboardListModified">
                                <td>{{item.apptNaturalId}}</td>
                                <td><ng-container *ngIf="item.status == 'IN_SESSION'" ><div class="mt-action-dot bg-green-meadow" ></div></ng-container>
                                    <ng-container *ngIf="item.status != 'IN_SESSION'" ><div class="mt-action-dot bg-gray-meadow" ></div></ng-container>
                                </td>
                                <td>{{item.inTime}}</td>
                                <td>{{item.branch}}</td>
                                <td><p> {{item.patientFirstName}} {{item.patientLastName}}</p></td>
                                <td><span class="font-blue"> {{item.scheduleAt}}</span></td>
                                <td>{{item.doctorFirstName}} {{item.doctorLastName}}</td>
                                <td>{{item.examRoom}}</td>
                                <td><button  type="button" class="btn-link"(click)="showRoomWithBranch(item.branchId,item.roomId)">{{showRoomBtn}}</button>
                                </td>
                                <td>
                                    <select *ngIf="showRoomDrop" class="form-control" [ngModelOptions]="{standalone:true}" [(ngModel)]="item.roomId" (change)="getExamRoom($event.target.value,item.appointmentId)">
                                        <option *ngFor="let r of allRooms" value="{{r.id}}">{{ r.branchName }} </option>
                                    </select>
                                </td>
                                <td>
                                    <!--<select class="form-control" [ngModelOptions]="{standalone:true}" (change)="getUpdatedStatus(item.status,item.apptNaturalId,item.appointmentId)"
                                            [(ngModel)]="item.status">

                                    &lt;!&ndash;<option value="IN_ROOM">IN ROOM</option>
                                    <option value="CONFIRMED">CONFIRMED</option>
                                    <option value="NOT_CONFIRMED">NOT_CONFIRMED</option>
                                    <option value="RE_SCHEDULED">RE_SCHEDULED</option>
                                    <option value="CANCELLED">CANCELLED</option>
                                    <option value="REGULAR">REGULAR</option>&ndash;&gt;
                                    <option value="CHECK_IN">CHECK_IN</option>
                                    <option value="IN_SESSION">IN SESSION</option>
                                    <option value="COMPLETE">COMPLETE</option>
-->
                                    <select class="form-control" (change)="getUpdatedStatus(item.statusId,item.apptNaturalId,item.appointmentId)" [(ngModel)]="item.statusId" name="itemSt">
                                        <option *ngFor="let item of statusesList; let i = index;"
                                                value={{item.id}} (keyup)="refresh.next()">
                                            {{item.name}}
                                        </option>
                                    </select>


                                </td>
                                <td>
                                    <!-- <a title="Patient Invoice" routerLink="/dashboard/patient/invoice">
                                              <i class="fa fa-dollar" style="font-size:18px"></i>
                                          </a> -->
                                    <!--*ngIf="item.status == 'IN_SESSION'"-->
                                    <ng-container>
                                        <a title="Patient Invoice" (click)="updateAppointmentData(item.appointmentId)">
                                            <i class="fa fa-dollar" style="font-size:18px"></i>
                                        </a>
                                        <a title="Patient History" (click)="patientHistory(item.patientId)">
                                            <i class="fa fa-hospital-o" style="font-size:18px"></i>
                                        </a>
                                    </ng-container>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <ng-template #template>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Modal</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p-dropdown placeholder="Select Room" [autoWidth]="false" name="upBranchDrp"
                                [(ngModel)]="roomId"
                                [options]="allRooms" (onChange)="getExamRoom($event)"
                                [panelStyle]="{minWidth:'12em'}"
                                [filter]="true">
                    </p-dropdown>
                </div>
            </ng-template>

            <!--  <patient-history-menu [greetMessage]="childmessage"></patient-history-menu>-->

        </div>
    </div>
</div>